@import '../../../../scss/entity_view.scss';



.disable-text.view-icon-alignment{ justify-content: space-between; }

::ng-deep .detail-order {
    .details-box{ 
        @media (max-width: 1199px){ height: auto; min-height: 1px !important; }
    }
    .bg-timeline .ht-card{ 
        @media (max-width: 1199px){ height: auto !important; max-height: 400px; }
    }
}
::ng-deep .detail-order .page-content.container-fluid ~ .page-content.container-fluid {
    .details-box{ 
        @media (max-width: 1199px){ height: auto; min-height: 1px !important; }
    }
    .bg-timeline .ht-card{ 
        @media (max-width: 1199px){ height: auto !important; max-height: 400px; }
    }
}
::ng-deep .static-dropdown-width{ width: 360px;
    @media (max-width: 575px) { width: auto; max-width: 250px; min-width: 250px; }

    .h-14px{ height: 14px; display: flex; align-items: center; }
    .p-dropdown .p-dropdown-panel{ max-width: 360px; }
}
.email-dropdown-width{ flex: 0 0 calc(100% - 125px); max-width: calc(100% - 125px); 
    .w-email-label{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 100%; }
}
.phone-dropdown-width{ width: 116px; min-width: 116px; }