<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold">
        <ng-container *ngIf="action == actionEnums.Add; else editHeaderTemplate">
            {{'COMMON.FILE_UPLOAD_DIALOG.HEADER_TITLE' | translate}}
        </ng-container>
    </h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm()">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add Contact Start -->
<div class="modal-body padding-32 pt-3">
    <div class="row">
        <ng-container *ngIf="uploader && uploader.queue.length > 1">
            <p-table *ngIf="uploader && uploader.queue.length > 1" [responsive]="true" responsiveLayout="stack"
                paginatorDropdownAppendTo="body" [rows]="_commonHelper.DefaultPageSize" class="tbl-popup-scroll mb-3"
                [autoLayout]="true" [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [scrollable]="true"
                [value]="uploader.queue">
                <ng-template pTemplate="header">
                    <tr>
                        <th id="tblColumnHeaderFileName" scope="col" class="min-width-long text-nowrap">
                            {{'COMMON.FILE_UPLOAD_DIALOG.TABLE_HEADER_FILENAME' | translate}}
                        </th>
                        <th scope="col" class="text-right text-nowrap">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fileItem>
                    <tr>
                        <td class="min-width-long word-break-all">
                            <span class="p-column-title">
                                {{'COMMON.FILE_UPLOAD_DIALOG.TABLE_HEADER_FILENAME' | translate}}
                            </span>
                            {{fileItem.file.name}}
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn bg-transparent border-0 text-danger px-0"
                                (click)="uploaderRemoveFiles(fileItem)" id="btnRemoveAttachmentFile">
                                <i class="far fa-trash-alt" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
        <ng-container *ngIf="(uploader && filesCount == 1)  || action == actionEnums.Edit">
            <div class=" form-group ">
                <label>{{'COMMON.FILE_UPLOAD_DIALOG.NAME' | translate}}<span class="mandatory"></span></label>
                <div class="input-group custom-input-group">
                    <input #documentName #name="ngModel" type="text" id="txt-document-name" class='form-control'
                        [(ngModel)]="this.fileName[0]" name="subject"
                        [ngClass]="{ 'is-invalid': submitted && name.errors }" required autocomplete="off">
                    <span class="input-group-text" id="txt-document-name">.{{this.fileName[1]}}</span>
                    <div class='invalid-feedback'>
                        <div *ngIf="name.hasError('required') && submitted && name.errors" id="errorNameIsRequired">
                            Name is required.
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="action == actionEnums.BulkEdit">
            <p-table *ngIf="bulkData?.length > 0" [responsive]="true" responsiveLayout="stack"
                paginatorDropdownAppendTo="body" [rows]="_commonHelper.DefaultPageSize" class="tbl-popup-scroll mb-3"
                [autoLayout]="true" [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [scrollable]="true"
                [value]="bulkData">

                <ng-template pTemplate="header">
                    <tr>
                        <th id="tblColumnHeaderFileName" scope="col" class="min-width-long text-nowrap">
                            {{'COMMON.FILE_UPLOAD_DIALOG.TABLE_HEADER_FILENAME' | translate}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fileItem>
                    <tr>
                        <td class="min-width-long word-break-all">
                            <span class="p-column-title">
                                {{'COMMON.FILE_UPLOAD_DIALOG.TABLE_HEADER_FILENAME' | translate}}
                            </span>
                            {{fileItem.name}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>

        <ng-container *ngIf="documentTypeList && documentTypeList.length > 0">
            <div class="col-md-12 form-group">
                <label for="file-upload">{{'Type' | translate}}</label>
                <p-dropdown id="drp-record-sub-type" [options]="documentTypeList" [filter]="true"
                    [resetFilterOnHide]="false" [(ngModel)]="entityRecordTypeId" [showClear]="true" class="form-control"
                    [showClear]="true" placeholder="{{'Type' | translate}}" (onChange)="onTypeChange($event)"
                    (onClear)="onTypeClear($event)">
                </p-dropdown>
            </div>
        </ng-container>
        <ng-container *ngIf="documentSubTypeList && documentSubTypeList.length > 0">
            <div class="col-md-12 form-group">
                <label for="file-upload">{{'Sub Type' | translate}}</label>
                <p-dropdown id="drp-record-sub-type" [options]="documentSubTypeList" [filter]="true"
                    [resetFilterOnHide]="false" [(ngModel)]="documentSubTypeId" class="form-control" [showClear]="true"
                    placeholder="{{'Sub Type' | translate}}">
                </p-dropdown>
            </div>
        </ng-container>
        <div class="col-md-12 form-group">
            <label for="file-upload">{{'COMMON.FILE_UPLOAD_DIALOG.DESCRIPTION' | translate}}</label>
            <textarea id="textarea-description" class="form-control" rows="3" (keypress)="textEventHandler($event)"
                [(ngModel)]="description" trimValue>
                    </textarea>
        </div>
    </div>

    <div class="modal-footer border-top-0 px-0 pb-0 justify-content-between flex-lg-nowrap">
        <div *ngIf="action == actionEnums.BulkEdit || uploader && uploader.queue.length > 1"
            class="d-flex align-items-center mb-lg-0 mb-2 w-100 w-message">
            <i class="fa-solid fa-triangle-exclamation yellow-icon me-1 font-13"></i>
            <div><i><strong>{{'COMMON.FILE_UPLOAD_DIALOG.MESSAGE_ALERT_BULK_OPERATION' | translate}}</strong></i></div>
        </div>
        <div class="d-flex w-xs-100 justify-content-end">
            <button type="button" class='btn btn-outline-secondary me-2 text-nowrap' id="btn-cancel"
                (click)="onCloseForm()">{{'COMMON.FILE_UPLOAD_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="saveData()" id="btn-save"
                class='btn btn-primary text-nowrap'>{{'COMMON.FILE_UPLOAD_DIALOG.BUTTON_SAVE' |
                translate}}</button>
        </div>
    </div>
</div>

<ng-template #readOnlyTemplate>
    <div class="col-md-12 form-group">
        <label for="file-upload" class="font-semibold me-2">{{'COMMON.FILE_UPLOAD_DIALOG.UPLOADED_FILE_NAME' |
            translate}}</label>
        {{fileDto?.name}}
    </div>
</ng-template>

<ng-template #editHeaderTemplate>
    {{'COMMON.FILE_UPLOAD_DIALOG.HEADER_EDIT_TITLE' | translate}}
</ng-template>