<!-- Model Header Start -->
<div class="row user-select-none" ngxNoRightClick ngxPreventScreenshot ngxPreventPrintWithInspectElement>
    <div class="col-12">
        <div class="modal-header border-bottom-0 padding-32 px-3 pb-0 pt-2">
            <div class="d-flex flex-wrap justify-content-between align-items-center w-100">
                <h5 class="modal-title font-weight-bold" id="headingPopupEntity">{{documentName}}</h5>
                <div class="d-flex flex-wrap pb-3 btn-section">
                    <div class="btn-documents" *ngIf="isDocumentDownloadPermission">
                        <button type="button" id="btn-download-document" class="btn btn-primary btn-md me-3 btn-download-document" (click)="downloadDocument()">Download</button>
                    </div>
                    <button *ngIf="showCloseIcon" type="button" id="btn-close" class="close border-0 bg-transparent"
                        (click)="onCloseForm(false)">
                        <span class="font-24 fonts-close">
                            <i class="fas fa-times fa-lg" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Model Header End -->

        <!-- Model Body Start -->
        <div class="modal-body padding-32 px-3 py-0 height-body" ngxNoRightClick ngxPreventScreenshot ngxPreventPrintWithInspectElement>

            <ng-container *ngIf="documentType == 'excel' || documentType == 'ppt' || documentType == 'word'">
                <ngx-office-document-viewer [url]="url" [documentType]="documentType" (documentLoaded)="documentLoaded($event)" />
            </ng-container>

            <ng-container *ngIf="documentType == 'pdf'">
                <ngx-pdf-viewer [url]="url" [renderText]="true" [renderTextMode]="0" [originalSize]="false"
                    [isPasswordProtected]="false" [width]="'100%'" (afterLoadComplete)="documentLoaded($event)"
                    height="calc(100vh - 90px)"
                    style="width:100%;height:calc(100vh - 90px);overflow-y: auto;overflow-y: hidden;"
                    class="pdf-overlay">
                </ngx-pdf-viewer>
            </ng-container>

            <ng-container *ngIf="documentType == 'csv'">
                <ngx-csv-viewer [url]="url" />
            </ng-container>

            <ng-container *ngIf="documentType == 'image'">
                <ngx-image-viewer [url]="url" />
            </ng-container>

            <ng-container *ngIf="documentType == 'video'">
                <ngx-video-viewer [url]="url" [type]="this.documentMimeType" [thumbnailUrl]="thumbnailUrl"/>
            </ng-container>
            <ng-container *ngIf="documentType == 'audio'">
                <ngx-audio-viewer [url]="url" [type]="this.documentMimeType" />
            </ng-container>
        </div>
        <!-- Model Body End -->
    </div>
</div>