<ngx-tab-level-loader *ngIf="documentLoader"></ngx-tab-level-loader>

<div class="row mb-3">
    <div class="container-fluid pb-1 pb-xl-0">
        <div class="row mb-2">
            <div class="mt-1 col-12">
                <div class="tbl-account-list tbl-entity tbl-documents-list">
                    <div class="card border-0 m-0 p-0">
                        <div [ngClass]="documentTypeList.length > 0 ? 'card-header' : 'd-none'" class="btn-card-edit py-0">
                            <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">{{ entityRecordTypeHeader | translate}}</span>
                        </div>
                    </div>
                    <p-table #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
                        [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols" paginatorDropdownAppendTo="body"
                        [value]="entityFileList" sortField="name" class="tbl-account-list" [sortOrder]="1" [lazy]="true"
                        [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true"
                        [paginator]="totalRecords > 0" [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
                        [scrollHeight]="'calc(100vh - 248px)'" (onPage)="paginate($event)">
                        <ng-template pTemplate="caption">
                            <div class="d-flex flex-sm-nowrap flex-wrap align-items-center justify-content-between">
                                <div *ngIf="enableSearch" class="p-input-icon-right">
                                    <i class="pi pi-search" aria-hidden="true"></i>
                                    <input #searchBoxInput pInputText type="text" id="txt-search-text"
                                        class="w-100 customInputText form-control" size="50"
                                        (keyup)="search($event.target.value)" />
                                </div>
                                <div class="actions text-end d-flex flex-wrap">
                                    <button *ngIf="isDocumentDownloadPermission" class="btn btn-outline-secondary btn-outline-dark btn-sm me-2 h-auto" type="button" id="download" (click)="bulkDownload()" ngbTooltip="Download" placement="top auto" container="body"><i class="fas fa-download"></i></button>
                                    <button *ngIf="isEditPermission" class="btn btn-outline-secondary btn-outline-dark btn-sm me-2 h-auto" type="button" id="edit" (click)="bulkEdit()" ngbTooltip="Edit" placement="top auto" container="body"><i class="fas fa-pencil-alt"></i></button>
                                    <button *ngIf="isEditPermission" class="btn btn-outline-secondary btn-outline-dark btn-sm h-auto" type="button" id="delete" (click)="bulkDelete()" ngbTooltip="Delete" placement="top auto" container="body"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th id="tblColumnHeaderCheckbox" scope="col" class="checkbox-col">
                                    <div class="custom-control custom-checkbox">
                                      <input class="custom-control-input" type="checkbox" id="chkBulkAssignEntity" [(ngModel)]="isAllSelectedItems" (change)="checkUncheckAll()">
                                      <label class="custom-control-label"> </label>
                                    </div>
                                  </th>
                                <ng-container *ngFor="let col of columns">
                                    <th *ngIf="col.visible" [pSortableColumn]="col.field" id="tblColumnHeader" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                                        [pSortableColumnDisabled]="!col.sort" class="{{col.field}} {{col.class}}" scope="col" [hidden]="!col.visible"
                                        (click)="ChangeOrder(col)">
                                        {{ col.header | translate }}
                                        <p-sortIcon [field]="col.field" *ngIf="col.sort" id="iconSort"></p-sortIcon>
                                    </th>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr>
                                <td class="checkbox-col" [ngClass]="!rowData.isPaused && !rowData.isCompletedStage && !rowData.isClosedStage ? '' : 'td-responsive-none'">
                                    <div class="custom-control custom-checkbox">
                                        <input *ngIf="!rowData.isPaused && !rowData.isCompletedStage && !rowData.isClosedStage"
                                            class="custom-control-input" type="checkbox" [(ngModel)]="rowData.isSelected" id="chkAssignEntity"
                                            (change)="isAllSelected()" (click)="stopPropagation($event)">
                                        <label class="custom-control-label"> </label>
                                    </div>
                                </td>
                                <td class="fileIcon">
                                    <i [ngClass]="rowData.iconName" [ngbTooltip]="rowData.name | getFileNameOrExtensionPipe: true" placement="top right" class="font-14" aria-hidden="true"></i>
                                </td>
                                <td class="name">
                                    <span class="p-column-title">{{columns[1].header | translate}}</span>
                                    <a (click)='viewDocument(rowData.id)'
                                        class="mr-2 text--full cursor-pointer dark-blue"><span>{{ rowData.name | getFileNameOrExtensionPipe  }}</span>
                                    </a>
                                </td>
                                <td class="entityRecordSubTypeName" *ngIf="columns[2].visible">
                                    <span class="p-column-title">{{columns[2].header | translate}}</span>
                                    <span>{{rowData.entityRecordSubTypeName}}</span>
                                </td>
                                <td class="description">
                                    <span class="p-column-title">{{columns[3].header | translate}}</span>
                                    <span class="description-box max-w-200px" ngbTooltip="{{rowData.description}}"
                                        placement="top right" container="body">{{rowData.description}}</span>
                                </td>
                                <td class="created">
                                    <span class="p-column-title">{{columns[4].header | translate}}</span>
                                    {{(rowData.created | dateFormatPipe: _commonHelper.globalDateFormate)}}
                                </td>
                                <td class="createdBy">
                                    <span class="p-column-title">{{columns[5].header | translate}}</span>
                                    <span class="w-100 d-flex">
                                        <ngx-common-user-profile [userId]="rowData?.createdBy"
                                            [userTypeId]="userTypeID.CreatedBy" [privacyLevel]="privacyLevel"
                                            [isItemDisable]="true" [isShowName]="true"
                                            userLabel="{{'COMMON.ENTITY_DOCUMENTS.DOCUMENT_TABLE.USER_PROFILE_LABEL' | translate | configuredEntityName}}">
                                        </ngx-common-user-profile>
                                    </span>
                                </td>
                                <td class="action" *ngIf="isDocumentDownloadPermission || isEditPermission">
                                    <div class="grid-dropdown dropdown drop-no-arrow">
                                        <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm"
                                            (mouseenter)="onRowActionButtonMouseEnter()"
                                            (mouseleave)="onRowActionButtonMouseLeave()" type="button" id="drp-action"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drp-action">
                                            <li *ngIf="isDocumentDownloadPermission">
                                                <a class="dropdown-item menu--item" id="link-doc-download"
                                                    (click)='downloadDocument(rowData.id)'>
                                                    <i class="fas fa-download pd-menu-icon" id="icon-download"
                                                        aria-hidden="true">
                                                    </i>
                                                    {{'COMMON.ENTITY_DOCUMENTS.DOCUMENT_TABLE.DOWNLOAD' | translate}}
                                                </a>
                                            </li>
                                            <li *ngIf="isEditPermission">
                                                <a class="dropdown-item menu--item" id="link-doc-edit" (click)='openDocumentDialog(rowData.id)'>
                                                    <i class="fas fa-pencil-alt pd-menu-icon" aria-hidden="true">
                                                    </i>
                                                    {{'COMMON.ENTITY_DOCUMENTS.DOCUMENT_TABLE.BUTTON_EDIT' |
                                                    translate}}
                                                </a>
                                            </li>
                                            <li *ngIf="isEditPermission">
                                                <a id="link-doc-delete" class="dropdown-item menu--item" (click)='deleteDocument(rowData.id)'>
                                                    <i class="far fa-trash-alt pd-menu-icon" aria-hidden="true">
                                                    </i>
                                                    {{'COMMON.ENTITY_DOCUMENTS.DOCUMENT_TABLE.BUTTON_DELETE' |
                                                    translate}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <!-- Paginator Start -->
                        <ng-template pTemplate="paginatorleft">
                            <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                                (click)="prev()" id="paginatorLeftPage"
                                [disabled]="end == dataSearch.params.pageSize"></p-button>
                            <input type="number" min="1" [max]="totalPages" [(ngModel)]="dataSearch.params.pageNo"
                                (change)="changePage()" id="paginatorInputPage" class="pageNoInput"> /
                            <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                            <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                                (click)="next()" id="paginatorRightPage" [disabled]="end == totalRecords"></p-button>
                            <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                                (click)="resetPaginator()" id="paginatorResetButton"
                                [disabled]="end == dataSearch.params.pageSize"></p-button>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound"
                                    class="table-no-record text-center">
                                    {{ 'COMMON.ENTITY_DOCUMENTS.DOCUMENT_TABLE.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                </td>
                            </tr>
                        </ng-template>
                        <!-- Paginator End -->
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>