<div class="entity-page entity-main filters-two">
    <!-- Header Start -->
    <div class="page-header">
        <div class="container-fluid lineheight35 heading-page mb-2">
            <div class="row">
                <div class="col-5 pr-0">
                    <h4 class="m-0">
                        <span id="headingEntity" class="header-text">{{ 'CRM.NEWSLETTER.LIST.TITLE' | translate |
                            configuredEntityName }}</span>
                    </h4>
                </div>
                <div class="col">
                    <div class="btn-view">
                        <button *ngIf="isAddNewsletter" type="button" id="btn-add-entity" class="btn btn-primary ml-3 mb-xl-0 mb-3"
                            (click)="addNewsletter()">
                            <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
                            {{'CRM.NEWSLETTER.LIST.BUTTON_ADD' | translate | configuredEntityName }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Page Content Start -->
    <div class="page-content one-row-filters">
        <div class="entity-search-area pt-2 mb-2">
            <div class="container-fluid">
                <div class="row align-items-end">
                    <div class="col-xl-3 col-lg col-md-4 col-sm-6 mb-lg-0 mb-3"> 
                        <div class="mb-1 fs13px">{{ 'CRM.NEWSLETTER.LIST.SEARCH' | translate }}</div>
                        <div class="p-input-icon-right w-100">
                            <i class="pi pi-search" aria-hidden="true"></i>
                            <input #searchTextInput pInputText type="text" id="txt-search-text"
                                class="w-100 customInputText form-control" size="50"
                                [(ngModel)]="pagingParams.searchString" />
                        </div>
                    </div>
                    <!-- <div class="col-xl-2 col-md-3 col-6 mb-lg-0 mb-3 filter-width">
                        <div class="mb-1 fs13px">{{ 'CRM.NEWSLETTER.LIST.FILTER_LABEL_STATUS' | translate }}</div>
                        <p-dropdown id="drp-status" [options]="statusOptions" [filter]="false"
                            [resetFilterOnHide]="false" class="form-control" name="assignedUserId"
                            [(ngModel)]="pagingParams.status" [showClear]="true"
                            [placeholder]="'CRM.CONTACT.LIST.PLACEHOLDER_STATUS' | translate"
                            (onChange)="onFilterStatus($event)">
                        </p-dropdown>
                    </div> -->
                    <div class="col-xl-2 col-lg col-md-4 col-6 mb-lg-0 mb-3 filter-width">
                        <div class="mb-1 fs13px">{{ 'CRM.NEWSLETTER.LIST.FILTER_LABEL_DATERANGE' | translate }}</div>
                        <ngx-custom-calender [(ngModel)]="rangeDates" [rangeDates]="rangeDates" appendTo="body"
                            [dateFormat]="_commonHelper.globalDatePickerFormate" [numberOfMonths]='2'
                            id="dp-createdOn" class="date-range-calendar" selectionMode="range"
                            [readonlyInput]="false" inputId="range"
                            [placeholder]="_commonHelper.globalDateRangePlaceholder"
                            [ngxMask]="_commonHelper.globalDateRangeMaskWithTime" [showTime]="false"
                            [showRangeButtonBar]="true" [firstDayOfWeek]="1"
                            [minDate]="_commonHelper.globalMinDate" [maxDate]="_commonHelper.globalMaxDate" [selectOtherMonths]="true"
                            [dateSelectOptionsButtonBar]="dateSelectOptionsButtonBar"
                            (ngModelChange)="onFilterCreated($event)">
                        </ngx-custom-calender>
                    </div>
                    <div class="col-xl-2 col-lg col-md-4 col-6 mb-lg-0 mb-3 pe-xxl-2 pe-xl-0 filter-width" *ngIf="ratingOptions && ratingOptions.length > 0">
                        <div class="mb-1 fs13px">{{ 'CRM.NEWSLETTER.LIST.FILTER_LABEL_RATING' | translate }}</div>
                        <p-dropdown [options]="ratingOptions" [showClear]="true" [placeholder]="'CRM.NEWSLETTER.LIST.FILTER_PLACEHOLDER_RATING' | translate"
                        [(ngModel)]="pagingParams.rating" [filter]="false" [resetFilterOnHide]="false"
                        (onChange)="onFilterRating($event)"></p-dropdown>
                    </div>
                    <div class="col-xl-auto col-lg col-md-4 col-6 mb-lg-0 mb-3 two-checkboxes">
                        <div class="custom-control custom-checkbox d-flex align-items-center w-100">
                            <input class="custom-control-input mt-0 w-20-size" type="checkbox" id="chk-showMyEntities"
                            [(ngModel)]="IsActive" (change)="onFilterShowActiveRecords()"> 
                            <label for="chk-showMyEntities" class="custom-control-label pl-2">{{ 'CRM.NEWSLETTER.LIST.FILTER_ACTIVE_RECORDS' | translate}}</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mt-2 w-100">
                            <input class="custom-control-input mt-0 w-20-size" type="checkbox" id="chk-showStarred" [checked]="showStarred"
                                [(ngModel)]="showStarred" (change)="onFilterShowStarred()">
                            <label for="chk-showStarred" class="custom-control-label pl-2">{{ 'CRM.NEWSLETTER.ALLLISTING.FILTER_STARRED' | translate }}</label>
                        </div>
                    </div>
                    <div class="col-auto mb-lg-0 mb-3">
                        <button id="btn-reset" class="btn btn-outline-secondary" type="button"
                            (click)="onResetAllFilters()"
                            [disabled]="(newsletterSearchFilter.searchText == '' && !newsletterSearchFilter.IsActive && (newsletterSearchFilter.createdStartDate == null ? true : false) && !newsletterSearchFilter.rating && !newsletterSearchFilter.showStarred)">
                            {{'CRM.NEWSLETTER.LIST.BUTTON_RESET' | translate}}
                        </button>
                    </div>
                    <div class="col-xl col-auto mb-lg-0 mb-3">
                        <div class="height-38px d-flex align-items-center justify-content-xl-end">
                            <button *ngIf="isExportNewsletter" type="button" id="btn-export-to-excel"
                                class="btn btn-exp btn-mg p-0 btn-small" (click)="exportExcel()" placement="top auto" container="body"
                                ngbTooltip="Export To Excel" triggers="hover" tooltipClass="tooltip-backward-small">
                                <i class="fas fa-2x fa-file-excel" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content End -->

    <!-- Table Start -->
    <div class="container-fluid pb-5 pb-xl-0" [ngClass]="isShowActivityCenter ? 'list-move-scroll-activity' : ''">
        <div class="row mb-2">
            <div class="mt-1 col-12">
                <div class="tbl-account-list tbl-entity p-card">
                    <p-table #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
                        [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols" paginatorDropdownAppendTo="body"
                        [value]="newsletters" sortField="name" class="tbl-account-list" [sortOrder]="1" [lazy]="true"
                        [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true"
                        [paginator]="totalRecords > 0" [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
                        [scrollHeight]="'calc(100vh - 248px)'" (onPage)="paginate($event)">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" id="tblColumnHeader" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                                    [pSortableColumnDisabled]="!col.sort" class="{{col.field}} {{col.class}}" [hidden]="!col.visible"
                                    scope="col" (click)="changeOrder(col)">
                                    {{ col.header | translate  | configuredEntityName}}
                                    <p-sortIcon [field]="col.field" *ngIf="col.sort" id="iconSort"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [ngClass]="[(rowData.isPaused || !rowData.isActive) ? 'lightGreyBg' : '',  selectedRowId == rowData.id ? 'selected-row' : '']" 
                            (click)="onRowClick(rowData, true)">
                            <td class="bookmark">
                                <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="rowData.id" [isStarred]="rowData?.isStarred"
                                    [isEditPermission]="isEditNewsletter && !rowData?.isPaused" [isFromKanbanOrListView]="true">
                                </ngx-bookmark>
                            </td>
                                <td class="name">
                                    <span class="p-column-title">{{columns[1].header | translate}}</span>
                                    <a [routerLink]="'/newsletters/details/' + rowData.id" id="link-headingRecord" (click)="stopPropagation($event)" class="float-left me-2"
                                        [ngClass]="isViewNewsletter ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.name}}</a>
                                    <span *ngIf="rowData.rating != 0" class="float-left me-2">
                                        <entity-review-display [entityTypeId]="entityTypeId" [entityId]="rowData.id" [rating]="rowData.rating" id="btn-rating"
                                            [review]="rowData.totalReviews" [entityReviewID]="rowData.entityReviewID" [isFromKanbanOrListView]="true"
                                            [isEditPermission]="isEditNewsletter">
                                        </entity-review-display>
                                    </span>
                                </td>
                                <td class="campaignName">
                                    <span class="p-column-title">{{columns[2].header | translate | configuredEntityName}}</span>
                                    <span>{{rowData.campaignName}}</span>
                                </td>
                                <td class="createdByName">
                                    <span class="p-column-title">{{columns[3].header | translate}}</span>
                                    <span class="w-100 d-flex">
                                        <ngx-common-user-profile 
                                            [userId]="rowData?.createdBy" 
                                            [userTypeId]="userTypeID.CreatedBy"
                                            [privacyLevel]="null"
                                            [isItemDisable]="true" 
                                            [isShowName]="false" 
                                            userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_CREATEDBY' | translate | configuredEntityName}}">
                                        </ngx-common-user-profile>
                                    </span>
                                </td>
                                <td class="created">
                                    <span class="p-column-title">{{columns[4].header | translate}}</span>
                                    {{(rowData.created | dateFormatPipe: _commonHelper.globalDateFormate)}}
                                </td>
                                <!-- <td class="status">
                                    <span class="p-column-title">{{columns[5].header | translate}}</span>
                                    <label class="h-27px m-0">
                                        <div class="switch switch-label switch-pill switch-primary">
                                            <input [disabled]="!isEditNewsletter" type="checkbox"
                                                id="swt-active-inactive" class="switch-input"
                                                [(ngModel)]="rowData.isActive" (change)="onStatusChange(rowData)">
                                            <div class="switch-slider switch--status"
                                                [attr.data-checked]="'CRM.NEWSLETTER.LABEL_SWITCH_ACTIVE' | translate"
                                                [attr.data-unchecked]="'CRM.NEWSLETTER.LABEL_SWITCH_INACTIVE' | translate">
                                            </div>
                                        </div>
                                    </label>
                                </td> -->
                                <td class="id action">
                                    <div class="dropdown text-right" *ngIf="isEditNewsletter || isDeleteNewsletter">
                                        <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm" (mouseenter)="onRowActionButtonMouseEnter()" (mouseleave)="onRowActionButtonMouseLeave()"
                                            type="button" id="drp-action" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drp-action">
                                            <li>
                                                <a *ngIf="isEditNewsletter" id="link-change-status" (click)="onStatusChange(rowData);stopPropagation($event);" class="dropdown-item menu--item">
                                                    <i class="fas fa-toggle-on" aria-hidden="true"></i>
                                                    {{'CRM.NEWSLETTER.ALLLISTING.ACTION_TITLE_CHANGESTATUS' | translate }}
                                                </a>
                                            </li>
                                            <li>
                                                <a *ngIf="isDeleteNewsletter" id="link-Delete" class="dropdown-item"
                                                    (click)="onDeleteNewsletterClick(rowData.id);stopPropagation($event);">
                                                    <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                    {{ 'URAM.USER.LIST.BUTTON_REMOVE' | translate }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                                id="paginatorLeftPage" (click)="prev()" [disabled]="end == pagingParams.pageSize">
                            </p-button>
                            <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo"
                                id="paginatorInputPage" (change)="changePage()" class="pageNoInput"> /
                            <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                            <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                                id="paginatorRightPage" (click)="next()" [disabled]="end == totalRecords"></p-button>
                            <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                                id="paginatorResetButton" (click)="resetPaginator()"
                                [disabled]="end == pagingParams.pageSize"></p-button>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
                                    {{ 'CRM.NEWSLETTER.LIST.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->
     <!-- Right side activity menu start -->
     <div class="p-0" [ngClass]="isAdvanceFilterVisible ? 'advanced-filters-panel' : ''">
        <activity-section 
            #activitySection 
            *ngIf="isShowActivityCenter" 
            [entityTypeId]="entityTypeId"
            [isEditPermission]="isEditNewsletter"
            [isActive]="selectedNewslettersIsActive"
            [entityId]="selectedNewslettersIdForActivityCenter" 
            [entityRecordTypeId]="entityDetails?.entityRecordTypeId"
            [isDocumentDownloadPermission]="isDocumentDownloadPermission && selectedNewslettersIsActive"
            [hideExpandButton]="true" 
            [isTagRequired]="true" 
            [entityDetailsData]="entityDetails" 
            [isDocumentRequired]="true"
            [refreshActivity]="refreshActivityCenter" 
            class="entity-right-panel" 
            [isHideDetailsTab]="false"
            [keyfieldResponseData]="keyfieldResponseData" 
            [currencySymbol]="currencySymbol" 
            [hoursInDay]="hoursInDay"
            (saveKeyFieldEvent)="onSaveKeyFieldEvent($event)"
            (onCloseActivitySection)="onMoreDetailsClick(false)"
            [createdBy]="newsletterCreatedBy"
            [privacyLevel]="null">
        </activity-section>
    </div>
    <!-- Right side activity menu end -->
</div>