.none-tag {
    display: inline-block;
    color: var(--surface-900);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: default;
    position: relative;
    box-sizing: border-box;

    .block-tag {
        filter: alpha(opacity=30);
        /* IE */
        -moz-opacity: 0.3;
        /* Mozilla */
        opacity: 0.3;
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: 5px;
    }
    .text-tag {
        top: 0;
        left: 0;
        height: 100%;
        padding: 0 5px;
    }
}

.tag-icon-pad, .none-tag { touch-action: auto !important; }

.min-height-36px { min-height: 36px; }