<p class="m-0 vertical-center">
    <ng-container *ngFor="let tag of tagList">
        <div class="pt-3 min-height-36px vertical-center">
            <img *ngIf="tag.tagImage; else elsePart" id="tagEntity" placement="top top-left" ngbTooltip="{{tag.tagCategoryName + ' - ' + tag.name}}" opensOn="Hover"
                [src]="tag.imageSignedUrl" style="width:auto; height: 20px;" class="img tag-icon-pad mr-2" alt="User image" 
                onerror="this.src='assets/images/default/entityTags/default-image.jpg';" container="body"/>

            <ng-template #elsePart>
                <ng-container *ngIf="tag.shape == 'None'; else elseWithShape">
                    <div ngbTooltip="{{tag.tagCategoryName + ' - ' + tag.name}}" [ngStyle]="{'border': '1px solid' + tag.tagFontColor}" id="tagEntity" class="none-tag mr-2" container="body" placement="top top-left" opensOn="Hover">
                        <div [ngStyle]="{'background-color': tag.tagFontColor}" class="block-tag"></div>
                        <div class="text-tag">{{tag.name}}</div>
                    </div>
                </ng-container>
                <ng-template #elseWithShape>
                    <i class="tag-icon-pad fa fa-lg mr-2" [style.color]="tag.tagFontColor" [ngClass]="tag.tagClass" id="tagEntity" opensOn="Hover"
                    ngbTooltip="{{tag.tagCategoryName + ' - ' + tag.name}}" placement="top top-left" aria-hidden="true" container="body"></i>
                </ng-template>
            </ng-template>
        </div>
    </ng-container>
</p>