<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ 'CRM.ACCOUNT.ADD_DIALOG.TITLE' | translate | configuredEntityName}}</h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add Account Start -->
<div class="modal-body padding-32 pt-3" *ngIf="accountForm">
    <form  [formGroup]='accountForm'>
        <div class="row">
        <div class="col-12 form-group">
            <label>{{'CRM.ACCOUNT.ADD_DIALOG.NAME' | translate}} <span class="mandatory"></span></label>
            <input type="text" formControlName="name" id="txt-name-entity" class="form-control ht--40"
                name="name" [ngClass]="{ 'is-invalid': accountForm['controls'].name.errors && (accountForm['controls'].name.dirty || accountForm['controls'].name.touched)}">
            <div *ngFor='let validation of validation_messages.name' class='invalid-feedback'>
                <div id="errorNameIsRequired" *ngIf="accountForm['controls'].name.hasError(validation.type) && accountForm['controls'].name.errors && (accountForm['controls'].name.dirty || accountForm['controls'].name.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label>{{'CRM.ACCOUNT.ADD_DIALOG.EMAIL' | translate}}</label>
            <input type="text" formControlName="email" id="txt-email" class="form-control ht--40"
                [ngClass]="{ 'is-invalid': accountForm['controls'].email.errors }" trimValue>
            <div *ngFor='let validation of validation_messages.email' class='invalid-feedback'>
                <div *ngIf="accountForm['controls'].email.hasError(validation.type) && accountForm['controls'].email.errors && (accountForm['controls'].email.dirty || accountForm['controls'].email.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label>{{'CRM.ACCOUNT.ADD_DIALOG.PHONE' | translate}}</label>
            <div>
                <ngx-phone-control  formControlName="phone"></ngx-phone-control>
                <div *ngFor='let validation of validation_messages.phone' class='invalid-feedback'>
                    <div *ngIf="accountForm['controls'].phone.hasError(validation.type) && accountForm['controls'].phone.errors && (accountForm['controls'].phone.dirty || accountForm['controls'].phone.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-md-6 form-group">
            <label>{{'CRM.ACCOUNT.ADD_DIALOG.EIN' | translate}}</label>
            <input type="text" id="txt-ein" class="form-control ht--40"
                [mask]="_commonHelper.globalInputEinFormate" maxlength="10"
                formControlName="ein" [ngClass]="{ 'is-invalid': accountForm['controls'].ein.errors }">
            <div *ngFor='let validation of validation_messages.ein' class='invalid-feedback'>
                <div *ngIf="accountForm['controls'].ein.hasError(validation.type) && accountForm['controls'].ein.errors && (accountForm['controls'].ein.dirty || accountForm['controls'].ein.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>

        <div class='col-md-6 form-group' *ngIf="!hideTypeDropDown">
            <label>{{'CRM.ACCOUNT.ADD_DIALOG.TYPE' | translate}} <span class="mandatory"></span></label>
            <p-dropdown id="drp-typeId" class="form-control" formControlName="typeId" [filter]="true" [resetFilterOnHide]="false" [showClear]="true"
                [options]="accountTypes" placeholder="{{'CRM.ACCOUNT.ADD_DIALOG.TYPE_PLACEHOLDER' | translate}}" 
                optionLabel="name" optionValue="intValue1" [(ngModel)]="account.typeId"
                [ngClass]="{ 'is-invalid': submitted && accountForm['controls'].typeId.errors }">
            </p-dropdown>
            <div *ngFor='let validation of validation_messages.typeId' class='invalid-feedback'>
                <div id="errorTypeIsRequired" *ngIf="accountForm['controls'].typeId.hasError(validation.type) && submitted && accountForm['controls'].typeId.errors">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>

        <div class='col-md-6 form-group' *ngIf="isShowRecordTypes">
            <label>{{'CRM.ACCOUNT.ADD_DIALOG.RECORD_TYPES' | translate}}</label>
            <ngx-control-level-loading-bar *ngIf="showEntityRecordTypeLoader"></ngx-control-level-loading-bar>
            <p-dropdown
                id="drp-recordTypes"
                class="form-control"
                formControlName="entityRecordTypeId"
                [filter]="true"
                [resetFilterOnHide]="false"
                [showClear]="true"
                [options]="recordTypes"
                placeholder="{{'CRM.CONTACT.ADD_DIALOG.RECORD_TYPES_PLACEHOLDER' | translate}}"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
                (onChange)="recordTypeOnChange($event)"
                (onClear)="recordTypeOnClear($event)"
                panelStyleClass="maxWidthOverride-xxl"
                [ngClass]="{ 'is-invalid': submitted && accountForm['controls'].entityRecordTypeId.errors }">
            </p-dropdown>
            <div *ngFor='let validation of validation_messages.entityRecordTypeId' class='invalid-feedback'>
                <div id="errorEntityRecordTypeIdRequired" *ngIf="accountForm['controls'].entityRecordTypeId.hasError(validation.type) && submitted && accountForm['controls'].entityRecordTypeId.errors">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>

        <div class='col-md-6 form-group' *ngIf="isShowWorkflow">
            <label>{{'CRM.CONTACT.ADD_DIALOG.WORKFLOW' | translate}}<span class="mandatory"></span></label>
            <ngx-control-level-loading-bar *ngIf="showWorkflowLoader"></ngx-control-level-loading-bar>
            <p-dropdown 
                id="drp-workflow"
                class="form-control"
                formControlName="entityWorkflowId"
                [filter]="true"
                [resetFilterOnHide]="false"
                [showClear]="true"
                [options]="filteredWorkflows"
                [(ngModel)]="account.entityWorkflowId"
                (onChange)="workflowOnChange($event)"
                (onClear)="workflowOnClear($event)"
                placeholder="{{'CRM.CONTACT.ADD_DIALOG.WORKFLOWS_PLACEHOLDER' | translate}}"
                optionLabel="label"
                optionValue="value"
                [ngClass]="{ 'is-invalid': submitted && accountForm['controls'].entityWorkflowId.errors }" required>
            </p-dropdown>
            <div *ngFor='let validation of validation_messages.entityWorkflowId' class='invalid-feedback'>
                <div id="errorEntityWorkflowIdRequired" *ngIf="accountForm['controls'].entityWorkflowId.hasError(validation.type) && submitted && accountForm['controls'].entityWorkflowId.errors">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        
        <div class='col-md-6 form-group' *ngIf="isShowAssignedTo && workflows?.length > 0">
            <label>{{'CRM.CONTACT.ADD_DIALOG.ASSIGNED_TO'  | translate}} </label>
            <ngx-control-level-loading-bar *ngIf="showAssginedToLoader"></ngx-control-level-loading-bar>
            <p-dropdown 
                id="drp-assignedTo" 
                class="form-control" 
                formControlName="assignedTo" 
                [filter]="true" 
                [resetFilterOnHide]="false" 
                [showClear]="true"
                [options]="assignedToList" 
                [(ngModel)]="account.assignedTo"
                placeholder="{{'CRM.CONTACT.ADD_DIALOG.ASSIGNED_TO_PLACEHOLDER' | translate}}" 
                optionLabel="label" 
                optionValue="value" 
                (onChange)="assignedToOnChange($event)"
                [ngClass]="{ 'is-invalid': submitted && accountForm['controls'].assignedTo.errors }">
            </p-dropdown>
            <div *ngFor='let validation of validation_messages?.assignedTo' class='invalid-feedback'>
                <div id="errorAssignedTosRequired" *ngIf="accountForm['controls'].assignedTo?.hasError(validation.type) && submitted && accountForm['controls']?.assignedTo.errors">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>   
        </div>

        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                (click)="onCloseForm(false)">{{'CRM.ACCOUNT.ADD_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="saveAccount(accountForm.value)" id="btn-save-entity" class='btn btn-primary'>{{'CRM.ACCOUNT.ADD_DIALOG.BUTTON_ADD' | translate}}</button>
        </div>
    </form>
</div>
<!-- Add Work Task End -->