<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ 'CRM.CAMPAIGN.ADD_DIALOG.TITLE' | translate | configuredEntityName}}</h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add Campaign Start -->
<div class="modal-body padding-32 pt-3" *ngIf="campaignForm">
    <form  [formGroup]='campaignForm'>
        <div class=" form-group">
            <label>{{'CRM.CAMPAIGN.ADD_DIALOG.NAME' | translate}} <span class="mandatory"></span></label>
            <input type="text" formControlName="name" id="txt-name" class="form-control ht--40"
                name="name" [ngClass]="{ 'is-invalid': campaignForm['controls'].name.errors && (campaignForm['controls'].name.dirty || campaignForm['controls'].name.touched)}" trimValue>
            <div *ngFor='let validation of validation_messages.name' class='invalid-feedback'>
                <div id="errorNameIsRequired" *ngIf="campaignForm['controls'].name.hasError(validation.type) && campaignForm['controls'].name.errors && (campaignForm['controls'].name.dirty || campaignForm['controls'].name.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <div class=" form-group">
            <label>{{'CRM.CAMPAIGN.ADD_DIALOG.DESCRIPTION' | translate}}</label>
            <input type="text" formControlName="description" id="txt-description" class="form-control ht--40"
                [ngClass]="{ 'is-invalid': campaignForm['controls'].description.errors }" trimValue>
            <div *ngFor='let validation of validation_messages.description' class='invalid-feedback'>
                <div *ngIf="campaignForm['controls'].description.hasError(validation.type) && campaignForm['controls'].description.errors && (campaignForm['controls'].description.dirty || campaignForm['controls'].description.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <div class=" form-group">
            <label>{{'CRM.CAMPAIGN.ADD_DIALOG.STARTDATE' | translate}} <span class="mandatory"></span></label>
            <p-calendar id="dp-startDate" class="time-calendar"
                formControlName="startDate"
                [dateFormat]="_commonHelper.globalDatePickerFormate"
                [placeholder]="_commonHelper.globalDatePlaceholder"
                [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false"
                icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                [monthNavigator]="true" [yearNavigator]="true" [showTime]="false"
                [minDate]="_commonHelper.globalMinDate" [selectOtherMonths]="true"
                [maxDate]="_commonHelper.globalMaxDate" 
                [yearRange]="_commonHelper.globalYearRange"
                [ngClass]="{ 'is-invalid': campaignForm['controls'].startDate.errors && (campaignForm['controls'].startDate.dirty || campaignForm['controls'].startDate.touched)}">
            </p-calendar>
            <div *ngFor='let validation of validation_messages.startDate' class='invalid-feedback'>
                <div *ngIf="campaignForm['controls'].startDate.hasError(validation.type) && campaignForm['controls'].startDate.errors && (campaignForm['controls'].startDate.dirty || campaignForm['controls'].startDate.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <div class=" form-group">
            <label>{{'CRM.CAMPAIGN.ADD_DIALOG.ENDDATE' | translate}} <span class="mandatory"></span></label>
            <p-calendar id="dp-endDate" class="time-calendar"
                formControlName="endDate"
                [dateFormat]="_commonHelper.globalDatePickerFormate"
                [placeholder]="_commonHelper.globalDatePlaceholder"
                [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false"
                icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                [monthNavigator]="true" [yearNavigator]="true" [showTime]="false"
                [minDate]="campaignForm['controls'].startDate.value != null ? campaignForm['controls'].startDate.value : _commonHelper.globalMinDate" [selectOtherMonths]="true"
                [maxDate]="_commonHelper.globalMaxDate"
                [yearRange]="_commonHelper.globalYearRange"
                [ngClass]="{ 'is-invalid': campaignForm['controls'].endDate.errors && (campaignForm['controls'].endDate.dirty || campaignForm['controls'].endDate.touched)}">
            </p-calendar>
            <div *ngFor='let validation of validation_messages.endDate' class='invalid-feedback'>
                <div *ngIf="campaignForm['controls'].endDate.hasError(validation.type) && campaignForm['controls'].endDate.errors && (campaignForm['controls'].endDate.dirty || campaignForm['controls'].endDate.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                (click)="onCloseForm(false)">{{'CRM.CAMPAIGN.ADD_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="saveCampaign(campaignForm.value)" id="btn-save" class='btn btn-primary'>{{'CRM.CAMPAIGN.ADD_DIALOG.BUTTON_ADD' | translate}}</button>
        </div>
    </form>
</div>
<!-- Add Campaign End -->