<!-- if user dont have enough permission then display message -->
<div class="flexlayout" *ngIf="!isListTags">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <div class="subtitle m-0">{{'ENTITYTAGS.ENTITYTAGS.LIST.MESSAGE_TAGS_NOT_ACCESS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isListTags" class="container-fluid lineheight35 heading-page mb-2">
    <div class='row align-items-end'>
        <div class="col-6">
            <span id="headingEntity" class="fw-600 fs-4">{{'ENTITYTAGS.ENTITYTAGS.LIST.TITLE' | translate}}</span>
        </div>
        <div class="col-6 resp-nav">
            <button *ngIf="isAddTag" class="btn btn-primary float-end" type="button" (click)="addNewEntityTags()" id="btn-add-entity">
                <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
                {{'ENTITYTAGS.ENTITYTAGS.LIST.BUTTON_ADD' | translate}}</button>
        </div>
    </div>
</div>

<!-- Page Content Start -->
<div *ngIf="isListTags" class="container-fluid entity-main pb-5 pb-xl-0">
    <!-- Table Header Start -->
    <div class="row align-items-end entity-search-area">
        <div class="col-xxl-3 col-xl col-lg-3 col-md-4 col-sm-6 mb-3 filter-width pe-xl-2">
            <div>
                <label class="mb-1 fs13px"> {{'ENTITYTAGS.ENTITYTAGS.LIST.SEARCH' | translate}}</label>
                <div class="p-input-icon-right w-100">
                    <i class="pi pi-search" aria-hidden="true"></i>
                    <input #searchTextInput pInputText type="text" id="txt-search-text" class="w-100 customInputText form-control" [(ngModel)]="filterParam.searchString" />
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-3 filter-width pe-xl-2 ps-xl-1">
            <div>
                <label class="mb-1 fs13px">{{'ENTITYTAGS.ENTITYTAGS.LIST.ENTITYNAME' | translate}}</label>
                <p-dropdown styleClass="dropDownOverride" [options]="entities" [showClear]="true" id="drp-entityType"
                    [(ngModel)]="selectedEntities" placeholder="{{'ENTITYTAGS.ENTITYTAGS.LIST.SELECTENTITYNAME'| translate}}"
                    [filter]="true" [resetFilterOnHide]="false" [showClear]="true" (onChange)="onEntitySelectionChange($event.value)">
                </p-dropdown>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-3 filter-width pe-xl-2 ps-xl-1">
            <div>
                <label class="mb-1 fs13px">{{'ENTITYTAGS.ENTITYTAGS.LIST.ENTITYRECORDTYPENAME' | translate}}</label>
                <p-dropdown styleClass="dropDownOverride" [options]="filteredentityRecordTypesForFilter" [showClear]="true" id="drp-entityRecordType"
                    [(ngModel)]="selectedEntityRecordType" placeholder="{{'ENTITYTAGS.ENTITYTAGS.LIST.SELECTENTITYRECORDTPYENAME'| translate}}"
                    [filter]="true" [resetFilterOnHide]="false" [showClear]="true" (onChange)="changeEntityRecordTypeType($event.value)">
                </p-dropdown>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-3 filter-width pe-xl-2 ps-xl-1">
            <div>
                <label class="mb-1 fs13px">{{'ENTITYTAGS.ENTITYTAGS.LIST.CATEGORYNAME' | translate}}</label>
                <p-dropdown styleClass="dropDownOverride" [options]="tagCategoryList" id="drp-tagCategory"
                    [(ngModel)]="filterParam.filters.TagCategoryId" [showClear]="true"
                    placeholder="{{'ENTITYTAGS.ENTITYTAGS.LIST.SELECTCATEGORYNAME'| translate}}" [filter]="true" [resetFilterOnHide]="false"
                    filterBy="label" (onChange)='onTagCategorySelectionChange($event.value)'>
                </p-dropdown>
            </div>
        </div>
        <div class="col-xl-auto col-sm-auto col-6 mb-3 pe-xl-2 ps-xl-1">
            <div class="custom-control custom-checkbox d-flex align-items-center height-38px">
                <input class="custom-control-input mt-0 w-20-size" type="checkbox" id="chk-showMyEntities"
                [(ngModel)]="IsActive" (change)="onFilterShowActiveRecords()"> 
                <label for="chk-showMyEntities" class="custom-control-label pl-2">{{ 'ENTITYTAGS.ENTITYTAGS.LIST.FILTER_ACTIVE_RECORDS' | translate}}</label>
            </div>
        </div>
        <div class="col-auto mb-3 ps-xl-1">
            <button id="btn-reset" class="btn btn-outline-secondary btn-mg btn-reset-filter" type="button" (click)="onResetAllFilters()"
            [disabled]="((filterParam.searchString == '' && filterParam.filters.EntityTypeId == null && !filterParam.IsActive && filterParam.filters.EntityRecordTypeId == null && filterParam.filters.TagCategoryId == null) ? true : false)">
                {{'ENTITYTAGS.ENTITYTAGS.LIST.BUTTON_RESET' | translate}}
            </button>
        </div>
    </div>

    <!-- Table Header End -->
    <!-- Table Start -->
    <div class="p-card">
        <p-table *ngIf="entityTags" #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize" [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols" 
            [value]="entityTags" class="entity-tags-list" paginatorDropdownAppendTo="body"
            sortField="name" [sortOrder]="1" [lazy]="true" [totalRecords]="totalRecords"
            [autoLayout]="true" [scrollable]="true" [scrollHeight]="'calc(100vh - 188px)'" [paginator]="totalRecords > 0" (onPage)="paginate($event)"
            [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th id="tblColumnHeader" *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort" scope="col" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                        class="{{col.field}} {{col.class}}" [hidden]="!col.visible" (click)="ChangeOrder(col)">
                        {{ col.header | translate }}
                        <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td class="font-bold name">
                        <span class="p-column-title">
                          {{columns[0].header | translate}}
                        </span>
                        <a [routerLink]="'details/'+rowData.id" id="link-headingRecord" class="float-left"
                        [ngClass]="isEditTag ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.name}}</a>
                    <td class="font-bold tagCategoryName">
                        <span class="p-column-title">
                          {{columns[1].header | translate}}
                        </span>
                        <span class="pre-text">{{rowData.tagCategoryName}}</span></td>
                    <td class="font-bold entityTypeName">
                        <span class="p-column-title">
                          {{columns[2].header | translate}}
                        </span>
                        {{rowData.entityDisplayName}}</td>
                    <td class="font-bold entityRecordTypeName">
                        <span class="p-column-title">
                          {{columns[3].header | translate}}
                        </span>
                        {{rowData.entityRecordTypeName}}</td>
                    <td class="font-bold displayOrder pr-5 justify-content-end">
                        <span class="p-column-title">
                          {{columns[4].header | translate}}
                        </span>
                        {{rowData.displayOrder}}</td>
                    <!-- <td class="font-bold isActive">
                        <span class="p-column-title">
                          {{columns[5].header | translate}}
                        </span>
                        <span [ngClass]="rowData.isActive == 1 ? 'badge bg-primary badge--status' : 'badge bg-danger badge--status'" id="badgeActiveInactive">{{rowData.isActive | active}}</span>
                    </td> -->
                    <td class="grid-dropdown action">
                        <div class="dropdown drop-no-arrow" *ngIf="isDeleteTag">
                            <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm"
                                type="button" id="drp-action"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu less-transform-menu" aria-labelledby="drp-action">
                                <li>
                                    <a id="link-Delete" (click)="deleteEntityTags(rowData.id, rowData.entityTypeName)"
                                        class="dropdown-item menu--item"><i class="far fa-trash-alt pd-menu-icon" aria-hidden="true"></i>
                                        {{'ENTITYTAGS.ENTITYTAGS.LIST.BUTTON_REMOVE' | translate}}</a>
                                </li>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text" (click)="prev()" id="paginatorLeftPage"
                    [disabled]="end == filterParam.pageSize"></p-button>
                <input type="number" min="1" [max]="totalPages" [(ngModel)]="filterParam.pageNo" (change)="changePage()" class="pageNoInput" id="paginatorInputPage"> /
                <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text" (click)="next()" id="paginatorRightPage"
                    [disabled]="end == totalRecords"></p-button>
                <p-button type="button" icon="pi pi-undo" styleClass="p-button-text" (click)="resetPaginator()" id="paginatorResetButton"
                    [disabled]="end == filterParam.pageSize"></p-button>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
                        {{ 'ENTITYTAGS.ENTITYTAGS.LIST.MESSAGE_NO_RECORDS_FOUND' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- Table End -->
</div>
<!-- Page Content End -->