<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!appointmentForm && !isInitialLoading && hasPermission">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
                <div class="subtitle mt-0">{{'CRM.APPOINTMENT.DETAIL.MESSAGE_APPOINTMENT_NOT_EXISTS' | translate |
                    configuredEntityName}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-containted detail-appointment" *ngIf="isLoaded && appointmentForm && hasPermission">
    <!-- Header Start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-10px">
                <div class="detail-header h-100">
                    <div class="page-content card border-0 mb-0 h-100">
                        <div class="card-body p-card">
                            <div class="row align-items-start h-100">
                                <div class="col-xl col-lg-5 col-md-12 mb-3 mb-lg-0 mb-sm-4 d-flex align-self-start order-top-mobile">
                                    <div class="float-left text-center">
                                        <div id="entity-icon" class="entity-icon">
                                            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="stage-details float-start">
                                        <p class="m-0">
                                            <span class="card-title mb-1">
                                                <label id="headingEntity">{{ 'CRM.APPOINTMENT.DETAIL.TITLE' | translate | configuredEntityName }}</label>
                                                <div class="overflow-box">
                                                    <strong id="nameEntity" class="pre-text">{{appointmentSubject}}</strong>
                                                </div>
                                                <span id="entityRating" class="mt-2 h-21 mr-2 vertical-center">
                                                    <entity-review-display [entityTypeId]="entityTypeId" [entityId]="appointmentId" [isFromKanbanOrListView]="false"
                                                      [isEditPermission]="isEditAppointment">
                                                    </entity-review-display>
                                                  </span>
                                                <div>
                                                    <span *ngIf="appointment.entityRecordTypeName!=null" class="mt-2 mb-2 h-21 badge badge-primary badge--status mr-2" id="badgeEntityRecordType">
                                                        {{appointment.entityRecordTypeName}}
                                                    </span>
                                                </div>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                            
                                <div class="col-header col-xxl col-xl col-lg-6 col-sm-4 mb-1 mb-sm-3 mb-md-0 mb-lg-3 mb-xl-0 pt-md-3 pt-lg-0">
                                    <div class="row">
                                        <div class="col-sm-12 col-header-label">
                                            <label>{{
                                                'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.STATUS' | translate }}</label>
                                        </div>
                                        <div class="col-sm-12 col">
                                            <p class="m-0"><strong
                                                    id="statusAccount">{{appointment?.statusName}}</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-header col-xxl col-xl col-sm-4 mb-1 mb-sm-3 mb-md-0 mb-lg-3 mb-xl-0 pt-md-3 pt-lg-0 order-top-mobile">
                                    <div class="row">
                                        <div class="col-auto px-0">
                                          <i [class]="relatedToIcon" class="font-26 dark-grey ml-2" aria-hidden="true" [ngbTooltip] = "relatedToIconToolTip" container="body" placement="top auto"></i>
                                        </div>
                                        <div class="col pl-2">
                                          <div class="">
                                            <label class="fs13px">{{relatedToNameForHeader}}</label>
                                          </div>
                                          <div class="">
                                            <p class="m-0">
                                              <a [routerLink]="'/' + _commonHelper.getRouteNameByEntityTypeId(appointment?.entityTypeId).toLowerCase() + '/details/' + appointment?.entityId"
                                                class="dark-blue font-weight-bold no-underline cursor-pointer pre-text">{{ appointment?.entityName }}</a>
                                            </p>
                                          </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-header col-xxl col-xl col-sm-4 mb-1 mb-sm-3 mb-md-0 mb-lg-3 mb-xl-0 pt-md-3 pt-lg-0">
                                    <div class="row">
                                        <div class="col-sm-12 col-header-label">
                                            <label>{{
                                                'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.ASSIGN_OWNER' | translate }}</label>
                                        </div>
                                        <div class="col-sm-12 col">
                                            <p class="m-0" id="statusAccount">{{appointment?.ownerUserName}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-header col-xxl col-xl col-sm-4 mb-1 mb-sm-3 mb-md-0 mb-lg-3 mb-xl-0 pt-md-3 pt-lg-0">
                                    <div class="row mb-1 mb-sm-2">
                                        <div class="col-sm-12 col-header-label">
                                            <label>{{
                                                'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.DATE' | translate }}</label>
                                        </div>
                                        <div class="col-sm-12 col">
                                            <p class="m-0"id="activityDate">{{appointment?.activityDate | date}}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-1 mb-sm-2">
                                        <div class="col-sm-12 col-header-label">
                                            <label>{{
                                                'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.START_TIME' | translate }}</label>
                                        </div>
                                        <div class="col-sm-12 col">
                                            <p class="m-0" id="startTime">{{appointment?.startTime | dateFormatPipe: _commonHelper.globalTimeFormate}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-header-label">
                                            <label>{{
                                                'CRM.APPOINTMENT.DETAIL.DURATION' | translate }}</label>
                                        </div>
                                        <div class="col-sm-12 col">
                                            <p class="m-0" id="endTime">{{totalMinDifference}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="back-arrow col-lg">
                                    <div class="row">
                                        <div class="col-12">
                                            <button id="btn-back" class='btn btn-secondary mb-12px' type='button'
                                                (click)="backToList()">
                                                {{ 'CRM.APPOINTMENT.DETAIL.BUTTON_BACK' | translate }}
                                            </button>
                                        </div>
                                        <div *ngIf="isDeleteAppointment && !isCompleted && !isCanceled" class="col-12">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle btn-action" type="button"
                                                    id="dropdownActionMenu" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    {{ 'CRM.APPOINTMENT.DETAIL.BUTTON_ACTION' | translate }}
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownActionMenu">
                                                    <a id="link-delete" (click)="onDeleteAppointmentClick(appointment.id)"
                                                        class="dropdown-item menu--item">
                                                        <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                        {{'CRM.APPOINTMENT.DETAIL.ACTION_TITLE_DELETE' | translate }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                         
                                </div>
                                <div class="col-xl-12 col-lg-12 align-self-end align-tags top-margin-tags">
                                    <div class="vertical-bottom flex-nowrap justify-content-between">
                                        <entity-tags-view [refreshEntityTag]="refreshEntityTag" [entityId]="appointmentId"
                                            [entityTypeId]="entityTypeId" [entityRecordTypeId]="entityRecordTypeId">
                                        </entity-tags-view>
                                        <div class="pt-3 pl-3 pe-2 d-flex bookmark-icon">
                                            <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="appointmentId" [isEditPermission]="isEditAppointment" class="font-18"
                                            [isFromKanbanOrListView]="false">
                                          </ngx-bookmark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Body Start-->
    <div class="page-content container-fluid pr-0">
        <div class="row h---100vh w-100">
            <div class="col col-xl-8 col-lg-12 mb-xl-0 mb-2 pr-0 details-box">
                <!-- nav Tab Menu Start -->
                <div class="navTabs card-bottom-border border-0 p-card">
                    <div class="row width--100 border-bottom m-0 first-tabs">
                      <!-- Tab Section here -->
                        <ng-container>
                        <ngx-globle-nav-tab [navTabs]="navTabs" [isNativeTab]="isNativeTab"  (setTab)="checkTabCall($event,1)"
                            class="col tabs-mobile p-0" (closeTab)="closeNavTab($event)" 
                            [ngClass]="{'edit-icon-section': isReadOnly && !(['navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
						
                        <div class="col-auto edit-form-icon px-0">
                            <div *ngIf="isEditAppointment && !isCompleted && !isCanceled">
                                <i class="fas fa-pencil-alt pencil-icon fa-lg clr-blue float-right cursor-pointer"
                                    id="btnEditTabDetail" (click)="showHideDetailTab('EDIT')"
                                    *ngIf="isReadOnly && !(['navRelatedCampaigns', 'navHistory','additionalTabs','navDocuments'] | showHidePencilButton: activeTab)" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel start -->
                            <div class="form-update-icons" *ngIf="!isReadOnly && !(['navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)">
                                <i id="btn-cancel" *ngIf="isEditAppointment && !isCompleted && !isCanceled"
                                    class="fas fa-times fa-lg dark-grey float-right mr-3"
                                    (click)="showHideDetailTab('CANCEL')" aria-hidden="true"></i>
                                <i *ngIf="isEditAppointment" id="btn-save"
                                    class="fas fa-check fa-lg clr-blue float-right" (click)="showHideDetailTab('SAVE')" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel end -->
                        </div>
                    </div>

                    <!-- Tab Content Start -->
                    <form [hidden]="isAdditionalTab"  [formGroup]="appointmentForm">
                        <div class="tab-content border-0 mt-0" id="appointmentDetailTabContent">
                            <!-- Details Start-->
                            <div class="tab-pane fade px-0 p-0" id="navDetails" role="tabpanel"
                                [ngClass]="selectedTab == 'navDetails' ? 'show active' : ''" name="navDetails"
                                aria-labelledby="navDetails-tab">

                                <!-- Basic Information Start-->
                                <div class="card border-0 m-0 pt-md-0 pt-3">
                                    <div class="card-header btn-card-edit py-0">
                                        <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">{{ 'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.BASIC_INFO' | translate }}</span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <div class='col-lg-4 col-sm-6 form-group'>
                                                <label>{{ 'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.SUBJECT' | translate }}<span class="mandatory"></span></label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{ appointment.subject ? appointment.subject : '&nbsp;' }}</div>
                                                <input #appointmentTxtSubject *ngIf="!isReadOnly" id="txt-name" type="text"
                                                    class="form-control" formControlName="subject" [(ngModel)]="appointment.subject" trimValue
                                                    [ngClass]="{ 'is-invalid': appointmentfrm.subject.errors && (appointmentfrm.subject.dirty || appointmentfrm.subject.touched)}">
                                                <div *ngFor='let validation of appointment_validation_messages.subject'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='appointmentfrm.subject.hasError(validation.type) && appointmentfrm.subject.errors && (appointmentfrm.subject.dirty || appointmentfrm.subject.touched)'
                                                        id="errorNameIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class='col-lg-4 col-sm-6 form-group'>
                                                <label>
                                                    {{ 'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.DATE' | translate }}
                                                </label>

                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.activityDate != null  && appointment.activityDate != '' ? (appointment.activityDate | dateFormatPipe: _commonHelper.globalDateFormate) : '' }}
                                                </div>

                                                <p-calendar *ngIf="!isReadOnly" id="dp-appointment-date"
                                                    [readonlyInput]="false"
                                                    [dateFormat]="_commonHelper.globalDatePickerFormate"
                                                    [placeholder]="_commonHelper.globalDatePlaceholder"
                                                    [dateMask]="_commonHelper.globalDateMask"
                                                    icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                                                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"
                                                    [selectOtherMonths]="true"
                                                    name="activityDate"
                                                    [minDate]="_commonHelper.globalMinDate"
                                                    [maxDate]="_commonHelper.globalMaxDate"
                                                    [(ngModel)]="appointment.activityDate" 
                                                    formControlName="activityDate"
                                                    (onSelect)="onSelectEventDate($event)"
                                                    required>
                                                </p-calendar>
                                                <div *ngFor='let validation of appointment_validation_messages.activityDate'
                                                    class='invalid-feedback invalid-text'>
                                                    <div *ngIf="appointmentfrm.activityDate.hasError(validation.type) && submitted && appointmentfrm.activityDate.errors"
                                                        id="errordateIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class='col-lg-4 col-sm-6 form-group'>

                                                <label
                                                    class="font-semibold">{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.START_TIME'
                                                    | translate}}<span class="mandatory"></span></label>

                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.startTime != null  && appointment.startTime != '' ? (appointment.startTime | dateFormatPipe: _commonHelper.globalTimeFormate) : '' }} </div>

                                                <p-calendar *ngIf="!isReadOnly" id="tp-start-time" [timeOnly]="true"
                                                    hourFormat="12" [placeholder]="_commonHelper.globalTimePlaceholder"
                                                    [dateMask]="_commonHelper.globalTimeMask" [stepMinute]="15" formControlName="startTime"
                                                    [readonlyInput]="false" [(ngModel)]="appointment.startTime"
                                                    name="startTime" (ngModelChange)="onSelectStartTime($event)"
                                                    [ngClass]="{ 'is-invalid': submitted && appointmentfrm.startTime.errors }"
                                                    required></p-calendar>

                                                <div *ngFor='let validation of appointment_validation_messages.startTime'
                                                    class='invalid-feedback invalid-text'>
                                                    <div *ngIf="appointmentfrm.startTime.hasError(validation.type) && submitted && appointmentfrm.startTime.errors"
                                                        id="errorStartTimeIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-lg-4 col-sm-6 form-group'>
                                                <label
                                                    class="font-semibold">{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.END_TIME'
                                                    | translate}}<span class="mandatory"></span></label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.endTime != null  && appointment.endTime != '' ? (appointment.endTime | dateFormatPipe: _commonHelper.globalTimeFormate) : ''  }} </div>
                                                
                                                <p-calendar *ngIf="!isReadOnly" [timeOnly]="true" id="tp-end-time"
                                                    hourFormat="12" [stepMinute]="15" formControlName="endTime"
                                                    [placeholder]="_commonHelper.globalTimePlaceholder"
                                                    [dateMask]="_commonHelper.globalTimeMask"
                                                    [(ngModel)]="appointment.endTime" [readonlyInput]="false"
                                                    name="endTime"
                                                    [ngClass]="{ 'is-invalid': submitted && appointmentfrm.endTime.errors }"
                                                    (ngModelChange)="onSelectEndTime($event)" required></p-calendar>
 
                                                <div *ngFor='let validation of appointment_validation_messages.endTime'
                                                    class='invalid-feedback invalid-text'>
                                                    <div *ngIf="appointmentfrm.endTime.hasError(validation.type) && submitted && appointmentfrm.endTime.errors"
                                                        id="errorEndTimeIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                                <div *ngIf="endTimeError != ''">
                                                    <div class='invalid-feedback invalid-text' id="errorEndTime">{{
                                                        endTimeError }}</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 form-group">
                                                <label class="font-semibold">{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.LOCATION'
                                                    | translate}}</label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.location ? appointment.location : '&nbsp;' }} </div>
                                                <input *ngIf="!isReadOnly" type="text" id="txt-location"
                                                    class='form-control' [(ngModel)]="appointment.location" name="location"
                                                    formControlName="location" pInputText>
                                            </div>
    
                                            <div class="col-lg-4 col-sm-6 form-group">
                                                <label class="font-semibold">{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.STATUS' |
                                                    translate }}<span class="mandatory"></span></label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.statusName ? appointment.statusName : '&nbsp;' }} </div>
                                                <p-dropdown *ngIf="!isReadOnly" class="form-control" id="drp-status"
                                                    [options]="eventStatusOptions" optionLabel="name"
                                                    placeholder="{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.STATUS_SELECT' | translate }}"
                                                    [(ngModel)]="appointment.statusID" name="statusId"
                                                    formControlName="statusId">
                                                </p-dropdown>
                                            </div>

                                            <div class="col-lg-4 col-sm-6 form-group">
                                                <label
                                                    class="font-semibold">{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.ASSIGN_OWNER'
                                                    | translate | configuredEntityName}}<span
                                                        class="mandatory"></span></label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.ownerUserName ? appointment.ownerUserName : '&nbsp;' }}
                                                </div>
                                                <p-dropdown *ngIf="!isReadOnly" class="form-control" id="drp-assignOwner" [@.disabled]="true"
                                                    placeholder="{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.ASSIGN_OWNER_SELECT' | translate | configuredEntityName}}"
                                                    [options]="users" [(ngModel)]="appointment.ownerUserId" [filter]="true"
                                                    [resetFilterOnHide]="false" name="ownerUserId" formControlName="ownerUserId"
                                                    (onFilter)="assignedToOnFilter($event, appointment.ownerUserId)"
                                                    [ngClass]="{ 'is-invalid': submitted && appointmentfrm.ownerUserId.errors }"
                                                    required>
                                                </p-dropdown>
                                                <div *ngFor='let validation of appointment_validation_messages.ownerId'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='appointmentfrm.ownerUserId.hasError(validation.type) && submitted && appointmentfrm.ownerUserId.errors'
                                                        id="errorAssignAccountOwnerIsRequired">
                                                        {{ validation.message | translate | configuredEntityName }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-sm-6 form-group">
                                                <label
                                                    class="font-semibold">{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.ASSIGN_ATTENDEES' | translate |configuredEntityName}}</label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    attendees | displayValueFinder: {value:appointment.attendeeIDs} : 'label' }} </div>
                                                     
                                                <p-multiSelect *ngIf="!isReadOnly" class="entity-multiSelect" id="drp-assignAttendees"
                                                    name="attendeesId" [filter]="true" [resetFilterOnHide]="false"
                                                    [showHeader]="true" [showClear]="true"
                                                    placeholder="{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.ASSIGN_ATTENDEE_SELECT' | translate | configuredEntityName}}"
                                                    [options]="attendees" [(ngModel)]="selectedAttendees"
                                                    formControlName="attendeesId"
                                                    (onFilter)="attendeesOnFilter($event, selectedAttendees)"
                                                    (onClear)="onClearSelectedAttendees()"
                                                    [ngClass]="{ 'is-invalid': submitted && appointmentfrm.attendeesId.errors }">
                                                </p-multiSelect>
                                            </div>
                                            
                                            <div class="col-lg-4 col-sm-6 form-group">
                                                <label class="font-semibold">{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.RELATEDTO' | translate | configuredEntityName}}<span class="mandatory"></span></label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text"><i [class]="relatedToIcon" class="font-13 me-1" aria-hidden="true" [ngbTooltip] = "relatedToIconToolTip" container="body" placement="top auto"></i>{{ appointment.entityName != null &&
                                                            appointment.entityName != '' ? appointment.entityName : '' }}
                                                </div>

                                                <div class="d-flex flex-wrap position-relative">
                                                    <p-dropdown *ngIf="!isReadOnly" id="drp-entityIDs" name="entityTypeId"
                                                        optionLabel="displayName" [@.disabled]="true"
                                                        [(ngModel)]="selectedEntity" appendTo="body"
                                                        panelStyleClass="maxWidthOverride-xxl"
                                                        class="form-control w-related" formControlName="entityTypeId"
                                                        [ngClass]="{ 'is-invalid': submitted && appointmentfrm.entityTypeId.errors }"
                                                        [options]="parentEntityList" [filter]="true"
                                                        filterBy="displayName" [resetFilterOnHide]="false"
                                                        [showClear]="true"
                                                        placeholder="{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.RELATEDTO_SELECT' | translate | configuredEntityName}}"
                                                        (onChange)="onRelatedToChange($event)"
                                                        (onClear)="onRelatedToClear($event)">
                                                        <ng-template pTemplate="selectedItem">
                                                            <div
                                                                class="flex align-items-center gap-2 text-truncate max-w-23px">
                                                                <i [class]="_commonHelper.getEntityIconClass(selectedEntity.id)" [ngbTooltip]="selectedEntity.displayName"
                                                                    class="font-13 mr-2 fa-fw" aria-hidden="true"
                                                                    container="body" placement="top auto"></i>
                                                                <span>{{selectedEntity.displayName}}</span>
                                                            </div>
                                                        </ng-template>
                                                        <ng-template let-item pTemplate="item">
                                                            <i [class]="_commonHelper.getEntityIconClass(item.id)"
                                                                class="font-13 mr-2 fa-fw" aria-hidden="true"
                                                                container="body" placement="top auto"></i>
                                                            <span>{{item.displayName}}</span>
                                                        </ng-template>
                                                    </p-dropdown>
                                                    
                                                    <ngx-control-level-loading-bar *ngIf="showRelatedToLoader && !isReadOnly"
                                                        class="related-input-loader"></ngx-control-level-loading-bar>
                                                    <p-dropdown *ngIf="!isReadOnly" class="form-control related-input" id="drp-entity"
                                                        [@.disabled]="true"
                                                        placeholder="{{'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.SUB_RELATEDTO_SELECT' | translate | configuredEntityName}}"
                                                        appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                                                        [options]="relatedToList" [(ngModel)]="selectRelatedto"
                                                        [filter]="true" [resetFilterOnHide]="false" name="label"
                                                        formControlName="entityId"
                                                        (onFilter)="relatedToOnFilter($event, selectRelatedto)"
                                                        [showClear]="true"
                                                        [ngClass]="{ 'is-invalid': submitted && appointmentfrm.entityId.errors }"
                                                        [required]="true">
                                                    </p-dropdown>
                                                    <div *ngFor='let validation of appointment_validation_messages.relatedto'
                                                        class='invalid-feedback'>
                                                        <div *ngIf='appointmentfrm.entityId.hasError(validation.type) && submitted && appointmentfrm.entityId.errors'
                                                            id="errorRelatedtoIsRequired">
                                                            {{ validation.message | translate | configuredEntityName
                                                            }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class='col-lg-6 form-group'>
                                                <label>
                                                    {{ 'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.DESCRIPTION' | translate }}
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.description ? appointment.description : '&nbsp;' }}</div>
                                                <textarea *ngIf="!isReadOnly" id="txt-description" cols="30" rows="5"
                                                    type="text" class="form-control" formControlName="description" [(ngModel)]="appointment.description"
                                                    [ngClass]="{ 'is-invalid': appointmentfrm.description.errors && (appointmentfrm.description.dirty || appointmentfrm.description.touched)}" trimValue></textarea>
                                            </div>
                                            <div class='col-lg-6 form-group'>
                                                <label>{{ 'CRM.APPOINTMENT.DETAIL.TAB_DETAILS.NOTES' | translate }}</label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    appointment.notes ? appointment.notes : '&nbsp;' }}</div>
                                                <textarea *ngIf="!isReadOnly" id="txt-title" cols="30" rows="5"
                                                    type="text" class="form-control" formControlName="notes" [(ngModel)]="appointment.notes"
                                                    [ngClass]="{ 'is-invalid': appointmentfrm.notes.errors && (appointmentfrm.notes.dirty || appointmentfrm.notes.touched)}" trimValue></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Details End-->

                            <!-- Stage/Pause history Start-->
                            <div class="tab-pane fade" id="navHistory" role="tabpanel" [ngClass]="selectedTab == 'navHistory' ? 'show active' : ''"
                                aria-labelledby="navHistory-tab" name="navHistory">
                                <ng-container *ngIf="onceStageHistoryClicked">
                                    <ngx-history-tab [entityWorkflowId]="null" [entityTypeId]="entityTypeId" [entityId]="appointmentId"
                                        [hoursInDay]="hoursInDay" [refreshStageHistory]="refreshStageHistory"
                                        [refreshActivityHistory]="refreshActivityHistory"></ngx-history-tab>
                                </ng-container>
                            </div>
                            <!-- Stage/Pause history End-->
                            
                            <!-- Custom Start-->
                            <div class="tab-pane fade px-0 pt-0" name="navCustom"
                                [ngClass]="selectedTab == ('nav' + tab.tabName | removeWhiteSpace) ? 'show active' : ''"
                                *ngFor="let tab of formDataJSON; let i = index"
                                id="{{ 'nav' + tab.tabName | removeWhiteSpace }}" role="tabpanel"
                                aria-labelledby="navCustom-tab">
                                <!-- Section Start-->
                                <div class='card border-0 m-0 pt-md-0 pt-3'
                                    *ngFor="let section of tab.sections; let j = index">
                                    <div class="card-header btn-card-edit py-0">
                                        <span *ngIf="section.sectionName"
                                            class="vertical-center py-md-3 pt-0 pb-3 line-height-1">
                                            {{ section.sectionName }}
                                        </span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <ngx-custom-field [formGroup]="appointmentForm" [section]="section"
                                                [controls]="section.controls"
                                                [customFieldJSONData]="appointment.customFieldJSONData"
                                                [isReadOnly]="isReadOnly" [submitted]="submitted"
                                                [currencySymbol]="currencySymbol" [refreshTabularDataSource]="refreshCustomFieldDatasource"
                                                [entityID]="appointmentId" [entityTypeID]="entityTypeId" [entityRecordTypeID]="entityRecordTypeId"></ngx-custom-field>
                                        </div>
                                    </div>
                                </div>
                                <!-- Section End-->
                            </div>
                            <!-- Custom End-->

                            <!-- Document Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navDocuments" role="tabpanel"
                                [ngClass]="selectedTab == 'navDocuments' ? 'show active' : ''" aria-labelledby="navDocuments-tab"
                                name="navDocuments">
                                <ng-container *ngIf="onceDocumentClicked">
                                    <ngx-entity-documents [entityID]="appointmentId" class="entity-documents" [entityTypeID]="entityTypeId"
                                        [isDocumentDownloadPermission]="isDocumentDownloadPermission && !isCompleted && !isCanceled"
                                        [isEditPermission]="isEditAppointment && !isCompleted && !isCanceled"
                                        [refreshFromParent]="refreshActivityHistory"
                                        (refreshDocuments)="setRefreshDocument()">
                                    </ngx-entity-documents>
                                </ng-container>
                            </div>
                            <!-- Document End-->
                        </div>
                    </form>
                    <!-- Tab Content END -->
                    <div *ngIf="isAdditionalTab">
                        <!-- Tab Additional here -->
                        <ng-container>
                            <ngx-globle-nav-tab [isNativeTab]="isNativeTab" [isAdditionalTab]="isAdditionalTab" [navTabs]="navTabsMore" (setTab)="checkTabCall($event,0)"
                                class="col-12 p-0" (closeTab)="closeNavTab($event)"
                                [ngClass]="{'edit-icon-section': isReadOnly && !(['navHistory', 'additionalTabs', 'navDocuments'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
                    </div>
                    <!-- Tab Other Tabs Link -->
                </div>
            </div>
            <activity-section 
                [entityTypeId]="entityTypeId" 
                [entityId]="appointmentId" 
                [isTagRequired]="true"
                [isEditPermission]="isEditAppointment"
                [isClosedStage]="isCanceled"
                [isCompletedStage]="isCompleted"
                [isHideAppointmentsTab]="true"
                [isDocumentRequired]="true" 
                [isDocumentDownloadPermission]="isDocumentDownloadPermission"
                [refreshDocument]="refreshDocument"
                [refreshActivity]="refreshActivity" 
                [entityRecordTypeId]="entityRecordTypeId"
                (isTagListUpdated)="setRefreshEntityTag()" 
                (isActivityListUpdated)="setRefreshActivityHistory()" 
                class="col-xl-4 col-md-12 common-box pr-0" 
                [createdBy]="appointment?.createdBy"
                [privacyLevel]="null">
            </activity-section>
        </div>
    </div>
    <!-- Body End-->
</div>