@import '../../../../../scss/entity_view.scss';

::ng-deep p-dropdown.w-related.form-control { width: 65px; min-width: 65px; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;
    .p-dropdown { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;
        .p-dropdown-clear-icon { right: 24px; }
    }
    .p-dropdown.p-dropdown-clearable .p-dropdown-label { padding-right: 0 !important; }
}

::ng-deep p-dropdown.form-control.related-input{ width: calc(100% - 65px); min-width: calc(100% - 65px); border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; border-left: 0 !important;
    .p-dropdown { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; border-left: 0 !important;
        .p-dropdown-label.p-placeholder { padding-right: 0 !important; }
    }
}

.related-input-loader { position: absolute; width: calc(100% - 65px); right: 0; }

.max-w-23px { max-width: 23px; }