.icon-position { position: relative; padding-right: 18px;
    .info-tooltip { position: absolute; right: 0; top: -4px; }
}
.td-small { width: 160px; min-width: 160px; max-width: 160px;
    @media (max-width: 575px) { width: 110px; min-width: 110px; max-width: 110px; }
}
.td-long { max-width: 233px; width: 100%; }
.tbl-reminder{
    td { vertical-align: top; padding-bottom: 15px; }
    td.pt-11px { padding-top: 11px; }
}

::ng-deep .method-dropdown{
    @media (min-width: 576px) {
        .p-dropdown-label.p-inputtext.p-placeholder::before { content: "Select "; }
    }
}