// profile icon styling - start
.user-img{
    text-align: center;
}
.user-img img{ width: 100px; height: 100px; }
.rounded-circle{
    border-radius: 50% !important;
}
// profile icon styling - end

// input - start
.ctryDropdownItem{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 400px;
}
// primeNg input override - start
:host ::ng-deep{
    .customProfileCard.p-card{
        height: 100%;
    }
    .customProfileCard .p-card-body{
        padding: 0 1rem;
    }
    .customPassword.p-password{
        display: block;
    }
    .customPassword .p-inputtext{
        width: 100%;
    }
    .customDropdown.p-dropdown{
        display: flex;
    }
    .p-card-content{
        padding-bottom: 0;
    }
}
// primeNg input override - end

// input - end

a[id]{ cursor: pointer; }

::ng-deep .tbl-my-teams{
    &.tbl-max-height .p-datatable-wrapper th { height: 34px; }
    @media (min-width: 641px){
        th.name, td.name, th.teammemberRolename , td.teammemberRolename { min-width: 170px !important; width: 170px !important;}
        th.actionhide, th.action, td.action{ width: 80px; min-width: 80px; justify-content: flex-end; }
    }
    
    @media (max-width: 640px) {
        .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td { padding: 0 12px; }
        .p-datatable-wrapper tbody tr { padding: 7px 0; }
    }
}

.p-s-t { padding-top: 12px; padding-left: 21px; }
.pb-12px { padding-bottom: 12px; }

.grey-400bg, .btn-check:checked+.btn.grey-400bg, .btn.active.grey-400bg, .btn.show.grey-400bg, .btn.grey-400bg:first-child:active, :not(.btn-check)+.btn.grey-400bg:active{
    background-color: #457fad;
    color: #fff;
    font-weight: 600;
    border: none;
    height: 34px;
}

.user-img{ position: relative; width: 108px; border: 4px solid var(--surface-300); border-radius: 50%;
    .btn-edit-link { position: absolute; bottom: -10px; right: 10px; }
    .btn-remove-link { position: absolute; bottom: -10px; right: 55px; }
    .link-icon { background-color: var(--surface-200); color: var(--surface-900); border: 1px solid #ced4da; box-shadow: 0 1px 2px rgba(16,24,40,.05); border-radius: 20px; height: 30px; width: 30px; display: none !important; align-items: center; justify-content: center; }
    &:hover .link-icon { display: flex !important; }
}

::ng-deep .nb-theme-dark .user-img .link-icon { border-color: var(--surface-400) !important; }