<!-- if user dont have enough permission then display message -->
<div class="flexlayout" *ngIf="!hasPermission">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <div class="subtitle m-0">{{'ENTITYTAGS.ENTITYTAGS.ADD.MESSAGE_TAGS_NOT_ACCESS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!entityTagForm && !isInitialLoading && hasPermission">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img class="mb-3" src="assets/images/default/NoAccessImage.png" alt="">
                <div class="subtitle mt-0">{{'ENTITYTAGS.ENTITYTAGS.LIST.MESSAGE_TAGS_NOT_EXISTS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Header Start -->
<div *ngIf="entityTagForm && hasPermission" class='page-header'>
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-sm-9 col-7">
                <h4>
                    <span *ngIf="formMode == 'ADD'" id="headingEntity" class='header-text'>{{ 'ENTITYTAGS.ENTITYTAGS.ADD.TITLE_ADD' | translate }}</span>
                    <span *ngIf="formMode == 'EDIT'" id="headingEntity" class='header-text'> {{ 'ENTITYTAGS.ENTITYTAGS.ADD.TITLE_EDIT' | translate }}</span>
                </h4>
            </div>
            <div class="col-sm-3 col-5">
                <div class="btn-back">
                    <button type="button" id="btn-back" class="btn btn-secondary" (click)="onBack()">
                        {{ 'ENTITYTAGS.ENTITYTAGS.ADD.BUTTON_BACK' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div *ngIf="entityTagForm && hasPermission" class="page-content pb-5 pb-xl-0">
    <div class="container-fluid">
        <div class='row'>
            <div class='col-lg-12'>
                <div class='p-card'>
                    <div class='card-body'>
                        <div class="col-xl-7 p-0">
                            <form *ngIf="entityTagForm" [formGroup]='entityTagForm'>
                                <div class='row'>
                                    <div class='col-md-6 form-group'>
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.ENTITYNAME' | translate}}<span class="mandatory"></span></label>
                                        <p-dropdown #entityDropdown  class="form-control" formControlName="entityDropDown"
                                            [options]="entities" id="drp-entityType"
                                            placeholder="{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.SELECTENTITYNAME'| translate}}"
                                            [filter]="true" [resetFilterOnHide]="false"
                                            [ngClass]="{'is-invalid': submitted && f.entityDropDown.errors }"
                                            (onChange)="onEntitySelectionChange($event.value)">
                                        </p-dropdown>

                                        <div *ngFor="let validation of addentitytag_validation_messages.entityDropDown"
                                            class='invalid-feedback'>
                                            <div id="errorEntityIsRequired"
                                                *ngIf='f.entityDropDown.hasError(validation.type) && submitted && f.entityDropDown.errors'>
                                                {{ validation.message | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-6 form-group'>
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.ENTITYRECORDTYPENAME' | translate}}</label>
                                        <p-dropdown class="form-control" formControlName="entityRecordTypeDropDown"
                                            [options]="filteredentityRecordTypes" id="drp-entityRecordType"
                                            placeholder="{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.SELECTENTITYRECORDTYPENAME'| translate}}"
                                            [filter]="true" [resetFilterOnHide]="false" [showClear]="true"
                                            (onChange)="onEntityRecordTypeSelectionChange($event.value)">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-6 form-group'>
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.CATEGORYNAME' | translate}}<span class="mandatory"></span></label>
                                        <p-dropdown id="drp-tagCategory" class="form-control"
                                            formControlName="tagCategoryId" (onChange)='onOptionsSelected($event)'
                                            [options]="tagCategoryList"
                                            placeholder="{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.SELECTCATEGORYNAME'| translate}}"
                                            [filter]="true" [resetFilterOnHide]="false" filterBy="label"
                                            [ngClass]="{'is-invalid': submitted && f.tagCategoryId.errors }">
                                        </p-dropdown>
                                        <div *ngFor='let validation of addentitytag_validation_messages.tagCategoryId'
                                            class='invalid-feedback'>
                                            <div id="errorCategoryIsRequired"
                                                *ngIf='f.tagCategoryId.hasError(validation.type) && submitted && f.tagCategoryId.errors'>
                                                {{ validation.message | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-6 form-group'>
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.NAME' | translate}}<span
                                                class="mandatory"></span></label>
                                        <input #entityTagName type="text" class="form-control" formControlName="name" id="txt-name"
                                            [ngClass]="{ 'is-invalid': f.name.errors && (f.name.dirty || f.name.touched) }" trimValue />
                                        <div *ngFor='let validation of addentitytag_validation_messages.name'
                                            class='invalid-feedback'>
                                            <div *ngIf='f.name.hasError(validation.type) && f.name.errors && (f.name.dirty || f.name.touched)' id="errorNameIsRequired">
                                                {{ validation.message | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-md-6 form-group'>
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.DISPLAYORDER' | translate}}<span class="mandatory"></span></label>
                                        <input type="number" min="1" max="100" formControlName='displayOrder' class='form-control'
                                            [ngClass]="{ 'is-invalid': submitted && f.displayOrder.errors }" id="txt-display-order"
                                            (keypress)="displayOrderInputHandler($event)" />
                                        <div *ngFor='let validation of addentitytag_validation_messages.displayOrder'
                                            class='invalid-feedback'>
                                            <div id="errorDisplayOrderIsRequired"
                                                *ngIf='f.displayOrder.hasError(validation.type) &&  submitted && f.displayOrder.errors'>
                                                {{ validation.message |translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-6 form-group'>
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.SHAPE' | translate}}</label>
                                        <p-dropdown id="drp-shape" class="form-control" formControlName="shape"
                                            [ngClass]="{'is-invalid': submitted && f.shape.errors }" [options]="tagShapes" optionLabel="name"
                                            optionValue="intValue1" placeholder="{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.SELECTSHAPE' | translate}}"
                                            [filter]="true" [resetFilterOnHide]="false" filterBy="label" [showClear]="true">
                                        </p-dropdown>
                                    </div>
                                    
                                </div>
                                <div class='row'>
                                    <div class='col-md-6 form-group'>
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.COLOR' | translate}}</label>
                                        <div class="input-group">
                                            <input type="color" formControlName='color' class='form-control' id="drp-color"
                                                (change)="getChangedCode($event)"
                                                [ngClass]="{ 'is-invalid': f.color.errors }" />
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="txt-color">
                                                    {{selectedColor}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-6 form-group' *ngIf="this.formMode == 'EDIT'">
                                        <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.TAGSTATUS'|translate}}</label>
                                        <div>
                                            <label class="h-27px m-0">
                                                <div class="switch switch-label switch-pill switch-primary">
                                                    <input type="checkbox" id="swt-active-inactive" class="switch-input"
                                                        formControlName='tagIsActive'>
                                                    <div class="switch-slider switch--status" data-checked="Active" id="toggle-status"
                                                        data-unchecked="Inactive">
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <div class="form-group">
                                            <label>{{'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.IMAGE' | translate}}</label>
                                            <input type="file" class='form-control file-design-custom' #selectFile id="drp-image"
                                                accept="image/gif, image/jpeg, image/png"
                                                [ngClass]="{ 'is-invalid': submitted && f.image.errors }"
                                                (input)="onFileUpload($event)" />
                                        </div>

                                        <!-- Image preview div -->
                                        <div class='mb-2'>
                                            <img id="img-uploadPreview" alt="Tag icon"
                                                [src]="imagePreview != null && imagePreview !='' ?  imagePreview : '../assets/images/default/entityTags/default-image.jpg'"
                                                style="width:150px; height: 150px;" class="img img-thumbnail" />
                                        </div>
                                        <div *ngIf="this.formMode == 'EDIT' && imagePreview != '../assets/images/default/entityTags/default-image.jpg'"
                                            class="form-group">
                                            <button id="btn-cancel" class='btn btn-secondary me-2' type='button'
                                                (click)='removeImage()'>
                                                {{ 'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.REMOVE' | translate }}
                                            </button>&nbsp;
                                        </div>
                                    </div>
                                    <div class='col-12 form-group text-right'>
                                        <button id="btn-cancel" class='btn btn-secondary mr-2' type='button'
                                            (click)='closeForm()'>
                                            {{ 'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.BUTTON_CANCEL' | translate }}
                                        </button>
                                        <button id="btn-save" class='btn btn-primary' type='button'
                                            (click)='saveForm(entityTagForm.getRawValue())'>
                                            <span *ngIf="formMode == 'ADD'">{{ 'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.BUTTON_ADD' | translate }}</span>
                                            <span *ngIf="formMode == 'EDIT'">{{ 'ENTITYTAGS.ENTITYTAGS.ADD.BASIC_INFORMATION.BUTTON_SAVE' | translate }}</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>