.img.img-thumbnail{object-fit: contain;}
.file-design-custom.form-control{ line-height: 25px; padding: 4px 8px }
::ng-deep .nb-theme-dark {
    .input-group-text, .img-thumbnail { background-color: #000; border-color: #304562; color: #fff; }
    .file-design-custom::file-selector-button { background-color: #000 !important; color: #fff !important; }
}