@import '../../../../scss/variables';

.widget-container {
  float: left;
  width: 100%;

  .widget-title {
    width: 100%;
    background-color: blue;
    color: white;
    line-height: 30px;
  }

  .widget-area {
  }
}

// ng-prime - card - start
:host ::ng-deep .dashboard-widget {
  > .customCard.p-card.p-component { height: 100%; }
  .customCard.p-card {
      padding: 0;
      //min-height: 100px;
      //height: 100%;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
      //cursor: move;
      position: relative;
  }

  .customCard.p-card:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  }

  .p-card-body {
      padding: 0 6px 0 10px;
      height: calc(100% - 61.25px);
      max-height: calc(100% - 61.25px);
      //overflow: auto;
  }

  .p-card-content {
      padding: 6px 0 0;
      height: 100%;
      max-height: 100%;
  }

  .p-card-footer { position: absolute; bottom: 0; left: 0; right: 0; background-color: transparent; height: 26px; padding: 4px 10px 3px; font-size: 12px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
    .pt-2px { padding-top: 2px; }
    p { font-size: 12px; }
  }

  .p-card-header {
      flex: 0 0 100%;
      padding: 9px 10px 7px;
      position: relative;
      text-align: center;
      background: #cfe5fa;
      color: var(--surface-900);
      min-height: auto;
      font-size: 12px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor:move;

      > .widget-header { width: calc(100% - 40px); }

      .button-dropdown{ padding: 0 3px !important; width: auto !important; height: auto !important; border: 0 !important; }
  }

  .p-datatable-wrapper {
      padding-right: 5px;
  }

  .p-datatable .p-datatable-wrapper {

      th,
      td,
      .p-datatable-thead>tr>th,
      .p-datatable-tbody>tr>td {
          font-size: 12px;
          padding: 8px 6px;
          color: #000;
          border-bottom: 0;
      }

      .p-datatable-thead>tr>th:first-child,
      .p-datatable-tbody>tr>td:first-child {
          padding-left: 6px;
      }

      .p-datatable-thead>tr>th:last-child,
      .p-datatable-tbody>tr>td:last-child {
          padding-right: 6px;
      }

      th {
          height: 41px;
      }

      td {
          min-height: auto;
      }
  }

  .p-datatable-scrollable .p-datatable-thead>tr>th {
      background-color: var(--surface-0);
  }

  .p-card-subtitle {
      font-weight: 400;
      margin: 0;
      padding: 12px 0 0;
      color: #6c757d;
  }

  .date-range-calendar .p-inputtext {
      padding: 4px 6px;
      font-size: 12px;
      height: auto;
      margin-bottom: 15px;
  }

  .p-dropdown {
      height: 21px;
      padding: 0px 0 0px 8px;

      .p-dropdown-label{
          font-size: 12px;
      }

      .p-dropdown-items-wrapper{
          width: max-content;
      }
  }

  
}

::ng-deep .nb-theme-dark .dashboard-widget .customCard.p-card {
  box-shadow: 0 1px 3px rgb(0 0 0);

  .p-card-header {
      background: var(--blue-800);
  }

  .p-card-subtitle {
      .fs13px {
          color: #fff; font-size: 12px;
      }
  }

  th,
  td,
  .p-datatable-thead>tr>th,
  .p-datatable-tbody>tr>td {
      color: #fff;
  }

  .button-dropdown{ background-color: transparent !important; border: transparent !important; color: #fff !important; }

  .p-datatable-scrollable .p-datatable-thead > tr > th{ background-color: #1f2d40; }
}

::ng-deep .nb-theme-dark .dashboard-widget .customCard.p-card:hover {
  box-shadow: 0 2px 8px #000;
}

// ng-prime - card - end

// primeNg table - start
:host ::ng-deep .p-datatable-wrapper {
  width: 100%;
}

// primeNg table - end

// ng-prime - icon button, card header and custom Select Button - start
:host ::ng-deep {
  .iconButton.p-button-icon-only {
      width: 32px;
      height: 32px;
      border-radius: 18px;
  }

  .RarEsFsQs.p-dropdown {
      min-width: 125px;
  }

  .filterDropdown>.p-inputtext {
      padding: 0.25rem 0.5rem;
  }

  .customSelectButton .p-button {
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
  }

  .sDetailinfoBox .p-card-header {
      text-align: center;
  }

  .datatitle {
      line-height: 19px; font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: calc(100% - 8px); display: inline-block;
  }

  .activedata {
      color: #fdb813 !important;
      font-weight: 500;
  }
}

.mb-2px{ margin-bottom: 2px; }

// primeng - icon button, card header and custom Select Button - end

// general styling - start

.divWrapper {
  display: inline;
}

.float-right {
  float: right;
}

.iconButton {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 18px;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.backBtnBorder {
  border: solid 2px !important;
  border-color: inherit;
  line-height: 1px;
}

// --> card title
.cardTitle {
  font-weight: 500;
  line-height: 2;
}

// supplier detail dashboard start
.h-120 {
  font-size: 60px;
  font-weight: 500;
  line-height: 120px;
  color: #134e7b;
  padding-right: 15px;
}

.formatdata {
  color: #5a574f;
  font-weight: 500;
  cursor: pointer;
}

.highRisk {
  color: var(--blue-600);
}

.lowRisk {
  color: var(--green-500);
}

// supplier detail dashboard end

// scatter chart dashboard start
.fw-500 {
  font-weight: 500;
}

.lineHeight21 {
  line-height: 21px;
}

.list-group-item {
  background-color: inherit !important;
  border-color: inherit !important;
}

// scatter chart dashboard end

// general styling - end

:host ::ng-deep .height-chart-table{ height: 100%; max-height: 100%; overflow: auto;
  > * {  max-height: 100%; overflow: auto; }
  .p-datatable .p-datatable-thead > tr { box-shadow: none; }
  .p-datatable-tbody>tr { 
    @media (max-width: 640px) { border-bottom: none; }
  }
}

:host ::ng-deep .height-chart { height: 100%; max-height: 100%; }

.link-submenu { padding: 3px 12px; width: 100%; display: inline-block; }

:host ::ng-deep .dropdown .dropdown-menu {
  border-radius: 5px;
  padding: 0;
  .link-submenu {
      background-color: var(--surface-0);
      cursor: pointer;
      padding: 3px 12px;

      i {
          margin-right: 0.25rem;
          width: 1.25em;
      }
      text[fill="black"] { fill: #000; }
  }
  svg.link-submenu {
      padding: 5px 8px 3px;
  }
  .link-submenu:hover,
  .link-submenu:focus {
      background-color: var(--surface-100);
  }
  .link-submenu.active,
  .link-submenu:active {
      background-color: var(--blue-700);
      color: $clr-white;

      text[fill="black"] { fill: #000; }
  }
  li:first-child, li:first-child .link-submenu, > .link-submenu:first-child{ border-top-left-radius: inherit; border-top-right-radius: inherit; }
  li:last-child, li:last-child .link-submenu, > .link-submenu:last-child{ border-bottom-left-radius: inherit; border-bottom-right-radius: inherit; }

  .rectThubnail{
      fill: var(--surface-100);
      stroke-width:3;
  }
  .link-submenu:hover{
      .rectThubnail{
          fill: var(--surface-300);
      }
  }
  .link-submenu.active,
  .link-submenu:active {
      .rectThubnail{
          fill: $clr-white;
      }
  }
}

::ng-deep .nb-theme-dark .dropdown .dropdown-menu {
    .link-submenu {
        text[fill="black"] { fill: #fff; }
    }
    .link-submenu.active, .link-submenu:active {
        text[fill="black"] { fill: #000; }
    }
}

::ng-deep {
  .nb-theme-dark .highcharts-container { 
      .highcharts-root{ 
      .highcharts-pane-group > path { fill: #17212f; stroke: #304562; }
      .highcharts-axis-labels > text { color: #fff; }
      }
      .highcharts-data-labels{ 
      .highcharts-label{ 
          > span{ color: #fff !important; }
      }
      }
      .highcharts-axis.highcharts-yaxis.highcharts-radial-axis > path { stroke: #304562; }
  }

  .highcharts-container { margin: 0 auto; width: 100% !important; max-width: 100%;
      .highcharts-root{ width: 100%; max-width: 100%; }
      .highcharts-legend-box{ fill: transparent; }
      .highcharts-background{ fill: transparent; width: 100% !important; }
      
      .highcharts-data-labels{ left: 0 !important; right: 0 !important;
      .highcharts-label{ left: 0 !important; right: 0 !important;
          > span{ left: 0 !important; right: 0 !important; }
          tspan { font-weight: 600 !important; }
      }
      }
  }

  .height-chart-table{ height: 100%; max-height: 100%; overflow: auto;
      > * { height: 100%;
          > .table-section { height: 100%; padding-bottom: 4px;
              p-table{ height: 100%;
                  .p-datatable { height: 100%; }
                  .p-datatable-wrapper{ max-height: 100% !important;
                    tr:nth-child(odd):not(.p-highlight){ background-color: #f4f9fe; }
                    tr:focus { background: #E3F2FD; }
                  }
                  .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover, .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:nth-child(odd):not(.p-highlight):hover { background: #e9ecef; }
              }
          }
      }
  }

  .nb-theme-dark .height-chart-table{ 
    > * { 
        > .table-section { 
            p-table{ 
                .p-datatable-wrapper{ 
                  tr:nth-child(odd):not(.p-highlight){ background-color: #1b2432; }
                  tr:focus { background: rgba(100, 181, 246, 0.16); }
                }
                .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover, .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:nth-child(odd):not(.p-highlight):hover { background-color: rgba(255, 255, 255, 0.03); }
            }
        }
    }
   }

  .height-drag-preview { height: calc(100% - 71.25px) !important; max-height: calc(100% - 71.25px) !important; }

  /** Dashboard Widget Spinner **/
  .widget-loader {
      display: block;
      position: absolute;
      width: auto;
      height: auto;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(105,105,105, 0.4) !important;
      z-index: 1000;
      border-radius: 5px;
      }
      .nb-theme-default .widget-loader {
      background-color: rgba(0, 0, 0, 0.15) !important;
      }
      .widget-loader .bounce-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      }
      .widget-loader .bounce-spinner > div {
      width: 15px;
      height: 15px;
      background-color: #9ed5ff !important;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      }
      .nb-theme-default .bounce-spinner > div {
      background-color: #00a4e3 !important;
      }
      .widget-loader .bounce-spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
      }
      .widget-loader .bounce-spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
      }

      .show-widget-loader {
      display: block !important;
      }

      .hide-widget-loader {
      display: none !important;
      }

      .indicator-skeleton-box {
      animation: loading 1.1s infinite linear;
      background: #dedfe1;
      background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
      background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
      background-repeat: no-repeat;
  }

  @keyframes loading {
      0% {
          background-position: -100px;
      }
      100% {
      background-position: 200px;
      }
  }

  &.cdk-drop-list-dragging .dashboard-widget .p-card-header .dropdown-menu.dropdown-multiple,
  &.cdk-drop-list-receiving .dashboard-widget .p-card-header .dropdown-menu.dropdown-multiple { visibility: hidden; padding: 0px; margin: 0px; border: 0px; min-width: 0px; max-width: 0px; min-height: 0px; max-height: 0px; }
}

::ng-deep {
  @media screen and (max-width: 40rem) {
      .dashboard-widget .p-datatable {
          &.p-datatable-scrollable {
              .p-datatable-thead > tr > th, .p-datatable-tfoot > tr > td, .p-datatable-tbody > tr > td {
                  display: table-cell !important; float: none;
              }
          }
      }
  }
}

::ng-deep .section-widget .dropdown-menu .dropdown-menu.size8-8{
    min-width: 266px; right: 0;
}

::ng-deep .section-widget{
    .current-value-default { font-weight: 700; font-size: 50px; }
    &.r1c1{
        .current-value-default { font-size: 50px; }
    }
    &.r2c2{
        .current-value-default { font-size: 100px; }
    }
}