<ng-container *ngIf="productForm">
    <!-- Model Header Start -->
    <div class="modal-header border-bottom-0 padding-32 pb-0">
        <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ title | translate | configuredEntityName}}
        </h4>
        <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
            <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
        </button>
    </div>
    <!-- Model Header End -->

    <!-- Add Product Start -->
    <div class="modal-body padding-32 pt-3">
        <form [formGroup]='productForm'>
            <div class="row">
            <div class="col-12 form-group">
                <label>{{'PRODUCTS.ADD_DIALOG.NAME' | translate}} <span class="mandatory"></span></label>
                <input type="text" formControlName="name" id="txt-name" class="form-control ht--40" trimValue
                    name="name"
                    [ngClass]="{ 'is-invalid': productForm['controls'].name.errors && (productForm['controls'].name.dirty || productForm['controls'].name.touched)}">
                <div *ngFor='let validation of validation_messages.name' class='invalid-feedback'>
                    <div
                        *ngIf="productForm['controls'].name.hasError(validation.type) && productForm['controls'].name.errors && (productForm['controls'].name.dirty || productForm['controls'].name.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div *ngIf="isShowProductCategory" class="col-12 form-group">
                <label>{{'PRODUCTS.ADD_DIALOG.PRODUCT_CATEGORY' | translate | configuredEntityName}}</label>
                <div class="input-group entity-dropdown custom-dropdown-muliselect">
                <p-multiSelect name="productCategoryId" formControlName="productCategoryId" [options]="productCategories" 
                    optionLabel="name" optionValue="id"  class="w-100 entity-multiSelect" [showClear]="true"
                    placeholder="{{'PRODUCTS.ADD_DIALOG.PRODUCT_CATEGORY_PLACEHOLDER' | translate | configuredEntityName}}" [filter]="true" [showHeader]="true" [resetFilterOnHide]="false">
                </p-multiSelect>
            </div>
            </div>
            <div class="col-md-6 form-group">
                <label>{{'PRODUCTS.ADD_DIALOG.CODE' | translate}} </label>
                <input type="text" formControlName="code" id="txt-code" class="form-control ht--40" name="code"
                    trimValue
                    [ngClass]="{ 'is-invalid': productForm['controls'].code.errors && (productForm['controls'].code.dirty || productForm['controls'].code.touched)}">
                <div *ngFor='let validation of validation_messages.code' class='invalid-feedback'>
                    <div
                        *ngIf="productForm['controls'].code.hasError(validation.type) && productForm['controls'].code.errors && (productForm['controls'].code.dirty || productForm['controls'].code.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>{{'PRODUCTS.ADD_DIALOG.STOCK_QUANTITY' | translate}}</label>
                <div class="inner-addon">
                    <input type="text" formControlName="stockQty" id="txt-stockQty" class="form-control ht--40"  maxlength="18"
                        name="stockQty" trimValue mask="separator.3" thousandSeparator=","
                        [ngClass]="{ 'is-invalid': productForm['controls'].stockQty.errors && (productForm['controls'].stockQty.dirty || productForm['controls'].stockQty.touched)}">
                    <div *ngFor='let validation of validation_messages.stockQty' class='invalid-feedback'>
                        <div
                            *ngIf="productForm['controls'].stockQty.hasError(validation.type) && productForm['controls'].stockQty.errors && (productForm['controls'].stockQty.dirty || productForm['controls'].stockQty.touched)">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>{{'PRODUCTS.ADD_DIALOG.UOM' | translate}}</label>
                <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" ngbTooltip="Unit Of Measurement" placement="top top-left" container="body" aria-hidden="true"></i>
                <ngx-control-level-loading-bar *ngIf="showUOMLoader"></ngx-control-level-loading-bar>
                <p-dropdown id="drp-uom" name="uomId" formControlName="uomId" [options]="groupedUOMTypes" 
                    filterBy="label,groupLabel"
                    optionLabel="label" optionValue="value" [group]="true" class="form-control"
                    placeholder="{{'PRODUCTS.ADD_DIALOG.UOM_PLACEHOLDER' | translate}}" [filter]="true"
                    [resetFilterOnHide]="false" [showClear]="true">
                    <ng-template let-group pTemplate="group">
                        {{group.label}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <span>{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-md-6 form-group">
                <label>{{'PRODUCTS.ADD_DIALOG.PRICE' | translate}}<span class="mandatory"></span></label>
                <div class="inner-addon left-addon">
                    <span>{{currencySymbol}}</span>
                    <input type="text" formControlName="price" id="txt-price" class="form-control ht--40" name="price" maxlength="18"
                        trimValue
                        [ngClass]="{ 'is-invalid': productForm['controls'].price.errors && (productForm['controls'].price.dirty || productForm['controls'].price.touched)}"
                        mask="separator.2" thousandSeparator=",">
                    <div *ngFor='let validation of validation_messages.price' class='invalid-feedback'>
                        <div
                            *ngIf="productForm['controls'].price.hasError(validation.type) && productForm['controls'].price.errors && (productForm['controls'].price.dirty || productForm['controls'].price.touched)">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <label>{{'PRODUCTS.ADD_DIALOG.DESCRIPTION' | translate}}</label>
                <textarea formControlName="description" id="txt-description" class="form-control ht--40"
                    name="description" trimValue
                    [ngClass]="{ 'is-invalid': productForm['controls'].description.errors && (productForm['controls'].description.dirty || productForm['controls'].description.touched)}">
                </textarea>
                <div *ngFor='let validation of validation_messages.description' class='invalid-feedback'>
                    <div
                        *ngIf="productForm['controls'].description.hasError(validation.type) && productForm['controls'].description.errors && (productForm['controls'].description.dirty || productForm['controls'].description.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            
            <div class='col-md-6 form-group' *ngIf="isShowRecordTypes">
                <label>{{'PRODUCTS.ADD_DIALOG.RECORD_TYPES' | translate}}</label>
                <ngx-control-level-loading-bar *ngIf="showEntityRecordTypeLoader"></ngx-control-level-loading-bar>
                <p-dropdown
                    id="drp-recordTypes"
                    class="form-control"
                    formControlName="entityRecordTypeId"
                    [filter]="true"
                    [resetFilterOnHide]="false"
                    [showClear]="true"
                    [options]="recordTypes"
                    placeholder="{{'PRODUCTS.ADD_DIALOG.RECORD_TYPES_PLACEHOLDER' | translate}}"
                    optionLabel="label"
                    optionValue="value"
                    appendTo="body"
                    (onChange)="recordTypeOnChange($event)"
                    (onClear)="recordTypeOnClear($event)"
                    panelStyleClass="maxWidthOverride-xxl"
                    [ngClass]="{ 'is-invalid': submitted && productForm['controls']?.entityRecordTypeId.errors }">
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.entityRecordTypeId' class='invalid-feedback'>
                    <div id="errorEntityRecordTypeIdRequired" *ngIf="productForm['controls'].entityRecordTypeId.hasError(validation.type) && submitted && productForm['controls'].entityRecordTypeId.errors">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            
            <div class='col-md-6 form-group' *ngIf="isShowWorkflow">
                <label>{{'PRODUCTS.ADD_DIALOG.WORKFLOW' | translate}}<span class="mandatory"></span></label>
                <ngx-control-level-loading-bar *ngIf="showWorkflowLoader"></ngx-control-level-loading-bar>
                <p-dropdown 
                    id="drp-workflow"
                    class="form-control"
                    formControlName="entityWorkflowId"
                    [filter]="true"
                    [resetFilterOnHide]="false"
                    [showClear]="true"
                    [options]="filteredWorkflows"
                    [(ngModel)]="product.entityWorkflowId"
                    (onChange)="workflowOnChange($event)"
                    (onClear)="workflowOnClear($event)"
                    placeholder="{{'PRODUCTS.ADD_DIALOG.WORKFLOWS_PLACEHOLDER' | translate}}"
                    optionLabel="label"
                    optionValue="value"
                    [ngClass]="{ 'is-invalid': submitted && productForm['controls'].entityWorkflowId.errors }" required>
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.entityWorkflowId' class='invalid-feedback'>
                    <div id="errorEntityWorkflowIdRequired" *ngIf="productForm['controls'].entityWorkflowId.hasError(validation.type) && submitted && productForm['controls'].entityWorkflowId.errors">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            
            <div class='col-md-6 form-group' *ngIf="isShowAssignTo &&  workflows?.length > 0">
                <label>{{'PRODUCTS.ADD_DIALOG.ASSIGNED_TO'  | translate}} </label>
                <ngx-control-level-loading-bar *ngIf="showAssginedToLoader"></ngx-control-level-loading-bar>
                <p-dropdown 
                    id="drp-assignedTo" 
                    class="form-control" 
                    formControlName="assignedTo" 
                    [filter]="true" 
                    [resetFilterOnHide]="false" 
                    [showClear]="true"
                    [options]="assignedToUsers" 
                    placeholder="{{'PRODUCTS.ADD_DIALOG.ASSIGNED_TO_PLACEHOLDER' | translate}}" 
                    optionLabel="label" 
                    optionValue="value" 
                    (onChange)="assignedToOnChange($event)"
                    [ngClass]="{ 'is-invalid': submitted && productForm['controls'].assignedTo.errors }">
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.assignedTo' class='invalid-feedback'>
                    <div id="errorAssignedTosRequired" *ngIf="productForm['controls'].assignedTo.hasError(validation.type) && submitted && productForm['controls'].assignedTo.errors">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            
            <ng-container *ngIf="isShowAccountProductControls">
                <div class="col-md-6 form-group">
                    <label>{{'PRODUCTS.ADD_DIALOG.START_DATE' | translate}}<span class="mandatory"></span></label>
                    <p-calendar *ngIf="!isReadOnly" id="dp-product-start-date"
                        [dateFormat]="_commonHelper.globalDatePickerFormate" [dateMask]="_commonHelper.globalDateMask"
                        [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                        [monthNavigator]="true" [yearNavigator]="true" [yearRange]="currentYearRange"
                        formControlName="startDate" selectOtherMonths="true" [showTime]="false"
                        [minDate]="_commonHelper.globalMinDate" [maxDate]="_commonHelper.globalMaxDate"
                        [placeholder]="_commonHelper.globalDatePlaceholder" class="time-calendar"
                        [ngClass]="{ 'is-invalid': productForm['controls'].startDate.errors && (productForm['controls'].startDate.dirty || productForm['controls'].startDate.touched)}"></p-calendar>
                    <div *ngFor='let validation of validation_messages.startDate' class='invalid-feedback'>
                        <div
                            *ngIf="productForm['controls'].startDate.hasError(validation.type) && productForm['controls'].startDate.errors && (productForm['controls'].startDate.dirty || productForm['controls'].startDate.touched)">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label>{{'PRODUCTS.ADD_DIALOG.END_DATE' | translate}}</label>
                    <p-calendar *ngIf="!isReadOnly" id="dp-product-end-date"
                        [dateFormat]="_commonHelper.globalDatePickerFormate" [dateMask]="_commonHelper.globalDateMask"
                        [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                        [monthNavigator]="true" [yearNavigator]="true" [yearRange]="currentYearRange"
                        formControlName="endDate" selectOtherMonths="true" [showTime]="false"
                        [minDate]="_commonHelper.globalMinDate" [maxDate]="_commonHelper.globalMaxDate"
                        [placeholder]="_commonHelper.globalDatePlaceholder" class="time-calendar"
                        [ngClass]="{ 'is-invalid': productForm['controls'].endDate.errors && (productForm['controls'].endDate.dirty || productForm['controls'].endDate.touched)}"></p-calendar>
                    <div *ngFor='let validation of validation_messages.endDate' class='invalid-feedback'>
                        <div
                            *ngIf="productForm['controls'].endDate.hasError(validation.type) && productForm['controls'].endDate.errors && (productForm['controls'].endDate.dirty || productForm['controls'].endDate.touched)">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
            <div class="modal-footer border-top-0 px-0 pb-0">
                <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                    (click)="onCloseForm(false)">{{'PRODUCTS.ADD_DIALOG.BUTTON_CANCEL' | translate}}</button>
                <button type="button" (click)="saveProduct(productForm.value)" id="btn-save"
                    class='btn btn-primary'>{{'PRODUCTS.ADD_DIALOG.BUTTON_ADD' | translate}}</button>
            </div>
        </form>
    </div>
    <!-- Add Product End -->
</ng-container>