<div class="jsonGriTbl" [ngClass]="!isReadOnly ? 'pt-4' : ''">
    <ng-container>
        <div class="add-btn">
            <button *ngIf="!isReadOnly" (click)="addNewIem()" class="addItem btn btn-secondary mb-3"><i
                    class="fa-solid fa-plus mr-1"></i>{{ "COMMON_JSON_GRID.ADD_ITEM" | translate }}</button>
        </div>
        
        <ng-container>
            <div [formGroup]="formGroup" class="table-responsive tbl-fixed tbl-task">
                <table class="pTable table">
                    <thead>
                        <tr>
                            <ng-container *ngFor="let th of defaultColumnDefinitions?.columns">
                                <th [ngStyle]="{'width': th.style.width}">{{th.header}}</th>
                            </ng-container>
                            <th class="action text-center" *ngIf="!isReadOnly">
                                {{ "COMMON_JSON_GRID.ACTION_ITEM" | translate }}
                            </th>
                        </tr>
                    </thead>
                    <ng-container *ngIf="jsonGridFormArray && jsonGridFormArray?.controls && jsonGridFormArray?.controls.length > 0">
                        <ng-container formArrayName="{{ customFieldControl.fieldName }}">
                            <tbody >
                                <tr [formGroup]="gridControl" *ngFor="let gridControl of jsonGridFormArray?.controls; let gridIndex = index;">
                                    <ng-container *ngFor="let td of defaultColumnDefinitions?.columns">
                                        <td [ngStyle]="{'width': td.style.width}">
                                            <ng-container *ngIf="td.type == 'text'">
                                                <div *ngIf="!isReadOnly">
                                                    <input type="text" class="form-control" [formControlName]="td.jsonKey"
                                                        [ngClass]="{ 'is-invalid': (submitted && gridControl?.controls[td.jsonKey].errors && (gridControl?.controls[td?.jsonKey]?.dirty || gridControl?.controls[td?.jsonKey]?.touched)) || (isAddItemMode && gridControl?.controls[td?.jsonKey]?.errors)}"
                                                        id="{{ 'txt-' + gridIndex + '-' + td.jsonKey }}" trimValue />
        
                                                    <div class="invalid-feedback"
                                                        *ngIf="(submitted && gridControl?.controls[td?.jsonKey]?.errors && (gridControl?.controls[td?.jsonKey]?.dirty || gridControl?.controls[td?.jsonKey]?.touched)) 
                                                        || (isAddItemMode && gridControl?.controls[td?.jsonKey]?.errors)">
        
                                                        <span class="text-danger"
                                                            *ngIf="gridControl?.controls[td?.jsonKey]?.errors['required']">
                                                            {{td.settingJSON['requiredValMessage'] | translate }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div *ngIf="isReadOnly">
                                                    <span>{{ gridControl?.controls[td?.jsonKey]?.value }}</span>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="td.type == 'dropdown'">
                                                <div *ngIf="!isReadOnly">
                                                   
                                                    <p-dropdown class="form-control"  id="drp-{{(td.jsonKey | lowercase)}}" [formControlName]="td.jsonKey" [showClear]="true" 
                                                        [options]="td.options" placeholder='Select' [optionLabel]="label" [optionValue]="value" appendTo="body" panelStyleClass="maxWidthOverride"
                                                        [ngClass]="{ 'is-invalid': (submitted && gridControl?.controls[td?.jsonKey]?.errors && (gridControl?.controls[td?.jsonKey]?.dirty 
                                                        || gridControl?.controls[td?.jsonKey]?.touched)) || (isAddItemMode && gridControl?.controls[td?.jsonKey]?.errors)}">
                                                    </p-dropdown>
                                                    
                                                    <div class="invalid-feedback"
                                                        *ngIf="(submitted && gridControl?.controls[td?.jsonKey]?.errors) || (isAddItemMode && gridControl?.controls[td?.jsonKey]?.errors)">
                                                        <span class="text-danger"
                                                            *ngIf="gridControl?.controls[td?.jsonKey]?.errors['required']">
                                                            {{td.settingJSON['requiredValMessage'] | translate }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="disable-text" *ngIf="isReadOnly">
                                                    {{ (td.options | displayValueFinder: {value: gridControl.controls[td.jsonKey].value })?.length ? ( td?.options | displayValueFinder: { value: gridControl.controls[td.jsonKey].value })[0].label :' ' }}
                                                    <!-- {{ (control.optionsJSON | displayValueFinder: { value: customFieldJSONData[control.fieldName] })?.length ? (control.optionsJSON | displayValueFinder: { value: customFieldJSONData[control.fieldName] })[0].label : ' ' }} -->
                                                    
                                                </div>
                                            </ng-container>
        
                                            <ng-container *ngIf="td.type == 'percentage'">
                                                <div *ngIf="!isReadOnly" class="inner-addon right-addon lg-suffix">
                                                    <span class="percentageIcon">%</span>
                                                    <input type="number" class="form-control" [formControlName]="td.jsonKey" (keypress)="percentEventHandler($event)"
                                                        [ngClass]="{ 'is-invalid': (submitted && gridControl?.controls[td?.jsonKey]?.errors && (gridControl?.controls[td?.jsonKey]?.dirty || gridControl?.controls[td?.jsonKey]?.touched) 
                                                        || (gridControl?.controls[td?.jsonKey]?.errors?.fireValidateError)) || (isAddItemMode && gridControl?.controls[td?.jsonKey]?.errors)}"
                                                        id="{{ 'txt-' + gridIndex + '-' + td.jsonKey }}" trimValue />
        
                                                    <div class="invalid-feedback"
                                                        *ngIf="(submitted && gridControl?.controls[td?.jsonKey]?.errors && (gridControl?.controls[td?.jsonKey]?.dirty || gridControl?.controls[td?.jsonKey]?.touched) 
                                                        || (gridControl?.controls[td?.jsonKey]?.errors?.fireValidateError)) || (isAddItemMode && gridControl?.controls[td?.jsonKey]?.errors)">
        
                                                        <span class="text-danger" *ngIf="gridControl?.controls[td?.jsonKey]?.errors['required']">
                                                            {{td.settingJSON['requiredValMessage'] | translate }}
                                                        </span>
                                                        <span class="text-danger" *ngIf="gridControl?.controls[td?.jsonKey]?.errors['min']">
                                                            {{td.settingJSON['minValMessage'] | translate }}
                                                        </span>
                                                        <span class="text-danger" *ngIf="gridControl?.controls[td?.jsonKey]?.errors['max']">
                                                            {{td.settingJSON['maxValMessage'] | translate }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div *ngIf="isReadOnly">
                                                    <span>{{ gridControl?.controls[td?.jsonKey]?.value }}</span>
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
        
                                    <td class="action" *ngIf="!isReadOnly">
                                        <span>
                                            <div class="listOfActions text-center">
                                                <span> <i class="far fa-trash-alt cursor-pointer dark-grey"
                                                        (click)="removeItem(gridIndex)" container="body"
                                                        placement="top auto"></i> </span>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </ng-container>
                </table>
            </div>
        </ng-container>
        
    </ng-container>
</div>