@import "../../../../../../src/scss/entity_view.scss";

.bg-timeline {
    .navTabs{
      .navTabs .nav-link{ 
        @media screen and (max-width: 1325px) and (min-width: 1200px) { font-size: 12px;}
      }
    }

    .description-box, .description-box.text-justify { overflow-y: auto; text-overflow: unset; white-space: normal; max-height: 70px; padding-right: 10px; display: block; line-height: 16px; }
}

// .sideActivity {
//   height: 100%;
//   // width: 0;
//   overflow-x: hidden;
// }

// .sideActivity .closebtn {
//   float: right;
//   border: none;
//   font-size: 12px;
//   color: #fff;
//   background-color: #007ADA;
//   padding: 5px 5px 0 5px;
//   height: 30px;
//   border-radius: 5px;
// }

// .sideActivity .closebtn:focus{
//   border: none;
// }

// #btnToOpenActivity {
//   float: right;
//   position: relative;
//   top: 50px;
//   right: -5px;
//   // z-index: 10;
// }

.sideActivity {
  height: 100%;
  // width: 0;

  @media (max-width: 1199px){ display: block !important; }
}

.sideActivity .closebtn:focus{
  border: none;
}

@media (min-width: 1200px) and (min-height: 650px){
  .bg-timeline .tab-content.navs-boreder .tab-pane .tab-pane{ padding-top: 15px !important; }
}

.btn-activity {
  float: right;
  right: -3px;
  height: 34px;
  width: 26px !important;
  border-radius: 5px 0 0 5px;
  background-color: #fff !important;
  color: #00a4e3 !important;
  border: 1px solid #00a4e3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  border-right: 0 !important;
  padding: 5px 15px;
  
  @media (min-width: 1200px){
    z-index: 10; position: fixed;
  }
}

::ng-deep .nb-theme-dark .btn-activity { background-color: #000 !important; }

.bg-icon-option{ cursor: pointer; }

// ::ng-deep .tag-multiselect .p-multiselect-label{
//   display: flex !important;
//   flex-wrap: wrap !important;
// }

// ::ng-deep .tag-multiselect .p-multiselect-token{
//   margin-bottom: .5rem !important
// }

::ng-deep .tag-multiselect p-multiselect .p-checkbox{
  display: none;
}

.clr-grey { color: var(--surface-600); font-size: 12px; font-weight: 400; }


/** Stages Widget Spinner **/
::ng-deep {
  activity-section .widget-loader {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  background-color:  rgba(0, 0, 0, 0.15) !important;
  z-index: 1070;
  border-radius: 5px;
  }
  .nb-theme-dark activity-section .widget-loader {
  background-color: rgba(105,105,105, 0.4) !important;
  }
  activity-section .widget-loader .bounce-spinner {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  }
  activity-section .widget-loader .bounce-spinner > div {
  width: 15px;
  height: 15px;
  background-color: #00a4e3 !important;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .nb-theme-dark activity-section .bounce-spinner > div {
  background-color: #9ed5ff !important;
  }
  activity-section .widget-loader .bounce-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  }
  activity-section .widget-loader .bounce-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  }

  activity-section .show-widget-loader {
  display: block !important;
  }

  activity-section .hide-widget-loader {
  display: none !important;
  }

  .page-containted activity-section:not(.col-xl-4) .widget-loader{
    @media (min-width: 1200px) { display: none !important; }
  }

  activity-section.entity-right-panel .widget-loader{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.icon-select {
  background-image: url("../../../../../assets/images/icon/icon-select.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 64px;
  height: 49px;
}

::ng-deep .nb-theme-dark .icon-select {
  background-image: url("../../../../../assets/images/icon/icon-select-darkmode.svg");
}

::ng-deep .rating-activity .p-rating { height: 14px; }
.btn-close-quickView { position: absolute; top: 7px; right: 0; }

.activity-tab .nav-item:only-child .nav-link { border-bottom: 3px solid var(--blue-400); font-weight: bold; }