<!-- if user dont have enough permission then display message -->
<div class="flexlayout" *ngIf="!isListTeam">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img class="mb-3" src="assets/images/default/NoAccessImage.png" alt="">
                <div class="subtitle mt-0">{{'TEAMS.MESSAGE_TEAM_NOT_ACCESS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isListTeam" class="entity-page entity-main filters-three">
    <div class="page-header">
        <div class="container-fluid lineheight35 heading-page mb-1">
            <div class='row'>
                <div class="col-sm-3 mb-2">
                    <span id="headingEntity" class="fw-600 fs-4">{{'TEAMS.LIST.TITLE' | translate}}</span>
                </div>
                <div class="col-sm mb-2">
                    <div class="btn-view">
                        <a *ngIf="isImportTeamMembers" id="btn-import-entity" class="btn btn-link p-0 text-nowrap mb-2 mb-sm-0"
                            (click)="openTeamMemberImport()">
                            <i class="far fa-file-excel mr-1" aria-hidden="true"></i>
                            {{ 'TEAMS.LIST.BUTTON_IMPORT' | translate | configuredEntityName}}
                        </a>
                        <button *ngIf="isAddTeam" class="btn btn-primary float-end ml-3" type="button" (click)="addTeam()" id="btn-add-entity">
                            <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
                            {{'TEAMS.LIST.BUTTON_ADD' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-2 entity-main pb-5 pb-xl-0">
        <div class="row">
            <div class="col-12">
                <div class="p-card">
                    <!-- Table Start -->
                    <p-table *ngIf="teams" #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
                        [rowsPerPageOptions]="_commonHelper.globalRowsPerPageOptions" [columns]="cols" [value]="teams" paginatorDropdownAppendTo="body"
                        sortField="name" [sortOrder]="1" class="tbl-teams-list tbl-entity" [lazy]="true"
                        [totalRecords]="totalRecords" [autoLayout]="true" [paginator]="totalRecords > 0"
                        (onPage)="paginate($event)" [scrollable]="true"
                        [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''" [scrollHeight]="'calc(100vh - 170px)'"
                        styleClass="customTable">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th id="tblColumnHeader" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                    [pSortableColumnDisabled]="!col.sort" scope="col" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                                    class="{{col.field}} {{col.class}}" (click)="ChangeOrder(col)" [hidden]="!col.visible">
                                    {{ col.header | translate }}
                                    <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td class="name">
                                    <span class="p-column-title">
                                      {{columns[0].header | translate}}
                                    </span>
                                    <a [routerLink]="'/teammanagement/teams/details/'+ rowData.id" id="link-headingRecord"
                                        [ngClass]="isViewTeam ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.name}}</a>
                                </td>
                                <td class="ownerName">
                                    <span class="p-column-title">
                                      {{columns[1].header | translate}}
                                    </span>
                                    <span class="pre-text">{{rowData.ownerName}}</span>
                                </td>
                                <td class="membersCount pr-5 justify-content-end">
                                    <span class="p-column-title">
                                      {{columns[2].header | translate}}
                                    </span>
                                    {{rowData.membersCount}}
                                </td>
                                <td class="grid-dropdown action">
                                    <div class="dropdown drop-no-arrow" *ngIf="isDeleteTeam">
                                        <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm"
                                            type="button" id="drp-action" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="drp-action">
                                            <li>
                                                <a id="link-Delete" (click)="deleteteam(rowData.id)"
                                                    class="dropdown-item menu--item">
                                                    <i class="far fa-trash-alt pd-menu-icon" aria-hidden="true"></i>
                                                    {{'TEAMS.LIST.BUTTON_REMOVE'|translate}}</a>
                                            </li>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text" id="paginatorLeftPage"
                                (click)="prev()" [disabled]="end == pagingParams.pageSize"></p-button>
                            <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo" id="paginatorInputPage"
                                (change)="changePage()" class="pageNoInput"> /
                            <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                            <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text" id="paginatorRightPage"
                                (click)="next()" [disabled]="end == totalRecords"></p-button>
                            <p-button type="button" icon="pi pi-undo" styleClass="p-button-text" id="paginatorResetButton"
                                (click)="resetPaginator()" [disabled]="end == pagingParams.pageSize"></p-button>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
                                    {{ 'TEAMS.LIST.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table End -->
<!-- Paginator Start -->

<!-- Paginator End -->