@import "../../../../../scss/variables";
@import '../../../../../scss/entity_kanban.scss';

::ng-deep .tbl-teams-list{
  @media (min-width: 641px){
    th.name, td.name, th.ownerName, td.ownerName, th.membersCount, td.membersCount{ min-width: 180px !important;width: 180px !important;}
    th.membersCount, td.membersCount { text-align: right !important; }
    th.action, td.action { width: 0; min-width: 0; padding: 0 !important; 
      .dropdown { margin-right: 12px; }
    }
  }
  @media (max-width: 640px) and (min-height: 600px){
    .p-datatable .p-datatable-wrapper { height: calc(100vh - 170px) !important;
      @media (max-width: 575px) { height: calc(100vh - 250px) !important; }
    }
  }
}
  .col-xl-custom{
    @media (min-width: 1200px){ flex: 0 0 100px; max-width: 100px; }
  }
  
::ng-deep .tbl-teams-list .p-datatable-wrapper {
  @media (min-width: 1140px) and (min-height: 576px) { min-height: calc(100vh - 130px); }
} 