@import '../../../../scss/variables';

.more-button.dropdown-toggle,
.btn-check:checked+.btn.more-button.dropdown-toggle,
.btn.more-button.dropdown-toggle.show,
.btn.more-button.dropdown-toggle:first-child:active,
:not(.btn-check)+.btn.more-button.dropdown-toggle:active {
  border: 1px solid $brdr-grey;
  background-color: transparent;
  height: 34px;
}

.more-button.dropdown-toggle.active,
.btn-check:checked+.btn.more-button.dropdown-toggle.active,
.btn.more-button.dropdown-toggle.active,
.btn.more-button.dropdown-toggle.show.active,
.btn.more-button.dropdown-toggle.active:first-child:active,
:not(.btn-check)+.btn.more-button.dropdown-toggle.active:active {
  border-bottom: 3px solid var(--blue-400);
}

::ng-deep .nav-link.active {
  border: none;
  border-bottom: 2px solid #008a8a;
  font-weight: bold;
  color: #008a8a;
}

::ng-deep .nav-tabs .nav-link:hover,
::ng-deep .nav-tabs .nav-link:focus {
  border-color: transparent;
}

::ng-deep .btn-outline-secondary.btn-outline-tabs, ::ng-deep .btn-outline-secondary.btn-outline-tabs:focus, ::ng-deep .btn-outline-secondary.btn-outline-tabs:active, ::ng-deep .btn-outline-secondary.btn-outline-tabs:first-child:active{ color: var(--surface-700) !important; border-color: var(--surface-700) !important; height: auto; padding: 8px 0.75rem; }
::ng-deep .btn-outline-secondary.btn-outline-tabs:hover{ color: var(--surface-800) !important; background-color: var(--surface-100) !important; }

::ng-deep .compacted .details-box.col-xl-8 .multiple-tabs { 
  @media (min-width: 1280px) {
    .tabs-buttons{ width: 25%; }
  }
}

::ng-deep .expanded .details-box.col-xl-8 .multiple-tabs { 
  @media (min-width: 1560px) {
    .tabs-buttons{ width: 25%; }
  }
}

::ng-deep .details-box:not(.col-xl-8) .multiple-tabs { 
  @media (min-width: 1200px) {
    .tabs-buttons{ width: 25%; }
  }

  @media (min-width: 1560px) {
    .tabs-buttons{ width: 20%; }
  }

  @media (min-width: 1760px) {
    .tabs-buttons{ width: 16.65%; }
  }
}

.closeTabBtn {
  padding-right: 0.75rem;
}

.closeTabButtons {
  background-color: var(--surface-200);
  color: var(--surface-800) !important;
}

.inlineNavTab {
  display: flex;
  width: 100%;
}

.d-close-btn{
  display: flex;
  align-items: center;
}

.inlineNavTab .nav-link.active + .d-close-btn{
  border-bottom: 3px solid var(--blue-400);
}