<div *ngIf="isNativeTab && !isAdditionalTab" class="row m-0 first-tabs">
    <div class="p-0" id="tabsMain">
        <ol class="nav nav-tabs font-12 border-bottom-0" id="accountDetailTab" role="tablist">
            <ng-container *ngFor="let tab of navTabs; let i = index">
                <li *ngIf="tab.condition " class="nav-item">
                    <div class="inlineNavTab">
                        <button  class="nav-link"
                        [ngClass]="selectedTab == tab.tabLink ? 'active' : ''" id="btn_{{tab.tabLink}}"
                        name="btn_{{tab.tabLink}}" data-bs-toggle="tab" [attr.data-bs-target]="'#' + tab.tabLink"
                        type="button" role="tab" aria-controls="{{tab.tabLink}}-tab" aria-selected="true"
                        (click)="callSetTab(tab)">{{tab.tabName | translate | configuredEntityName }} </button>

                        <button class="d-close-btn nav-link px-0" [ngClass]="selectedTab == tab.tabLink ? 'active' : ''" id="closeTabIconBtn" ><i *ngIf="tab.showCloseTabIconBtn && !tab.isTabAlwaysVisible" class="fa-solid fa-xmark dark-grey font-12 closeTabBtn cursor-pointer" (click)="callCloseTab(tab)"></i></button>
                    </div>
                </li>
            </ng-container>
        </ol>
    </div>
</div>
<div *ngIf="isAdditionalTab && isNativeTab" class="container-fluid">
    <div class="row pt-3">
        <div class="col-12 multiple-tabs">
            <div class="row gx-3 align-items-center">
                <ng-container *ngFor="let tab of navTabs; let i = index">
                    <ng-container *ngIf="tab.condition">
                        <div class="col-md-4 col-sm-6 tabs-buttons mb-3">
                            <button class="btn btn-outline-secondary btn-outline-tabs w-100"
                                id="btn_{{tab.tabLink}}" [ngClass]="tab.showButtonActive ? 'closeTabButtons' : null "
                                data-bs-toggle="tab" name="btn_{{tab.tabLink}}" [attr.data-bs-target]="'#' + tab.tabLink"
                                type="button" role="tab" aria-controls="{{tab.tabLink}}-tab" aria-selected="true"
                                (click)="callSetTab(tab)">{{tab.tabName | translate | configuredEntityName }}
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>