@import "../../../../../scss/_variables.scss";

.detail-border { border-bottom: 1px solid $brdr-grey; }
::ng-deep .nb-theme-dark .detail-border { border-color: #304562; }

::ng-deep .modal-md, ::ng-deep .modal-sm {
    .add-entity-relation-body.modal-body .col-lg-6 { width: 100%; }
}
::ng-deep .card-add-entity-relation .pt-custom-checkbox{
    @media (min-width: 576px) and (max-width: 991px) { padding-top: 0; }
}