<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">
        {{entityRelationComponent?.formLayoutSettings?.messages?.titleHeader}}
    </h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<div class="modal-body padding-32 pt-3 add-entity-relation-body">
    <ng-container *ngIf="entityRelationComponent && entityRelationComponent.formLayoutSettings">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6 form-group" *ngIf="entityRelationTypes.length > 1">
                    <label>{{'CRM.ENTITY_RELATION_COMPONENTS.ADD_RELATION_DIALOG.ENTITY_RELATION_TYPE' | translate}}
                        <span class="mandatory"></span></label>

                        <ng-container *ngIf="actionsEnum.Edit == action;else multiple">
                            <p-dropdown #entityRecordType id="drp-entity-relation-types" class="form-control"
                                formControlName="entityRelationTypeID" [filter]="true" [resetFilterOnHide]="false" [showClear]="true"
                                [options]="entityRelationTypes"
                                placeholder="{{'CRM.ENTITY_RELATION_COMPONENTS.ADD_RELATION_DIALOG.PLACEHOLDER_RELATION_TYPE' | translate}}"
                                [ngClass]="{ 'is-invalid': submitted && formGroup.get('entityRelationTypeID').errors }"
                                (onChange)="onEntityRecordTypeChanged(entityRecordType)">
                            </p-dropdown>
                        </ng-container>

                        <ng-template #multiple>
                            <p-multiSelect #entityRecordType id="drp-entity-relation-types" class="entity-multiSelect"
                                formControlName="entityRelationTypeID" [filter]="true" [resetFilterOnHide]="false" [showClear]="true"
                                [options]="entityRelationTypes"
                                placeholder="{{'CRM.ENTITY_RELATION_COMPONENTS.ADD_RELATION_DIALOG.PLACEHOLDER_RELATION_TYPE' | translate}}"
                                [ngClass]="{ 'is-invalid': submitted && formGroup.get('entityRelationTypeID').errors }"
                                (onChange)="onEntityRecordTypeChangedMultiSelect(entityRecordType)">
                            </p-multiSelect>
                        </ng-template>

                        <div *ngIf="submitted && formGroup.get('entityRelationTypeID').errors" class="invalid-feedback">
                            <div *ngIf="formGroup.get('entityRelationTypeID').errors.required">
                                {{'CRM.ENTITY_RELATION_COMPONENTS.ADD_RELATION_DIALOG.MESSAGE_SELECT_TYPE' | translate}}
                            </div>
                        </div>
                </div>

                <ng-container *ngIf="formPanelGroup && formPanelGroup.length > 0">
                    <ng-container *ngFor="let item of formPanelGroup">
                        <ng-container *ngIf="item.groupTitle">
                            <span class="d-inline-block">
                                <span
                                    class="detail-border d-inline-block font-semibold pb-2 w-100 mb-3">{{item.groupTitle}}</span>
                            </span>
                        </ng-container>
                        <ng-container *ngFor="let control of item.controls">
                            <div class="{{control.className ? control.className : 'col-md-4 col-sm-6'}} form-group">
                                <ng-container [ngSwitch]="(control.fieldType | lowercase)">

                                    <ng-container *ngSwitchCase="'date'">
                                        <div>
                                            <label>{{control.labelName}}</label>
                                            <ng-container *ngIf="control.validators && control.validators.length > 0">
                                                <ng-container *ngFor="let validator of control.validators">
                                                    <ng-container *ngIf="validator.type === 'required'">
                                                        <span class="mandatory"></span>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>

                                        <p-calendar id="dp-{{(control.fieldName | lowercase)}}" class="time-calendar"
                                            [dateFormat]="_commonHelper.globalDatePickerFormate"
                                            [placeholder]="_commonHelper.globalDatePlaceholder"
                                            [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false"
                                            icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                                            [monthNavigator]="true" [yearNavigator]="true" selectOtherMonths="true"
                                            [showTime]="false" [minDate]="_commonHelper.globalMinDate"
                                            [maxDate]="_commonHelper.globalMaxDate"
                                            [yearRange]="_commonHelper.globalYearRange"
                                            [formControlName]="control.fieldName"
                                            [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }">
                                        </p-calendar>

                                        <div *ngIf="submitted && formGroup.get(control.fieldName).errors"
                                            class="invalid-feedback">
                                            <ng-container *ngIf="control.validators && control.validators.length > 0">
                                                <ng-container *ngFor="let validator of control.validators">
                                                    <ng-container
                                                        *ngIf="formGroup.get(control.fieldName).errors[validator.type] && (validator.type | lowercase) === 'required'">
                                                        {{validator.message}}
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'text'">
                                        <div>
                                            <label>{{control.labelName}}</label>
                                            <ng-container *ngIf="control.validators && control.validators.length > 0">
                                                <ng-container *ngFor="let validator of control.validators">
                                                    <ng-container *ngIf="validator.type === 'required'">
                                                        <span class="mandatory"></span>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>

                                        <input id="txt-{{(control.fieldName | lowercase)}}" class="form-control"
                                            [formControlName]="control.fieldName" trimValue
                                            [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }">

                                        <div *ngIf="submitted && formGroup.get(control.fieldName).errors"
                                            class="invalid-feedback">
                                            <ng-container *ngIf="control.validators && control.validators.length > 0">
                                                <ng-container *ngFor="let validator of control.validators">
                                                    <ng-container
                                                        *ngIf="formGroup.get(control.fieldName).errors[validator.type] && (validator.type | lowercase) === 'required'">
                                                        {{validator.message}}
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="formGroup.get(control.fieldName).errors[validator.type] && (validator.type | lowercase) === 'minlength'">
                                                        {{validator.message}}
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="formGroup.get(control.fieldName).errors[validator.type] && (validator.type | lowercase) === 'maxlength'">
                                                        {{validator.message}}
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'picklist'">
                                        <div>
                                            <label>{{control.labelName}}</label>
                                            <ng-container *ngIf="control.validators && control.validators.length > 0">
                                                <ng-container *ngFor="let validator of control.validators">
                                                    <ng-container *ngIf="validator.type === 'required'">
                                                        <span class="mandatory"></span>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>

                                        <p-dropdown #dropdown id="drp-{{(control.fieldName | lowercase)}}"
                                            class="form-control" [formControlName]="control.fieldName" [filter]="true"
                                            [resetFilterOnHide]="false" [showClear]="true"
                                            [options]="control.optionJSON" placeholder='Select {{control.labelName}}'
                                            optionLabel="label" optionValue="value"
                                            [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }">
                                        </p-dropdown>

                                        <div *ngIf="submitted && formGroup.get(control.fieldName).errors"
                                            class="invalid-feedback">
                                            <ng-container *ngIf="control.validators && control.validators.length > 0">
                                                <ng-container *ngFor="let validator of control.validators">
                                                    <ng-container
                                                        *ngIf="formGroup.get(control.fieldName).errors[validator.type] && (validator.type | lowercase) === 'required'">
                                                        {{validator.message}}
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

            <div class="col-md-12 form-group" *ngIf="customFieldControls && customFieldControls.length > 0">
                <ng-container *ngFor="let section of customFieldControls">
                    <div class='card border-0 m-0 pt-md-0 pt-3 bg-transparent card-add-entity-relation'>
                        <div class="card-header btn-card-edit py-0 px-0 bg-transparent">
                            <span *ngIf="section.sectionName" class="vertical-center py-md-3 pt-0 pb-3 line-height-1 fw-bold">
                                {{ section.sectionName }}
                            </span>
                        </div>
                        <div class='card-body bg-transparent px-0'>
                            <div class='row'>
                                <ngx-custom-field [formGroup]="formGroup" [currencySymbol]="currencySymbol"
                                    [section]="section" [controls]="section.controls"
                                    [submitted]="submitted" [customFieldJSONData]="{}" [isReadOnly]="false"></ngx-custom-field>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="modal-footer border-top-0 px-0 pb-0">
                <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                    (click)="onCloseForm(false)">{{'CRM.ENTITY_RELATION_COMPONENTS.ADD_RELATION_DIALOG.BUTTON_CANCEL' |
                    translate}}</button>
                <button type="button" id="btn-save" (click)="onFormSubmit()"
                    class='btn btn-primary'>{{'CRM.ENTITY_RELATION_COMPONENTS.ADD_RELATION_DIALOG.BUTTON_ADD' |
                    translate}}</button>
            </div>
        </form>
    </ng-container>
</div>