<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold">
        {{dialogTitle | translate}}
    </h4>
    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
        <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Body Start -->
<div class="modal-body padding-32 pt-3">
    <form [formGroup]="workflowFormGroup">
        <div class="row">
            <div class='col-md-12 form-group'>
                <label>{{workflowSelectLabel | translate}}<span
                    class="mandatory"></span></label>
                <p-dropdown id="drp-workflow-assigned" *ngIf="workflows" name="workflowassigned" 
                    optionLabel="label" optionValue="value" class="form-control" 
                    [options]="workflows" placeholder="{{workflowSelectPlaceholder | translate}}"
                    [filter]="true" [resetFilterOnHide]="false" formControlName="selectedWorkflowId">
                </p-dropdown>
            </div>
        </div>
        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" id="btn-cancel" class='btn btn-outline-secondary me-2'
                (click)="onCloseForm()">{{'WORKFLOW_ASSIGN_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button [disabled]="!workflowFormGroup.valid" type="button" (click)="onSubmitChange()" id="btn-save" class='btn btn-primary'>{{'WORKFLOW_ASSIGN_DIALOG.BUTTON_SAVE' | translate}}</button>
        </div>
    </form>
</div>
<!-- Body End -->