<div class="flexlayout" *ngIf="!hasPermission">
  <div class="form_wrapper">
    <div id="no-access-form">
      <div class="top">
        <div class="subtitle m-0">{{'PERMISSION_SET.LIST.MESSAGE_PERMISSIONSETS_NOT_ACCESS' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!permissionSetForm && !isInitialLoading && isViewPermissionSet">
  <div class="form_wrapper">
    <div id="no-access-form">
      <div class="top">
        <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
        <div class="subtitle mt-0">{{'URAM.PERMISSION_SET.MESSAGE_PERMISSIONSET_NOT_EXISTS' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="hasPermission && permissionSetForm" class="entity-page entity-main">
<!-- Page Header Start -->
<div class="container-fluid lineheight35">
  <div class="row">
    <div class="col-sm-9 col-7">
      <span class="fw-600 fs-4" id="headingAddEntity" *ngIf="formMode == 'ADD'">{{ 'URAM.PERMISSION_SET.DETAIL.ADD_TITLE' | translate }}</span>
      <span class="fw-600 fs-4" id="headingEditEntity" *ngIf="formMode == 'EDIT'">{{ 'URAM.PERMISSION_SET.DETAIL.EDIT_TITLE' | translate }}</span>
    </div>
    <div class="col-sm-3 col-5">
      <button type="button" id="btn-back" class="btn btn-secondary float-end mb-10px" (click)="onBack()">
        {{ 'URAM.PERMISSION_SET.DETAIL.BACK' | translate }}
      </button>
    </div>
  </div>
</div>
<!-- Page Content Start -->
<div class='container-fluid pb-5 pb-xl-0'>
  <div class="row">
    <div class='col-lg-12'>
      <!-- Basic Information -->
      <div class="mb-3">
        <p-card styleClass="customCard">
          <div *ngIf="permissionSetForm">
            <form [formGroup]='permissionSetForm'>
              <div class='row'>
                <div class='col-xl-6'>
                  <div class="mb-3">
                    <label class="mb-1 fs13px">{{ 'URAM.PERMISSION_SET.DETAIL.PERMISSION_SET' | translate }}<span
                        class="mandatory"></span></label>
                    <input type='text' id="txt-name" formControlName='name' class='form-control' pInputText
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" trimValue/>
                    <div *ngFor='let validation of permissionSet_validation_messages.name' class='invalid-feedback'>
                      <div *ngIf='f.name.hasError(validation.type) && submitted && f.name.errors' id="errorPermissionSetIsRequired">
                        {{ validation.message | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class='col-xl-12'>
                  <div class="mb-4">
                    <label class="mb-1 fs13px">{{ 'URAM.PERMISSION_SET.DETAIL.PERMISSION' | translate }}<span
                        class="mandatory"></span></label>
                    <div *ngIf="submitted && selectedPermissions.length == 0" class="invalid-feedback d-block mb-2" id="errorPleaseSelectAtLeastOnePermissionSet">
                      {{ 'URAM.PERMISSION_SET.DETAIL.MESSAGE_PERMISSIONSET_SELECT' | translate }}
                    </div>
                    <div class="permission-set-form permission-data">
                      <div class="card-columns">
                        <div *ngFor="let item of permissions;" class="card-section">
                          <div class="card border-0 bg-transparent">
                            <div class="card-body p-0 ">
                              <h5 class="card-title pb-0 center-title font-weight-bold">{{ item.name }}</h5>
                              <div class="card-text">
                                <ul class="list-style-none" *ngFor="let p of item.values; let i = index">
                                  <li><label class="custom-control custom-checkbox mb-1">
                                      <input class="custom-control-input" type="checkbox" value="" id="{{ createPermissionId(p) }}" [checked]="p.isChecked" (change)="checkChange($event.target)">
                                      <div class="custom-control-label" id="{{ createPermissionId(p) }}">
                                        {{ p.name }}
                                      </div>
                                    </label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class='col-xl-12'>
                  <div class="mb-2 float-end">
                    <button id="btn-cancel" class='btn btn-secondary mr-2' type='button' (click)='closeForm()'>{{
                      'URAM.PERMISSION_SET.DETAIL.CANCEL' | translate }}</button>
                    <button id="btn-save" class='btn btn-primary' type='button'
                      (click)='saveForm(permissionSetForm.value)'>
                      <span *ngIf="formMode == 'ADD' && this.hasPermission">{{ 'URAM.PERMISSION_SET.DETAIL.ADD' | translate }}</span>
                      <span *ngIf="formMode == 'EDIT' && this.hasPermission ">{{ 'URAM.PERMISSION_SET.DETAIL.SAVE' | translate }}</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Page Content End -->