@import "../../../../../../src/scss/_variables.scss";

.main-title-permiss {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
}

.permission-set-form.permission-data {
    max-height: 570px; 
    padding-top: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 40px;
    
    @media (min-width: 1200px) and (min-height: 575px) { max-height: calc(100vh - 250px); }
}
    
.card-columns {
    column-count: 4;

    .card-section:first-child .card-title { padding-top: 0; }  

    .card { margin-bottom: 10px; display: inline-block; width: 100%;
        .card-title {
            padding-bottom: 10px; border-bottom: solid 1px $brdr-grey; font-size: 12px; 
        }

        .list-style-none{ list-style-type: none; padding-left: 24px; margin-bottom: 0; }
    }

    .custom-control-input { margin-top: 0; }
}

    @media (max-width: 1200px) {
        .card-columns {
            column-count: 3;
        }
    }

    @media (max-width: 992px) {
        .card-columns {
            column-count: 2;
        }
    }

    @media (max-width: 575px) {
        .card-columns {
            column-count: 1;
        }
    }

    
.center-title {
    display: flex;
    align-items: center;
}