<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold">{{'ACTIVITY.ENTITYREVIEWS.TITLE' | translate | configuredEntityName}}</h4>
    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
        <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Model Body Start -->
<div *ngIf="entityReviewDetails" class="modal-body padding-32 pt-3 pb-3">
    <form [formGroup]="entityReviewForm">    
        <div class="mb-10px">
            <p-rating id="rt-rating" formControlName="rating" class="big-star" [cancel]="false"
                [ngClass]="{ 'is-invalid': submitted && f.rating.errors }">
            </p-rating>
            <div *ngIf='submitted && f.rating.errors' class='invalid-feedback' id="errorRatingIsRequired">
                {{'ACTIVITY.ENTITYREVIEWS.MESSAGE_RATING_REQUIRED' | translate}}
            </div>
        </div>
        <div class="form-group">
            <label class="mr-3">{{'ACTIVITY.ENTITYREVIEWS.COMMENT' | translate}}</label>
            <textarea id="txt-commnet" class="form-control" formControlName="reviewComment" rows="6"
                placeholder="{{'ACTIVITY.ENTITYREVIEWS.PLACEHOLDER_COMMENT' | translate | configuredEntityName}}">
            </textarea>
        </div>
    </form>
</div>
<div class="modal-footer border-top-0 padding-32 pt-0">
    <button type="button" id="btn-cancel" class='btn btn-outline-secondary me-2' (click)="onCloseForm()">{{'ACTIVITY.ENTITYREVIEWS.BUTTON_CANCLE' | translate}}</button>
    <button *ngIf="entityReviewId == null || entityReviewId <= 0" type="button" id="btn-save" class='btn btn-primary' (click)="saveEntityReview(entityReviewForm.value)">{{'ACTIVITY.ENTITYREVIEWS.BUTTON_ADD' | translate}}</button>
    <button *ngIf="entityReviewId != null && entityReviewId > 0"type="button" id="btn-save" class='btn btn-primary' (click)="saveEntityReview(entityReviewForm.value)">{{'ACTIVITY.ENTITYREVIEWS.BUTTON_EDIT' | translate}}</button>
</div>
<!-- Model Body End -->