<div class="container-fluid form-text-wrap">
    <div class="row">
        <div class="col">
            <div class="m-2">
                Form Preview:
                <formio *ngIf="formJson" [form]="formJson" (submit)="onSubmitForm($event)"></formio>
                <br/>
                Form Submitted Data:
                <div class="jsonviewer mt-2 p-2">
                    <pre id="json"><code class="language-json" #json></code></pre>
                </div>
            </div>
        </div>
    </div>
</div>