<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold">{{'CRM.ACCOUNT.CUSTOMFIELDS_DIALOG.TITLE' | translate}}</h4>
    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
        <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Model Body Start -->
<div *ngIf="isLoaded" class="modal-body padding-32 pt-3 pb-3">
    <div class="row" *ngFor="let control of customFields let k = index">
        <ol>
            <label><b>{{control}}</b>: <span>{{customFieldsJson[control]}}</span></label>
        </ol>
    </div>
</div>
<!-- Model Body End -->

<!-- Model Footer Start -->
<div class="modal-footer border-top-0 padding-32 pt-0">
    <button type="button" id="btn-cancel" class='btn btn-outline-secondary' (click)="onCloseForm()">{{'CRM.ACCOUNT.CUSTOMFIELDS_DIALOG.BUTTON_CANCEL' | translate}}</button>
</div>
<!-- Model Footer End -->