@import '../../../../../scss/variables';

// color classes - start
.dark-green{
    color: $dark-green;
}
.red-prog{
    color: $red-prog;
}
.lightRed{
    color: $danger-red;
}
.lightRedBg{
    background-color: $danger-red;    
}
.lightYellow{
    color: $yellow-prog;
}
.lightYellowBg{
    background-color: $dark-yellow;    
}
.lightGreen{
    color: $light-green;
}
.lightGreenBg{
    background-color: $light-green;    
}
// color classes - end

// To enable providing custom width to columns of primeNg table - start
:host ::ng-deep{
    .p-datatable-scrollable .p-datatable-thead{
        top: -1px;
    }
    .p-datatable-scrollable .p-datatable-tbody, 
    .p-datatable-scrollable .p-datatable-tfoot, 
    .p-datatable-scrollable .p-datatable-thead{
        display: revert;
    }
    .p-datatable-scrollable .p-datatable-tbody>tr, 
    .p-datatable-scrollable .p-datatable-tfoot>tr, 
    .p-datatable-scrollable .p-datatable-thead>tr{
        display: revert;
    }
    .p-datatable-scrollable .p-datatable-tbody>tr>td, 
    .p-datatable-scrollable .p-datatable-tfoot>tr>td,
    .p-datatable-scrollable .p-datatable-thead>tr>th{
        display: revert;
    }
    .p-datatable-scrollable-both .p-datatable-thead>tr>th {
        white-space: nowrap;
    }
    .p-datatable-scrollable .p-datatable-thead>tr>th {
        white-space: nowrap;
    }
    .p-datatable-scrollable .p-datatable-thead>tr>th {
        .p-sortable-column-badge {
            display: none;
        }
        .p-sortable-column-icon {
            margin-left: 0px;
        }
    }
    .p-datatable-scrollable .p-datatable-thead>tr>th .p-sortable-column-badge {
        display: none;
    }
}
// To enable providing custom width to columns of primeNg table - end