<div class="border-round border-1 surface-border p-4 surface-card w-100">
    <div class="d-flex mb-3 w-100">
        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
        <div class="d-inline-block">
            <p-skeleton width="130px" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="100px" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="130px"></p-skeleton>
        </div>
    </div>
    <p-skeleton width="100%" height="30px" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="100%" height="30px" styleClass="mb-2"></p-skeleton>
</div>