
.control-loader {
    width: 10px !important;
    height: 10px !important;
    margin: 5px !important;
}

.control-loader-wrapper {
    position: relative;
    top: 0;
    z-index: 1039;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 7px 10px;
    margin-bottom: -34px;
    border-radius: 5px;
}

::ng-deep .nb-theme-dark .control-loader-wrapper {
    background-color: rgba(255, 255, 255, 0.075);
}