<div id="forgot-password">
    <div id="forgot-password-form-wrapper">
        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/LogoSmall.png" alt="">
        </div>

        <div id="forgot-password-form">
            <div class="title">{{ 'FORGOT_PASSWORD_DIALOG.TITLE' | translate }}</div>
            <div class="pb-3">{{ 'FORGOT_PASSWORD_DIALOG.RESET_PASSWORD_HINT' | translate }}</div>

            <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.valid)">
                <div class="alert alert-danger" id="errorUserDoesNotExistsWithProvidedUsername" *ngIf="submittedErrorMsg != ''"> {{ submittedErrorMsg | translate }} </div>
                <div class="alert alert-success" id="successInstructionsToResetPasswordSent" *ngIf="submittedSucessMsg != ''"> {{ submittedSucessMsg }}  <strong>
                        </strong> </div>
                    <div *ngIf="submittedSucessMsg != ''" class="lbl-setemail-msg">
                        <!-- Click 'Resend reset link', If you have not received email. -->
                        {{ 'FORGOT_PASSWORD_DIALOG.MESSAGE_CLICK_LINK' | translate }}
                    </div>
                <div class="text-start  mb-3">
                    <label class="loginLabel">{{ 'FORGOT_PASSWORD_DIALOG.USERNAME' | translate }}<span class="mandatory"></span></label>
                    <input #userName type="text" id="txt-userName" class="form-control" formControlName="userName" trimValue
                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"  (keydown.backspace)="onBackspaceKeydown($event)" >
                    <div *ngFor='let validation of forgot_validation_messages.userName' class='invalid-feedback'>
                        <div *ngIf='f.userName.hasError(validation.type) && submitted && f.userName.errors' id="errorUsernameIsRequired">
                            {{ validation.message | translate }}
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type='button' id="btn-cancel" class='btn btn-outline-secondary mr-3' (click)='onCancel()'>{{ 'FORGOT_PASSWORD_DIALOG.BUTTON_CANCEL' | translate }}</button>
                    <button id="btn-send-reset-link" class='btn btn-primary'>{{ sendResetLinkButtonName | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>