@import '../../../../scss/variables';

$clr-white: #fff;

.lbl-setemail-msg{
  color: #025588;
}


#forgot-password {
  background: $clr-white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  overflow: auto;
  max-height: 100vh;

  #forgot-password-form-wrapper {
    flex: 100%;
    padding: 16px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    .logo {
      text-align: center;
      padding-bottom: 32px;

      @media screen and (max-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: 480px) {
        padding-bottom: 16px;
      }
      
      @media screen and (max-height: 575px) {
        padding-bottom: 16px;
      }

      .logo-icon{
        max-width: 350px;

        @media (max-width: 575px){
          max-width: 320px;
        }
      }
    }

    #forgot-password-form {
      width: 450px;
      max-width: 100%;
      padding: 32px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      @media screen and (max-width: 480px) {
        width: 100%;
        padding: 16px;
      }

      @media screen and (max-height: 575px) {
        padding: 16px;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 15px;
        text-align: center; 
        color: #0e4595;
        text-transform: uppercase;
      }
      

      .login {
        margin: 32px auto 0; width: 100%;
      }

      .form-control{ background: $clr-white; border-color: #ced4da; }
      .form-control:enabled:hover {
        border-color: #86b7fe;
      }
      .form-control:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        border-color: #86b7fe;
      }
      .form-control.is-invalid, .form-control.is-invalid:enabled:hover, .form-control.is-invalid:enabled:focus{ border-color: #dc3545; }
      a.dark-blue{ color: #0793c9; }
      a.dark-blue:hover{ color: #212529; }
      .btn.dark-blue:focus{ box-shadow: none; }
    }
  }
}

::ng-deep .nb-theme-dark #forgot-password input:-webkit-autofill,
::ng-deep .nb-theme-dark #forgot-password input:-webkit-autofill:hover, 
::ng-deep .nb-theme-dark #forgot-password input:-webkit-autofill:focus, 
::ng-deep .nb-theme-dark #forgot-password input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #fff inset !important; -webkit-text-fill-color: #000 !important; box-shadow: 0 0 0 30px #fff inset !important; caret-color: #000;
}

.loginLabel {
  color: #212529;
}