<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!priceBookForm && !isInitialLoading && hasPermission">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
                <div class="subtitle mt-0">{{'PRICEBOOKS.DETAIL.MESSAGE_PRICEBOOK_NOT_EXISTS' | translate |
                    configuredEntityName}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-containted detail-pricebook" *ngIf="isLoaded && priceBookForm && hasPermission">
    <!-- Header Start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-10px">
                <div class="detail-header h-100">
                    <div class="page-content card border-0 mb-0 h-100">
                        <div class="card-body p-card">
                            <div class="row vertical-center h-100">
                                <div class="col-xl col-lg-5 col-md-12 mb-3 mb-lg-0 mb-sm-4 d-flex align-self-start">
                                    <div class="float-left text-center">
                                        <div id="entity-icon" class="entity-icon">
                                            <i class="fas fas fa-book" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="stage-details float-start">
                                        <p class="m-0">
                                            <span class="card-title mb-1">
                                                <label id="headingEntity">{{ 'PRICEBOOKS.DETAIL.TITLE' | translate |
                                                    configuredEntityName }}</label>
                                                <div class="overflow-box">
                                                    <strong id="nameEntity" class="pre-text">{{priceBookName}}</strong>
                                                </div>
                                                <div>
                                                    <span id="entityRating" class="mt-2 h-21 mr-2 vertical-center">
                                                        <entity-review-display [entityTypeId]="entityTypeId" [entityId]="priceBookId" [isFromKanbanOrListView]="false"
                                                            [isEditPermission]="isEditPriceBook">
                                                        </entity-review-display>
                                                    </span>
                                                    <span *ngIf="priceBook.entityRecordTypeName!=null" class="mt-2 mb-2 h-21 badge badge-primary badge--status mr-2" id="badgeEntityRecordType">
                                                        {{priceBook.entityRecordTypeName}}
                                                    </span>
                                                    <span [ngClass]="priceBook.isActive == true ? 'bg-primary' : 'bg-danger'" class="mt-2 h-21 badge badge--status mr-2" id="badgeActiveInactive">                                                                                                                
                                                        {{ priceBook.isActive | active }}
                                                    </span>
                                                    <span *ngIf="priceBook.hasAnyInactiveItem" class="mt-2 h-21 badge badge--status bg-warning text-dark" id="badgeProductActiveInactive">
                                                        <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                                                        {{ 'PRICEBOOKS.DETAIL.HEADER_PRODUCT_INACTIVE_MSG' | translate | configuredEntityName}}
                                                    </span>
                                                </div>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg details-section col-md-12 align-self-start">
                                    <div class="row">
                                        <div class="col-xl col-lg-6 col-md-6 col-sm-6 mb-xl-0 mb-lg-3 mb-md-0 mb-sm-3 mb-1 header-value col-header">
                                            <div class="row">
                                                <div class="col-sm-12 col-header-label col-created-label">
                                                    <label>{{ 'PRICEBOOKS.DETAIL.HEADER_CREATED' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0" id="lblCreatedDate">
                                                        {{priceBook.created | date:'medium' }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mt-1 mt-sm-2 col-header">
                                                <div class="col-sm-12 col-header-label col-created-label">
                                                    <label>{{ 'PRICEBOOKS.DETAIL.HEADER_CREATED_BY' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">
                                                        {{priceBook.createdByName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl col-lg-6 col-md-6 col-sm-6 mb-xl-0 mb-lg-3 mb-md-0 mb-sm-3 mb-1 header-value col-header">
                                            <div class="row">
                                                <div class="col-sm-12 col-header-label">
                                                    <label>{{ 'PRICEBOOKS.DETAIL.HEADER_MODIFIED' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">
                                                        {{priceBook.modified | date:'medium' }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mt-1 mt-sm-2 col-header">
                                                <div class="col-sm-12 col-header-label">
                                                    <label>{{ 'PRICEBOOKS.DETAIL.HEADER_MODIFIED_BY' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">
                                                        {{priceBook.modifiedByName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-arrow col-lg">
                                    <div class="row">
                                        <div class="col-12">
                                            <button id="btn-back" class='btn btn-secondary mb-12px' type='button'
                                                (click)="backToList()">
                                                {{ 'PRICEBOOKS.DETAIL.BUTTON_BACK' | translate }}
                                            </button>
                                        </div>
                                        <div *ngIf="isEditPriceBook && !priceBook.isDefault" class="col-12">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle btn-action" type="button"
                                                    id="dropdownActionMenu" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    {{ 'PRICEBOOKS.DETAIL.BUTTON_ACTION' | translate }}
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownActionMenu">
                                                    <a id="link-change-status" (click)="onActionChangeStatus()"
                                                        class="dropdown-item menu--item">
                                                        <i class="fas fa-toggle-on" aria-hidden="true"></i>
                                                        {{'PRICEBOOKS.DETAIL.ACTION_TITLE_CHANGESTATUS' | translate }}
                                                    </a>
                                                    <a *ngIf="priceBook.isActive" id="link-Copy" (click)="copyPriceBook()"
                                                        class="dropdown-item menu--item">
                                                        <i class="far fa-copy" aria-hidden="true"></i>
                                                        {{'PRICEBOOKS.DETAIL.ACTION_TITLE_CREATE_COPY' | translate }}
                                                    </a>
                                                    <a *ngIf="isDeletePriceBook" id="link-delete" (click)="onDeletePriceBookClick(priceBook.id)"
                                                        class="dropdown-item menu--item">
                                                        <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                        {{'PRICEBOOKS.DETAIL.ACTION_TITLE_DELETE' | translate }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 align-self-end align-tags top-margin-tags">
                                    <div class="vertical-bottom flex-nowrap justify-content-between">
                                        <entity-tags-view [refreshEntityTag]="refreshEntityTag" [entityId]="priceBookId"
                                            [entityTypeId]="entityTypeId" [entityRecordTypeId]="entityRecordTypeId">
                                        </entity-tags-view>
                                        <div class="pt-3 pl-3 pe-2 d-flex bookmark-icon">
                                            <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="priceBookId" [isEditPermission]="isEditPriceBook"
                                                class="font-18" [isFromKanbanOrListView]="false">
                                            </ngx-bookmark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Body Start-->
    <div class="page-content container-fluid pr-0">
        <div class="row h---100vh w-100">
            <div class="col col-xl-8 col-lg-12 mb-xl-0 mb-2 pr-0 details-box">
                <!-- nav Tab Menu Start -->
                <div class="navTabs card-bottom-border border-0 p-card">
                    <div class="row width--100 border-bottom m-0 first-tabs">
                        
					<!-- Tab Section here -->
                       <ng-container>
                        <ngx-globle-nav-tab [navTabs]="navTabs" [isNativeTab]="isNativeTab"  (setTab)="checkTabCall($event,1)"
                            class="col tabs-mobile p-0" (closeTab)="closeNavTab($event)"
                            [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
                        <div class="col-auto edit-form-icon px-0">
                            <div *ngIf="isEditPriceBook && priceBook.isActive && !priceBook.isDefault">
                                <i class="fas fa-pencil-alt pencil-icon fa-lg clr-blue float-right cursor-pointer"
                                    id="btnEditTabDetail" (click)="showHideDetailTab('EDIT')"
                                    *ngIf="isReadOnly && !(['navPricebookItems' ,'navRelatedOpportunities', 'navHistory' ,'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel start -->
                            <div class="form-update-icons" *ngIf="!isReadOnly && !(['navPricebookItems' ,'navRelatedOpportunities', 'navHistory','additionalTabs','navDocuments'] | showHidePencilButton: activeTab)">
                                <i id="btn-cancel" *ngIf="isEditPriceBook && !priceBook.isDefault && priceBook.isActive"
                                    class="fas fa-times fa-lg dark-grey float-right mr-3"
                                    (click)="showHideDetailTab('CANCEL')" aria-hidden="true"></i>
                                <i *ngIf="isEditPriceBook && !priceBook.isDefault && priceBook.isActive" id="btn-save"
                                    class="fas fa-check fa-lg clr-blue float-right" (click)="showHideDetailTab('SAVE')" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel end -->
                        </div>
                    </div>

                    <!-- Tab Content Start -->
                    <form [hidden]="isAdditionalTab" [formGroup]="priceBookForm">
                        <div class="tab-content border-0 mt-0" id="priceBookDetailTabContent">
                            <!-- Details Start-->
                            <div class="tab-pane fade px-0 p-0" id="navDetails" role="tabpanel"
                                [ngClass]="selectedTab == 'navDetails' ? 'show active' : ''" name="navDetails"
                                aria-labelledby="navDetails-tab">

                                <!-- Basic Information Start-->
                                <div class="card border-0 m-0 pt-md-0 pt-3">
                                    <div class="card-header btn-card-edit py-0">
                                        <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">{{ 'PRICEBOOKS.DETAIL.TAB_DETAILS.BASIC_INFO' | translate }}</span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <div class='col-lg-6 col-md-12 form-group'>
                                                <label>
                                                    {{ 'PRICEBOOKS.DETAIL.TAB_DETAILS.NAME' | translate }}
                                                    <span class="mandatory"></span>
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{ priceBook.name ? priceBook.name : '&nbsp;' }}</div>
                                                <input #priceBookTxtName *ngIf="!isReadOnly" id="txt-name" type="text"
                                                    class="form-control" formControlName="name" [(ngModel)]="priceBook.name"
                                                    [ngClass]="{ 'is-invalid': priceBookfrm.name.errors && (priceBookfrm.name.dirty || priceBookfrm.name.touched)}" trimValue>
                                                <div *ngFor='let validation of priceBookValidationMessages.name'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='priceBookfrm.name.hasError(validation.type) && priceBookfrm.name.errors && (priceBookfrm.name.dirty || priceBookfrm.name.touched)'
                                                        id="errorNameIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-lg-3 col-sm-6 col-md-6 form-group'>
                                                <label>
                                                    {{'PRICEBOOKS.DETAIL.TAB_DETAILS.STARTDATE' | translate}}
                                                    <span class="mandatory"></span>
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text">
                                                    {{ priceBook.startDate == null ? '&nbsp;' : priceBook.startDate | dateFormatPipe: _commonHelper.globalDateFormate }}
                                                </div>
                                                <p-calendar *ngIf="!isReadOnly" id="dp-startDate" class="time-calendar"
                                                    formControlName="startDate" appendTo="body"
                                                    [dateFormat]="_commonHelper.globalDatePickerFormate"
                                                    [placeholder]="_commonHelper.globalDatePlaceholder"
                                                    [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false"
                                                    icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                                                    [monthNavigator]="true" [yearNavigator]="true" selectOtherMonths="true" [showTime]="false"
                                                    [minDate]="_commonHelper.globalMinDate"
                                                    [maxDate]="priceBookfrm.endDate.value != null ? priceBookfrm.endDate.value : _commonHelper.globalMaxDate " 
                                                    [yearRange]="_commonHelper.globalYearRange"
                                                    [ngClass]="{ 'is-invalid': priceBookfrm.startDate.errors && (priceBookfrm.startDate.dirty || priceBookfrm.startDate.touched)}">
                                                </p-calendar>
                                                <div *ngFor='let validation of priceBookValidationMessages.startDate' class='invalid-feedback'>
                                                    <div *ngIf='priceBookfrm.startDate.hasError(validation.type) && priceBookfrm.startDate.errors && (priceBookfrm.startDate.dirty || priceBookfrm.startDate.touched)' id="errorStartDateMustBeValidStartDate">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-lg-3 col-sm-6 col-md-6 form-group'>
                                                <label>
                                                    {{'PRICEBOOKS.DETAIL.TAB_DETAILS.ENDDATE' | translate}}
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text">
                                                    {{ priceBook.endDate == null ? '&nbsp;' : priceBook.endDate | dateFormatPipe: _commonHelper.globalDateFormate }}
                                                </div>
                                                <p-calendar *ngIf="!isReadOnly" id="dp-endDate" class="time-calendar"
                                                    formControlName="endDate" appendTo="body"
                                                    [dateFormat]="_commonHelper.globalDatePickerFormate"
                                                    [placeholder]="_commonHelper.globalDatePlaceholder"
                                                    [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false"
                                                    icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                                                    [monthNavigator]="true" [yearNavigator]="true" selectOtherMonths="true" [showTime]="false"
                                                    [minDate]="priceBookfrm.startDate.value != null ? priceBookfrm.startDate.value : _commonHelper.globalMinDate "
                                                    [maxDate]="_commonHelper.globalMaxDate"
                                                    [yearRange]="_commonHelper.globalYearRange"
                                                    [ngClass]="{ 'is-invalid': priceBookfrm.endDate.errors && (priceBookfrm.endDate.dirty || priceBookfrm.endDate.touched)}">
                                                </p-calendar>
                                                <div *ngFor='let validation of priceBookValidationMessages.endDate' class='invalid-feedback'>
                                                    <div *ngIf='priceBookfrm.endDate.hasError(validation.type) && priceBookfrm.endDate.errors && (priceBookfrm.endDate.dirty || priceBookfrm.endDate.touched)' id="errorEndDateMustBeValidEndDate">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-xl-12 form-group'>
                                                <label>
                                                    {{ 'PRICEBOOKS.DETAIL.TAB_DETAILS.DESCRIPTION' | translate }}
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{ priceBook.description ? priceBook.description : '&nbsp;' }}</div>
                                                <textarea *ngIf="!isReadOnly" id="txt-description" class="form-control" rows="3" 
                                                    formControlName="description" [(ngModel)]="priceBook.description"
                                                    [ngClass]="{ 'is-invalid': priceBookfrm.description.errors && (priceBookfrm.description.dirty || priceBookfrm.description.touched)}" trimValue>
                                                </textarea>
                                                <div *ngFor='let validation of priceBookValidationMessages.description'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='priceBookfrm.description.hasError(validation.type) && priceBookfrm.description.errors && (priceBookfrm.description.dirty || priceBookfrm.description.touched)'
                                                        id="errorDescriptionIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Details End-->

                            <!-- Custom Start-->
                            <div class="tab-pane fade px-0 pt-0" name="navCustom"
                                [ngClass]="selectedTab == ('nav' + tab.tabName | removeWhiteSpace) ? 'show active' : ''"
                                *ngFor="let tab of formDataJSON; let i = index"
                                id="{{ 'nav' + tab.tabName | removeWhiteSpace }}" role="tabpanel"
                                aria-labelledby="navCustom-tab">
                                <!-- Section Start-->
                                <div class='card border-0 m-0 pt-md-0 pt-3'
                                    *ngFor="let section of tab.sections; let j = index">
                                    <div class="card-header btn-card-edit py-0">
                                        <span *ngIf="section.sectionName"
                                            class="vertical-center py-md-3 pt-0 pb-3 line-height-1">
                                            {{ section.sectionName }}
                                        </span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <ngx-custom-field [formGroup]="priceBookForm" [section]="section"
                                                [controls]="section.controls"
                                                [customFieldJSONData]="priceBook.customFieldJSONData"
                                                [isReadOnly]="isReadOnly" [submitted]="submitted"
                                                [currencySymbol]="currencySymbol" [refreshTabularDataSource]="refreshCustomFieldDatasource"
                                                [entityID]="priceBookId" [entityTypeID]="entityTypeId" [entityRecordTypeID]="entityRecordTypeId"></ngx-custom-field>
                                        </div>
                                    </div>
                                </div>
                                <!-- Section End-->
                            </div>
                            <!-- Custom End-->

                            <!-- Related PriceBook Items Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navPricebookItems" role="tabpanel" [ngClass]="selectedTab == 'navPricebookItems' ? 'show active' : ''"
                                aria-labelledby="navPricebookItems-tab" name="navPricebookItems">
                                <div class="mb-3 vertical-center justify-content-between dropdown-with-add flex-md-nowrap flex-wrap">
                                    <div class="static-dropdown-width filter-price-book-item order-md-1 order-2">
                                        <div class="p-input-icon-right w-100">
                                            <i class="pi pi-search" aria-hidden="true"></i>
                                            <input #searchBoxInput pInputText type="text" id="txt-search-text"
                                                class="w-100 customInputText form-control" size="50"
                                                (keyup)="search($event.target.value)" />
                                        </div>
                                    </div>
                                    <div *ngIf="isEditPriceBook && !priceBook.isDefault && priceBook.isActive" class="mt-md-1 mb-md-0 mb-3 vertical-center filter-price-book-item justify-content-end order-md-2 order-1">
                                        <button *ngIf="!priceBookItemsEditable" type="button" id="btn-add-priceBookItems"
                                            class="btn btn-primary" (click)="addPriceBookItems()">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        </button>
                                        <button *ngIf="!priceBookItemsEditable && (priceBookItems && priceBookItems.length > 0)" id="btn-changePrices" class='btn btn-primary ml-3' type='button' (click)="onPriceBookItemsEditToggle()">
                                            <i class="fas fa-exchange-alt me-1" aria-hidden="true"></i> {{ 'PRICEBOOKS.DETAIL.TAB_PRICEBOOKITEMS.BUTTON_TOGGLE_EDIT' | translate }}
                                        </button>
                                        <div class="w-auto ml-3" *ngIf="priceBookItemsEditable">
                                            <button id="btn-cancelPrices" class='btn btn-secondary mr-2' type='button' (click)="onPriceBookItemsEditCancle()">
                                                {{ 'PRICEBOOKS.DETAIL.TAB_PRICEBOOKITEMS.BUTTON_TOGGLE_CANCLE' | translate }}
                                            </button>
                                            <button id="btn-savePrices" class='btn btn-primary' type='button' (click)="saveEditedItems()">
                                                {{ 'PRICEBOOKS.DETAIL.TAB_PRICEBOOKITEMS.BUTTON_TOGGLE_SAVE' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tbl-pricebookItems-list tbl-entity">
                                    <ng-container *ngIf="oncePricebookItemsClicked">
                                        <ngx-tab-level-loader *ngIf="isShowLoaderForPriceBookItem"></ngx-tab-level-loader>
                                        <p-table #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
                                            [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="pricebookItemCols"
                                            [value]="priceBookItems" sortField="productName" class="tbl-priceBookItems-list" [sortOrder]="1" [lazy]="true"
                                            [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true" [paginator]="totalRecords > 0"
                                            [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''" [scrollHeight]="'calc(100vh - 248px)'" paginatorDropdownAppendTo="body"
                                            (onPage)="paginate($event)">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" id="tblColumnHeader" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                                                        [pSortableColumnDisabled]="!col.sort" class="{{col.field}} {{col.class}}" scope="col"
                                                        (click)="changeOrder(col)">
                                                        {{ col.header | translate  | configuredEntityName}}
                                                        <i *ngIf="col.field == 'uomName'" class="fas fa-info-circle dark-grey ml-1 info-tooltip"
                                                            ngbTooltip="Unit Of Measurement" placement="top top-left" container="body"
                                                            aria-hidden="true"></i>
                                                        <p-sortIcon [field]="col.field" *ngIf="col.sort" id="iconSort"></p-sortIcon>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr>
                                                    <td class="productName">
                                                        <span class="p-column-title">
                                                            {{columns[0].header | translate | configuredEntityName}}
                                                        </span>
                                                        <a [routerLink]="'/products/details/' + (rowData?.productID ?? '')"
                                                            [ngClass]="this.isViewProduct ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">
                                                            {{rowData.productName}}
                                                        </a>
                                                    </td>
                                                    <td class="productSkuName">
                                                        <span class="p-column-title">
                                                            {{columns[1].header | translate}}
                                                        </span>
                                                        <a [routerLink]="'/productskus/details/' + (rowData?.productSkuID ?? '')"
                                                            [ngClass]="this.isViewProductSku ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">
                                                            {{rowData.productSkuName}}
                                                        </a>
                                                    </td>
                                                    <td class="productSku">
                                                        <span class="p-column-title">
                                                            {{columns[2].header | translate}}
                                                        </span>
                                                        <span class="w-100 d-flex">{{rowData.productSku}}</span>
                                                    </td>
                                                    <td class="uomName">
                                                        <span class="p-column-title">
                                                            {{columns[3].header | translate}}
                                                            <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" ngbTooltip="Unit Of Measurement"
                                                                placement="top top-left" container="body" aria-hidden="true"></i>
                                                        </span>
                                                        <span class="w-100 d-flex">{{rowData.uomName}}</span>
                                                    </td>
                                                    <td class="price pr-5">
                                                        <span class="p-column-title">
                                                            {{columns[4].header | translate}}
                                                        </span>
                                                        <span *ngIf="!priceBookItemsEditable"
                                                            class="w-100 d-flex justify-content-end">{{(currencySymbol)+(rowData.price | number:'1.2-2')
                                                            }}</span>
                                                        <ng-container *ngIf="priceBookItemsEditable">
                                                            <div class="inner-addon left-addon">
                                                                <span>{{currencySymbol}}</span>
                                                                <input type="text" id="txt-price" class="form-control ht--40 text-right" name="price"
                                                                    [(ngModel)]="rowData.price" maxlength="18" mask="separator.2" thousandSeparator=","
                                                                    trimValue [disabled]="!rowData.isEditable"
                                                                    [ngClass]="{ 'is-invalid': (rowData.price != null  ? rowData.price : 0) > 99999999999999}"
                                                                    [ngModelOptions]="{standalone: true}" (change)="afterEditPrice(rowData)">
                                                                <div class='invalid-feedback'>
                                                                    <div *ngIf="(rowData.price != null  ? rowData.price : 0) > 99999999999999"
                                                                        id="errorPriceValidation">
                                                                        {{ "PRICEBOOKS.DETAIL.TAB_PRICEBOOKITEMS.MESSAGE_PRICE_MAX" | translate}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                    </td>
                                                    <td class="status">
                                                        <span class="p-column-title">
                                                            {{columns[5].header | translate}}
                                                        </span>
                                                        <span [ngClass]="rowData.isActive == true ? 'bg-primary' : 'bg-danger'"
                                                            class="h-21 badge badge--status mr-2" id="badgeActiveInactive">
                                                            {{ rowData.isActive | active }}
                                                        </span>
                                                    </td>
                                                    <td class="id action">
                                                        <div *ngIf="isEditPriceBook && rowData.isActive && !priceBook.isDefault"
                                                            class="dropdown text-right">
                                                            <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm" type="button"
                                                                id="drp-action" data-bs-toggle="dropdown" aria-expanded="false">
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drp-action">
                                                                <li>
                                                                    <a id="link-Delete" class="dropdown-item"
                                                                        (click)="onDeletePriceBookItemClick(rowData.id)">
                                                                        <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                                        {{ 'PRICEBOOKS.DETAIL.TAB_PRICEBOOKITEMS.BUTTON_REMOVE' | translate }}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="paginatorleft">
                                                <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
                                            </ng-template>
                                            <ng-template pTemplate="paginatorright">
                                                <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text" id="paginatorLeftPage"
                                                    (click)="prev()" [disabled]="end == pricebookItemsPagingParams.pageSize">
                                                </p-button>
                                                <input type="number" min="1" [max]="totalPages" [(ngModel)]="pricebookItemsPagingParams.pageNo"
                                                    [ngModelOptions]="{standalone: true}" id="paginatorInputPage" (change)="changePage()"
                                                    class="pageNoInput"> /
                                                <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                                                <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text" id="paginatorRightPage"
                                                    (click)="next()" [disabled]="end == totalRecords"></p-button>
                                                <p-button type="button" icon="pi pi-undo" styleClass="p-button-text" id="paginatorResetButton"
                                                    (click)="resetPaginator()" [disabled]="end == pricebookItemsPagingParams.pageSize"></p-button>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage" let-columns>
                                                <tr>
                                                    <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
                                                        {{ 'PRICEBOOKS.DETAIL.TAB_PRICEBOOKITEMS.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- Related PriceBook Items END-->

                            <!-- Related Opportunities Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navRelatedOpportunities" role="tabpanel" [ngClass]="selectedTab == 'navRelatedOpportunities' ? 'show active' : ''"
                              aria-labelledby="navRelatedOpportunities-tab" name="navRelatedOpportunities">
                              <div class="table-responsive">
                                  <ng-container *ngIf="onceRelatedOpportunitiesClicked">
                                      <app-dynamic-table
                                          *ngIf="!refreshRelatedOpportunities; else refreshChildComponent('RelatedOpportunities')"
                                          [code]="'RELATED_OPPORTUNITIES'" [parameters]="tblRelatedOpportunitiesParameters">
                                      </app-dynamic-table>
                                  </ng-container>
                              </div>
                            </div>
                            <!-- Related Opportunities End-->

                            <!-- Stage/Pause history Start-->
                            <div class="tab-pane fade" id="navHistory" role="tabpanel" [ngClass]="selectedTab == 'navHistory' ? 'show active' : ''"
                                aria-labelledby="navHistory-tab" name="navHistory">
                                <ng-container *ngIf="onceStageHistoryClicked">
                                    <ngx-history-tab [entityWorkflowId]="null" [entityTypeId]="entityTypeId" [entityId]="priceBookId" [hoursInDay]="hoursInDay" [refreshStageHistory]="refreshStageHistory" [refreshActivityHistory]="refreshActivityHistory"></ngx-history-tab>
                                </ng-container>
                            </div>
                            <!-- Stage/Pause history End-->

                            <!-- Document Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navDocuments" role="tabpanel"
                                [ngClass]="selectedTab == 'navDocuments' ? 'show active' : ''" aria-labelledby="navDocuments-tab"
                                name="navDocuments">
                                <ng-container *ngIf="onceDocumentClicked">
                                    <ngx-entity-documents [entityID]="priceBookId" class="entity-documents" [entityTypeID]="entityTypeId"
                                        [isDocumentDownloadPermission]="isDocumentDownloadPermission && priceBook.isActive && !priceBook.isDefault"
                                        [isEditPermission]="isEditPriceBook && priceBook.isActive && !priceBook.isDefault"
                                        [refreshFromParent]="refreshActivityHistory"
                                        (refreshDocuments)="setRefreshDocument()">
                                    </ngx-entity-documents>
                                </ng-container>
                            </div>
                            <!-- Document End-->
                        </div>
                    </form>
                    <!-- Tab Content END -->
                    <div *ngIf="isAdditionalTab">
                        <!-- Tab Additional here -->
                        <ng-container>
                            <ngx-globle-nav-tab [isNativeTab]="isNativeTab" [isAdditionalTab]="isAdditionalTab" [navTabs]="navTabsMore" (setTab)="checkTabCall($event,0)"
                                class="col-12 p-0" (closeTab)="closeNavTab($event)"
                                [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
                    </div>
                    <!-- Tab Other Tabs Link -->
                </div>
            </div>
            <activity-section 
                [entityTypeId]="entityTypeId" 
                [entityId]="priceBookId" 
                [isTagRequired]="true"
                [isEditPermission]="isEditPriceBook && !priceBook.isDefault"
                [isActive]="priceBook.isActive" 
                [isDocumentRequired]="true"
                [refreshDocument]="refreshDocument"
                [refreshActivity]="refreshActivity" 
                [entityRecordTypeId]="entityRecordTypeId" 
                [isDocumentDownloadPermission]="isDocumentDownloadPermission && priceBook.isActive && !priceBook.isDefault"
                (isTagListUpdated)="setRefreshEntityTag()" 
                (isActivityListUpdated)="setRefreshActivityHistory()" 
                class="col-xl-4 col-md-12 common-box pr-0" 
                [createdBy]="priceBook?.createdBy"
                [privacyLevel]="null">
            </activity-section>
        </div>
    </div>
    <!-- Body End-->
</div>