<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!newsletterForm && !isInitialLoading && hasPermission">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
                <div class="subtitle mt-0">{{'CRM.NEWSLETTER.DETAIL.MESSAGE_NEWSLETTER_NOT_EXISTS' | translate |
                    configuredEntityName}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-containted detail-newsletter" *ngIf="isLoaded && newsletterForm && hasPermission">
    <!-- Header Start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-10px">
                <div class="detail-header h-100">
                    <div class="page-content card border-0 mb-0 h-100">
                        <div class="card-body p-card">
                            <div class="row vertical-center h-100">
                                <div class="col-xl col-lg-5 col-md-12 mb-3 mb-lg-0 mb-sm-4 d-flex align-self-start">
                                    <div class="float-left text-center">
                                        <div id="entity-icon" class="entity-icon">
                                            <i class="fas fa-newspaper" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="stage-details float-start">
                                        <p class="m-0">
                                            <span class="card-title mb-1">
                                                <label id="headingEntity">{{ 'CRM.NEWSLETTER.DETAIL.TITLE' | translate | configuredEntityName }}</label>
                                                <div class="overflow-box">
                                                    <strong id="nameEntity" class="pre-text">{{newsletterName}}</strong>
                                                </div>
                                                <div>
                                                    <span id="entityRating" class="mt-2 h-21 mr-2 vertical-center">
                                                        <entity-review-display [entityTypeId]="entityTypeId" [entityId]="newsletterId" [isFromKanbanOrListView]="false"
                                                            [isEditPermission]="isEditNewsletter && !(newsletter.isPaused ?? false)">
                                                        </entity-review-display>
                                                    </span>
                                                    <span *ngIf="newsletter.entityRecordTypeName!=null" class="mt-2 mb-2 h-21 badge badge-primary badge--status mr-2" id="badgeEntityRecordType">
                                                        {{newsletter.entityRecordTypeName}}
                                                    </span>
                                                    <span
                                                        [ngClass]="newsletter.isActive == true ? 'bg-primary' : 'bg-danger'"
                                                        class="mt-2 h-21 badge badge--status" id="badgeActiveInactive">
                                                        {{ newsletter.isActive | active }}
                                                    </span>
                                                </div>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg details-section col-md-12 align-self-start">
                                    <div class="row">
                                        <div class="col-xl col-lg-6 col-md-6 col-sm-6 mb-xl-0 mb-lg-3 mb-md-0 mb-sm-3 mb-1 header-value col-header">
                                            <div class="row">
                                                <div class="col-sm-12 col-header-label col-created-label">
                                                    <label>{{ 'CRM.NEWSLETTER.DETAIL.HEADER_CREATED' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0" id="lblCreatedDate">
                                                        {{newsletter.created | date:'medium' }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mt-1 mt-sm-2 col-header">
                                                <div class="col-sm-12 col-header-label col-created-label">
                                                    <label>{{ 'CRM.NEWSLETTER.DETAIL.HEADER_CREATED_BY' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">
                                                        {{newsletter.createdByName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl col-lg-6 col-md-6 col-sm-6 mb-xl-0 mb-lg-3 mb-md-0 mb-sm-3 mb-1 header-value col-header">
                                            <div class="row">
                                                <div class="col-sm-12 col-header-label">
                                                    <label>{{ 'CRM.NEWSLETTER.DETAIL.HEADER_MODIFIED' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">
                                                        {{newsletter.modified | date:'medium' }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mt-1 mt-sm-2 col-header">
                                                <div class="col-sm-12 col-header-label">
                                                    <label>{{ 'CRM.NEWSLETTER.DETAIL.HEADER_MODIFIED_BY' | translate}}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">
                                                        {{newsletter.modifiedByName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-arrow col-lg">
                                    <div class="row">
                                        <div class="col-12">
                                            <button id="btn-back" class='btn btn-secondary mb-12px' type='button'
                                                (click)="backToList()">
                                                {{ 'CRM.NEWSLETTER.DETAIL.BUTTON_BACK' | translate }}
                                            </button>
                                        </div>
                                        <div *ngIf="isEditNewsletter" class="col-12">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle btn-action" type="button"
                                                    id="dropdownActionMenu" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    {{ 'CRM.NEWSLETTER.DETAIL.BUTTON_ACTION' | translate }}
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownActionMenu">
                                                    <a id="link-change-status" (click)="onActionChangeStatus()"
                                                        class="dropdown-item menu--item">
                                                        <i class="fas fa-toggle-on" aria-hidden="true"></i>
                                                        {{'CRM.NEWSLETTER.DETAIL.ACTION_TITLE_CHANGESTATUS' | translate }}
                                                    </a>
                                                    <a *ngIf="isDeleteNewsletter" id="link-delete" (click)="onDeleteNewsletterClick(newsletter.id)"
                                                        class="dropdown-item menu--item">
                                                        <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                        {{'CRM.NEWSLETTER.DETAIL.ACTION_TITLE_DELETE' | translate }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 align-self-end align-tags top-margin-tags">
                                    <div class="vertical-bottom flex-nowrap justify-content-between">
                                        <entity-tags-view [refreshEntityTag]="refreshEntityTag" [entityId]="newsletterId"
                                            [entityTypeId]="entityTypeId" [entityRecordTypeId]="entityRecordTypeId">
                                        </entity-tags-view>
                                
                                        <div class="pt-3 pl-3 pe-2 d-flex bookmark-icon">
                                            <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="newsletterId" [isEditPermission]="isEditNewsletter"
                                                class="font-18" [isFromKanbanOrListView]="false">
                                            </ngx-bookmark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Body Start-->
    <div class="page-content container-fluid pr-0">
        <div class="row h---100vh w-100">
            <div class="col col-xl-8 col-lg-12 mb-xl-0 mb-2 pr-0 details-box">
                <!-- nav Tab Menu Start -->
                <div class="navTabs card-bottom-border border-0 p-card">
                    <div class="row width--100 border-bottom m-0 first-tabs">
                      <!-- Tab Section here -->
                        <ng-container>
                        <ngx-globle-nav-tab [navTabs]="navTabs" [isNativeTab]="isNativeTab"  (setTab)="checkTabCall($event,1)"
                            class="col tabs-mobile p-0" (closeTab)="closeNavTab($event)" 
                            [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
						
                        <div class="col-auto edit-form-icon px-0">
                            <div *ngIf="isEditNewsletter && newsletter.isActive">
                                <i class="fas fa-pencil-alt pencil-icon fa-lg clr-blue float-right cursor-pointer"
                                    id="btnEditTabDetail" (click)="showHideDetailTab('EDIT')"
                                    *ngIf="isReadOnly && !(['navRelatedCampaigns', 'navHistory','additionalTabs','navDocuments'] | showHidePencilButton: activeTab)" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel start -->
                            <div class="form-update-icons" *ngIf="!isReadOnly && !(['navRelatedCampaigns', 'navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)">
                                <i id="btn-cancel" *ngIf="isEditNewsletter && newsletter.isActive"
                                    class="fas fa-times fa-lg dark-grey float-right mr-3"
                                    (click)="showHideDetailTab('CANCEL')" aria-hidden="true"></i>
                                <i *ngIf="isEditNewsletter && newsletter.isActive" id="btn-save"
                                    class="fas fa-check fa-lg clr-blue float-right" (click)="showHideDetailTab('SAVE')" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel end -->
                        </div>
                    </div>

                    <!-- Tab Content Start -->
                    <form [hidden]="isAdditionalTab"  [formGroup]="newsletterForm">
                        <div class="tab-content border-0 mt-0" id="newsletterDetailTabContent">
                            <!-- Details Start-->
                            <div class="tab-pane fade px-0 p-0" id="navDetails" role="tabpanel"
                                [ngClass]="selectedTab == 'navDetails' ? 'show active' : ''" name="navDetails"
                                aria-labelledby="navDetails-tab">

                                <!-- Basic Information Start-->
                                <div class="card border-0 m-0 pt-md-0 pt-3">
                                    <div class="card-header btn-card-edit py-0">
                                        <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">{{ 'CRM.NEWSLETTER.DETAIL.TAB_DETAILS.BASIC_INFO' | translate }}</span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <div class='col-lg-4 col-sm-6 form-group'>
                                                <label>{{ 'CRM.NEWSLETTER.DETAIL.TAB_DETAILS.NAME' | translate }}<span class="mandatory"></span></label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{ newsletter.name ? newsletter.name : '&nbsp;' }}</div>
                                                <input #newsletterTxtName *ngIf="!isReadOnly" id="txt-name" type="text"
                                                    class="form-control" formControlName="name" [(ngModel)]="newsletter.name"
                                                    [ngClass]="{ 'is-invalid': newsletterfrm.name.errors && (newsletterfrm.name.dirty || newsletterfrm.name.touched)}" trimValue>
                                                <div *ngFor='let validation of newsletterValidationMessages.name'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='newsletterfrm.name.hasError(validation.type) && newsletterfrm.name.errors && (newsletterfrm.name.dirty || newsletterfrm.name.touched)'
                                                        id="errorNameIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-lg-8 col-sm-6 form-group'>
                                                <label>
                                                    {{ 'CRM.NEWSLETTER.DETAIL.TAB_DETAILS.DESCRIPTION' | translate }}
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    newsletter.description ? newsletter.description : '&nbsp;' }}</div>
                                                <input *ngIf="!isReadOnly" id="txt-description"
                                                    type="text" class="form-control" formControlName="description" [(ngModel)]="newsletter.description"
                                                    [ngClass]="{ 'is-invalid': newsletterfrm.description.errors && (newsletterfrm.description.dirty || newsletterfrm.description.touched)}" trimValue>
                                                <div *ngFor='let validation of newsletterValidationMessages.description'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='newsletterfrm.description.hasError(validation.type) && newsletterfrm.description.errors && (newsletterfrm.description.dirty || newsletterfrm.description.touched)'
                                                        id="errorDescriptionIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-lg-4 col-sm-6 form-group'>
                                                <label>{{ 'CRM.NEWSLETTER.DETAIL.TAB_DETAILS.LABEL_TITLE' | translate }}</label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{
                                                    newsletter.title ? newsletter.title : '&nbsp;' }}</div>
                                                <input *ngIf="!isReadOnly" id="txt-title"
                                                    type="text" class="form-control" formControlName="title" [(ngModel)]="newsletter.title"
                                                    [ngClass]="{ 'is-invalid': newsletterfrm.title.errors && (newsletterfrm.title.dirty || newsletterfrm.title.touched)}" trimValue>
                                                <div *ngFor='let validation of newsletterValidationMessages.title'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='newsletterfrm.title.hasError(validation.type) && newsletterfrm.title.errors && (newsletterfrm.title.dirty || newsletterfrm.title.touched)'
                                                        id="errorTitleIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-6 form-group'>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Details End-->

                            <!-- Contents Tab Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navContents" role="tabpanel" [ngClass]="selectedTab == 'navContents' ? 'show active' : ''"
                                aria-labelledby="navContents-tab" name="navContent">
                                <div class="card border-0 m-0 pt-0 px-0">
                                    <!-- <div class="card-header btn-card-edit py-0">
                                        <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">{{ 'CRM.NEWSLETTER.DETAIL.TAB_CONTENTS.CONTENT_INFO' | translate }}</span>
                                    </div> -->
                                    <div class='card-body pt-0'>
                                        <div class='row'>
                                            <div class='col-md-12 col-sm-12 form-group'>
                                                <label>{{ 'CRM.NEWSLETTER.DETAIL.TAB_CONTENTS.CONTENT' | translate }}</label>
                                                <div *ngIf="isReadOnly" class="disable-text h-100-box" style="align-items: normal;">
                                                    <iframe width="100%" height="100%" [srcdoc]="newsletter.bodyText | safehtml" title="newsletterDescription"></iframe>
                                                </div>
                                                <editor apiKey="{{_commonHelper.globalTinymceApiKey}}" *ngIf="!isReadOnly" [(ngModel)]="newsletter.bodyText" formControlName="bodyText" id="txt-content" class="editor-description-iframe"
                                                    [ngClass]="{ 'is-invalid': newsletterfrm.bodyText.errors && (newsletterfrm.bodyText.dirty || newsletterfrm.bodyText.touched) }"
                                                    [ngModelOptions]="{standalone: true}" [init]="tinyMcaConfig">
                                                </editor>
                                                <div *ngFor='let validation of newsletterValidationMessages.bodyText'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='newsletterfrm.bodyText.hasError(validation.type) && newsletterfrm.bodyText.errors && (newsletterfrm.bodyText.dirty || newsletterfrm.bodyText.touched)'
                                                        id="errorBodyTextIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Contents Tab End-->

                            <!-- Related Campaigns Tab Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navRelatedCampaigns" role="tabpanel" [ngClass]="selectedTab == 'navRelatedCampaigns' ? 'show active' : ''" name="navRelatedCampaigns"
                                aria-labelledby="navRelatedCampaigns-tab">
                                <div *ngIf="isEditNewsletter && newsletter.isActive" class="mb-3 vertical-center justify-content-end dropdown-with-add">
                                    <div>
                                        <ngx-control-level-loading-bar *ngIf="isShowAvailableRelatedCampaignsLoader"></ngx-control-level-loading-bar>
                                        <p-dropdown #relatedCampaignDrp class="form-control static-dropdown-width text-left mb-0"
                                            id="drp-relatedCampaign" [options]="availableRelatedCampaigns" [(ngModel)]="selectedCampaign" [ngModelOptions]="{standalone: true}"
                                            placeholder="{{'CRM.NEWSLETTER.DETAIL.TAB_RELATEDCAMPAIGN.ADD_RELATEDCAMPAIGNS_PLACEHOLDER' | translate| configuredEntityName}}"
                                            (onFilter)="relatedCampaignsOnFilter($event)" (onChange)="relatedCampaignsOnChange($event)" 
                                            [filter]="true" [resetFilterOnHide]="false" [showClear]="true" optionLabel="name" optionValue="id">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <ng-container *ngIf="onceRelatedCampaignClicked">
                                        <app-dynamic-table class="tbl-related-campaigns"
                                            *ngIf="!refreshRelatedCampaigns; else refreshChildComponent('RelatedCampaigns')"
                                            [code]="'NEWSLETTER_RELATED_CAMPAIGNS'" [parameters]="tbRelatedCampaignsParams"
                                            (onDeleteClick)="deleteRelatedCampaign($event)">
                                        </app-dynamic-table>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- Related Campaigns Tab End-->

                            <!-- Stage/Pause history Start-->
                            <div class="tab-pane fade" id="navHistory" role="tabpanel" [ngClass]="selectedTab == 'navHistory' ? 'show active' : ''"
                                aria-labelledby="navHistory-tab" name="navHistory">
                                <ng-container *ngIf="onceStageHistoryClicked">
                                    <ngx-history-tab [entityWorkflowId]="null" [entityTypeId]="entityTypeId" [entityId]="newsletterId"
                                        [hoursInDay]="hoursInDay" [refreshStageHistory]="refreshStageHistory"
                                        [refreshActivityHistory]="refreshActivityHistory"></ngx-history-tab>
                                </ng-container>
                            </div>
                            <!-- Stage/Pause history End-->
                            
                            <!-- Custom Start-->
                            <div class="tab-pane fade px-0 pt-0" name="navCustom"
                                [ngClass]="selectedTab == ('nav' + tab.tabName | removeWhiteSpace) ? 'show active' : ''"
                                *ngFor="let tab of formDataJSON; let i = index"
                                id="{{ 'nav' + tab.tabName | removeWhiteSpace }}" role="tabpanel"
                                aria-labelledby="navCustom-tab">
                                <!-- Section Start-->
                                <div class='card border-0 m-0 pt-md-0 pt-3'
                                    *ngFor="let section of tab.sections; let j = index">
                                    <div class="card-header btn-card-edit py-0">
                                        <span *ngIf="section.sectionName"
                                            class="vertical-center py-md-3 pt-0 pb-3 line-height-1">
                                            {{ section.sectionName }}
                                        </span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <ngx-custom-field [formGroup]="newsletterForm" [section]="section"
                                                [controls]="section.controls"
                                                [customFieldJSONData]="newsletter.customFieldJSONData"
                                                [isReadOnly]="isReadOnly" [submitted]="submitted"
                                                [currencySymbol]="currencySymbol" [refreshTabularDataSource]="refreshCustomFieldDatasource"
                                                [entityID]="newsletterId" [entityTypeID]="entityTypeId" [entityRecordTypeID]="entityRecordTypeId"></ngx-custom-field>
                                        </div>
                                    </div>
                                </div>
                                <!-- Section End-->
                            </div>
                            <!-- Custom End-->

                            <!-- Document Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navDocuments" role="tabpanel"
                                [ngClass]="selectedTab == 'navDocuments' ? 'show active' : ''" aria-labelledby="navDocuments-tab"
                                name="navDocuments">
                                <ng-container *ngIf="onceDocumentClicked">
                                    <ngx-entity-documents [entityID]="newsletterId" class="entity-documents" [entityTypeID]="entityTypeId"
                                        [isDocumentDownloadPermission]="isDocumentDownloadPermission && newsletter.isActive"
                                        [isEditPermission]="isEditNewsletter && newsletter.isActive"
                                        [refreshFromParent]="refreshActivityHistory"
                                        (refreshDocuments)="setRefreshDocument()">
                                    </ngx-entity-documents>
                                </ng-container>
                            </div>
                            <!-- Document End-->
                        </div>
                    </form>
                    <!-- Tab Content END -->
                    <div *ngIf="isAdditionalTab">
                        <!-- Tab Additional here -->
                        <ng-container>
                            <ngx-globle-nav-tab [isNativeTab]="isNativeTab" [isAdditionalTab]="isAdditionalTab" [navTabs]="navTabsMore" (setTab)="checkTabCall($event,0)"
                                class="col-12 p-0" (closeTab)="closeNavTab($event)"
                                [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navHistory', 'additionalTabs', 'navDocuments'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
                    </div>
                    <!-- Tab Other Tabs Link -->
                </div>
            </div>
            <activity-section 
                [entityTypeId]="entityTypeId" 
                [entityId]="newsletterId" 
                [isTagRequired]="true"
                [isEditPermission]="isEditNewsletter"
                [isActive]="newsletter.isActive"
                [isDocumentRequired]="true" 
                [isDocumentDownloadPermission]="isDocumentDownloadPermission && newsletter.isActive"
                [refreshDocument]="refreshDocument"
                [refreshActivity]="refreshActivity" 
                [entityRecordTypeId]="entityRecordTypeId"
                (isTagListUpdated)="setRefreshEntityTag()" 
                (isActivityListUpdated)="setRefreshActivityHistory()" 
                class="col-xl-4 col-md-12 common-box pr-0" 
                [createdBy]="newsletter?.createdBy"
                [privacyLevel]="null">
            </activity-section>
        </div>
    </div>
    <!-- Body End-->
</div>