<ng-container>
  <div class="bookmark bookmark-size" (click)="onClickBookMark();stopPropagation($event)" ngbTooltip="{{'ACTIVITY.ENTITYBOOKMARK.TOOLTIP' | translate}}" placement="top auto" container="body">
    <ng-container *ngIf="isStarred; then bookmarkOn; else bookmarkOff">
    </ng-container>
    <ng-template #bookmarkOff>
      <i class="fa-regular fa-bookmark font-14" [ngClass]="[isEditPermission ? 'cursor-pointer bookmark-off' : 'cursor-default dark-grey']"></i>
    </ng-template>
    <ng-template #bookmarkOn>
      <span class="d-inline-block position-relative">
        <i class="fa-solid fa-bookmark clr-orange font-14" [ngClass]="[isEditPermission ? 'cursor-pointer' : 'cursor-default']"></i>
        <i class="fa-solid fa-star star-icon"></i>
      </span>
    </ng-template>
  </div>
</ng-container>