.bookmark-off{ color: var(--surface-400); }
.bookmark-off:hover{ color: var(--surface-600); }
.bookmark-size { max-width: 11px; }
::ng-deep .bookmark-quick-view .bookmark-size, .align-tags .bookmark-size { max-width: initial; }