<div *ngIf="!isValidUser && !isLoading" id="reset-password">
    <div id="reset-password-form-wrapper">
        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/LogoSmall.png" alt="">
        </div>
        <div id="reset-password-form">
            <div class="title"> {{ 'RESET_PASSWORD_DIALOG.TITLE' | translate }}</div>
            <div class="alert alert-danger">{{ 'RESET_PASSWORD_DIALOG.MESSAGE_PASSWORD_LINK_EXPIRED' | translate }}</div>
            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a id="link-go-back-to-login" class="link dark-blue" [routerLink]="'/auth/login'">{{ 'RESET_PASSWORD_DIALOG.GO_BACK_TO_LOGIN' | translate }}</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isValidUser" id="reset-password">
    <div id="reset-password-form-wrapper">
        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/LogoSmall.png" alt="">
        </div>
        <div id="reset-password-form">
            <div class="title">{{ 'RESET_PASSWORD_DIALOG.TITLE' | translate }}</div>
            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate
                (ngSubmit)="resetPassword(resetPasswordForm.valid)" autocomplete="off">
                <div class="alert alert-danger" id="errorPasswordRecoveryLinkExpired" *ngIf="submittedErrorMsg != ''"> {{ submittedErrorMsg }} </div>
                <div class="alert alert-success" id="PasswordResetSuccessfully" *ngIf="submittedSucessMsg != ''"> {{ submittedSucessMsg | translate}} <strong>
                        </strong> </div>
                <div *ngIf = "isPasswordReset" class="mb-3 text-start">
                    <label class="label">{{ 'RESET_PASSWORD_DIALOG.USERNAME' | translate }}</label>&nbsp;
                    <strong><label class="label">{{userName}}</label></strong>
                </div>

                <div *ngIf = "isPasswordReset" class="mb-3 text-start">
                    <label class="label">{{ 'RESET_PASSWORD_DIALOG.NEW_PASSWORD' | translate }}<span class="mandatory"></span></label>
                    <input #password id="txt-password" type="text" class="form-control customPassword txt-password" formControlName="password" autocomplete="off" autofocus
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                        (focus)="onfocusPassword()" (blur)="onblurPassword()" trimValue />
                    <ngx-password-strength *ngIf="isPasswordStrengthVisible" [showLabel]="true" [value]="f.password.value"></ngx-password-strength>
                    <div *ngFor='let validation of resetPassword_validation_messages.password' class='invalid-feedback'>
                        <div *ngIf='f.password.hasError(validation.type) && submitted && f.password.errors' id="errorResetNewPasswordIsRequired">
                            {{ validation.message | translate }}
                        </div>
                    </div>
                </div>

                <div *ngIf = "isPasswordReset" class="mb-3 text-start">
                    <label class="label">{{ 'RESET_PASSWORD_DIALOG.CONFIRM_PASSWORD' | translate }}<span class="mandatory"></span></label>
                    <input id="txt-password-confirm" type="text" class="form-control customPassword txt-password" formControlName="passwordConfirm" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" trimValue />
                    <div *ngFor='let validation of resetPassword_validation_messages.passwordConfirm'
                        class='invalid-feedback'>
                        <div id="errorResetConfirmPasswordIsRequired"
                            *ngIf='f.passwordConfirm.hasError(validation.type) && submitted && f.passwordConfirm.errors'>
                            {{ validation.message | translate }}
                        </div>
                        <div class="error-message" id="errorConfirmAndNewPasswordMustBeSame"
                            *ngIf="f.passwordConfirm.errors && (f.passwordConfirm.value != null && f.passwordConfirm.value != '')">
                            {{ 'RESET_PASSWORD_DIALOG.MESSAGE_CONFIRM_NEW_PASSWORD_SAME' | translate }}
                        </div>
                    </div>
                </div>

                <div *ngIf = "isPasswordReset" class="text-right">
                    <button id="btn-reset-my-password" class="btn btn-primary btn-block" aria-label="Reset My Password">{{ 'RESET_PASSWORD_DIALOG.RESET_MY_PASSWORD' | translate }}</button>
                </div>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a id="link-go-back-to-login" class="link dark-blue font-semibold" [routerLink]="'/auth/login'">{{ 'RESET_PASSWORD_DIALOG.GO_BACK_TO_LOGIN' | translate }}</a>
            </div>
        </div>
    </div>
</div>