// @import "src/scss/_variables.scss";
// @import "src/scss/_custom.scss";

$clr-white: #fff;

reset-password {
  background: $clr-white;
}

#reset-password {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: $clr-white;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  max-height: 100vh;
  overflow: auto;

  .logo {
    text-align: center;
    padding-bottom: 16px;

    .logo-icon{
      max-width: 350px;

      @media (max-width: 575px){
        max-width: 320px;
      }
    }
  }

  #reset-password-form-wrapper {
    flex: 100%;
    padding: 16px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    #reset-password-form {
      width: 450px;
      max-width: 100%;
      padding: 32px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.12);

      @media screen and (max-width: 480px) {
        width: 100%; padding: 16px;
      }

      @media screen and (max-height: 575px) {
        padding-bottom: 16px;
      }
      
      .title {
        font-size: 20px;
        margin: 0 0 32px 0;
        text-align: center;
        color: #0e4595;
        text-transform: uppercase;
      }

      .form-control{ background: $clr-white; border-color: #ced4da; }
      .form-control:enabled:hover {
        border-color: #86b7fe;
      }
      .form-control:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        border-color: #86b7fe;
      }
      .form-control.is-invalid, .form-control.is-invalid:enabled:hover, .form-control.is-invalid:enabled:focus{ border-color: #dc3545; }
      
      .login {
        margin: 32px auto 0;  width: 100%;
      }
    }
  }
}

::ng-deep .nb-theme-dark #reset-password input:-webkit-autofill,
::ng-deep .nb-theme-dark #reset-password input:-webkit-autofill:hover, 
::ng-deep .nb-theme-dark #reset-password input:-webkit-autofill:focus, 
::ng-deep .nb-theme-dark #reset-password input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #fff inset !important; -webkit-text-fill-color: #000 !important; box-shadow: 0 0 0 30px #fff inset !important; caret-color: #000;
}