::ng-deep .tbl-report-list {
    @media (min-width: 641px){
        th.name, td.name, th.category, td.category{
            width: 200px; min-width: 200px; word-break: break-word;
        }
        th.description, td.description {
            min-width: 250px; width: 250px; word-break: break-word;
        }
        th.id.action, td.action {
            width: 80px; max-width: 80px; justify-content: flex-end;
        }
    }
    .p-datatable-wrapper {
        @media (min-width: 1140px) and (min-height: 576px) { min-height: calc(100vh - 190px); }
    }
}

.customInputText{
    height: 34px;
}

.action .btn-link{ padding: 0 12px; }