<div class="flexlayout">
    <div class="form_wrapper">
        <ng-container *ngIf="isVideoPlayable else notSupportedVideo">
            <video controls [src]="url" [poster]="thumbnailUrl" controlsList="nodownload" disablePictureInPicture class="h-100">
            </video>
        </ng-container>
        <ng-template #notSupportedVideo>
            <div id="no-access-form">
                <div class="top">
                    <i class="fa-solid fa-video-slash mb-3 icon-video-not-found" aria-hidden="true"></i>
                    <div class="h5 mt-0">
                        {{'COMMON.DOCUMENT_VIEWER.VIDEO_FORMAT_NOT_SUPPORTED' | translate}}
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>