<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{title}}</h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add Contact Start -->
<div class="modal-body padding-32 pt-3" *ngIf="contactForm">
    <form  [formGroup]='contactForm'>
        <div class="row">
            <div class=" col-md-6 form-group">
                <label>{{'CRM.CONTACT.ADD_DIALOG.FIRSTNAME' | translate}} <span class="mandatory"></span></label>
                <input type="text" formControlName="firstname" id="txt-firstname" class="form-control ht--40" trimValue [ngClass]="{ 'is-invalid': contactForm['controls'].firstname.errors && (contactForm['controls'].firstname.dirty || contactForm['controls'].firstname.touched) }">
                <div *ngFor='let validation of validation_messages.firstname' class='invalid-feedback'>
                    <div *ngIf="contactForm['controls'].firstname.hasError(validation.type) && contactForm['controls'].firstname.errors && (contactForm['controls'].firstname.dirty || contactForm['controls'].firstname.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" col-md-6 form-group">
                <label>{{'CRM.CONTACT.ADD_DIALOG.LASTNAME' | translate}} <span class="mandatory"></span></label>
                <input type="text" formControlName="lastname" id="txt-lastname" class="form-control ht--40" trimValue [ngClass]="{ 'is-invalid': contactForm['controls'].lastname.errors && (contactForm['controls'].lastname.dirty || contactForm['controls'].lastname.touched) }">
                <div *ngFor='let validation of validation_messages.lastname' class='invalid-feedback'>
                    <div *ngIf="contactForm['controls'].lastname.hasError(validation.type) && contactForm['controls'].lastname.errors && (contactForm['controls'].lastname.dirty || contactForm['controls'].lastname.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" col-md-6 form-group">
                <label>{{'CRM.CONTACT.ADD_DIALOG.EMAIL' | translate}}</label>
                <input type="text" formControlName="email" id="txt-email" class="form-control ht--40"
                    [ngClass]="{ 'is-invalid': contactForm['controls'].email.errors }" trimValue>
                    <div *ngFor='let validation of validation_messages.email' class='invalid-feedback'>
                        <div *ngIf="contactForm['controls'].email.hasError(validation.type) && contactForm['controls'].email.errors && (contactForm['controls'].email.dirty || contactForm['controls'].email.touched)">
                            {{ validation.message | translate}}
                        </div>
                    </div>
            </div>
            <div class=" col-md-6 form-group">
                <label>{{'CRM.CONTACT.ADD_DIALOG.PHONE' | translate}}</label>
                <div>
                        <ngx-phone-control  formControlName="phone"></ngx-phone-control>
                    <div *ngFor='let validation of validation_messages.phone' class='invalid-feedback'>
                        <div
                            *ngIf="contactForm['controls'].phone.hasError(validation.type) && contactForm['controls'].phone.errors && (contactForm['controls'].phone.dirty || contactForm['controls'].phone.touched)">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 form-group">
                <label>{{'CRM.CONTACT.ADD_DIALOG.BIRTHDATE' | translate}}</label>
                <p-calendar id="dp-birthDate" class="time-calendar" formControlName="birthdate"
                    [dateFormat]="_commonHelper.globalDatePickerFormate" [placeholder]="_commonHelper.globalDatePlaceholder"
                    [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey"
                    [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" selectOtherMonths="true" [showTime]="false"
                    [minDate]="_commonHelper.globalMinDate" [maxDate]=" todaysDate" [yearRange]="currentYearRange">
                </p-calendar> 
                <div *ngFor='let validation of validation_messages.birthdate' class='invalid-feedback'>
                    <div *ngIf="contactForm['controls'].birthdate.hasError(validation.type) && contactForm['controls'].birthdate.errors && (contactForm['controls'].birthdate.dirty || contactForm['controls'].birthdate.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" col-md-6 form-group">
                <label>{{'CRM.CONTACT.ADD_DIALOG.GENDER' | translate}}</label>
                <ngx-control-level-loading-bar *ngIf="showGenderLoader"></ngx-control-level-loading-bar>
                <p-dropdown id="drp-gender" class="form-control" formControlName="gender" [filter]="true" [resetFilterOnHide]="false" [showClear]="true"
                    [options]="genders" placeholder="{{'CRM.CONTACT.ADD_DIALOG.GENDER_PLACEHOLDER' | translate}}" 
                    optionLabel="name" optionValue="intValue1">
                </p-dropdown>
            </div>
            <div class="col-md-6 form-group">
                <label>{{'CRM.CONTACT.ADD_DIALOG.SSN' | translate}}</label>
                <input type="text" id="txt-ssn" class="form-control ht--40"  [mask]="_commonHelper.globalSsnFormate"
                formControlName="ssn" (input)='inputSsnMaskValid()' [ngClass]="{ 'is-invalid': contactForm['controls'].ssn.errors }">
                <div *ngFor='let validation of validation_messages.ssn' class='invalid-feedback'>
                    <div *ngIf="contactForm['controls'].ssn.hasError(validation.type) && contactForm['controls'].ssn.errors && (contactForm['controls'].ssn.dirty || contactForm['controls'].ssn.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group" *ngIf="!hideTypeDropDown">
                <label>{{'CRM.CONTACT.ADD_DIALOG.TYPE' | translate}}<span class="mandatory"></span></label>
                <ngx-control-level-loading-bar *ngIf="showContactTypeLoader"></ngx-control-level-loading-bar>
                <p-dropdown id="drp-contactTypes" class="form-control" formControlName="typeId" 
                    [options]="contactTypes" placeholder="{{'CRM.CONTACT.ADD_DIALOG.TYPE_PLACEHOLDER' | translate}}" [filter]="true" [resetFilterOnHide]="false" [showClear]="true"
                    optionLabel="name" optionValue="intValue1"
                    [ngClass]="{ 'is-invalid': submitted && contactForm['controls'].typeId.errors }">
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.typeId' class='invalid-feedback'>
                    <div *ngIf="contactForm['controls'].typeId.hasError(validation.type) && submitted &&  contactForm['controls'].typeId.errors">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            
            <div class='col-md-6 form-group' *ngIf="isShowRecordTypes">
                <label>{{'CRM.ACCOUNT.ADD_DIALOG.RECORD_TYPES' | translate}}</label>
                <ngx-control-level-loading-bar *ngIf="showEntityRecordTypeLoader"></ngx-control-level-loading-bar>
                <p-dropdown
                    id="drp-recordTypes"
                    class="form-control"
                    formControlName="entityRecordTypeId"
                    [filter]="true"
                    [resetFilterOnHide]="false"
                    [showClear]="true"
                    [options]="recordTypes"
                    placeholder="{{'CRM.CONTACT.ADD_DIALOG.RECORD_TYPES_PLACEHOLDER' | translate}}"
                    optionLabel="label"
                    optionValue="value"
                    appendTo="body"
                    (onChange)="recordTypeOnChange($event)"
                    (onClear)="recordTypeOnClear($event)"
                    panelStyleClass="maxWidthOverride-xxl"
                    [ngClass]="{ 'is-invalid': submitted && contactForm['controls'].entityRecordTypeId.errors }">
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.entityRecordTypeId' class='invalid-feedback'>
                    <div id="errorEntityRecordTypeIdRequired" *ngIf="contactForm['controls'].entityRecordTypeId.hasError(validation.type) && submitted && contactForm['controls'].entityRecordTypeId.errors">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>

            <div class='col-md-6 form-group' *ngIf="isShowWorkflow">
                <label>{{'CRM.CONTACT.ADD_DIALOG.WORKFLOW' | translate}} </label>
                <span class="mandatory"></span>
                <ngx-control-level-loading-bar *ngIf="showWorkflowLoader"></ngx-control-level-loading-bar>
                <p-dropdown 
                    id="drp-workflow"
                    class="form-control"
                    formControlName="entityWorkflowId"
                    [filter]="true"
                    [resetFilterOnHide]="false"
                    [showClear]="true"
                    [options]="filteredWorkflows"
                    [(ngModel)]="contact.entityWorkflowId"
                    (onChange)="workflowOnChange($event)"
                    (onClear)="workflowOnClear($event)"
                    placeholder="{{'CRM.CONTACT.ADD_DIALOG.WORKFLOWS_PLACEHOLDER' | translate}}"
                    optionLabel="label"
                    optionValue="value"
                    [ngClass]="{ 'is-invalid': submitted && contactForm['controls'].entityWorkflowId.errors }" required>
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.entityWorkflowId' class='invalid-feedback'>
                    <div id="errorEntityWorkflowIdRequired" *ngIf="contactForm['controls'].entityWorkflowId.hasError(validation.type) && submitted && contactForm['controls'].entityWorkflowId.errors">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            
            <div class='col-md-6 form-group' *ngIf="isShowAssignTo && workflows?.length > 0">
                <label>{{'CRM.CONTACT.ADD_DIALOG.ASSIGNED_TO'  | translate}} </label>
                <ngx-control-level-loading-bar *ngIf="showAssignToLoader"></ngx-control-level-loading-bar>
                <p-dropdown 
                    id="drp-assignedTo" 
                    class="form-control" 
                    formControlName="assignedTo" 
                    [filter]="true" 
                    [resetFilterOnHide]="false" 
                    [showClear]="true"
                    [options]="assignedToUsers" 
                    [(ngModel)]="contact.assignedTo"
                    placeholder="{{'CRM.CONTACT.ADD_DIALOG.ASSIGNED_TO_PLACEHOLDER' | translate}}" 
                    optionLabel="label" 
                    optionValue="value" 
                    (onChange)="assignedToOnChange($event)"
                    [ngClass]="{ 'is-invalid': submitted && contactForm['controls'].assignedTo.errors }">
                </p-dropdown>
                <div *ngFor='let validation of validation_messages?.assignedTo' class='invalid-feedback'>
                    <div id="errorAssignedTosRequired" *ngIf="contactForm['controls']?.assignedTo.hasError(validation.type) && submitted && contactForm['controls']?.assignedTo?.errors">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>

            <ng-container *ngIf="isShowContactCustomField && customFieldControls">
                <ngx-custom-field [formGroup]="contactForm" [controls]="customFieldControls" [customFieldJSONData]="contact.customFieldJSONData" 
                    [customFieldJSONData]="contact.customFieldJSONData"[submitted]="submitted" [controlClass]="'col-sm-6'" [currencySymbol]="currencySymbol" [isReadOnly]="false"
                    [entityID]="contact.id" [entityTypeID]="entityTypeId" [entityRecordTypeID]="entityRecordTypeId"></ngx-custom-field>
            </ng-container>

        </div>

        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                (click)="onCloseForm(false)">{{'CRM.CONTACT.ADD_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="saveContact(contactForm.value)" id="btn-save" class='btn btn-primary'>{{'CRM.CONTACT.ADD_DIALOG.BUTTON_ADD' | translate}}</button>
        </div>
    </form>
</div>
<!-- Add Work Task End -->