// .ui-g-12.pd_date_picker{ padding: 0 0 1em;}

textarea.ht--40.form-control{ height: 34px; }

:host ::ng-deep .ui-multiselect {
    min-width: 100%; border-color: #e8e8e8;
}

.col-xl-small {
    @media (min-width: 1200px) { flex: 0 0 170px !important; max-width: 170px !important; }
}

.col-xl-large{
    @media (min-width: 1200px) { flex: 0 0 calc(100% - 170px) !important; max-width: calc(100% - 170px) !important; }
}

.col-xl-big{
    @media (min-width: 1200px) { flex: 0 0 340px !important; max-width: 340px !important; }
}

.w-100-xs {
    @media (max-width: 575px) { flex: 0 0 100%; width: 100%; max-width: 100%; text-align: right; padding-top: 15px; }
}
::ng-deep p-dropdown.w-related.form-control { width: 65px; min-width: 65px; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;
    .p-dropdown { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;
        .p-dropdown-clear-icon { right: 24px; }
    }
    .p-dropdown.p-dropdown-clearable .p-dropdown-label { padding-right: 0 !important; }
}

::ng-deep p-dropdown.form-control.related-input{ width: calc(100% - 65px); min-width: calc(100% - 65px); border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; border-left: 0 !important;
    .p-dropdown { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; border-left: 0 !important;
        .p-dropdown-label.p-placeholder { padding-right: 0 !important; }
    }
}

.related-input-loader { position: absolute; width: calc(100% - 65px); right: 0; }