<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ title }}</h4>
    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
        <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Activity Body Start -->
<div class="modal-body padding-32 pt-3" *ngIf="taskType != 'MEETING' && activityModel && taskStatusOptions">
    <!-- && users -->
    <form #activityForm="ngForm">
        <div class="form-group clearfix">
            <label>Assign User<span class="mandatory"></span></label>
            <p-dropdown id="drp-assignedUser" [options]="users" [filter]="true" [resetFilterOnHide]="false"
                class="form-control" name="assignedUserId" [(ngModel)]="activityModel.assignedUserId"
                [showClear]="true" placeholder="Select Assign User" #assignedUserId="ngModel"
                [ngClass]="{ 'is-invalid': submitted && activityModel.assignedUserId == null && assignedUserId.errors }"
                required (onSelect)="onCheckTaskDateAndDueDate($event)" (onFilter)="assignedToOnFilter($event, activityModel.assignedUserId)" autofocus>
            </p-dropdown>
            <div *ngFor='let validation of activity_validation_messages.assignedUserId'
                class='invalid-feedback invalid-text'>
                <div id="errorAssignUserIsRequired"
                    *ngIf="submitted && assignedUserId.hasError(validation.type) && activityModel.assignedUserId == null && assignedUserId.errors">
                    {{ validation.message | translate }}
                </div>
            </div>
        </div>
        <div class=" form-group clearfix">
            <label>Task Date<span class="mandatory"></span></label>
            <div class="ui-g-12 p-0">
                <p-calendar id="dp-task-date" [dateFormat]="_commonHelper.globalDatePickerFormate"
                    [placeholder]="_commonHelper.globalDatePlaceholderWithTime"
                    [dateMask]="_commonHelper.globalDateMaskWithTime" [readonlyInput]="false"
                    icon="fas fa-calendar-alt dark-grey" [showIcon]="true" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="1900:2100" name="taskDate" [selectOtherMonths]="true"
                    [minDate]="_commonHelper.globalMinDate" [maxDate]="_commonHelper.globalMaxDate"
                    [showTime]="true" hourFormat="12" [stepMinute]="15" [(ngModel)]="activityModel.taskDate"
                    class="time-calendar" #taskDate="ngModel" [ngClass]="{ 'is-invalid': submitted && taskDate.errors }"
                    (ngModelChange)="onCheckTaskDateAndDueDate($event)" required></p-calendar>
                <div *ngFor='let validation of activity_validation_messages.taskDate'
                    class='invalid-feedback invalid-text'>
                    <div *ngIf="taskDate.hasError(validation.type) && submitted && taskDate.errors" id="errorTaskDateIsRequired">
                        {{ validation.message | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class=" form-group clearfix">
            <label>Due Date</label>
            <div class="ui-g-12 p-0">
                <p-calendar id="dp-due-date" [dateFormat]="_commonHelper.globalDatePickerFormate"
                    [placeholder]="_commonHelper.globalDatePlaceholder" [dateMask]="_commonHelper.globalDateMask"
                    [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100" name="dueDate"
                    [minDate]="getCurrentDate()" [maxDate]="_commonHelper.globalMaxDate"
                    selectOtherMonths="true" [showTime]="false" [(ngModel)]="activityModel.dueDate"
                    class="time-calendar" #dueDate="ngModel" (ngModelChange)="onSelectDueDate($event)"
                    [ngClass]="{ 'is-invalid': !isValidActivityDueDate }">
                </p-calendar>
                <div *ngIf="!isValidActivityDueDate" class='invalid-feedback invalid-text' id="errorActivityDueDate">
                    {{ activityDueDateErrorMsg }}
                </div>
            </div>
        </div>
        <div class=" form-group clearfix">
            <label>Status</label>
            <p-dropdown class="form-control" id="drp-status" [options]="taskStatusOptions" optionLabel="name" 
            [(ngModel)]="activityModel.statusId" 
            name="statusId" #statusID="ngModel">
            </p-dropdown>
        </div>
        <div class=" form-group">
            <label>{{'ACTIVITY.TASKS_DIALOG.NOTES' | translate}} <span class="mandatory"></span></label>
            <textarea #taskDescription #description="ngModel" id="txt-task-notes" class="form-control"
                name="description" [(ngModel)]="activityModel.description" title=""
                [ngClass]="{ 'is-invalid': submitted && description.errors }" required trimValue></textarea>
            <div *ngFor='let validation of activity_validation_messages.description' class='invalid-feedback'>
                <div *ngIf='description.hasError(validation.type) && submitted && description.errors' id="errorNotesAreRequired">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>  
        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                (click)="onCloseForm()">{{'ACTIVITY.TASKS_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="onSubmitActivity()" id="btn-save" class='btn btn-primary'>Log a {{ title }}</button>
        </div>
    </form>
</div>
<!-- Activity Body End -->

<!-- Event Body Start -->
<div class="modal-body padding-32 pt-3" *ngIf="taskType == 'MEETING' && eventModel && eventStatusOptions && users && attendees">
    <form>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.SUBJECT' | translate}}<span
                        class="mandatory"></span></label>
                <input #appointmentSubject="ngModel" id="txt-subject" type="text" class='form-control'
                    [(ngModel)]="eventModel.subject" name="subject" pInputText [disabled]="!eventModel.isEditable"
                    [ngClass]="{ 'is-invalid': submitted && appointmentSubject.errors }" required trimValue>
                <div *ngFor='let validation of event_validation_messages.subject' class='invalid-feedback'>
                    <div *ngIf='appointmentSubject.hasError(validation.type) && submitted && appointmentSubject.errors'
                        id="errorSubjectIsRequired">
                        {{ validation.message | translate }}
                    </div>
                </div>
            </div>
            <div class="col-xl col-lg-4 form-group">
                <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.DATE' | translate}}<span
                    class="mandatory"></span></label>
                <div class="ui-g-12 p-0">
                    <div class="ui-g-12 p-0">
                        <p-calendar id="dp-appointment-date" [readonlyInput]="false"
                            [dateFormat]="_commonHelper.globalDatePickerFormate" [disabled]="!eventModel.isEditable"
                            [placeholder]="_commonHelper.globalDatePlaceholder" [dateMask]="_commonHelper.globalDateMask"
                            icon="fas fa-calendar-alt dark-grey" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
                            yearRange="1900:2100" name="dueDate" selectOtherMonths="true" [minDate]="_commonHelper.globalMinDate"
                            [maxDate]="_commonHelper.globalMaxDate" [(ngModel)]="eventModel.activityDate" name="activityDate"
                            #activityDate="ngModel" (onSelect)="onSelectEventDate($event)" required>
                        </p-calendar>
                        <div *ngFor='let validation of event_validation_messages.date' class='invalid-feedback invalid-text'>
                            <div *ngIf="activityDate.hasError(validation.type) && submitted && activityDate.errors" id="errordateIsRequired">
                                {{ validation.message | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-big col-lg-8 form-group">
                <div class="row">
                    <div class="col-xl col-sm-6 time--picker mb-sm-0 mb-3">
                        <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.START_TIME' | translate}}<span
                            class="mandatory"></span></label>
                        <p-calendar #startTime="ngModel" id="tp-start-time" [timeOnly]="true" hourFormat="12"
                            [disabled]="!eventModel.isEditable" [placeholder]="_commonHelper.globalTimePlaceholder"
                            [dateMask]="_commonHelper.globalTimeMask" [stepMinute]="15" [readonlyInput]="false"
                            [(ngModel)]="eventModel.startTime" name="startTime" (ngModelChange)="onSelectStartTime($event)"
                            [ngClass]="{ 'is-invalid': submitted && startTime.errors }" required></p-calendar>
                        <div *ngFor='let validation of event_validation_messages.startTime' class='invalid-feedback invalid-text'>
                            <div *ngIf="startTime.hasError(validation.type) && submitted && startTime.errors" id="errorStartTimeIsRequired">
                                {{ validation.message | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl col-sm-6 time--picker">
                        <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.END_TIME' | translate}}<span
                            class="mandatory"></span></label>
                        <p-calendar [timeOnly]="true" id="tp-end-time" hourFormat="12" [stepMinute]="15" [disabled]="!eventModel.isEditable"
                            [placeholder]="_commonHelper.globalTimePlaceholder" [dateMask]="_commonHelper.globalTimeMask"
                            [(ngModel)]="eventModel.endTime" [readonlyInput]="false" name="endTime" #endTime="ngModel"
                            [ngClass]="{ 'is-invalid': submitted && endTime.errors }" (ngModelChange)="onSelectEndTime($event)"
                            required></p-calendar>
                        <div *ngFor='let validation of event_validation_messages.endTime' class='invalid-feedback invalid-text'>
                            <div *ngIf="endTime.hasError(validation.type) && submitted && endTime.errors" id="errorEndTimeIsRequired">
                                {{ validation.message | translate }}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="endTimeError != ''" class="col-12">
                        <div class='invalid-feedback invalid-text' id="errorEndTime">{{ endTimeError }}</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="form-group" [ngClass]="fromAppointment ? 'col-xl-small col-lg-4' : 'col-xl-5 col-lg-6'">
                        <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.ASSIGN_OWNER' | translate | configuredEntityName}}<span
                                class="mandatory"></span></label>
                        <p-dropdown class="form-control" id="drp-assignOwner" [@.disabled]="true" [disabled]="!eventModel.isEditable"
                            placeholder="{{'ACTIVITY.APPOINTMENTS_DIALOG.ASSIGN_OWNER_SELECT' | translate | configuredEntityName}}"
                            [options]="users" [(ngModel)]="eventModel.ownerId" [filter]="true" [resetFilterOnHide]="false" name="ownerId"
                            #ownerId="ngModel" (onFilter)="assignedToOnFilter($event, eventModel.ownerId)" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                            [ngClass]="{ 'is-invalid': submitted && ownerId.errors }" required>
                        </p-dropdown>
                        <div *ngFor='let validation of event_validation_messages.ownerId' class='invalid-feedback'>
                            <div *ngIf='ownerId.hasError(validation.type) && submitted && ownerId.errors'
                                id="errorAssignAccountOwnerIsRequired">
                                {{ validation.message | translate | configuredEntityName }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="fromAppointment ? 'col-xl-small col-lg-4' : 'col-xl-7 col-lg-6'">
                        <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.ASSIGN_ATTENDEES' | translate |
                            configuredEntityName}}</label>
                        <p-multiSelect class="entity-multiSelect" id="drp-assignAttendees" name="attendeesId"
                            [disabled]="!eventModel.isEditable" [filter]="true" [resetFilterOnHide]="false" [showHeader]="true"
                            [showClear]="true" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                            placeholder="{{'ACTIVITY.APPOINTMENTS_DIALOG.ASSIGN_ATTENDEE_SELECT' | translate | configuredEntityName}}"
                            [options]="attendees" [(ngModel)]="selectedAttendees" #attendeesId="ngModel"
                            (onFilter)="attendeesOnFilter($event, selectedAttendees)" (onClear)="onClearSelectedAttendees()"
                            [ngClass]="{ 'is-invalid': submitted && attendeesId.errors }">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-4 form-group" *ngIf="fromAppointment">
                        <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.RELATEDTO' | translate | configuredEntityName}}<span
                                class="mandatory"></span></label>
                        <div class="d-flex flex-wrap position-relative">
                            <p-dropdown #drpRelatedTo  id="drp-entityIDs" name="relatedTo" optionLabel="displayName" [@.disabled]="true" [disabled]="!eventModel.isEditable"
                                [(ngModel)]="selectedEntity" appendTo="body" panelStyleClass="maxWidthOverride-xxl" class="form-control w-related" [ngClass]="{ 'is-invalid': submitted && Relatedto.errors }"
                                [options]="parentEntityList" [filter]="true" filterBy="displayName" [resetFilterOnHide]="false"
                                [showClear]="true" placeholder="{{'ACTIVITY.APPOINTMENTS_DIALOG.RELATEDTO_SELECT' | translate | configuredEntityName}}"
                                (onChange)="onRelatedToChange($event)" (onClear)="onRelatedToClear($event)">
                                <ng-template pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2 text-truncate">
                                        <i [class]="_commonHelper.getEntityIconClass(selectedEntity.id)" [ngbTooltip]="selectedEntity.displayName"
                                        class="font-13 mr-2 fa-fw" aria-hidden="true" container="body" placement="top auto"></i>
                                    </div>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <i [class]="_commonHelper.getEntityIconClass(item.id)" 
                                        class="font-13 mr-2 fa-fw" aria-hidden="true" container="body" placement="top auto"></i>
                                    <span>{{item.displayName}}</span>
                                </ng-template>
                            </p-dropdown>
                            <ngx-control-level-loading-bar *ngIf="showRelatedToLoader" class="related-input-loader"></ngx-control-level-loading-bar>
                            <p-dropdown class="form-control related-input" id="drp-entity" [@.disabled]="true" [disabled]="!eventModel.isEditable"
                                placeholder="{{'ACTIVITY.APPOINTMENTS_DIALOG.SUB_RELATEDTO_SELECT' | translate | configuredEntityName}}" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                                [options]="relatedToList" [(ngModel)]="selectRelatedto" [filter]="true" [resetFilterOnHide]="false" name="label"
                                #Relatedto="ngModel" (onFilter)="relatedToOnFilter($event, selectRelatedto)" [showClear]="true"
                                [ngClass]="{ 'is-invalid': submitted && Relatedto.errors }" [required]="true">
                            </p-dropdown>
                            <div *ngFor='let validation of event_validation_messages.relatedto' class='invalid-feedback'>
                                <div *ngIf='Relatedto.hasError(validation.type) && submitted && Relatedto.errors' id="errorRelatedtoIsRequired">
                                    {{ validation.message | translate | configuredEntityName }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl col-lg-8 form-group">
                        <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.LOCATION' | translate}}</label>
                        <input #location="ngModel" type="text" id="txt-location" class='form-control' [(ngModel)]="eventModel.location"
                            name="location" pInputText [disabled]="!eventModel.isEditable">
                    </div>
                    <div class="col-xl-small col-lg-4 form-group" *ngIf="eventStatusOptions">
                        <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.STATUS' | translate }}<span
                                class="mandatory"></span></label>
                        <p-dropdown class="form-control" id="drp-status" [options]="eventStatusOptions" optionLabel="name" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                            [disabled]="!eventModel.isEditable" placeholder="{{'ACTIVITY.APPOINTMENTS_DIALOG.STATUS_SELECT' | translate }}"
                            [(ngModel)]="eventModel.statusID" name="statusId" #eventStatusID="ngModel">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 form-group">
                <label class="font-semibold">{{'ACTIVITY.APPOINTMENTS_DIALOG.DESCRIPTION' | translate}}</label>
                <textarea #description="ngModel" id="txt-description" class='form-control' pInputTextarea
                    [disabled]="!eventModel.isEditable" [(ngModel)]="eventModel.description" name="description" cols="30"
                    rows="5"></textarea>
            </div>
            <div class="col-xl-6 form-group">
                <label>{{'ACTIVITY.TASKS_DIALOG.NOTES' | translate}}</label>
                <textarea #taskNotes #notes="ngModel" id="txt-task-appoitnment" class="form-control" name="notes" cols="30" rows="5"
                    [(ngModel)]="eventModel.notes"></textarea>
            </div>
        </div>
        <div class="modal-footer border-top-0 px-0 pb-0 justify-content-between">
            <button id="btn-set-reminder" type="button" icon="pi pi-check" (click)="openReminderDialog()" id="btn-reminder"
                class='btn btn-outline-secondary btn-dark-color' [disabled]="!eventModel.isEditable">
                <i class="fa-solid fa-bell me-1"></i>
                Set Reminder</button>
            <div class="w-100-xs">
                <button type="button" id="btn-cancel" class='btn btn-outline-secondary me-2'
                    (click)="onCloseForm()">{{'ACTIVITY.APPOINTMENTS_DIALOG.BUTTON_CANCEL' | translate}}</button>
                <button type="button" (click)="onSubmitActivity()" id="btn-save"
                    class='btn btn-primary'>
                    <ng-container *ngIf="taskMode === 'EDIT'; else addAppointment">
                        {{'ACTIVITY.APPOINTMENTS_DIALOG.BUTTON_SET_APPOINTMENT_EDIT' | translate}}
                    </ng-container>
                    <ng-template #addAppointment>
                        {{'ACTIVITY.APPOINTMENTS_DIALOG.BUTTON_SET_APPOINTMENT' | translate}}
                    </ng-template>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Event Body End -->