<ngx-tab-level-loader *ngIf="isShowLoader"></ngx-tab-level-loader>

<p-table #pTable [value]="workTasks" dataKey="id" [responsive]="true" responsiveLayout="scroll"
    [rows]="_commonHelper.DefaultPageSize" [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions'
    paginatorDropdownAppendTo="body" [sortField]="'taskCreatedDate'" class="tbl-account-list tbl-expandable" [sortOrder]="-1"
    [lazy]="true" [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true" [paginator]="totalRecords > 0"
    [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''" [scrollHeight]="'calc(100vh - 248px)'"
    (onPage)="paginate($event)" [rowTrackBy]="trackByFunction">
    <ng-template pTemplate="caption">
        <div class="p-input-icon-right w-100">
            <i class="pi pi-search" aria-hidden="true"></i>
            <input #searchBoxInput pInputText type="text" id="txt-search-text"
                class="w-100 customInputText form-control" size="50" (keyup)="search($event.target.value)" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="td-first"></th>
            <th class="td-Bookmark"></th>
            <th pSortableColumn="taskNumber" (click)="changeOrder()" class="td-taskNumber">
                {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_TASK_NUMBER' | translate | configuredEntityName}}
                <p-sortIcon field="taskNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="name" (click)="changeOrder()" class="td-name">
                {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_NAME' | translate}} <p-sortIcon
                    field="name"></p-sortIcon></th>
            <ng-container
                *ngIf="!(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeID : sectionCodes.EntityWorkTasksColumn : fieldNames?.AssignedTo)">
                <th pSortableColumn="assignedTo" (click)="changeOrder()" class="td-assignedTo">
                    {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_ASSIGNEDTO' | translate}} <p-sortIcon
                        field="assignedTo"></p-sortIcon></th>
            </ng-container>
            <th pSortableColumn="entityWorkFlowName" (click)="changeOrder()" class="td-entityWorkFlowName">
                {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_WORKFLOW' | translate}} <p-sortIcon
                    field="entityWorkFlowName"></p-sortIcon></th>
            <th pSortableColumn="stageName" (click)="changeOrder()" class="td-stageName">
                {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_STAGE' | translate}} <p-sortIcon
                    field="stageName"></p-sortIcon></th>
            <th pSortableColumn="taskCreatedDate" (click)="changeOrder()" class="td-createdDate">
                {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_CREATED' | translate}} <p-sortIcon
                    field="taskCreatedDate"></p-sortIcon></th>
            <th class="action" [ngClass]="!showDeleteButtonForParentTask ? 'w-0px' : null"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-workTask let-i="rowIndex" let-expanded="expanded">
        <tr>
            <td class="td-first">
                <div class="min-h-row">
                    <button *ngIf="workTask.hasChild" type="button" pButton [pRowToggler]="workTask"
                        class="p-button-text p-button-rounded p-button-plain ml-0"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        (click)="getSubTask(workTask, expanded)"></button>
                </div>
            </td>
            <td class="td-Bookmark">
                <ngx-bookmark [entityTypeId]="entity.WorkTasks" [entityId]="workTask.id" [isStarred]="workTask.isStarred"
                    [isEditPermission]="false" [isFromKanbanOrListView]="true"></ngx-bookmark>
            </td>
            <td class="td-taskNumber">
                <span class="p-column-title">
                    {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_TASK_NUMBER' | translate | configuredEntityName}}
                </span>
                <ng-template *ngTemplateOutlet="link; context:{ workTask: workTask }"></ng-template>
            </td>
            <td class="td-name">
                <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_NAME' | translate}}</span>
                <span class="text-truncate mw-100 d-inline-block">{{workTask.name}}</span></td>
            <ng-container
                *ngIf="!(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeID : sectionCodes.EntityWorkTasksColumn : fieldNames?.AssignedTo)">
                <td class="td-assignedTo">
                    <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_ASSIGNEDTO' | translate}}</span>
                    <ngx-common-user-profile [userId]="workTask.assignedTo" [userTypeId]="userTypeID.AssignedTo"
                        [privacyLevel]="workTask.privacyLevel" [isShowName]="false" [isItemDisable]="true"
                        userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_ASSIGNEDTO' | translate | configuredEntityName}}">
                    </ngx-common-user-profile>
                </td>
            </ng-container>
            <td class="td-entityWorkFlowName">
                <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_WORKFLOW' | translate}}</span>
                {{workTask.entityWorkFlowName}}</td>
            <td class="td-stageName">
                <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_STAGE' | translate}}</span>
                {{workTask.stageName}}</td>
            <td class="td-createdDate">
                <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_CREATED' | translate}}</span>
                {{(workTask.taskCreatedDateTime | dateFormatPipe: _commonHelper.globalDateFormateWithTime)}}</td>
            <td class="action" [ngClass]="!showDeleteButtonForParentTask ? 'w-0px' : null">
                <span class="p-column-title"></span>
                <ng-template
                    *ngTemplateOutlet="action; context:{ workTask:workTask, parentObj: workTasks, isFromSubTask: false }"></ng-template>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-workTask>
        <ng-template *ngTemplateOutlet="subTaskTemplate; context:{ workTask: workTask }"></ng-template>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
        <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text" id="paginatorLeftPage"
            (click)="prev()" [disabled]="end == pagingParams.pageSize">
        </p-button>
        <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo" id="paginatorInputPage"
            (change)="changePage()" class="pageNoInput"> /
        <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
        <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text" id="paginatorRightPage"
            (click)="next()" [disabled]="end == totalRecords"></p-button>
        <p-button type="button" icon="pi pi-undo" styleClass="p-button-text" id="paginatorResetButton"
            (click)="resetPaginator()" [disabled]="end == pagingParams.pageSize"></p-button>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9" class="td-no-record">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.MESSAGE_NO_RECORDS_FOUND' | translate}}</td>
        </tr>
    </ng-template>
</p-table>

<ng-template #subTaskTemplate let-workTask="workTask">
    <tr>
        <td colspan="9" class="pl-md-4 pl-3 py-3 pr-0 border-bottom-0 bg-inner-table">
            <p-table #table [value]="workTask.subWorkTasks" dataKey="id" [loading]="workTask.showLoader" [responsive]="true" responsiveLayout="scroll"
                [sortField]="'taskCreatedDate'" [sortOrder]="-1" [rowTrackBy]="trackByFunction">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="td-first"></th>
                        <th class="td-Bookmark"></th>
                        <th pSortableColumn="taskNumber" class="td-taskNumber">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_TASK_NUMBER' | translate | configuredEntityName}} <p-sortIcon field="taskNumber"></p-sortIcon></th>
                        <th pSortableColumn="name" class="td-name">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_NAME' | translate}} <p-sortIcon field="name"></p-sortIcon></th>
                        <ng-container
                            *ngIf="!(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeID : sectionCodes.EntityWorkTasksColumn : fieldNames?.AssignedTo)">
                            <th pSortableColumn="assignedTo" class="td-assignedTo">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_ASSIGNEDTO' | translate}}
                                <p-sortIcon field="assignedTo"></p-sortIcon></th>
                        </ng-container>
                        <th pSortableColumn="entityWorkFlowName" class="td-entityWorkFlowName">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_WORKFLOW' | translate}} <p-sortIcon field="entityWorkFlowName"></p-sortIcon></th>
                        <th pSortableColumn="stageName" class="td-stageName">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_STAGE' | translate}} <p-sortIcon field="stageName"></p-sortIcon></th>
                        <th pSortableColumn="taskCreatedDate" class="td-createdDate">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_CREATED' | translate}} <p-sortIcon field="taskCreatedDate"></p-sortIcon></th>
                        <th class="action" [ngClass]="!showDeleteButtonForSubTask ? 'w-0px' : null"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subTask let-expanded="expanded" let-i="rowIndex">
                    <tr>
                        <td class="td-first">
                            <div class="min-h-row">
                                <button *ngIf="subTask.hasChild" type="button" pButton [pRowToggler]="subTask"
                                    class="p-button-text p-button-rounded p-button-plain ml-0"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                    (click)="getSubTask(subTask)"></button>
                            </div>
                        </td>
                        <td class="td-Bookmark">
                            <ngx-bookmark [entityTypeId]="entity.WorkTasks" [entityId]="subTask.id" [isStarred]="subTask.isStarred"
                                [isEditPermission]="false" [isFromKanbanOrListView]="true"></ngx-bookmark>
                        </td>
                        <td class="td-taskNumber">
                            <span class="p-column-title">
                                {{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_TASK_NUMBER' | translate | configuredEntityName}}
                            </span>
                            <ng-template *ngTemplateOutlet="link; context:{ workTask: subTask }"></ng-template>
                        </td>
                        <td class="td-name">
                            <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_NAME' | translate}}</span>
                            <span class="text-truncate mw-100 d-inline-block">{{subTask.name}}</span></td>
                        <ng-container
                            *ngIf="!(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeID : sectionCodes.EntityWorkTasksColumn : fieldNames?.AssignedTo)">
                            <td class="td-assignedTo">
                                <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_ASSIGNEDTO' | translate}}</span>
                                <ngx-common-user-profile [userId]="subTask.assignedTo" [userTypeId]="userTypeID.AssignedTo"
                                    [privacyLevel]="subTask.privacyLevel" [isShowName]="true" [isItemDisable]="true"
                                    userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_ASSIGNEDTO' | translate | configuredEntityName}}">
                                </ngx-common-user-profile>
                            </td>
                        </ng-container>
                        <td class="td-entityWorkFlowName">
                            <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_WORKFLOW' | translate}}</span>
                            {{subTask.entityWorkFlowName}}</td>
                        <td class="td-stageName">
                            <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_STAGE' | translate}}</span>
                            {{subTask.stageName}}</td>
                        <td class="td-createdDate">
                            <span class="p-column-title">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.TABLE_HEADER_CREATED' | translate}}</span>
                            {{(subTask.taskCreatedDateTime | dateFormatPipe: _commonHelper.globalDateFormateWithTime)}}</td>
                        <td class="action" [ngClass]="!showDeleteButtonForParentTask ? 'w-0px' : null">
                            <span class="p-column-title"></span>
                            <ng-template
                                *ngTemplateOutlet="action; context:{ workTask:subTask, parentObj: workTask, isFromSubTask: true }"></ng-template>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-subTask>
                    <ng-template *ngTemplateOutlet="subTaskTemplate; context:{ workTask: subTask }"></ng-template>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9" class="td-no-record">{{'COMMON.WORKTASK_EXPANDABLE_TABLE.MESSAGE_NO_RECORDS_FOUND' | translate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </td>
    </tr>
</ng-template>

<ng-template #link let-workTask="workTask">
    <span [ngbTooltip]="workTask.typeNameTooltip" placement="top auto" container="body">
        <i class="{{workTask.typeIconClass}} me-1" aria-hidden="true"></i>
        <ng-container *ngIf="workTask.showViewButton; else text">
            <a [routerLink]="['/worktasks/details',workTask.id]"
                class="dark-blue font-weight-bold no-underline cursor-pointer pre-text">
                {{workTask.taskNumber}}
            </a>
        </ng-container>
        <ng-template #text>
            <span class="no-link">
                {{workTask.taskNumber}}
            </span>
        </ng-template>
    </span>
</ng-template>

<ng-template #action let-workTask="workTask" let-parentObj="parentObj" let-isFromSubTask="isFromSubTask">
    <div class="grid-dropdown dropdown drop-no-arrow" *ngIf="workTask.showDeleteButton && isEntityActive">
        <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm"
             type="button" id="drp-action"
            data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drp-action">
            <li>
                <a id="link-doc-delete" class="dropdown-item menu--item" (click)="deleteWorkTask(workTask, parentObj,isFromSubTask)">
                    <i class="far fa-trash-alt pd-menu-icon" aria-hidden="true">
                    </i>
                    {{'COMMON.WORKTASK_EXPANDABLE_TABLE.BUTTON_DELETE' | translate}}
                </a>
            </li>
        </ul>
    </div>
</ng-template>