::ng-deep .page-containted .tbl-expandable {
    & .p-datatable-scrollable .p-datatable-tbody > tr > td.td-no-record { justify-content: center !important; text-align: center; height: 36px; }
    .min-h-row { 
        @media (min-width: 641px) { min-height: 26px; }
    }
    .p-datatable .p-datatable { border: 1px solid var(--surface-400); }
    .bg-inner-table { background-color: #f8f9fa;
        p-table { position: relative; }
        .bg-inner-table .p-datatable { border-right: 0; }
    }
    .p-datatable-wrapper th.td-first, .p-datatable-wrapper td.td-first { 
        @media (min-width: 641px) { width: 40px !important; min-width: 40px !important; max-width: 40px !important;
            .p-button-plain { min-width: 26px; min-height: 26px; }
        }
        @media (max-width: 640px) { padding-left: 4px; }
        .p-button.p-button-icon-only.p-button-rounded .p-button-icon { font-size: 14px; }
        .p-button.p-button-icon-only.p-button-rounded { border-radius: 50%; min-width: 26px; min-height: 26px; }
    }
    @media (min-width: 641px){
        .p-datatable-wrapper th.td-Bookmark, .p-datatable-wrapper td.td-Bookmark { width: 11px !important; min-width: 11px !important; max-width: 11px !important; padding-left: 0 !important; padding-right: 0 !important;
            .bookmark-off, .bookmark-off:hover { color: var(--surface-600);
                &.cursor-pointer { cursor: default; }
            }
        }
        th.td-taskNumber, td.td-taskNumber, th.td-entityWorkFlowName, td.td-entityWorkFlowName, th.td-stageName, td.td-stageName, th.td-createdDate, td.td-createdDate { min-width: 150px; }
        th.td-name, td.td-name { min-width: 200px; max-width: 275px; }
        th.td-assignedTo, td.td-assignedTo{ width: 60px; min-width: 60px; }

        .bg-inner-table {
            th.td-taskNumber, td.td-taskNumber, th.td-entityWorkFlowName, td.td-entityWorkFlowName, th.td-stageName, td.td-stageName, th.td-createdDate, td.td-createdDate { min-width: 120px; }
            th.td-name, td.td-name { min-width: 170px; }
        }
    }
    th.td-name, td.td-name { 
        @media (max-width: 640px) { max-width: 200px !important; }
    }
    .p-datatable-wrapper th.action, .p-datatable-wrapper td.action { 
        @media (min-width: 641px) { width: 60px !important; min-width: 60px !important; max-width: 60px !important; }
    }
} 
::ng-deep .nb-theme-dark .tbl-expandable{
    .bg-inner-table { background-color: var(--surface-0); }
    .p-component-overlay { background-color: rgba(255, 255, 255, 0.1); }
}
::ng-deep .nb-theme-default .tbl-expandable {
    .p-component-overlay { background-color: rgba(0, 0, 0, 0.05); }
}