<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!productCategoryForm && !isInitialLoading && hasPermission">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
                <div class="subtitle mt-0">{{ 'PRODUCTCATEGORIES.DETAIL.MESSAGE_PRODUCTCATEGORY_NOT_EXISTS' | translate | configuredEntityName}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-containted detail-productCategory" *ngIf="isLoaded && productCategoryForm && hasPermission">
    <!-- Header Start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-10px">
                <div class="detail-header h-100">
                    <div class="page-content card border-0 mb-0 h-100">
                        <div class="card-body p-card">
                            <div class="row vertical-center h-100">
                                <div class="col-xl col-lg-5 col-md-12 mb-3 mb-lg-0 mb-sm-4 d-flex align-self-start">
                                    <div class="float-left text-center">
                                        <div id="entity-icon" class="entity-icon">
                                            <i class="fas fa-inbox" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="stage-details float-start">
                                        <p class="m-0">
                                            <span class="card-title mb-1">
                                                <label id="headingEntity">{{ 'PRODUCTCATEGORIES.DETAIL.TITLE' | translate | configuredEntityName }}</label>
                                                <div class="overflow-box">
                                                    <strong id="nameEntity" class="pre-text">{{productCategoryName}}</strong>
                                                </div>
                                                <div>
                                                    <span id="entityRating" class="mt-2 h-21 mr-2 vertical-center">
                                                        <entity-review-display [entityTypeId]="entityTypeId" [entityId]="productCategoryId" [isFromKanbanOrListView]="false"
                                                            [isEditPermission]="isEditProductCategory">
                                                        </entity-review-display>
                                                    </span>
                                                    <span id="badgeActiveInactive"
                                                        [ngClass]="productCategory.isActive == true ? 'bg-primary' : 'bg-danger'"
                                                        class="mt-2 h-21 badge badge--status">
                                                        {{ productCategory.isActive | active }}
                                                    </span>
                                                </div>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl col-lg details-section mb-xl-0 mb-lg-3 mb-md-0 mb-sm-3 mb-1 align-self-start">
                                    <div class="row col-header">
                                        <div class="col-sm-12 col-header-label col-created-label">
                                            <label>{{ 'PRODUCTCATEGORIES.DETAIL.HEADER_CREATED' | translate }}</label>
                                        </div>
                                        <div class="col-sm-12 col">
                                            <p class="m-0" id="lblCreatedDate">
                                                {{ productCategory.created | date }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-arrow col-lg">
                                    <div class="row">
                                        <div class="col-12">
                                            <button id="btn-back" class='btn btn-secondary mb-12px' type='button'
                                                (click)="backToList()">
                                                {{ 'PRODUCTCATEGORIES.DETAIL.BUTTON_BACK' | translate }}
                                            </button>
                                        </div>
                                        <div *ngIf="isEditProductCategory" class="col-12">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle btn-action" type="button"
                                                    id="dropdownActionMenu" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    {{ 'PRODUCTCATEGORIES.DETAIL.BUTTON_ACTION' | translate }}
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownActionMenu">
                                                    <a id="link-change-status" (click)="onActionChangeStatus()"
                                                        class="dropdown-item menu--item">
                                                        <i class="fas fa-toggle-on" aria-hidden="true"></i>
                                                        {{ 'PRODUCTCATEGORIES.DETAIL.ACTION_TITLE_CHANGESTATUS' | translate }}
                                                    </a>
                                                    <a *ngIf="isDeleteProductCategory" id="link-delete" (click)="onDeleteProductCategoryClick(productCategory.id)"
                                                        class="dropdown-item menu--item">
                                                        <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                        {{'PRODUCTCATEGORIES.DETAIL.ACTION_TITLE_DELETE' | translate }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 align-self-end align-tags top-margin-tags">
                                    <div class="vertical-bottom flex-nowrap justify-content-between">
                                        <entity-tags-view [refreshEntityTag]="refreshEntityTag"
                                            [entityId]="productCategoryId" [entityTypeId]="entityTypeId"
                                            [entityRecordTypeId]="entityRecordTypeId">
                                        </entity-tags-view>
                                    
                                        <div class="pt-3 pl-3 pe-2 d-flex bookmark-icon">
                                            <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="productCategoryId" [isEditPermission]="isEditProductCategory"
                                                class="font-18" [isFromKanbanOrListView]="false">
                                            </ngx-bookmark>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Body Start-->
    <div class="page-content container-fluid pr-0">
        <div class="row h---100vh w-100">
            <div class="col col-xl-8 col-lg-12 mb-xl-0 mb-2 pr-0 details-box">
                <!-- nav Tab Menu Start -->
                <div class="navTabs card-bottom-border border-0 p-card">
                    <div class="row width--100 border-bottom m-0 first-tabs">
                        <!-- Tab Section here -->
                        <ng-container>
                            <ngx-globle-nav-tab [navTabs]="navTabs" [isNativeTab]="isNativeTab" (setTab)="checkTabCall($event,1)"
                                class="col tabs-mobile p-0" (closeTab)="closeNavTab($event)"
                                [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navHistory', 'additionalTabs', 'navDocuments'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
                        <div class="col-auto edit-form-icon px-0">
                            <div *ngIf="isEditProductCategory && productCategory.isActive">
                                <i class="fas fa-pencil-alt pencil-icon fa-lg clr-blue float-right cursor-pointer"
                                    id="btnEditTabDetail" (click)="showHideDetailTab('EDIT')"
                                    *ngIf="isReadOnly && !(['navRelatedProducts', 'navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel start -->
                            <div class="form-update-icons" *ngIf="!isReadOnly && !(['navRelatedProducts', 'navHistory', 'additionalTabs','navDocuments'] | showHidePencilButton: activeTab)">
                                <i id="btn-cancel" *ngIf="isEditProductCategory && productCategory.isActive"
                                    class="fas fa-times fa-lg dark-grey float-right mr-3"
                                    (click)="showHideDetailTab('CANCEL')" aria-hidden="true"></i>
                                <i *ngIf="isEditProductCategory && productCategory.isActive" id="btn-save"
                                    class="fas fa-check fa-lg clr-blue float-right" (click)="showHideDetailTab('SAVE')" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel end -->
                        </div>
                    </div>

                    <!-- Tab Content Start -->
                    <form [hidden]="isAdditionalTab" [formGroup]="productCategoryForm">
                        <div class="tab-content border-0 mt-0" id="productCategoryDetailTabContent">
                            <!-- Details Start-->
                            <div class="tab-pane fade px-0 p-0" id="navDetails" role="tabpanel" [ngClass]="selectedTab == 'navDetails' ? 'show active' : ''"
                                aria-labelledby="navDetails-tab" name="navDetails">

                                <!-- Basic Information Start-->
                                <div class="card border-0 m-0 pt-md-0 pt-3">
                                    <div class="card-header btn-card-edit py-0">
                                        <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">{{
                                            'PRODUCTCATEGORIES.DETAIL.TAB_DETAILS.BASIC_INFO' | translate }}</span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <div class='col-xl-4 col-sm-6 form-group'>
                                                <label>
                                                    {{ 'PRODUCTCATEGORIES.DETAIL.TAB_DETAILS.NAME' | translate }}
                                                    <span class="mandatory"></span>
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{ productCategory.name ? productCategory.name : '&nbsp;' }}</div>
                                                <input #categoryTxtName *ngIf="!isReadOnly" id="txt-name" type="text"
                                                    class="form-control" formControlName="name"
                                                    [(ngModel)]="productCategory.name" trimValue
                                                    [ngClass]="{ 'is-invalid': productCategoryfrm.name.errors && (productCategoryfrm.name.dirty || productCategoryfrm.name.touched)}"
                                                    trimValue>
                                                <div *ngFor='let validation of productCategoryValidationMessages.name'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='productCategoryfrm.name.hasError(validation.type) && productCategoryfrm.name.errors && (productCategoryfrm.name.dirty || productCategoryfrm.name.touched)'
                                                        id="errorNameIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-xl-4 col-sm-6 form-group'>
                                                <label>
                                                    {{ 'PRODUCTCATEGORIES.DETAIL.TAB_DETAILS.CODE' | translate }}
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text pre-text">{{ productCategory.code ? productCategory.code : '&nbsp;' }}</div>
                                                <input *ngIf="!isReadOnly" id="txt-code" type="text"
                                                    class="form-control" formControlName="code"
                                                    [(ngModel)]="productCategory.code" trimValue
                                                    [ngClass]="{ 'is-invalid': productCategoryfrm.code.errors && (productCategoryfrm.code.dirty || productCategoryfrm.code.touched)}"
                                                    trimValue>
                                                <div *ngFor='let validation of productCategoryValidationMessages.code'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='productCategoryfrm.code.hasError(validation.type) && productCategoryfrm.code.errors && (productCategoryfrm.code.dirty || productCategoryfrm.code.touched)'
                                                        id="errorCodeIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-xl-4 col-sm-6 form-group'>
                                                <label>{{'PRODUCTCATEGORIES.DETAIL.TAB_DETAILS.PARENT' |
                                                    translate}}</label>
                                                <div class="disable-text pre-text" *ngIf="isReadOnly">{{ productCategory.parentName ? productCategory.parentName : '&nbsp;' }}</div>
                                                <p-dropdown *ngIf="!isReadOnly" id="drp-parent" class="form-control"
                                                    formControlName="parent" [filter]="true" [resetFilterOnHide]="false"
                                                    [showClear]="true" [options]="parentCategoryOptions"
                                                    placeholder="{{'PRODUCTCATEGORIES.DETAIL.TAB_DETAILS.PARENT_PLACEHOLDER' | translate| configuredEntityName}}"
                                                    optionLabel="label" optionValue="value"
                                                    [(ngModel)]="productCategory.parentID"
                                                    [ngClass]="{ 'is-invalid': productCategoryfrm.parent.errors }">
                                                </p-dropdown>
                                                <div *ngFor='let validation of productCategoryValidationMessages.parent'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='productCategoryfrm.parent.hasError(validation.type) && productCategoryfrm.parent.errors'
                                                        id="errorparentErrorMessage">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-xl-12 form-group'>
                                                <label>
                                                    {{ 'PRODUCTCATEGORIES.DETAIL.TAB_DETAILS.DESSCRIPTION' | translate }}
                                                </label>
                                                <div *ngIf="isReadOnly" class="disable-text">
                                                    {{ productCategory.description ? productCategory.description : '&nbsp;' }}
                                                </div>
                                                <textarea *ngIf="!isReadOnly" id="txt-description"
                                                    formControlName="description" class="form-control ht--40"
                                                    name="description" rows="6" trimValue
                                                    [(ngModel)]="productCategory.description"
                                                    [ngClass]="{ 'is-invalid': productCategoryfrm.description.errors && (productCategoryfrm.description.dirty || productCategoryfrm.description.touched)}">
                                                </textarea>
                                                <div *ngFor='let validation of productCategoryValidationMessages.description'
                                                    class='invalid-feedback'>
                                                    <div *ngIf='productCategoryfrm.description.hasError(validation.type) && productCategoryfrm.description.errors && (productCategoryfrm.description.dirty || productCategoryfrm.description.touched)'
                                                        id="errorDescriptionIsRequired">
                                                        {{ validation.message | translate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Details End-->

                            <!-- Custom Start-->
                            <div class="tab-pane fade px-0 pt-0" [ngClass]="selectedTab == ('nav' + tab.tabName | removeWhiteSpace) ? 'show active' : ''"
                                *ngFor="let tab of formDataJSON; let i = index" id="{{ 'nav' + tab.tabName | removeWhiteSpace }}" name="navCustom"
                                role="tabpanel" aria-labelledby="navCustom-tab">
                                <!-- Section Start-->
                                <div class='card border-0 m-0 pt-md-0 pt-3'
                                    *ngFor="let section of tab.sections; let j = index">
                                    <div class="card-header btn-card-edit py-0">
                                        <span *ngIf="section.sectionName" class="vertical-center py-md-3 pt-0 pb-3 line-height-1">
                                            {{ section.sectionName }}
                                        </span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <ngx-custom-field [formGroup]="productCategoryForm" [section]="section" [controls]="section.controls"
                                                [customFieldJSONData]="productCategory.customFieldJSONData" [isReadOnly]="isReadOnly"
                                                [submitted]="submitted" [currencySymbol]="currencySymbol" [refreshTabularDataSource]="refreshCustomFieldDatasource"
                                                [entityID]="productCategoryId" [entityTypeID]="entityTypeId" [entityRecordTypeID]="entityRecordTypeId"></ngx-custom-field>
                                        </div>
                                    </div>
                                </div>
                                <!-- Section End-->
                            </div>
                            <!-- Custom End-->

                            <!-- Related Products Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navRelatedProducts" role="tabpanel" [ngClass]="selectedTab == 'navRelatedProducts' ? 'show active' : ''"
                                aria-labelledby="navRelatedProducts-tab" name="navProducts">
                                <div *ngIf="isEditProductCategory && productCategory.isActive" class="mb-3 vertical-center justify-content-end dropdown-with-add">
                                    <div>
                                        <ngx-control-level-loading-bar *ngIf="isShowLoaderForProductCategory"></ngx-control-level-loading-bar>
                                        <p-dropdown #relatedProductDrp
                                            id="drp-relatedProduct" [options]="productsForProductCategory" [filter]="true"
                                            [resetFilterOnHide]="false" [showClear]="true" [(ngModel)]="selectedProduct"
                                            [ngModelOptions]="{standalone: true}"
                                            class="form-control static-dropdown-width text-left mb-0"
                                            placeholder="{{'PRODUCTCATEGORIES.DETAIL.TAB_RELATEDPRODUCTS.ADD_RELATEDPRODUCTS_PLACEHOLDER' | translate| configuredEntityName}}"
                                            (onFilter)="relatedProductsOnFilter($event)"
                                            (onChange)="relatedProductsOnChange($event)" optionLabel="name" optionValue="id">
                                            <ng-template let-entity pTemplate="item">
                                                <div class="entity-pad pl-0">
                                                    {{entity.type ? (entity.name + ' ('+ entity.type+')') : entity.name}}
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                    <button *ngIf="isEditProductCategory && isAddProducts" type="button" id="btn-add-relatedProduct"
                                        class="btn btn-primary ml-3" (click)="addRelatedProduct()">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="table-responsive">
                                    <ng-container *ngIf="onceRelatedProductClicked">
                                        <app-dynamic-table
                                            *ngIf="!refreshRelatedProducts; else refreshChildComponent('RelatedProducts')"
                                            [code]="'PRODUCTS_FOR_PRODUCTCATEGORY'" [parameters]="dcRelatedProductsParameters"
                                            (onDeleteClick)="deleteRelatedProduct($event)">
                                        </app-dynamic-table>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- Related Products End-->

                            <!-- Stage/Pause history Start-->
                            <div class="tab-pane fade" id="navHistory" role="tabpanel" [ngClass]="selectedTab == 'navHistory' ? 'show active' : ''"
                                aria-labelledby="navHistory-tab" name="navHistory">
                                <ng-container *ngIf="onceStageHistoryClicked">
                                    <ngx-history-tab [entityWorkflowId]="null" [entityTypeId]="entityTypeId" [entityId]="productCategoryId"
                                        [hoursInDay]="hoursInDay" [refreshStageHistory]="refreshStageHistory"
                                        [refreshActivityHistory]="refreshActivityHistory"></ngx-history-tab>
                                </ng-container>
                            </div>
                            <!-- Stage/Pause history End-->

                            <!-- Document Start-->
                            <div class="tab-pane fade p-3 search-wrapper" id="navDocuments" role="tabpanel"
                                [ngClass]="selectedTab == 'navDocuments' ? 'show active' : ''" aria-labelledby="navDocuments-tab"
                                name="navDocuments">
                                <ng-container *ngIf="onceDocumentClicked">
                                    <ngx-entity-documents [entityID]="productCategoryId" class="entity-documents" [entityTypeID]="entityTypeId"
                                        [isDocumentDownloadPermission]="isDocumentDownloadPermission && productCategory.isActive"
                                        [isEditPermission]="isEditProductCategory && productCategory.isActive"
                                        [refreshFromParent]="refreshActivityHistory"
                                        (refreshDocuments)="setRefreshDocument()">
                                    </ngx-entity-documents>
                                </ng-container>
                            </div>
                            <!-- Document End-->
                        </div>
                    </form>
                    <!-- Tab Content END -->
                    <div *ngIf="isAdditionalTab">
                        <!-- Tab Additional here -->
                        <ng-container>
                            <ngx-globle-nav-tab [isNativeTab]="isNativeTab" [isAdditionalTab]="isAdditionalTab" [navTabs]="navTabsMore" (setTab)="checkTabCall($event,0)"
                                class="col-12 p-0" (closeTab)="closeNavTab($event)"
                                [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navHistory', 'additionalTabs'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
                        </ng-container>
                    </div>
                    <!-- Tab Other Tabs Link -->

                </div>
            </div>
            <activity-section 
                [createdBy]="productCategory?.createdBy"
                [privacyLevel]="null"
                [entityTypeId]="entityTypeId" 
                [entityId]="productCategoryId" 
                [isTagRequired]="true"
                [isEditPermission]="isEditProductCategory" 
                [isActive]="productCategory.isActive"
                [isDocumentRequired]="true"
                [refreshDocument]="refreshDocument"
                [refreshActivity]="refreshActivity" 
                [entityRecordTypeId]="entityRecordTypeId" 
                [isDocumentDownloadPermission]="isDocumentDownloadPermission && productCategory.isActive"
                (isTagListUpdated)="setRefreshEntityTag()" 
                (isActivityListUpdated)="setRefreshActivityHistory()" 
                class="col-xl-4 col-md-12 common-box pr-0">
            </activity-section>
        </div>
    </div>
    <!-- Body End-->
</div>