<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{title}}</h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add product sku Start -->
<div class="modal-body padding-32 pt-3" *ngIf="productSkuForm">
    <form [formGroup]='productSkuForm'>
        <div class="row">
            <div class=" col-md-12 form-group" *ngIf="isShowProductControl">
                <label>{{'PRODUCTSKU.ADD_DIALOG.PRODUCT' | translate | configuredEntityName}}<span class="mandatory"></span></label>
                <p-dropdown id="drp-product" name="productId" formControlName="productId" [options]="productList"
                    optionLabel="label" optionValue="value" class="form-control" filterBy="label"
                    placeholder="{{'PRODUCTSKU.ADD_DIALOG.PRODUCT_PLACEHOLDER' | translate | configuredEntityName}}" 
                    [resetFilterOnHide]="false" [filter]="true" [showClear]="true" (onFilter)="ProductOnFilter($event)"
                    [ngClass]="{ 'is-invalid': productSkuForm['controls'].productId.errors && (productSkuForm['controls'].productId.dirty || productSkuForm['controls'].productId.touched) }">
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.productId' class='invalid-feedback'>
                    <div
                        *ngIf="productSkuForm['controls'].productId.hasError(validation.type) && productSkuForm['controls'].productId.errors && (productSkuForm['controls'].productId.dirty || productSkuForm['controls'].productId.touched)">
                        {{ validation.message | translate | configuredEntityName}}
                    </div>
                </div>
            </div>
            <div class=" col-md-12 form-group">
                <label>{{'PRODUCTSKU.ADD_DIALOG.NAME' | translate}} <span class="mandatory"></span></label>
                <input type="text" formControlName="name" id="txt-name" class="form-control ht--40" trimValue
                    [ngClass]="{ 'is-invalid': productSkuForm['controls'].name.errors && (productSkuForm['controls'].name.dirty || productSkuForm['controls'].name.touched) }">
                <div *ngFor='let validation of validation_messages.name' class='invalid-feedback'>
                    <div
                        *ngIf="productSkuForm['controls'].name.hasError(validation.type) && productSkuForm['controls'].name.errors && (productSkuForm['controls'].name.dirty || productSkuForm['controls'].name.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" col-md-12 form-group">
                <label>{{'PRODUCTSKU.ADD_DIALOG.SKU' | translate}} <span class="mandatory"></span></label>
                <input type="text" formControlName="sku" id="txt-sku" class="form-control ht--40" trimValue
                    [ngClass]="{ 'is-invalid': productSkuForm['controls'].sku.errors && (productSkuForm['controls'].sku.dirty || productSkuForm['controls'].sku.touched) }">
                <div *ngFor='let validation of validation_messages.sku' class='invalid-feedback'>
                    <div
                        *ngIf="productSkuForm['controls'].sku.hasError(validation.type) && productSkuForm['controls'].sku.errors && (productSkuForm['controls'].sku.dirty || productSkuForm['controls'].sku.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" col-md-12 form-group">
                <label>{{'PRODUCTSKU.ADD_DIALOG.STOCKQTY' | translate}}</label>
                <input type="text" formControlName="stockQty" id="text-stockQty" class="form-control ht--40"
                     trimValue mask="separator.3" thousandSeparator="," maxlength="18"
                    [ngClass]="{ 'is-invalid': productSkuForm['controls'].stockQty.errors && (productSkuForm['controls'].stockQty.dirty || productSkuForm['controls'].stockQty.touched) }">
                <div *ngFor='let validation of validation_messages.stockQty' class='invalid-feedback'>
                    <div
                        *ngIf="productSkuForm['controls'].stockQty.hasError(validation.type) && productSkuForm['controls'].stockQty.errors && (productSkuForm['controls'].stockQty.dirty || productSkuForm['controls'].stockQty.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" col-md-12 form-group">
                <label>{{'PRODUCTS.ADD_DIALOG.UOM' | translate}}</label>
                <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" ngbTooltip="Unit Of Measurement" placement="top top-left" container="body" aria-hidden="true"></i>
                <ngx-control-level-loading-bar *ngIf="showUOMLoader"></ngx-control-level-loading-bar>
                <p-dropdown id="drp-uom" name="uomId" formControlName="uomId" [options]="groupedUOMTypes"
                    optionLabel="label" optionValue="value" [group]="true" class="form-control" filterBy="label,groupLabel"
                    placeholder="{{'PRODUCTS.ADD_DIALOG.UOM_PLACEHOLDER' | translate}}" [filter]="true"
                    [resetFilterOnHide]="false" [showClear]="true">
                    <ng-template let-group pTemplate="group">
                        {{group.label}}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <span>{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class=" col-md-12 form-group">
                <label>{{'PRODUCTSKU.ADD_DIALOG.PRICE' | translate}}</label>
                <div class="inner-addon left-addon">
                    <span>{{currencySymbol}}</span>
                    <input type="text" id="txt-price" class="form-control ht--40" formControlName="price" maxlength="18"
                        mask="separator.2" thousandSeparator="," trimValue
                        [ngClass]="{ 'is-invalid': productSkuForm['controls'].price.errors && (productSkuForm['controls'].price.dirty || productSkuForm['controls'].price.touched) }">
                    <div *ngFor='let validation of validation_messages.price' class='invalid-feedback'>
                        <div
                            *ngIf="productSkuForm['controls'].price.hasError(validation.type) && productSkuForm['controls'].price.errors && (productSkuForm['controls'].price.dirty || productSkuForm['controls'].price.touched)">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                (click)="onCloseForm(false)">{{'PRODUCTSKU.ADD_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="saveProductSku(productSkuForm.value)" id="btn-save"
                class='btn btn-primary'>{{'PRODUCTSKU.ADD_DIALOG.BUTTON_ADD' | translate}}</button>
        </div>
    </form>
</div>
<!-- Add Work Task End -->