.avatar.rounded-circle{
    width: 24px;
    height: 24px;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}

::ng-deep {
    .popover-panel .widget-loader {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    background-color:  rgba(0, 0, 0, 0.15) !important;
    z-index: 1070;
    border-radius: 5px;
    }
    .nb-theme-dark .popover-panel .widget-loader {
    background-color: rgba(105,105,105, 0.4) !important;
    }
    .popover-panel .widget-loader .bounce-spinner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    }
    .popover-panel .widget-loader .bounce-spinner > div {
    width: 15px;
    height: 15px;
    background-color: #00a4e3 !important;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .nb-theme-dark .popover-panel .bounce-spinner > div {
    background-color: #9ed5ff !important;
    }
    .popover-panel .widget-loader .bounce-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    }
    .popover-panel .widget-loader .bounce-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    }
  
    .popover-panel .show-widget-loader {
    display: block !important;
    }
  
    .popover-panel .hide-widget-loader {
    display: none !important;
    }
  
    .page-containted .popover-panel:not(.col-xl-4) .widget-loader{
      @media (min-width: 1200px) { display: none !important; }
    }
  
    .popover-panel.entity-right-panel .widget-loader{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
