<div class="vertical-center flex-nowrap">
    <ng-container *ngIf="showData?.jsonData?.ID else addImageIcon">
        <ng-container *ngIf="showData?.jsonData?.ImagePath != null && showData?.jsonData?.ImagePath != '' else avtarInitials">
            <img [attr.disabled]="isItemDisable" id="btn-owner1"
                [ngClass]="isItemDisable ? 'cursor-default' : 'cursor-pointer'"
                class="rounded-circle avatar me-2" src="{{ showData?.jsonData?.ImagePathBySignedUrl }}"
                onerror="this.src='assets/images/default/users/no-image.jpg';" alt=""
                (click)="onClickEvent($event);stopPropagation($event)" (mouseenter)="showPopover()" (mouseleave)="dismissPopover()"
                [stickyPopover]="userProfileDetail" container="body" triggers="manual" />
        </ng-container>

        <ng-template #avtarInitials>
            <ngx-avatar size="24" id="btn-owner1" [attr.disabled]="isItemDisable" [bgColor]="showData?.jsonData?.AvatarBGColor"
                class="rounded-circle avatar me-2" [ngClass]="isItemDisable ? 'cursor-default' : 'cursor-pointer'"
                name="{{ showData?.jsonData?.ShortName }}" (click)="onClickEvent($event);stopPropagation($event)"
                (mouseenter)="showPopover()" (mouseleave)="dismissPopover()" [stickyPopover]="userProfileDetail" container="body" triggers="manual">
            </ngx-avatar>
        </ng-template>
        <span class="pre-text" *ngIf="isShowName">{{ showData?.jsonData?.DisplayName }}</span>
    </ng-container>

    <ng-template #addImageIcon>
        <p class="m-0">
            <i class="fas fa-user-plus font-15 dark-grey mr-6px" id="btn-owner1"
                [ngClass]="isItemDisable ? 'cursor-default' : 'cursor-pointer'" placement="top bottom"
                container="body" aria-hidden="true" (click)="onClickEvent($event);stopPropagation($event)">
            </i>
        </p>
    </ng-template>
</div>



<!-- User Profile Popover Starts -->
<ng-template #userProfileDetail>
    <div class="popover-panel position-relative">
        <ngx-common-skeleton-loader *ngIf="showSkeletonLoader else userProfileDetailContent"></ngx-common-skeleton-loader>
        <ng-template #userProfileDetailContent>
            <div *ngIf="allProfileData">
                <div class="bg-header-blue p-3">
                    <div class="text-center mb-3 fw-semibold font-14">
                        <u>{{userLabel}}</u>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-auto pe-0">
                            <div class="user-header-img">
                                <ng-container
                                    *ngIf="showData?.jsonData?.ImagePath != null && showData?.jsonData?.ImagePath != '' else avtarInitialsPopover">
                                    <img id="btn-owner2" class="rounded-circle avatar me-2"
                                        src="{{ showData?.jsonData?.ImagePathBySignedUrl }}"
                                        onerror="this.src='assets/images/default/users/no-image.jpg';" alt="" />
                                </ng-container>
                                <ng-template #avtarInitialsPopover>
                                    <ngx-avatar size="70" id="btn-owner2" [bgColor]="showData?.jsonData?.AvatarBGColor"
                                        class="rounded-circle avatar me-2" name="{{ showData?.jsonData?.ShortName }}">
                                    </ngx-avatar>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h6 mb-1">{{allProfileData?.Name}}</div>
                            <div class="fw-semibold mb-1">{{allProfileData?.Title}}</div>
                            <div class="fw-semibold">{{allProfileData?.Qualifications}}</div>
                        </div>
                    </div>
            
                    <!-- Social media links start -->
                    <div class="row justify-content-center" *ngIf="!allProfileData?.IsAnonymous">
                        <div class="col-auto">
                            <div [ngbTooltip]="('COMMON.COMMON_USER_PROFILE.TOOLTIP_EMAIL' | translate) + (allProfileData?.Email ? ': '+allProfileData?.Email : '')" container="body" placement="top auto">
                                <a [ngClass]="{'isDisabled':!allProfileData?.Email}" href="{{'mailto:' + allProfileData?.Email}}" target="_blank">
                                    <i class="fa-solid fa-envelope font-16 blue-color-text"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div [ngbTooltip]="('COMMON.COMMON_USER_PROFILE.TOOLTIP_PHONE' | translate) + (allProfileData?.Phone ? ': '+allProfileData?.Phone : '')" placement="top auto" container="body">
                                <a [ngClass]="{'isDisabled':!allProfileData?.Phone}" href="{{ allProfileData?.Phone  | phone:'link'}}">
                                    <i class="fa-solid fa-phone font-16 blue-color-text"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div [ngbTooltip]="('COMMON.COMMON_USER_PROFILE.TOOLTIP_WEBSITE' | translate)" container="body" placement="top auto">
                                <a [ngClass]="{'isDisabled':!allProfileData?.Website}" [href]="allProfileData?.Website | hrefLink" target="_blank">
                                    <i class="fa-solid fa-globe font-16 blue-color-text"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div [ngbTooltip]="('COMMON.COMMON_USER_PROFILE.TOOLTIP_LINKEDIN' | translate)" container="body" placement="top auto">
                                <a [ngClass]="{'isDisabled':!allProfileData?.LIProfile}" [href]="allProfileData?.LIProfile | hrefLink" target="_blank">
                                    <i class="pi pi-linkedin font-16 blue-color-text"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div [ngbTooltip]="('COMMON.COMMON_USER_PROFILE.TOOLTIP_FACEBOOK' | translate)" container="body" placement="top auto">
                                <a [ngClass]="{'isDisabled':!allProfileData?.FBProfile}" [href]="allProfileData?.FBProfile | hrefLink" target="_blank">
                                    <i class="fa-brands fa-facebook font-16 blue-color-text"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div [ngbTooltip]="('COMMON.COMMON_USER_PROFILE.TOOLTIP_TWITTER' | translate)" container="body" placement="top auto">
                                <a [ngClass]="{'isDisabled':!allProfileData?.TWProfile}" [href]="allProfileData?.TWProfile | hrefLink"target="_blank">
                                    <i class="fa-brands fa-twitter font-16 blue-color-text"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Social media links end -->
                </div>
                <div class="profile-description pt-3 px-3" *ngIf="allProfileData?.AboutMe">
                    <div [innerHtml]="allProfileData?.AboutMe"></div>
                </div>
                <div *ngIf="allProfileData?.Achievements" class="pb-3 px-3">
                    <div class="font-13 mb-2 pt-3">
                        <i class="fa-solid fa-trophy me-2"></i><span class="fw-semibold">{{'COMMON.COMMON_USER_PROFILE.LABEL_ACHIEVEMENTS' | translate | configuredEntityName}}</span>
                    </div>
                    <div class="profile-description">
                        <div [innerHtml]="allProfileData?.Achievements"></div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</ng-template>
<!-- User Profile Popover Ends -->