@import "../../../../scss/variables";
@import '../../../../scss/entity_kanban.scss';

//Table
.tbl-worktask-listing{
    @media (min-width: 641px){
        .checkbox-col{ width: 50px; max-width: 50px; }
        th.user-img, td.user-img { width:50px; text-align: center; }
        th.taskNumber, td.taskNumber{ width: 285px; min-width: 285px; padding-left: 4px; }
        th.name, td.name {width: 200px; min-width: 200px; word-break: break-word; }
        th.created, td.created {width: 160px; min-width: 160px; }
        th.entityName, td.entityName{ width: 180px; min-width: 180px; }
        th.stageName, td.stageName{ width: 160px; min-width: 160px; }
        th.type, td.type{ width: 160px; min-width: 160px; }
        th.assignedToName, td.assignedToName, th.verifiedByName, td.verifiedByName, th.createdByName, td.createdByName{ width: 60px; min-width: 60px; }
        th.priority, td.priority{ width: 60px; min-width: 60px; max-width: 60px; }
        th.severity, td.severity{ width: 60px; min-width: 60px; max-width: 60px;}
        th.entityWorkFlowName, td.entityWorkFlowName{ width: 160px; min-width: 160px; }
        th.icon-dropdown, td.icon-dropdown { width:60px; min-width: 60px; max-width: 60px; }
        th.id.action, td.action{ justify-content: flex-end; }
        th.id.action.action-null{ width: 0; max-width: 0; padding: 0; }
        th.privacyIcon, td.privacyIcon { padding-left: 0; padding-right: 0; max-width: 20px; min-width: 20px; width: 20px; }
    }
    
    @media (max-width: 640px){
        td.checkbox-col, td.bookmark, td.privacyIcon { float: left; clear: none; min-width: auto; width: auto !important; max-width: none !important; align-items: flex-end;}
        td.bookmark, td.privacyIcon { padding-left: 0; padding-bottom: 6px; }
    }
}



.btn-mg{ margin: 0;
}

.btn-reset-filter.btn-mg{ margin: 0 20px 0 0; 
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 21px; padding-top: 0;
    @media (max-width: 575px) { margin-top: 0px; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 991px) { margin-top: 0; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width).col-sm-4, .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width).col-sm-2 {
    @media (max-width: 767px) and (min-width: 576px) { flex: 0 0 50%; max-width: 50%; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 1024px) and (min-width: 992px) { margin-top: 0; padding-top: 0; }
    @media (max-width: 575px) { margin-top: 0; padding-top: 0; }
}

.height-full{
    @media (max-width: 1279px) and (min-width: 1200px) { height: calc(100vh - 135px); }
}

td .link--drag{ margin-right: 6px; display: flex; padding: 0; }

.list-card-description{ white-space: normal; }

::ng-deep .p-datatable .p-datatable-thead > tr > th{ white-space: nowrap; }

.custom-control.custom-checkbox { font-size: 18px; }

.avatar {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.customInputText{
    height: 34px;
}

// prime ng input override - start
:host ::ng-deep{
    .dropDownOverride.p-dropdown {
        width: 100%;
    }
    .p-inputswitch .p-inputswitch-slider{
        background-color: red;
    }
    .p-inputswitch-checked .p-inputswitch-slider{
        background-color: #2196F3;
    }
}

.btn-assign-bulk-workflow { padding: 5px 10px 2px;}
.all-worktasks .assign-bulk-workflow::before{ content: url("../../../../assets/images/icon/assign-workflow-light.png"); }
::ng-deep .nb-theme-dark .all-worktasks .assign-bulk-workflow::before{ content: url("../../../../assets/images/icon/assign-workflow-dark.png") !important; }
.icon-workflow::before{ content: url("../../../../assets/images/icon/workflow.png"); }
::ng-deep .nb-theme-dark .icon-workflow::before{ content: url("../../../../assets/images/icon/workflow-dark.png"); }
.height-16px, .icon-workflow, .icon-workflow::before{ height: 16px; max-height: 16px; }
.mb-2px{ margin-bottom: 2px; }

.filters-five .worktask-listing-filters .filter-width { 
    @media (min-width: 1200px) { max-width: 250px; min-width: 82px;
        &.checkbox-column { max-width: initial; }
    }
}

.custom-control.custom-checkbox .custom-control-input.w-20-size, .check-group .custom-control-input.w-20-size{ width: 20px; height: 20px; }
.worktask-listing-filters .checkbox-field.pt-30px{ padding-top: 24px;
    @media (max-width: 1317px) and (min-width: 1200px) { padding-top: 13px; }
    @media (max-width: 1199px) and (min-width: 992px) { padding-top: 9px; }
    @media (max-width: 991px) and (min-width: 768px) { padding-top: 13px; max-width: 90px; }
    @media (max-width: 767px) and (min-width: 576px) { padding-top: 9px; }
}
::ng-deep .expanded .worktask-listing-filters .pt-30px{ 
    @media (max-width: 1524px) and (min-width: 1200px) { padding-top: 13px !important; }
}
::ng-deep .entity-page.all-worktasks .p-datatable-wrapper {
    @media (min-width: 1200px) { min-height: calc(100vh - 125px); }
}
.all-worktasks .list-move-scroll-activity {
    @media (min-width: 1200px) { max-width: calc(100% - 427px); }
}
.all-worktasks .entity-right-panel { 
    @media (min-width: 1200px) {top: 65px; bottom: 0; }
}
.all-worktasks .filters-panel{
    @media (min-width: 1200px) { max-height: calc(100vh - 65px); top: 65px; bottom: 0; }
    @media (max-width: 1199px) { max-height: calc(100vh - 65px); min-height: calc(100vh - 65px); top: 40px; }
}