<div class="entity-page entity-main filters-five all-worktasks">
    <!-- Header Start -->
    <div class="page-header">
        <div class="container-fluid lineheight35 heading-page mb-2">
            <div class="row">
                <div class="col-md-6 lh-sm">
                    <h4 class="m-0">
                        <span id="headingEntity" class="header-text">{{ EntityTitle | translate |
                            configuredEntityName }}</span>
                    </h4>
                </div>
                <div class="col">
                    <div class="btn-view">
                        <a id="btn-assign-entity" *ngIf="isEditWorktask && isAssignWorkflow" id="btn-import-entity"
                            triggers="hover" tooltipClass="tooltip-backward-small" container="body" ngbTooltip="{{ 'WORKTASK.LISTING.TOOLTIP_ASSIGN' | translate }}"
                            placement="top auto" class="btn btn-link p-0 mr-3" 
                            (click)="assignWorkflow()" >
                            <i class="assign-bulk-workflow" aria-hidden="true"></i>
                        </a>
                        <div class="inner-addon right-addon text-search-entity mr-3">
                            <span class="pi pi-search dark-grey"></span>
                            <input type="text" id="txt-search-text" pInputText #searchTextInput placeholder="Search" class="form-control"
                                [(ngModel)]="pagingParams.searchString" />
                        </div>
                        <a id="btn-show-filters" class="btn btn-link p-0 text-nowrap mr-3 position-relative" ngbTooltip="Filter"
                            placement="top auto" container="body" (click)="showhideFilter()">
                            <i class="fa-solid fa-filter fs-3" aria-hidden="true" id="i-show-filters"></i>
                            <span class="count-filters" id="span-show-filters" *ngIf="filterCount > 0">{{filterCount}}</span>
                        </a>
                        <a *ngIf="isExportWorkTasks" id="btn-export-to-excel" class="btn btn-link p-0 text-nowrap mr-3" ngbTooltip="Export"
                            placement="top auto" container="body" (click)="exportExcel()">
                            <i class="fa-solid fa-file-arrow-up fs-3" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="isImportWorktask" id="btn-import-entity" class="btn btn-link p-0 text-nowrap mr-3 position-relative"
                            ngbTooltip="Import" placement="top auto" container="body" (click)="openWorktaskImport()">
                            <i class="fa-regular fa-file fs-3" aria-hidden="true"></i>
                            <i class="fa-solid fa-arrow-down import-icon"></i>
                        </a>
                        <button *ngIf="isAddWorktask" type="button" id="btn-add-entity" class="btn btn-primary vertical-center"
                            ngbTooltip="{{'WORKTASK.LIST.BUTTON_ADD' | translate | configuredEntityName}}" placement="top bottom-right"
                            container="body" (click)="addWorkTask()">
                            <i class="fa fa-plus-circle fs-4" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Page Content Start -->
    <div class="page-content">
        <div class="entity-search-area">
            <div class="container-fluid" *ngIf="isFilterVisible">
              <div class='row worktask-filters filters-custom'>
                <div class="col-xl d-sm-flex filters-panel" Class="filters-assign-entity">
                  <ngx-dynamic-common-filter 
                    class="w-100" 
                    *ngIf="isfilterLoaded" 
                    [filterConfigList]="customFilterConfig"
                    (getFilterValues)="getFilterValues($event)" 
                    (multiSelectFilterEvent)="multiSelectFilterEvent($event)"
                    (isFilterVisibleChange)="isFilterVisibleChange($event)"
                    (multiSelectOnchangeEvent)="multiSelectOnchangeEvent($event)">
                  </ngx-dynamic-common-filter>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Page Content End -->

    <!-- Table Start -->
    <div class="container-fluid pb-5 pb-xl-0" [ngClass]="isShowActivityCenter ? 'list-move-scroll-activity' : ''">
        <div class="row mb-2">
            <div class="mt-1 col-12">
                <div class="tbl-worktask-listing tbl-entity p-card">
                    <p-table #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
                        [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols"
                        [value]="worktasks" sortField="created" class="tbl-worktask-listing" [sortOrder]="-1" [lazy]="true"
                        [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true" paginatorDropdownAppendTo="body"
                        [paginator]="totalRecords > 0" [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
                        [scrollHeight]="'calc(100vh - 248px)'" (onPage)="paginate($event)">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th id="tblColumnHeaderCheckbox" scope="col" class="checkbox-col">
                                    <div class="custom-control custom-checkbox mb-0">
                                        <input class="custom-control-input" type="checkbox" [(ngModel)]="isAllCheckBoxSelected" id="chkBulkAssignEntity"
                                            (change)="checkUncheckAll()">
                                        <label class="custom-control-label"> </label>
                                    </div>
                                </th>
                                <th id="tblColumnHeader" *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="[!isShowActionColumn ? 'action-null' : '', col.header == '' ? 'hide-when-no-records' : '']"
                                    [pSortableColumnDisabled]="!col.sort" class="{{col.field}} {{col.class}}" [hidden]="!col.visible"
                                    scope="col" (click)="changeOrder(col)">
                                    {{ col.header | translate | configuredEntityName}}
                                    <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [ngClass]="[rowData.isPaused ? 'lightGreyBg' : '', (rowData.cardColorClass != null &&  rowData.cardColorClass != '') ? rowData.cardColorClass : '',  selectedRowId == rowData.id ? 'selected-row' : '']" 
                            (click)="onRowClick(rowData, true)">
                                <td class="checkbox-col">
                                    <ng-container>
                                        <div class="custom-control custom-checkbox mb-0">
                                            <input class="custom-control-input" type="checkbox" [(ngModel)]="rowData.isSelected" id="chkAssignEntity"
                                                 (change)="isAllSelected()" (click)="stopPropagation($event)">
                                            <label class="custom-control-label"> </label>
                                        </div>
                                    </ng-container>
                                </td>
                                <td class="bookmark">
                                    <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="rowData.id" [isStarred]="rowData?.isStarred"
                                        [isEditPermission]="isEditWorktask && !rowData?.isPaused" [isFromKanbanOrListView]="true"></ngx-bookmark>
                                </td>
                                <td class="taskNumber">
                                    <span class="p-column-title">
                                        {{columns[1].header | translate | configuredEntityName}}
                                    </span>
                                    <span class="w-100 d-block">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <span class="d-flex flex-wrap align-items-center float-left me-2" *ngIf="rowData.taskNumber && rowData.taskNumber != null"
                                                ngbTooltip="{{ rowData?.labelTooltip1 }}" container="body" placement="top auto">
                                                <i ngClass="{{rowData.typeIconClass}}" class="me-1 font-15 dark-grey"></i>
                                                <a [routerLink]="'/worktasks/details/'  + rowData.id"
                                                    id="link-headingRecord" (click)="stopPropagation($event)"
                                                    [ngClass]="rowData?.isViewWorkTask ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.taskNumber}}</a>
                                            </span>                                           
                                            <span *ngIf="rowData?.parentTaskNumber" class="font-11 float-left me-2">
                                                <i class="fa-solid fa-less-than"></i></span>
                                                    <span *ngIf="rowData?.parentTaskNumber" class="d-flex flex-wrap align-items-center float-left me-2"
                                                        ngbTooltip="{{ rowData?.parentLabelTooltip1 }}" container="body" placement="top auto">
                                                        <i ngClass="{{rowData?.parentTypeIconClass}}" class="me-1 font-15 dark-grey"></i>
                                                        <a [routerLink]="'/worktasks/details/' + rowData.parentID" id="link-headingRecord"
                                                            (click)="stopPropagation($event)"
                                                            [ngClass]="rowData?.isParentSubTypeViewWorkTask ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.parentTaskNumber}}</a>
                                                    </span>
                                                    <span *ngIf="rowData.priority != 0" class="float-left me-2">
                                                        <button pButton tooltipClass="tooltip-backward-small"
                                                            ngbTooltip="{{'WORKTASK.LISTING.TOOLTIP_PRIORITY' | translate }}: {{rowData.priorityName!= null && rowData.priorityName != '' ? rowData.priorityName : 'NA'}}"
                                                            container="body" class="p-button-rounded p-button-sm"
                                                            [ngClass]="[(!rowData?.isEditWorkTask || rowData?.isPaused || rowData?.isCompletedStage || rowData?.isClosedStage) ? 'cursor-default' : 'cursor-pointer', (priorityDetails | displayValueFinder: { intValue1: rowData.priority}).length > 0 ? ((priorityDetails | displayValueFinder: { intValue1: rowData.priority})[0]?.strValue1?.colorClass ?? '') : '']"
                                                            type="button" triggers="hover" id="btn-priority"
                                                            (click)="onPriorityClick(rowData);stopPropagation($event)">
                                                            {{
                                                            (priorityDetails | displayValueFinder: { intValue1: rowData.priority}).length > 0
                                                            ? ((priorityDetails | displayValueFinder: { intValue1: rowData.priority})[0]?.strValue1?.initials ?? '')
                                                            : null
                                                            }}
                                                        </button>
                                                    </span>
                                                    <span *ngIf="rowData.severity != 0" class="float-left me-2">
                                                        <button pButton tooltipClass="tooltip-backward-small"
                                                            ngbTooltip="{{'WORKTASK.LISTING.TOOLTIP_SEVERITY' | translate }}: {{rowData.severityName!= null && rowData.severityName != '' ? rowData.severityName : 'NA'}}"
                                                            container="body" class="p-button-rounded p-button-sm"
                                                            [ngClass]="[(!rowData?.isEditWorkTask || rowData?.isPaused || rowData?.isCompletedStage || rowData?.isClosedStage) ? 'cursor-default' : 'cursor-pointer', (severityDetails | displayValueFinder: { intValue1: rowData.severity}).length > 0 ? ((severityDetails | displayValueFinder: { intValue1: rowData.severity})[0]?.strValue1?.colorClass ?? '') : '']"
                                                            type="button" triggers="hover" id="btn-severity"
                                                            (click)="onSeverityClick(rowData);stopPropagation($event)">
                                                            {{
                                                            (severityDetails | displayValueFinder: { intValue1: rowData.severity}).length > 0
                                                            ? ((severityDetails | displayValueFinder: { intValue1: rowData.severity})[0]?.strValue1?.initials ?? '')
                                                            : null
                                                            }}
                                                        </button>
                                                    </span>
                                                    <span *ngIf="rowData.rating != 0" class="float-left me-2">
                                                        <entity-review-display [entityTypeId]="entityTypeId" [entityId]="rowData.id" [rating]="rowData.rating" id="btn-rating"
                                                            [review]="rowData.totalReviews" [entityReviewID]="rowData.entityReviewID"
                                                            [isFromKanbanOrListView]="true"
                                                            [isEditPermission]="rowData?.isEditWorkTask && !(rowData?.isPaused ?? false)">
                                                        </entity-review-display>
                                                    </span>
                                        </div>
                                    </span>
                                </td>
                                <td class="name">
                                    <span class="p-column-title">
                                        {{columns[2].header | translate}}
                                    </span>
                                    <div class="w-100">
                                        <div class="w-100 mb-2px pre-text">{{rowData.name}}</div>
                                    </div>
                                </td>
                                <td class="entityName">
                                    <span class="p-column-title">
                                        {{columns[3].header | translate}}
                                    </span>
                                    <span class="w-100 d-block">
                                        <i *ngIf="rowData?.entityName != null && isShowEntityTypeNameIcon" [class]="_commonHelper.getEntityIconClass(rowData?.entityTypeId)" class="font-15 dark-grey fa-fw float-left me-1" aria-hidden="true" container="body" placement="top auto" [ngbTooltip]="rowData.relatedToIconToolTip"></i>
                                        <a [routerLink]="'/' + _commonHelper.getRouteNameByEntityTypeId(rowData?.entityTypeId).toLowerCase() + '/details/' + (rowData?.entityId ?? '')" id="link-relatedTo" (click)="stopPropagation($event)"
                                            [ngClass]="_commonHelper.isUserHaveViewPermissionOfRelatedEntity(rowData?.entityTypeId) ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.entityName}}</a>
                                    </span>
                                </td>
                                <td class="entityWorkFlowName" [hidden]="!columns[4].visible">
                                    <span class="p-column-title">
                                        {{columns[4].header | translate}}
                                    </span>
                                    <span class="w-100 d-flex">
                                        <div class="vertical-center flex-nowrap">
                                            <p class="m-0 height-16px">
                                                <i class="icon-workflow mr-6px" id="btn-assignWorkflow"
                                                    [ngClass]="rowData?.isEditWorkTask && isAssignWorkflow ? 'cursor-pointer' : 'cursor-default'"
                                                    placement="top bottom" container="body"
                                                    (click)="onAssignWorkflow(rowData);stopPropagation($event)"
                                                    aria-hidden="true"></i>
                                            </p>
                                            <span *ngIf="rowData.entityWorkFlowName" class="pre-text">{{rowData.entityWorkFlowName}}</span>
                                            <span *ngIf="!rowData.entityWorkFlowName" class="pre-text">{{'WORKTASK.LISTING.TABLE_PLACEHOLDER_ASSIGN_WORKFLOW' | translate}}</span>
                                        </div>
                                    </span>
                                </td>
                                <td class="stageName" [hidden]="!columns[5].visible">
                                    <span class="p-column-title">
                                        {{columns[5].header | translate}}
                                    </span>
                                    <span class="w-100 d-flex">
                                        {{rowData.stageName}}
                                    </span>
                                </td>
                                <td class="assignedToName" *ngIf="!isAssignedToHiddenInListColumn" [hidden]="!columns[6].visible">
                                    <span class="p-column-title">
                                        {{columns[6].header | translate}}
                                    </span>
                                    <ngx-common-user-profile
                                        [userId]="rowData?.assignedTo"
                                        [userTypeId]="userTypeID.AssignedTo"
                                        [privacyLevel]="rowData?.privacyLevel"
                                        [isShowName]="false"
                                        [isItemDisable]="rowData?.isPaused || !rowData?.isActive || !isAssignWorkTask"
                                        (clickEvent)="onAssignedToClick(rowData)"
                                        userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_ASSIGNEDTO' | translate | configuredEntityName}}">
                                    </ngx-common-user-profile>
                                </td>
                                <td class="verifiedByName" *ngIf="!(isVerifiedByHiddenInListColumn)" [hidden]="!columns[7].visible">
                                    <span class="p-column-title">
                                        {{columns[7].header | translate}}
                                    </span>
                                    <ngx-common-user-profile
                                        [userId]="rowData?.verifiedBy"
                                        [userTypeId]="userTypeID.VerifiedBy"
                                        [privacyLevel]="rowData?.privacyLevel"
                                        [isShowName]="false"
                                        [isItemDisable]="rowData?.isPaused || !rowData?.isActive || !isAssignWorkTask"
                                        (clickEvent)="onVerifiedByClick(rowData)"
                                        userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_VERIFIEDBY' | translate | configuredEntityName}}">
                                    </ngx-common-user-profile>
                                </td>
                                <td class="createdByName">
                                    <span class="p-column-title">
                                      {{columns[8].header | translate}}
                                    </span>
                                    <ngx-common-user-profile 
                                      [userId]="rowData?.createdBy"
                                      [userTypeId]="userTypeID.CreatedBy"
                                      [privacyLevel]="rowData?.privacyLevel"
                                      [isShowName]="false"
                                      [isItemDisable]="true"
                                      userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_CREATEDBY' | translate | configuredEntityName}}">
                                    </ngx-common-user-profile>
                                  </td>
                                <td class="created">
                                    <span class="p-column-title">
                                        {{columns[9].header | translate}}
                                    </span>
                                    <div class="w-100">
                                        <div class="w-100 mb-2px pre-text">{{ rowData.created | timeAgoPipe : rowData.utcCreated }}</div>
                                    </div>
                                </td>
                                <td class="id action">
                                    <div class="dropdown text-right" *ngIf="!rowData?.isPaused && ((isAllowToReopen && (rowData.isCompletedStage || rowData.isClosedStage)) || (rowData?.isDeleteWorkTask && !rowData?.isCompletedStage && !rowData.isClosedStage))">
                                        <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm" (mouseenter)="onRowActionButtonMouseEnter()" (mouseleave)="onRowActionButtonMouseLeave()"
                                            type="button" id="drp-action" data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="drp-action">
                                            <li *ngIf="rowData?.isDeleteWorkTask && !rowData?.isCompletedStage && !rowData.isClosedStage">
                                                <a id="link-Delete" class="dropdown-item" (click)="deleteWorkTask(rowData);stopPropagation($event);">
                                                    <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                    {{ 'WORKTASK.LISTING.BUTTON_REMOVE' | translate }}
                                                </a>
                                            </li>
                                            <li *ngIf="isAllowToReopen && (rowData.isCompletedStage || rowData.isClosedStage)">
                                                <a id="link-stage-reopen" (click)="onReopenStage(rowData);stopPropagation($event);" class="dropdown-item">
                                                    <i class="fa-regular fa-folder-open me-1"></i>
                                                    {{ 'WORKTASK.LISTING.ACTION_TITLE_STAGE_REOPEN' | translate }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                                id="paginatorLeftPage" (click)="prev()" [disabled]="end == pagingParams.pageSize">
                            </p-button>
                            <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo"
                                id="paginatorInputPage" (change)="changePage()" class="pageNoInput"> /
                            <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                            <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                                id="paginatorRightPage" (click)="next()" [disabled]="end == totalRecords"></p-button>
                            <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                                id="paginatorResetButton" (click)="resetPaginator()"
                                [disabled]="end == pagingParams.pageSize"></p-button>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
                                    {{ 'WORKTASK.LISTING.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->
     <!-- Right side activity menu start -->
  <div class="p-0" [ngClass]="isAdvanceFilterVisible ? 'advanced-filters-panel' : ''">
    <activity-section 
        #activitySection 
        *ngIf="isShowActivityCenter" 
        class="entity-right-panel"
        [entityTypeId]="entityTypeId" 
        [entityId]="selectedWorkTaskIdForActivityCenter" 
        [entityRecordTypeId]="entityDetails?.entityRecordTypeId" 
        [isEditPermission]="isEditWorktask"
        [isPaused]="selectedWorkTaskIsPausedForActivityCenter"
        [isClosedStage]="selectedWorkTaskIsClosedForActivityCenter"
        [isCompletedStage]="selectedWorkTaskIsCompletedForActivityCenter"
        [hideExpandButton]="true" 
        [isTagRequired]="true" 
        [isDocumentRequired]="true" 
        [refreshActivity]="refreshActivityCenter" 
        [entityDetailsData]="entityDetails" 
        [currencySymbol]="currencySymbol" 
        [hoursInDay]="hoursInDay"
        [isHideDetailsTab]="false" 
        [isDocumentDownloadPermission]="isDocumentDownloadPermission && !selectedWorkTaskIsPausedForActivityCenter && !selectedWorkTaskIsClosedForActivityCenter && !selectedWorkTaskIsCompletedForActivityCenter" 
        (saveKeyFieldEvent)="onSaveKeyFieldEvent($event)" 
        (onCloseActivitySection)="onMoreDetailsClick(false)"
        [keyfieldResponseData]="keyfieldResponseData"
        [showSubTaskCreateOption]="true"
        [showLinkWorkTaskCreateOption]="true"
        (onSubTaskCreate)="onSubTaskCreateForWorkTask($event)" 
        (onLinkWorkTaskCreate)="linkWorktask($event)" 
        [isAddSubWorkTask]="isAddWorktask"
        [privacyLevel]="workTaskPrivacyLevel"
        [createdBy]="workTaskCreatedBy"
        [isFromKanbanOrListView]="isFromKanbanOrListView">
    </activity-section>
  </div>
  <!-- Right side activity menu end -->
</div>