<nb-layout windowMode>
    
    <nb-sidebar 
        class="menu-sidebar" 
        tag="menu-sidebar" 
        responsive start
        [ngClass]="environmentInstance !== null ? (environmentInstance == 'QA' ? 'bg-dark-cyan' : 'bg-dark-grey') : 'main-menu'">

        <div class="layout-topbar-left" [ngClass]="!isImpersonateLoginUser ? 'long-menu' : ''">
            <div class="layout-topbar-logo">
              <div class="logo-container">
                <div class="logo-section" id="sectionLogo">
                  <div class="logo-alignment d-flex align-items-center px-16px py-3 w-100">
                    <img [src]="loggedInUserTenantImagePath" class="logoStyle" id="logo-image">
                    <a class="logo-title cursor-default" id="logo-title">{{loggedInUserTenantName}}</a>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Global search starts -->
        <div class="col-md col search-col d-flex align-items-center order-md-2 order-3 px-16px pb-3" >
            <i class="search-icon fa-solid fa-magnifying-glass fa-lg text-white" [ngClass]="environmentInstance !== null ? 'pt-2' : 'py-1'"></i>
            <div class="searchbar">
            <input #txtGlobalSearch type="text" [(ngModel)]="searchText" (keypress)="globalSearch($event);" (keydown)="onGlobalSearchKeydown($event);" class="form-control" (focusout)="onGlobalSearchFocusOut($event);"
                placeholder="{{ 'COMMON.GLOBAL_SEARCH_PLACEHOLDER' | translate}}" maxlength="250">
            <div class="icon">
                <button *ngIf="!showSearchbarSpinner" (mousedown)="preventSearchbarCollapse($event)" type="button" class="search-button p-0 btn bg-transparent border-0" (click)="globalSearch($event);"><i class="fa-solid fa-magnifying-glass"></i></button>
                <div *ngIf="showSearchbarSpinner"  class="search-button p-0 btn bg-transparent border-0"> <i class="pi pi-spin pi-spinner"></i></div>
            </div>
            <div class="p-card global-search-result"  (mouseover)="setMouseOverOutFlag(true)"  (mouseout)="setMouseOverOutFlag(false)">
                <div class="cards-search">
                <div class="results-border" *ngIf="searchResult && searchResult?.length > 0">
                    <div class="card-result" *ngFor="let item of searchResult">
                    <div class="card">
                        <div class="card-body">
                        <a class="result-link w-100" (click)="navigateToSearchUrl(item.hyperlink);overlayClose()">
                            <div class="float-left text-center">
                            <div class="entity-icon border-0">
                                <i class="{{item?.iconClass}}" aria-hidden="true"></i>
                            </div>
                            </div>
                            <div class="float-start">
                            <p class="m-0">
                                <span class="card-title mb-1">
                                <div><strong class="pre-text">{{item?.entityName}} </strong></div>
                                <label class="cursor-pointer">{{item?.entityTypeName}}</label>
                                </span>
                            </p>
                            </div>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="results-border" *ngIf="searchResult && searchResult?.length == 0" (click)="dismissGlobalSearch()">
                    <div class="card-result">
                    <div class="card">
                        <div class="card-body text-center font-12 py-4">
                        {{'COMMON.GLOBAL_SEARCH_EMPTY_RESULT' | translate }}
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Global search ends -->

        <span *ngIf="environmentInstance !== null" id="sectionEnvironmentInstance" class="env-instance"
            [ngClass]="environmentInstance !== null ? (environmentInstance == 'QA' ? 'bg-dark-cyan' : 'bg-dark-grey') : ''">
            {{environmentInstance}}
        </span>

        <ng-content select="nb-menu"></ng-content>

        <div class="footer-section"
            [ngClass]="environmentInstance !== null ? (environmentInstance == 'QA' ? 'bg-dark-cyan' : 'bg-dark-grey') : ''">
            <div class="header-container">
                <select 
                    [(ngModel)]="selectedLanguage" 
                    name="selectedLanguage" 
                    class="form-group col-md-pull-1 col-md-push-1 d-none " 
                    (change)="changeLanguage()">
                <option value="fr"> French</option>
                <option value="en"> English</option>
                </select>

            
                <div class="userNameBrder d-flex align-items-center">
                    <a routerLink="/profile" class="d-flex w-100">  
                        <ng-container *ngIf="loggedInUserProfile; else avatar">
                            <img 
                                class="square-md avatar img-user img-profile mx-auto"
                                src="{{ loggedInUserProfile }}"
                                onerror="this.src='assets/images/default/users/no-image.jpg';" alt="" />
                        </ng-container>
                        <ng-template #avatar>
                            <ngx-avatar 
                                size="35" 
                                [bgColor]="loggedInUserAvatarBGColor" 
                                class="avatar avatar-multi img-profile mx-auto"
                                name="{{ loggedInUserShortName }}">
                            </ngx-avatar>
                        </ng-template>
                        <div class="login-username w-100 ml-2">
                            <span *ngIf="loggedInUserDetails?.accessToken" class="text-white text-truncate max-w-profile fw-600 font-12"> {{ loggedInUserName }}</span> 
                            <i class="fa-solid fa-chevron-right text-white ml-3"></i>
                        </div> 
                    </a>
                </div> 
                <a 
                    *ngIf="isImpersonateLoginUser" 
                    (click)="redirectToReturnLogin()" 
                    class="return-menu text-white pb-3 d-inline-block w-100">
                    <i class="fa-solid fa-share fa-lg"></i>
                    <span class="return-text ml-2 fw-600 font-12">
                        {{ 'LOGIN.LOGIN_AS' | translate }} {{ loggedInUserDetails?.impersonateSessionBy }}
                    </span>
                </a>
                <div class="border-seperator d-flex justify-content-between align-items-center">
                    <div class="logout-menu">
                        <a *ngIf="loggedInUserDetails?.accessToken" 
                            href="/auth/login"
                            class="text-white">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
                            <span class="logout-text fw-600 font-12 ml-2">
                                {{ 'LOGIN.USER_LOGOUT' | translate }}
                            </span>
                        </a>
                    </div>
                    <div class="toggle-view">
                        <p-toggleButton class="toggle-compacted text-white"
                            (onChange)="changeTheme($event)" 
                            styleClass="iconButton" 
                            [offIcon]="'fa-lg pi pi-sun'" 
                            [onIcon]="'fa-lg pi pi-moon'" 
                            [(ngModel)]="enableDarkMode" [id]="enableDarkMode ? 'btnDarkMode' : 'btnLightMode'">
                        </p-toggleButton>
                        <div class="toggle-expanded">
                            <i class="pi pi-sun fa-lg text-white"></i>
                            <p-inputSwitch (onChange)="changeTheme($event)" [(ngModel)]="enableDarkMode" [id]="enableDarkMode ? 'btnDarkMode' : 'btnLightMode'" class="px-2"></p-inputSwitch>
                            <i class="pi pi-moon fa-lg text-white"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright"> &copy; {{currentYear}} {{client}} {{version}} </div>
        </div>
        <p-toggleButton 
            (onChange)="toggleSidebar()" 
            styleClass="sideBarToggleBtn" 
            class="btnHoverSidebar"
            [id]="menuExpanded ? 'btnMenuOpened' : 'btnMenuHovered'" 
            [ngbTooltip]="tooltipSidebar" placement="right"
            tooltipClass="tooltip-sidemenu" 
            container="body" [offIcon]="'icon-pin'" 
            [onIcon]="'icon-unpin'"
            [(ngModel)]="menuExpanded">
        </p-toggleButton>
    </nb-sidebar>

    <nb-layout-column class="p-3-xl main-layout-column">
        <nb-layout-header class="top-bar" [ngClass]="environmentInstance !== null ? (environmentInstance == 'QA' ? 'top-bar-cyan' : 'top-bar-grey') : 'top-bar-blue'"></nb-layout-header>
        <ng-content select="router-outlet"></ng-content>
        <p-toggleButton 
            (onChange)="toggleSidebar()" 
            styleClass="sideBarToggleBtn" 
            class="btnToggleSidebar"
            [id]="menuExpanded ? 'btnHiddenWhenMenuExpanded' : 'btnMenuClosed'" 
            [ngbTooltip]="tooltipSidebar"
            placement="right" 
            tooltipClass="tooltip-sidemenu" 
            container="body" [offIcon]="'icon-pin'"
            [onIcon]="'icon-unpin'" 
            [(ngModel)]="menuExpanded">
        </p-toggleButton>
    </nb-layout-column>

    <ng-template #tooltipSidebar>
        <span *ngIf="!menuExpanded">Pin</span>
        <span *ngIf="menuExpanded">Unpin</span>
    </ng-template>
    
</nb-layout>