<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!workflowForm && isLoaded && isEditWorkflow || !isWorkflowPermission">
    <div class="form_wrapper">
        <div id="coming-soon-form">
            <div class="top">
                <img class="mb-3" src="assets/images/default/NoAccessImage.png" alt="">
                <div class="subtitle mt-0">{{'ENTITYWORKFLOW.LIST.MESSAGE_ENTITYWORKFLOW_NOT_EXISTS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-containted detail-workflow" *ngIf="isLoaded">
    <!-- Header Start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-10px">
                <div class="detail-header h-100">
                    <div class="page-content card border-0 mb-0 h-100">
                        <div class="card-body p-card">
                            <div class="row vertical-center h-100">
                                <div class="col-xl col-lg-3 col-md-12 mb-3 mb-lg-0 mb-sm-4 d-flex align-self-start">
                                    <div class="float-left text-center">
                                        <div id="entity-icon" class="entity-icon">
                                            <i class="fas fa-list" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="stage-details float-start">
                                        <p class="m-0">
                                            <span class="card-title mb-1">
                                                <label id="headingEntity">{{ 'ENTITYWORKFLOW.DETAIL.TITLE' | translate }}</label>
                                                <div class="overflow-box"><strong id="nameEntity" class="pre-text">{{entityWorkflow.name}}</strong></div>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg details-section col-md-12 align-self-start">
                                    <div class="row">
                                        <div class="col-xl col-sm-4 mb-1 mb-sm-0 col-header">
                                            <div class="row">
                                                <div class="col-sm-12 col-header-label">
                                                    <label>{{ 'ENTITYWORKFLOW.DETAIL.HEADER_ENTYTYTYPE' | translate }}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">{{entityWorkflow.entityTypeName}}</p>
                                                </div>                                            
                                            </div>
                                        </div>
                                        <div class="col-xl col-sm-4 mb-1 mb-sm-0 col-header">
                                            <div class="row">
                                                <div class="col-sm-12 col-header-label">
                                                    <label>{{ 'ENTITYWORKFLOW.DETAIL.HEADER_ENTYTYRECORDTYPE' | translate }}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0">{{entityWorkflow.entityRecordTypeName}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl col-sm-4 mb-1 mb-sm-0 col-header">
                                            <div class="row">
                                                <div class="col-sm-12 col-header-label col-created-label">
                                                    <label>{{ 'ENTITYWORKFLOW.DETAIL.HEADER_CREATED' | translate
                                                        }}</label>
                                                </div>
                                                <div class="col-sm-12 col">
                                                    <p class="m-0" id="lblCreatedDate">
                                                        {{entityWorkflow.created | date }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back-arrow col-lg">
                                    <button id="btn-back" class='btn btn-secondary' type='button'
                                        (click)="backToList()">
                                        {{ 'ENTITYWORKFLOW.DETAIL.BUTTON_BACK' | translate }}
                                    </button>
                                </div>
                                <div class="col-12 align-self-end align-tags">
                                    <entity-tags-view [refreshEntityTag]="refreshEntityTag" [entityId]="workflowId"
                                        [entityTypeId]="entityTypeId" [entityRecordTypeId]="entityRecordTypeId">
                                    </entity-tags-view>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Body Start-->
    <div class="page-content container-fluid pr-0">
        <div class="row h---100vh w-100">
            <div class="col col-xl-8 col-lg-12 mb-xl-0 mb-2 pr-0 details-box">
                <!-- nav Tab Menu Start -->
                <div class="navTabs card-bottom-border border-0 p-card">
                    <div class="row width--100 border-bottom m-0 first-tabs">
                        <div class="col tabs-mobile p-0">
                            <ul class="nav nav-tabs font-12 border-bottom-0" id="workflowDetailTab" role="tablist">
                                <li class="nav-item">
                                    <button class="nav-link active" id="navDetails-tab" data-bs-toggle="tab" name="btnNavTab"
                                        data-bs-target="#navDetails" type="button" role="tab" aria-controls="navDetails"
                                        (click)="setTab('navDetails')" aria-selected="true">
                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_DETAILS.TITLE' | translate }}
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" id="navTeams-tab" data-bs-toggle="tab" name="btnNavTab"
                                        data-bs-target="#navTeams" type="button" role="tab" aria-controls="navTeams"
                                        aria-selected="true" (click)="setTab('navTeams')">
                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.TITLE' | translate }}
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" id="navHistory-tab" data-bs-toggle="tab" name="btnNavTab"
                                        data-bs-target="#navHistory" type="button" role="tab" aria-controls="navHistory"
                                        aria-selected="true" (click)="setTab('navHistory')">
                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_HISTORY.TITLE' | translate }}
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-auto edit-form-icon px-0">
                            <div *ngIf="isEditWorkflow">
                                <i class="fas fa-pencil-alt pencil-icon fa-lg clr-blue float-right cursor-pointer" id="btnEditTabDetail" aria-hidden="true" 
                                    (click)="showHideDetailTab('EDIT')" *ngIf="isReadOnly && !(['navDetails','navHistory'] | showHidePencilButton: activeTab)" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel start -->
                            <div class="form-update-icons" *ngIf="!isReadOnly && !(['navDetails','navHistory'] | showHidePencilButton: activeTab)">
                                <i id="btn-cancel"
                                    class="fas fa-times fa-lg dark-grey float-right mr-3"
                                    (click)="showHideDetailTab('CANCEL')" aria-hidden="true"></i>
                                <i *ngIf="isEditWorkflow" id="btn-save"
                                    class="fas fa-check fa-lg clr-blue float-right" (click)="showHideDetailTab('SAVE')" aria-hidden="true"></i>
                            </div>
                            <!-- Global save and cancel end -->
                        </div>
                    </div>

                    <!-- Tab Content Start -->
                    <form [formGroup]="workflowForm">
                        <div class="tab-content border-0 mt-0" id="workflowDetailTabContent">
                            <!-- Details Start-->
                            <div class="tab-pane fade show active px-0 p-0" id="navDetails" role="tabpanel"
                                aria-labelledby="navDetails-tab" name="navDetails">

                                <!-- Basic Information Start-->
                                <div class="card border-0 m-0 pt-md-0 pt-3">
                                    <div class="card-header btn-card-edit py-0">
                                        <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">
                                            {{'ENTITYWORKFLOW.DETAIL.TAB_DETAILS.BASIC_INFO' | translate }}
                                        </span>
                                    </div>
                                    <div class='card-body'>
                                        <div class='row'>
                                            <div class='col-md-6 col-sm-6 form-group'>
                                                <label>
                                                    {{ 'ENTITYWORKFLOW.DETAIL.TAB_DETAILS.NAME' | translate }}
                                                </label>
                                                <div class="disable-text">
                                                    {{ entityWorkflow.name ? entityWorkflow.name : '&nbsp;' }}
                                                </div>
                                            </div>
                                            <div class='col-md-6 col-sm-6 form-group'>
                                                <label>{{'ENTITYWORKFLOW.DETAIL.TAB_DETAILS.ENTITYTYPENAME' | translate}}</label>
                                                <div class="disable-text">
                                                    {{ entityWorkflow.entityTypeName ? entityWorkflow.entityTypeName : '&nbsp;' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-md-6 col-sm-6 form-group'>
                                                <label>
                                                    {{'ENTITYWORKFLOW.DETAIL.TAB_DETAILS.ENTITYRECORDTYPENAME' | translate}}
                                                </label>
                                                <div class="disable-text">
                                                    {{ entityWorkflow.entityRecordTypeName ? entityWorkflow.entityRecordTypeName : '&nbsp;' }}
                                                </div>
                                            </div>
                                            <div class='col-md-6 col-sm-6 form-group'>
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Details End-->

                            <!-- Teams Start-->
                            <div class="tab-pane fade show px-0 p-0" id="navTeams" role="tabpanel"
                                aria-labelledby="navTeams-tab" name="navStageTeams">

                                <!-- Stage Teams Start-->
                                <div class="card border-0 m-0 pt-md-0 pt-3">
                                    <div class="card-header btn-card-edit py-0">
                                        <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">
                                            {{'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.SECTION_STAGE_TEAMS' | translate }}
                                        </span>
                                    </div>
                                    <div class='card-body' [ngClass]="{ 'enabled-box': !isReadOnly }">
                                        <div  *ngFor="let teamsGroup of workflowForm.get('stageTeams').controls; let i = index"  formArrayName="stageTeams" >
                                            <div [formGroupName]="i" class='row'>
                                                <div class='col-xl-3 col-sm-6 mb-3'>
                                                    <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_NAME' | translate }}
                                                    </label>
                                                    <div class="disable-text">
                                                        {{teamsGroup.get('stageName').value}}
                                                        <!-- {{ teamsGroup.stageName ? teamsGroup.stageName : '&nbsp;' }} -->
                                                    </div>
                                                </div>
                                                <div class='col-xl-3 col-sm-6 mb-3'>
                                                    <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_TEAMS' | translate }}
                                                    </label>
                                                    <div *ngIf="isReadOnly" class="disable-text">
                                                        {{teamsGroup.get('teamNames').value}}
                                                    </div>
                                                    <div *ngIf="!isReadOnly">
                                                        <p-multiSelect [options]="teamsOptions" formControlName="teamIds" class="entity-multiSelect" id="drp-teams"
                                                            optionLabel="label" optionValue="value" appendTo="body" panelStyleClass="maxWidthOverride"
                                                            [maxSelectedLabels]="500" [showToggleAll]="false"
                                                            [filter]="true" [showHeader]="true" [resetFilterOnHide]="false"
                                                            defaultLabel='{{"ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_TEAMS_PLACEHOLDER" | translate}}' 
                                                            [displaySelectedLabel]='true' (onChange)="fillTeamMembersDropdown(teamsGroup)"
                                                            [ngClass]="{ 'is-invalid': submitted && teamsGroup.get('teamIds').errors }">
                                                        </p-multiSelect>
                                                        <div *ngFor='let validation of workflowValidationMessages.teamIds' class='invalid-feedback'>
                                                            <div *ngIf='teamsGroup.get("teamIds").hasError(validation.type) && submitted && teamsGroup.get("teamIds").errors' id="errorPleaseSelectAtleastOneTeam">
                                                                {{ validation.message | translate }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-xl-3 col-sm-6 mb-3'>
                                                    <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_DEFAULT_MEMBER' | translate }}
                                                    </label>
                                                    <div *ngIf="isReadOnly" class="disable-text">
                                                        {{teamsGroup.get('defaultAssignedToName').value}}
                                                    </div>
                                                    <div *ngIf="!isReadOnly">
                                                        <p-dropdown [options]="(teamsGroup.get('defaultAssignedToOptions').value)" appendTo="body" panelStyleClass="maxWidthOverride" id="drp-default-team-member"
                                                            formControlName="defaultAssignedTo" [filter]="true" [resetFilterOnHide]="false"
                                                            class="form-control" [showClear]="true" optionLabel="label" optionValue="value"
                                                            placeholder='{{"ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_DEFAULT_MEMBER_PLACEHOLDER" | translate}}'  
                                                            [ngClass]="{ 'is-invalid': submitted && teamsGroup.get('defaultAssignedTo').errors }">
                                                        </p-dropdown>
                                                        <div *ngFor='let validation of workflowValidationMessages.defaultAssignedTo' class='invalid-feedback'>
                                                            <div *ngIf='teamsGroup.get("defaultAssignedTo").hasError(validation.type) && submitted && teamsGroup.get("defaultAssignedTo").errors' id="errorPleaseSelectDefaultTeamMember">
                                                                {{ validation.message | translate }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-xl-3 col-sm-6 mb-3'>
                                                     <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_THRESHOLDMINS' | translate }}
                                                    </label>
                                                    <div *ngIf="isReadOnly" class="disable-text">
                                                        {{ teamsGroup.get('thresholdMins').value != null && teamsGroup.get('thresholdMins').value != "" ? teamsGroup.get('thresholdMins').value :  0}} Min(s)
                                                    </div>
                                                    <div *ngIf="!isReadOnly" class="inner-addon right-addon">
                                                        <span>Min(s)</span>
                                                        <input type="text" id="thresholdMinsID" class="form-control" formControlName="thresholdMins" maxlength="7" 
                                                        mask="separator.2" thousandSeparator="," trimValue [ngClass]="{ 'is-invalid': submitted && teamsGroup.get('thresholdMins').errors }">
                                                        <div *ngFor="let validation of workflowValidationMessages.thresholdMins" class='invalid-feedback'>
                                                            <div *ngIf='teamsGroup.get("thresholdMins").hasError(validation.type) && submitted && teamsGroup.get("thresholdMins").errors' id="errorThresholdMinsValidation">
                                                                {{ validation.message | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div [formGroupName]="i" class="row">
                                                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-3">
                                                    <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_FORCED_ASSIGNMENT' | translate }}
                                                    </label>
                                                    <div *ngIf="isReadOnly" class="disable-text">
                                                        {{ 
                                                            teamsGroup.get('isForcedAssignment').value ==
                                                            null ? ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_FORCED_ASSIGNMENT_NO' | translate) :
                                                            teamsGroup.get('isForcedAssignment').value ==
                                                            false ? ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_FORCED_ASSIGNMENT_NO' | translate) : ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_FORCED_ASSIGNMENT_YES' | translate)
                                                        }}
                                                    </div>
                                                    <div *ngIf="!isReadOnly" class="mt-2">
                                                        <label class="h-27px m-0">
                                                            <div class="switch switch-label switch-pill switch-primary">
                                                                <input type="checkbox" id="swt-isForcedAssignment" class="switch-input" formControlName='isForcedAssignment'>
                                                                <div class="switch-slider switch--status" [attr.data-checked]="'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_FORCED_ASSIGNMENT_YES' | translate" [attr.data-unchecked]="'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_FORCED_ASSIGNMENT_NO' | translate"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-3">
                                                    <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISNOTEREQUIRED' | translate }}
                                                    </label>
                                                    <div *ngIf="isReadOnly" class="disable-text">
                                                        {{ 
                                                            teamsGroup.get('isNoteRequired').value ==
                                                            null ? ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISNOTEREQUIRED_NO' | translate) :
                                                            teamsGroup.get('isNoteRequired').value ==
                                                            false ? ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISNOTEREQUIRED_NO' | translate) : ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISNOTEREQUIRED_YES' | translate)
                                                        }}
                                                    </div>
                                                    <div *ngIf="!isReadOnly" class="mt-2">
                                                        <label class="h-27px m-0">
                                                            <div class="switch switch-label switch-pill switch-primary">
                                                                <input type="checkbox" id="swt-isNoteRequired" class="switch-input" formControlName='isNoteRequired'>
                                                                <div class="switch-slider switch--status" [attr.data-checked]="'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISNOTEREQUIRED_YES' | translate" 
                                                                [attr.data-unchecked]="'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISNOTEREQUIRED_NO' | translate"></div>
                                                                
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-3">
                                                    <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISALLTASKSREQUIRED' | translate }}
                                                    </label>
                                                    <div *ngIf="isReadOnly" class="disable-text">
                                                        {{ 
                                                            teamsGroup.get('isAllTasksRequired').value ==
                                                            null ? ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISALLTASKSREQUIRED_NO' | translate) :
                                                            teamsGroup.get('isAllTasksRequired').value ==
                                                            false ? ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISALLTASKSREQUIRED_NO' | translate) : ('ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISALLTASKSREQUIRED_YES' | translate)
                                                        }}
                                                    </div>
                                                    <div *ngIf="!isReadOnly" class="mt-2">
                                                        <label class="h-27px m-0">
                                                            <div class="switch switch-label switch-pill switch-primary">
                                                                <input type="checkbox" id="swt-isAllTasksRequired" class="switch-input" formControlName='isAllTasksRequired'>
                                                                <div class="switch-slider switch--status" [attr.data-checked]="'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISALLTASKSREQUIRED_YES' | translate" 
                                                                [attr.data-unchecked]="'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_ISALLTASKSREQUIRED_NO' | translate"></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-3">
                                                    <label>
                                                        {{ 'ENTITYWORKFLOW.DETAIL.TAB_TEAMS.STAGE_COMPLETIONPERCENTAGE' | translate }}
                                                    </label>
                                                    <div *ngIf="isReadOnly" class="disable-text">
                                                        {{ teamsGroup.get('completionPercentage').value != null && teamsGroup.get('completionPercentage').value != "" ? teamsGroup.get('completionPercentage').value :  0}}%
                                                    </div>
                                                    <div *ngIf="!isReadOnly" class="inner-addon right-addon">
                                                        <span>%</span>
                                                        <input type="text" id="completionPercetageID" class="form-control" formControlName="completionPercentage"
                                                        [ngClass]="{ 'is-invalid': teamsGroup.get('completionPercentage').errors && (teamsGroup.get('completionPercentage').dirty || teamsGroup.get('completionPercentage').touched)  }"
                                                        mask="separator.2" thousandSeparator="," trimValue>
                                                        <div *ngFor="let validation of workflowValidationMessages.completionPercentage" class='invalid-feedback'>
                                                            <div *ngIf="teamsGroup.get('completionPercentage').hasError(validation.type) && teamsGroup.get('completionPercentage').errors 
                                                            && (teamsGroup.get('completionPercentage').dirty || teamsGroup.get('completionPercentage').touched)" id="errorCompletionPercentageValidation">
                                                                {{ validation.message | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="border-stages"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Teams End-->

                            <!-- Stage/Pause history Start-->
                            <div class="tab-pane fade" id="navHistory" role="tabpanel"
                                aria-labelledby="navHistory-tab" name="navHistory">
                                <ng-container *ngIf="onceStageHistoryClicked">
                                    <ngx-history-tab [entityWorkflowId]="null" [entityTypeId]="entityTypeId" [entityId]="workflowId" [hoursInDay]="hoursInDay" [refreshStageHistory]="refreshStageHistory" [refreshActivityHistory]="refreshActivityHistory"></ngx-history-tab>
                                </ng-container>
                            </div>
                            <!-- Stage/Pause history End-->
                        </div>
                    </form>

                </div>
            </div>
            <activity-section 
                [entityTypeId]="entityTypeId" 
                [entityId]="workflowId" 
                [isTagRequired]="false" 
                [isEditPermission]="isEditWorkflow"
                [isDocumentRequired]="false" 
                [refreshActivity]="refreshActivity"
                [entityRecordTypeId]="entityRecordTypeId" 
                (isTagListUpdated)="setRefreshEntityTag()" 
                (isActivityListUpdated)="setRefreshActivityHistory()"
                [isHideActivityTab]="false" 
                [isHideDocumentTab]="true" 
                [isHideTasksTab]="true"
                [isHideNotesTab]="true"
                [isHideAppointmentsTab]="true"
                [isHideTagsTab]="true"
                class="col-xl-4 col-md-12 common-box pr-0"
                [createdBy]="entityWorkflow?.createdBy"
                [privacyLevel]="null">
            </activity-section>
        </div>
    </div>
    <!-- Body End-->
</div>