<!-- if user don't have enough permission then display message -->
<ng-container *ngIf="!isListOpportunities">
    <div class="flexlayout">
        <div class="form_wrapper">
            <div id="no-access-form">
                <div class="top">
                    <div class="subtitle m-0">{{'OPPORTUNITIES.ALLLISTING.MESSAGE_OPPORTUNITY_NOT_EXISTS' | translate | configuredEntityName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="flexlayout" *ngIf="!isInitialLoading && isListOpportunities">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
                <div class="subtitle mt-0">{{'OPPORTUNITIES.ALLLISTING.MESSAGE_OPPORTUNITY_NOT_EXISTS' | translate | configuredEntityName}}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isListOpportunities" class="entity-page entity-main filters-five desktop-overflow-hidden">

    <!-- Header Start-->
    <div class="page-header" *ngIf="isInitialLoading">
        <div class="container-fluid lineheight35 heading-page mb-2">
            <div class="row">
                <div class="col-sm-6 mb-2 mb-sm-0">
                    <h4 class="m-0">
                        <span class="header-text" id="headingEntity">{{ EntityTitle |
                            translate | configuredEntityName}}</span>
                    </h4>
                </div>
                <div class="col">
                    <div class="btn-view">
                        <button *ngIf="isAddOpportunities" type="button" id="btn-add-entity"
                            class="btn btn-primary ml-3" (click)="addOpportunity()">
                            <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
                            {{'OPPORTUNITIES.ALLLISTING.BUTTON_ADD' | translate | configuredEntityName}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Page Content Start -->
    <div class="page-content">
        <div class="entity-search-area mb-xl-2">
            <div class="container-fluid pe-xl-0">
                <div class="row all-opportunity-listing-filters align-items-xl-end flex-xl-nowrap">
                    <div class="col-auto pe-md-2 pe-sm-0 pe-xxl-2 pe-xl-0" *ngIf="isEditOpportunities && isAssignWorkflow">
                        <button type="button" id="btn-assign-workflow" triggers="hover" tooltipClass="tooltip-backward-small"
                            ngbTooltip="{{ 'OPPORTUNITIES.ALLLISTING.TOOLTIP_ASSIGN' | translate }}" container="body"
                            class="btn btn-small btn-secondary mt-sm-4 mt-2 mb-xl-0 mb-3 btn-assign-bulk-workflow" (click)="assignWorkflow()">
                            <i class="assign-bulk-workflow" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-xl col-lg col-md col-sm mb-xl-0 mb-3 ps-xl-2 pe-xxl-2 pe-xl-1 filter-width">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_SEARCH' | translate }}
                        </div>
                        <div class="p-input-icon-right w-100">
                            <i class="pi pi-search" aria-hidden="true"></i>
                            <input #searchTextInput pInputText type="text" id="txt-search-text"
                                class="w-100 customInputText form-control" size="50"
                                placeholder="{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_SEARCH' | translate }}"
                                [(ngModel)]="pagingParams.searchString" />
                        </div>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width" *ngIf="hideRecordTypeFilter && hideRecordTypeFilter.length > 0">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_RECORDTYPE' | translate }}</div>
                        <p-multiSelect #recordType class="entity-multiSelect" id="drp-workflow" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            [filter]="true" [resetFilterOnHide]="false" [showHeader]="true"
                            [displaySelectedLabel]='true' [showToggleAll]="true"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="recordTypes" [placeholder]="'OPPORTUNITIES.ALLLISTING.FILTER_PLACEHOLDER_RECORDTYPE' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="selectedRecordTypes"
                            (onChange)="onFilterRecordType($event)" (onFilter)="trimFilterValue($event,recordType)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 ps-xl-2 pe-xxl-2 pe-xl-1 filter-width" *ngIf="entityHasWorkflow">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_WORKFLOW' | translate }}
                        </div>
                        <p-multiSelect #workflow class="entity-multiSelect" id="drp-workflow" appendTo="body"
                            panelStyleClass="maxWidthOverride-sm" [filter]="true" [resetFilterOnHide]="false"
                            [showHeader]="true" [displaySelectedLabel]='true' [showToggleAll]="true"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels" [options]="workflows"
                            [placeholder]="'OPPORTUNITIES.ALLLISTING.FILTER_PLACEHOLDER_WORKFLOW' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="selectedWorkflows"
                            (onChange)="onFilterWorkflow($event)" (onFilter)="trimFilterValue($event,workflow)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 ps-xl-2 pe-xxl-2 pe-xl-1 filter-width" *ngIf="entityHasWorkflow">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_STAGES' | translate }}</div>
                        <p-multiSelect #workflowStages styleClass="dropDownOverride"
                            class="entity-multiSelect filter-multiselect" id="drp-workflowStages" [filter]="true"
                            [resetFilterOnHide]="false" [showHeader]="true" [displaySelectedLabel]='true'
                            [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            filterBy="label,groupLabel"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="stagesForFilter"
                            [placeholder]="'OPPORTUNITIES.ALLLISTING.FILTER_PLACEHOLDER_STAGE' | translate"
                            [(ngModel)]="selectedStages" [group]="true" (onChange)="onFilterStage($event)"
                            (onFilter)="trimFilterValue($event,workflowStages)">
                            <ng-template let-group pTemplate="group">
                                {{group.label}}
                            </ng-template>
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 ps-xl-2 pe-xxl-2 pe-xl-1 filter-width" *ngIf="entityHasWorkflow">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_ASSIGNTO' | translate }}
                        </div>
                        <p-multiSelect class="entity-multiSelect" id="drp-assignedToIDs" [filter]="true"
                            [resetFilterOnHide]="false" [showHeader]="true" [displaySelectedLabel]='true'
                            [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels" [options]="assignedToUsers"
                            [placeholder]="'OPPORTUNITIES.ALLLISTING.FILTER_PLACEHOLDER_ASSIGNTO' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="selectedUser"
                            (onChange)="onFilterAssignTo($event)"
                            (onFilter)="assignedToOnFilter($event,  selectedUser)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 ps-xl-2 pe-xxl-2 pe-xl-1 filter-width">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_OWNER' | translate }}</div>
                        <p-multiSelect class="entity-multiSelect" id="drp-verifiedByIDs" [filter]="true"
                            [resetFilterOnHide]="false" [showHeader]="true" [displaySelectedLabel]='true'
                            [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="owners"
                            [placeholder]="'OPPORTUNITIES.ALLLISTING.FILTER_PLACEHOLDER_OWNER' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="selectedOwner"
                            (onChange)="onFilterOwner($event)"
                            (onFilter)="verifiedByOnFilter($event, selectedOwner)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 ps-xl-2 pe-xxl-2 pe-xl-1 filter-width" *ngIf="ratingOptions && ratingOptions.length > 0">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_RATING' | translate }}</div>
                        <p-dropdown [options]="ratingOptions" [showClear]="true" [placeholder]="'OPPORTUNITIES.ALLLISTING.FILTER_PLACEHOLDER_RATING' | translate"
                        [(ngModel)]="pagingParams.rating" [filter]="false" [resetFilterOnHide]="false"
                        (onChange)="onFilterRating($event)"></p-dropdown>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 ps-xl-2 pe-xxl-2 pe-xl-1 filter-width">
                        <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_LABEL_ACCOUNT' | translate | configuredEntityName}}</div>
                        <p-multiSelect class="entity-multiSelect" id="drp-accountIDs"
                        [placeholder]="'OPPORTUNITIES.ALLLISTING.FILTER_PLACEHOLDER_ACCOUNT' | translate | configuredEntityName"
                        [resetFilterOnHide]="false" [showHeader]="true" [displaySelectedLabel]='true'
                        [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                        [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                        [options]="accountList" 
                        optionLabel="label" optionValue="value" [(ngModel)]="selectedAccount" [filter]="true" [resetFilterOnHide]="false"
                        (onChange)="onFilterAccount($event)"
                        (onFilter)="accountOnFilter($event,  selectedAccount)"></p-multiSelect>
                    </div>
                    <div class="col-xl-auto col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 filter-width checkbox-column d-flex flex-wrap align-items-end ps-xl-2 pe-xl-2 two-checkboxes">
                        <div class="custom-control custom-checkbox d-flex align-items-center w-100">
                            <input class="custom-control-input mt-0 w-20-size" type="checkbox" id="chk-showMyEntities"
                                [checked]="showMyOpportunities" [(ngModel)]="showMyOpportunities" (change)="onFilterShowMyOpportunity()">
                            <label for="chk-showMyEntities" class="custom-control-label pl-2 text-nowrap">{{
                                'OPPORTUNITIES.ALLLISTING.FILTER_MY_OPPORTUNITIES' | translate | configuredEntityName}}</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mt-2 w-100">
                            <input class="custom-control-input mt-0 w-20-size" type="checkbox" id="chk-showStarred" [checked]="showStarred"
                                [(ngModel)]="showStarred" (change)="onFilterShowStarred()">
                            <label for="chk-showStarred" class="custom-control-label pl-2 text-nowrap">{{ 'OPPORTUNITIES.ALLLISTING.FILTER_STARRED' | translate }}</label>
                        </div>
                    </div>
                    <div class="col-xl col-auto mb-xl-0 mb-3 d-flex align-items-end pe-xl-2 ps-xl-2">
                        <button id="btn-reset" class="btn btn-outline-secondary text-nowrap" type="button"
                            (click)="onResetAllFilters()" [disabled]="(opportunitiesSearchFilter.searchText == '' && 
                                        (opportunitiesSearchFilter.recordTypeIds == null || opportunitiesSearchFilter.recordTypeIds == '') && 
                                        (opportunitiesSearchFilter.workflowIds == null || opportunitiesSearchFilter.workflowIds == '') && 
                                        (opportunitiesSearchFilter.stageIds == null || opportunitiesSearchFilter.stageIds == '') &&
                                        (opportunitiesSearchFilter.assignedToIds
                                        == null || opportunitiesSearchFilter.assignedToIds == '') && 
                                        (opportunitiesSearchFilter.ownerIds == null || opportunitiesSearchFilter.ownerIds == '') &&
                                        (!opportunitiesSearchFilter.showMyOpportunities) ? true : false) &&
                                        (opportunitiesSearchFilter.rating == null)  && !opportunitiesSearchFilter.showStarred">
                            {{'OPPORTUNITIES.ALLLISTING.BUTTON_RESET' | translate}}
                        </button>
                    </div>
                    <div class="col-auto pl-md-2 mb-xl-0 mb-3 d-flex align-items-end pe-xl-0 ps-xl-2">
                        <div class="height-38px d-flex align-items-center">
                            <button *ngIf="isExportOpportunities" type="button" id="btn-export-to-excel"
                                class="btn btn-exp btn-mg p-0 btn-small" (click)="exportExcel()" placement="top auto" container="body"
                                ngbTooltip="Export To Excel" triggers="hover" tooltipClass="tooltip-backward-small">
                                <i class="fas fa-2x fa-file-excel" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content End -->

    <!-- Table Start -->
    <div class="page-content pb-5 pb-xl-0 all-opportunities">
        <div class="container-fluid" [ngClass]="isShowActivityCenter ? 'list-move-scroll-activity' : ''">
            <div class="row mb-2">
                <div class="col-12 pr-24px mt-1">
                    <div class="tbl-all-opportunity-list tbl-entity p-card">
                        <p-table #pTable [responsive]="true" responsiveLayout="stack"
                            [rows]="_commonHelper.DefaultPageSize" paginatorDropdownAppendTo="body"
                            [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols"
                            [value]="opportunitiesList" class="tbl-all-opportunity-list" sortField="created"
                            [sortOrder]="-1" [lazy]="true" [totalRecords]="totalRecords" [autoLayout]="true"
                            [scrollable]="true" [paginator]="totalRecords > 0"
                            [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
                            [scrollHeight]="'calc(100vh - 248px)'" (onPage)="paginate($event)">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th id="tblColumnHeaderCheckbox" scope="col" class="checkbox-col">
                                        <div class="custom-control custom-checkbox mb-0">
                                            <input class="custom-control-input" type="checkbox" [(ngModel)]="isAllCheckBoxSelected" id="chkBulkAssignEntity"
                                                (change)="checkUncheckAll()">
                                            <label class="custom-control-label"> </label>
                                        </div>
                                    </th>
                                    <th id="tblColumnHeader" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                        [pSortableColumnDisabled]="!col.sort" scope="col" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                                        class="{{col.field}} {{col.class}}" [hidden]="!col.visible"
                                        (click)="changeOrder(col)">
                                        {{ col.header | translate | configuredEntityName}}
                                        <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [ngClass]="[(rowData.cardColorClass != null && rowData.cardColorClass != '') ? rowData.cardColorClass : '',  selectedRowId == rowData.id ? 'selected-row' : '']" 
                                (click)="onRowClick(rowData, true)"> 
                                    <td class="checkbox-col">
                                        <ng-container>
                                            <div class="custom-control custom-checkbox mb-0">
                                                <input class="custom-control-input" type="checkbox" [(ngModel)]="rowData.isSelected" id="chkAssignEntity"
                                                     (change)="isAllSelected()" (click)="stopPropagation($event)">
                                                <label class="custom-control-label"> </label>
                                            </div>
                                        </ng-container>
                                    </td>
                                    <td class="bookmark">
                                        <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="rowData.id" [isStarred]="rowData?.isStarred"
                                            [isEditPermission]="isEditOpportunities && !rowData?.isPaused" [isFromKanbanOrListView]="true">
                                        </ngx-bookmark>
                                    </td>
                                    <td class="code">
                                        <span class="p-column-title">
                                            {{columns[1].header | translate | configuredEntityName}}
                                        </span>
                                        <span class="w-100 d-flex align-items-center flex-wrap">
                                            <a [routerLink]="'/opportunities/details/'+ ( rowData.entityWorkFlowID ? rowData.entityWorkFlowID + '/' : '')  + rowData.id"
                                                (click)="stopPropagation($event)" id="link-headingRecord" class="float-left me-2"
                                                [ngClass]="isViewOpportunities ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.code}}</a>
                                            <span *ngIf="rowData.priority != 0" class="float-left me-2">
                                                <button pButton tooltipClass="tooltip-backward-small"
                                                    ngbTooltip="{{'OPPORTUNITIES.ALLLISTING.TOOLTIP_PRIORITY' | translate }}: {{rowData.priorityName!= null && rowData.priorityName != '' ? rowData.priorityName : 'NA'}}"
                                                    container="body" class="p-button-rounded p-button-sm"
                                                    [ngClass]="[(!this.isEditOpportunities || rowData.isCompletedStage || rowData.isClosedStage) ? 'cursor-default' : 'cursor-pointer', (priorityDetails | displayValueFinder: { intValue1: rowData.priority}).length > 0 ? ((priorityDetails | displayValueFinder: { intValue1: rowData.priority})[0]?.strValue1?.colorClass ?? '') : '']"
                                                    type="button" id="btn-priority" (click)="onPriorityClick(rowData);stopPropagation($event)" triggers="hover">
                                                    {{
                                                    (priorityDetails | displayValueFinder: { intValue1: rowData.priority}).length > 0
                                                    ? ((priorityDetails | displayValueFinder: { intValue1: rowData.priority})[0]?.strValue1?.initials ?? '')
                                                    : null
                                                    }}
                                                </button>
                                            </span>
                                            <span *ngIf="rowData.severity != 0" class="float-left me-2">
                                                <button pButton tooltipClass="tooltip-backward-small"
                                                    ngbTooltip="{{'OPPORTUNITIES.ALLLISTING.TOOLTIP_SEVERITY' | translate }}: {{rowData.severityName!= null && rowData.severityName != '' ? rowData.severityName : 'NA'}}"
                                                    container="body" class="p-button-rounded p-button-sm" triggers="hover"
                                                    [ngClass]="[(!this.isEditOpportunities || rowData.isCompletedStage || rowData.isClosedStage) ? 'cursor-default' : 'cursor-pointer', (severityDetails | displayValueFinder: { intValue1: rowData.severity}).length > 0 ? ((severityDetails | displayValueFinder: { intValue1: rowData.severity})[0]?.strValue1?.colorClass ?? '') : '']"
                                                    type="button" id="btn-severity" (click)="onSeverityClick(rowData);stopPropagation($event)">
                                                    {{
                                                    (severityDetails | displayValueFinder: { intValue1: rowData.severity}).length > 0
                                                    ? ((severityDetails | displayValueFinder: { intValue1: rowData.severity})[0]?.strValue1?.initials ?? '')
                                                    : null
                                                    }}
                                                </button>
                                            </span>
                                            <span *ngIf="rowData.rating != 0" class="float-left me-2">
                                                <entity-review-display [entityTypeId]="entityTypeId" [entityId]="rowData.id" [rating]="rowData.rating" id="btn-rating"
                                                    [review]="rowData.totalReviews" [entityReviewID]="rowData.entityReviewID" [isFromKanbanOrListView]="true"
                                                    [isEditPermission]="isEditOpportunities">
                                                </entity-review-display>
                                            </span>
                                        </span>
                                    </td>
                                    <td class="name">
                                        <span class="p-column-title">
                                            {{columns[2].header | translate | configuredEntityName}}
                                        </span>
                                        <div class="w-100 vertical-center w-max-truncate">
                                            <div class="w-100 mb-2px pre-text">{{rowData.name}}</div>
                                        </div>
                                    </td>
                                    <!-- <td class="entityName">
                                        <span class="p-column-title">
                                            {{columns[2].header | translate | configuredEntityName}}
                                        </span>
                                        <span class="w-100 d-block">
                                            <i *ngIf="rowData.entityName != null && isShowEntityTypeNameIcon" [class]="_commonHelper.getEntityIconClass(rowData?.entityTypeId)" class="font-15 dark-grey fa-fw float-left" aria-hidden="true" container="body" placement="top auto" [ngbTooltip]="rowData.relatedToIconToolTip"></i>
                                            <a
                                                [routerLink]="'/' + _commonHelper.getRouteNameByEntityTypeId(rowData?.entityTypeId).toLowerCase() + '/details/' + (rowData?.entityId ?? '')" 
                                                id="link-relatedTo" (click)="stopPropagation($event)" class="ms-1"
                                                [ngClass]="_commonHelper.isUserHaveViewPermissionOfRelatedEntity(rowData?.entityTypeId) ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.entityName}}</a></span>
                                    </td> -->
                                    <td class="accountName">
                                        <span class="p-column-title">
                                            {{columns[3].header | translate | configuredEntityName}}
                                        </span>
                                        <span class="w-100 d-block">
                                            <a
                                                [routerLink]="'/accounts/details/'+ (rowData.accountID ?? '') " 
                                                id="link-account" (click)="stopPropagation($event)" class="ms-1"
                                                [ngClass]="isViewAccounts ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.accountName}}</a></span>
                                    </td>
                                    <td class="entityWorkFlowName" [hidden]="!columns[4].visible">
                                        <span class="p-column-title">
                                            {{columns[4].header | translate | configuredEntityName }}
                                        </span>
                                        <span class="w-100 d-flex">
                                            <div class="vertical-center flex-nowrap">
                                                <p class="m-0 height-16px">
                                                    <i class="icon-workflow mr-6px" id="btn-assignWorkflow"
                                                        [ngClass]="isEditOpportunities && isAssignWorkflow ? 'cursor-pointer' : 'cursor-default'"
                                                        placement="top bottom" container="body"
                                                        (click)="onAssignWorkflow(rowData);stopPropagation($event)"
                                                        aria-hidden="true"></i>
                                                </p>
                                                <span *ngIf="rowData.entityWorkFlowName" class="pre-text">{{rowData.entityWorkFlowName}}</span>
                                                <span *ngIf="!rowData.entityWorkFlowName" class="pre-text">{{'OPPORTUNITIES.ALLLISTING.TABLE_PLACEHOLDER_ASSIGN_WORKFLOW' | translate}}</span>
                                            </div>
                                        </span>
                                    </td>
                                    <td class="stageName" [hidden]="!columns[5].visible">
                                        <span class="p-column-title">
                                            {{columns[5].header | translate | configuredEntityName }}
                                        </span>
                                        <span class="w-100 d-block">
                                            <div class="w-100 mb-2px pre-text">{{rowData.stageName}}</div>
                                        </span>
                                    </td>
                                    <td class="assignedToName" [hidden]="!columns[6].visible">
                                        <span class="p-column-title">
                                            {{columns[6].header | translate | configuredEntityName }}
                                        </span>
                                        <span class="w-100 d-flex">
                                            <ngx-common-user-profile 
                                                [userId]="rowData?.assignedTo"
                                                [userTypeId]="userTypeID.AssignedTo"
                                                [privacyLevel]="null"
                                                [isShowName]="false"
                                                [isItemDisable]="rowData?.isPaused || !rowData?.isActive || !isAssignOpportunities" 
                                                (clickEvent)="onAssignedToClick(rowData)"
                                                userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_ASSIGNEDTO' | translate | configuredEntityName}}">
                                            </ngx-common-user-profile>
                                        </span>
                                    </td>
                                    <td class="ownerName">
                                        <span class="p-column-title">
                                            {{columns[7].header | translate | configuredEntityName }}
                                        </span>
                                        <span class="w-100 d-flex">
                                            <ngx-common-user-profile 
                                                [userId]="rowData?.ownerID"
                                                [userTypeId]="userTypeID.Owner"
                                                [privacyLevel]="null"
                                                [isShowName]="false"
                                                [isItemDisable]="rowData?.isPaused || !rowData?.isActive || !isEditOpportunities" 
                                                (clickEvent)="onOwnerClick(rowData)"
                                                userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_OWNERBY' | translate | configuredEntityName}}">
                                            </ngx-common-user-profile>
                                        </span>
                                    </td>
                                    <td class="created">
                                        <span class="p-column-title">
                                            {{columns[8].header | translate | configuredEntityName }}
                                        </span>
                                        <div class="w-100">
                                            <div class="w-100 mb-2px pre-text">{{ rowData.created | timeAgoPipe :
                                                rowData.utcCreated }}</div>
                                        </div>
                                    </td>
                                    <td class="id action">
                                        <div class="d-flex justify-content-end">
                                            <div class="dropdown" *ngIf="((isDeleteOpportunities && !rowData.isClosedStage && !rowData.isCompletedStage) || (isAllowToReopen && (rowData.isCompletedStage || rowData.isClosedStage)))">
                                                <button pButton icon="fas fa-wrench"  (mouseenter)="onRowActionButtonMouseEnter()" (mouseleave)="onRowActionButtonMouseLeave()"
                                                    class="p-button-rounded p-button-sm" type="button" id="drp-action" 
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="drp-action">
                                                    <li>
                                                        <a *ngIf="isDeleteOpportunities && !rowData.isClosedStage && !rowData.isCompletedStage "
                                                            id="link-Delete" class="dropdown-item"
                                                            (click)="deleteOpportunity(rowData.id);stopPropagation($event);">
                                                            <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                            {{ 'OPPORTUNITIES.LIST.BUTTON_REMOVE' | translate }}
                                                        </a>
                                                    </li>
                                                    <li *ngIf="isAllowToReopen && (rowData.isCompletedStage || rowData.isClosedStage)">
                                                        <a id="link-stage-reopen" (click)="onReopenStage(rowData);stopPropagation($event);" class="dropdown-item">
                                                            <i class="fa-regular fa-folder-open me-1"></i>
                                                            {{ 'OPPORTUNITIES.ALLLISTING.ACTION_TITLE_STAGE_REOPEN' | translate }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="paginatorleft">
                                <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}}
                                    records</span>
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                                    id="paginatorLeftPage" (click)="prev()" [disabled]="end == pagingParams.pageSize">
                                </p-button>
                                <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo"
                                    id="paginatorInputPage" (change)="changePage()" class="pageNoInput"> /
                                <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                                <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                                    id="paginatorRightPage" (click)="next()"
                                    [disabled]="end == totalRecords"></p-button>
                                <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                                    id="paginatorResetButton" (click)="resetPaginator()"
                                    [disabled]="end == pagingParams.pageSize"></p-button>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound"
                                        class="table-no-record text-center">
                                        {{ 'OPPORTUNITIES.ALLLISTING.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right side activity menu start -->
    <div class="p-0" [ngClass]="isAdvanceFilterVisible ? 'advanced-filters-panel' : ''">
        <activity-section 
            #activitySection 
            *ngIf="isShowActivityCenter" 
            [entityTypeId]="entityTypeId"
            [entityId]="selectedOpportunityIdForActivityCenter" 
            [entityRecordTypeId]="entityDetails?.entityRecordTypeId"
            [isEditPermission]="isEditOpportunities"
            [isClosedStage]="selectedOpportunityIsClosedForActivityCenter"
            [isCompletedStage]="selectedOpportunityIsCompletedForActivityCenter"
            [hideExpandButton]="true"
            [isTagRequired]="true" 
            [isDocumentRequired]="true" 
            [refreshActivity]="refreshActivityCenter"
            [isDocumentDownloadPermission]="isDocumentDownloadPermission && !selectedOpportunityIsClosedForActivityCenter && !selectedOpportunityIsCompletedForActivityCenter "
            class="entity-right-panel" 
            [isHideDetailsTab]="false" 
            [entityDetailsData]="entityDetails" 
            [currencySymbol]="currencySymbol" 
            [hoursInDay]="hoursInDay"
            (saveKeyFieldEvent)="onSaveKeyFieldEvent($event)" 
            (onCloseActivitySection)="onMoreDetailsClick(false)"
            [keyfieldResponseData]="keyfieldResponseData"
            [createdBy]="opportunityCreatedBy"
            [privacyLevel]="null"
            [addWorkTaskCreateOption]="true" 
            [isAddWorkTask]="isAddWorkTask" 
            (onAddWorkTask)="addWorkTask()">
        </activity-section>
      </div>
      <!-- Right side activity menu end -->
</div>