@import '../../../../scss/entity_kanban.scss';


//Table
::ng-deep .tbl-all-opportunity-list {
    @media (min-width: 641px) {
        .checkbox-col {
            width: 50px;
            max-width: 50px;
        }

        th.user-img,
        td.user-img {
            width: 50px;
            text-align: center;
        }

        th.code,
        td.code {
            width: 180px;
            min-width: 180px;
        }

        th.name,
        td.name {
            width: 200px;
            min-width: 200px;
            max-width: 200px;
        }

        th.created,
        td.created {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
        }

        th.description,
        td.description {
            width: 300px;
            min-width: 300px;
        }

        th.createdByName,
        td.createdByName,
        th.entityName,
        td.entityName,
        th.accountName,
        td.accountName {
            width: 180px;
            min-width: 180px;
        }
        
        th.assignedToName,
        td.assignedToName,
        th.ownerName,
        td.ownerName {
            width: 60px;
            min-width: 60px;
        }

        th.phone,
        td.phone,
        th.tag,
        td.tag,
        th.entityWorkFlowName,
        td.entityWorkFlowName {
            width: 170px;
            min-width: 170px;
        }

        th.stageName,
        td.stageName {
            width: 160px;
            min-width: 160px;
        }

        th.priority,
        td.priority {
            width: 60px;
            min-width: 60px;
            max-width: 60px;
        }

        th.severity,
        td.severity {
            width: 60px;
            min-width: 60px;
            max-width: 60px;
        }

        th.dueDate,
        td.dueDate {
            width: 193px;
            min-width: 193px;
            max-width: 193px;
        }

        th.icon-dropdown,
        td.icon-dropdown {
            width: 60px;
            min-width: 60px;
            max-width: 60px;
        }

        th.id.action,
        td.action {
            justify-content: flex-end;
        }

        // th.action, td.action{width: 50px;}
    }

    @media (max-width: 640px) {
        &.tbl-entity tr {
            td {min-width: 100%;}
            td.checkbox-col, td.bookmark, td.isPaused, td.action { float: left; clear: none; min-width: auto; }
            td.checkbox-col, td.bookmark { width: auto !important; max-width: none !important; align-items: flex-end;}
            td.bookmark { padding-left: 0; padding-bottom: 7px; }
        }
    }

    @media (max-width: 640px) {
        &.tbl-opportunity-mobile tr {
            display: flex;
            flex-wrap: wrap;

            td {
                min-width: 100%;
            }

            td.isPaused,
            td.action {
                float: left;
                clear: none;
                min-width: auto;
            }

            td.action {
                padding-left: 0;
            }

            td.pr-5 {
                padding-right: 12px !important;

                .justify-content-end {
                    justify-content: flex-start !important;
                }
            }
        }

        .p-datatable-wrapper tr .p-column-title {
            min-width: 160px !important;
        }

        td .description-box {
            @media (max-width: 575px) {
                max-width: calc(100vw - 232px);
            }
        }
    }
}

::ng-deep .p-datatable .p-datatable-thead > tr > th{ white-space: nowrap; }

.custom-control.custom-checkbox { font-size: 18px; }

.avatar {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.btn-assign-bulk-workflow { padding: 5px 10px 2px;}
.assign-bulk-workflow::before{ content: url("../../../../assets/images/icon/assign-workflow.png"); }
.icon-workflow::before{ content: url("../../../../assets/images/icon/workflow.png"); }
::ng-deep .nb-theme-dark .icon-workflow::before{ content: url("../../../../assets/images/icon/workflow-dark.png"); }
.height-16px, .icon-workflow, .icon-workflow::before{ height: 16px; max-height: 16px; }
.mb-2px{ margin-bottom: 2px; }

.filters-five .all-opportunity-listing-filters{
    @media (min-width: 1200px) { width: 100%; }
    .filter-width { 
        @media (min-width: 1200px) { max-width: 250px; min-width: 80px; 
            .custom-control.custom-checkbox {
                @media (max-width: 1399px) {
                    .custom-control-label { font-size: 12px;
                        @media (max-width: 1366px) { font-size: 11px; }
                    }
                }
            }
        }
    }
}
::ng-deep .expanded .filters-five .all-opportunity-listing-filters .filter-width { 
    @media (min-width: 1200px) { 
        .custom-control.custom-checkbox {
            @media (max-width: 1366px) {
                .custom-control-label { font-size: 10px !important; }
            }
        }
    }
}
.custom-control.custom-checkbox .custom-control-input.w-20-size, .check-group .custom-control-input.w-20-size{ width: 20px; height: 20px; }
.all-opportunity-listing-filters .pt-30px{ padding-top: 24px;
    @media (max-width: 1279px) and (min-width: 1200px) { padding-top: 13px; }
    @media (max-width: 991px) and (min-width: 576px) { padding-top: 9px; }
    @media (max-width: 575px) { padding-top: 20px; display: flex; }
    @media (max-width: 379px) { padding-top: 15px; }
}

::ng-deep .all-opportunities + * .entity-right-panel { 
    @media (min-width: 1200px) { top: 122px; }
}