<div *ngIf="!isValidUser && !isLoading" class="login-full">
    <div class="logo-field" id="reset-password">
        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/LogoSmall.png" alt="">
        </div>
        <div id="reset-password-form-wrapper">

            <div id="reset-password-form">
                <div class="title">ACCOUNT ACTIVATION</div>
                <div class="alert alert-danger">The invitation link has expired or is no longer valid. Please contact the SDS team.</div>
                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a id="link-go-back-to-login" class="link dark-blue" [routerLink]="'/auth/login'">Go back to login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isValidUser && !isLoading" class="login-full">
    <div class="logo-field" id="reset-password">
        <div id="reset-password-form-wrapper">

            <div class="logo">
                <img class="logo-icon" src="assets/images/logos/LogoSmall.png" alt="">
            </div>

            <div id="reset-password-form">
                <div class="title">ACCOUNT ACTIVATION</div>
                <form name="userActivationForm" [formGroup]="userActivationForm" novalidate (ngSubmit)="saveUserActivation(userActivationForm.valid)">
                    <div class="alert alert-danger" *ngIf="submittedErrorMsg != ''" id="alertErrorMessage"> {{ submittedErrorMsg }} 11</div>
                    <div class="alert alert-success" *ngIf="submittedSucessMsg != ''" id="alertSuccessMessage"> {{ submittedSucessMsg }} <strong> {{ f.email.value }}</strong> </div>
                    
                    <div class="mb-3">
                        <label class="label">Email</label>
                        <input type="email" id="txt-email" formControlName="email" class="form-control" readonly>
                    </div>

                    <div class="mb-3">
                        <label class="label">Password<span class="mandatory"></span></label>
                        <input #password type="password" id="txt-password" autofocus formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngFor='let validation of resetPassword_validation_messages.password' class='invalid-feedback'>
                            <div *ngIf='f.password.hasError(validation.type) && submitted && f.password.errors' id="errorPasswordIsRequired">
                                {{ validation.message }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="label">Confirm Password<span class="mandatory"></span></label>
                        <input type="password" id="txt-password-confirm" formControlName="passwordConfirm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }">
                        <div *ngFor='let validation of resetPassword_validation_messages.passwordConfirm' class='invalid-feedback'>
                            <div *ngIf='f.passwordConfirm.hasError(validation.type) && submitted && f.passwordConfirm.errors' id="errorPasswordIsRequired">
                                {{ validation.message }}
                            </div>
                            <div class="error-message" *ngIf="f.passwordConfirm.errors && (f.passwordConfirm.value != null && f.passwordConfirm.value != '')" id="errorPasswordAndConfirmPasswordMustBeSame">Confirm password and New password must be same
                            </div>
                        </div>    
                    </div>
                    
                    <button id="btn-set-my-password" class="btn btn-primary submit-button" aria-label="RESET MY PASSWORD">SET MY PASSWORD</button>
                </form>

                <div class="login" fxLayout="row" fxLayoutAlign="center center">
                    <a id="link-go-back-to-login" class="link dark-blue" [routerLink]="'/auth/login'">Go back to login</a>
                </div>
            </div>
        </div>
    </div>
</div>