<div class="flexlayout">
    <div class="form_wrapper">
        <ng-container *ngIf="isAudioPlayable else notSupportedAudio">
            <audio controls controlsList="nodownload">
                <source [src]="url" [type]="type" class="h-100">
            </audio>
            <!-- <audio controls><source src="url" type="audio/mpeg" /></audio> -->

        </ng-container>
        <ng-template #notSupportedAudio>
            <div id="no-access-form">
                <div class="top">
                    <i class="fa-solid fa-microphone-lines-slash mb-3 icon-video-not-found"></i>
                    <div class="h5 mt-0">
                        {{'COMMON.DOCUMENT_VIEWER.AUDIO_FORMAT_NOT_SUPPORTED' | translate}}
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>