@import "../../../../scss/variables";
@import '../../../../scss/entity_kanban.scss';

//Table
::ng-deep .tbl-all-order-list{
    @media (min-width: 641px){
        .checkbox-col{ width: 50px; max-width: 50px; }
        th.user-img, td.user-img { width:50px; text-align: center; }
        th.contact, td.contact{ width: 150px; min-width: 150px; }
        th.name, td.name {width: 190px; min-width: 190px; word-break: break-word; }
        th.orderDate, td.orderDate { width: 130px; min-width: 130px; }
        th.amount, td.amount{ width: 135px; min-width: 135px; }
        th.description, td.description {width: 210px; min-width: 210px; max-width: 210px;}
        .p-datatable .p-datatable-thead > tr > th.totalAmount, td.totalAmount{width: 180px; min-width: 180px; max-width: 180px; justify-content: flex-end; text-align: right; padding-right: 30px; }
        th.assignedTo, td.assignedTo{ width: 60px; min-width: 60px; }
        th.orderNumber, td.orderNumber { width: 240px; min-width: 240px; }
        th.stageName, td.stageName, th.entityWorkFlowName, td.entityWorkFlowName{ width: 160px; min-width: 160px; }
        th.created, td.created{ width: 180px; min-width: 180px; max-width: 180px; }
        th.priority, td.priority{ width: 60px; min-width: 60px; max-width: 60px; }
        th.severity, td.severity{ width: 60px; min-width: 60px; max-width: 60px;}
        th.dueDate, td.dueDate{ width: 120px; min-width: 120px; max-width: 120px;}
        th.icon-dropdown, td.icon-dropdown { width:60px; min-width: 60px; max-width: 60px; }
        th.isPaused, td.isPaused{ width: 60px; min-width: 60px; max-width: 60px; }
        th.id.action, td.action{ justify-content: flex-end; }
        .pr-30px{ padding-right: 30px !important; }
        // th.action, td.action{width: 50px;} 
    }
    @media (max-width: 640px){
        &.tbl-entity tr { display: flex; flex-wrap: wrap; 
            td { min-width: 100%; }
            td.checkbox-col, td.bookmark, td.isPaused, td.action { float: left; clear: none; min-width: auto; }
            td.checkbox-col, td.bookmark { width: auto !important; max-width: none !important; align-items: flex-end;}
            td.bookmark { padding-left: 0; padding-bottom: 7px; }
        }
    }
}



.btn-mg{ margin: 0;
}

.btn-reset-filter.btn-mg{ margin: 0 20px 0 0; 
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 21px; padding-top: 0;
    @media (max-width: 575px) { margin-top: 0px; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 991px) { margin-top: 0; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width).col-sm-4, .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width).col-sm-2 {
    @media (max-width: 767px) and (min-width: 576px) { flex: 0 0 50%; max-width: 50%; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 1024px) and (min-width: 992px) { margin-top: 0; padding-top: 0; }
    @media (max-width: 575px) { margin-top: 0; padding-top: 0; }
}

.height-full{
    @media (max-width: 1279px) and (min-width: 1200px) { height: calc(100vh - 135px); }
}

td .link--drag{ margin-right: 6px; display: flex; padding: 0; }

.list-card-description{ white-space: normal; }

::ng-deep .p-datatable .p-datatable-thead > tr > th{ white-space: nowrap; }

.custom-control.custom-checkbox { font-size: 18px; }

.avatar {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.customInputText{
    height: 34px;
}

// prime ng input override - start
:host ::ng-deep{
    .dropDownOverride.p-dropdown {
        width: 100%;
    }
    .p-inputswitch .p-inputswitch-slider{
        background-color: red;
    }
    .p-inputswitch-checked .p-inputswitch-slider{
        background-color: #2196F3;
    }
}

.btn-assign-bulk-workflow { padding: 5px 10px 2px;}
.assign-bulk-workflow::before{ content: url("../../../../assets/images/icon/assign-workflow.png"); }
.icon-workflow::before{ content: url("../../../../assets/images/icon/workflow.png"); }
::ng-deep .nb-theme-dark .icon-workflow::before{ content: url("../../../../assets/images/icon/workflow-dark.png"); }
.height-16px, .icon-workflow, .icon-workflow::before{ height: 16px; max-height: 16px; }
.mb-2px{ margin-bottom: 2px; }

.filters-five .order-listing-filters .filter-width { 
    @media (min-width: 1200px) { max-width: 250px; min-width: 101px;
        &.checkbox-column { max-width: initial; }
    }
}

.custom-control.custom-checkbox .custom-control-input.w-20-size, .check-group .custom-control-input.w-20-size{ width: 20px; height: 20px; }
.order-listing-filters .pt-30px{ padding-top: 24px;
    @media (max-width: 575px) { padding-top: 9px; }
}
.order-listing-filters .custom-control.custom-checkbox { min-height: auto; max-height: none; }