<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold">
        {{dialogTitle | translate}}
    </h4>
    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
        <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Body Start -->
<div class="modal-body padding-32 pt-3">
    <form [formGroup]="severityFormGroup">
        <div class="row">
            <div class='col-md-12 form-group'>
                <label>{{severitySelectLabel | translate}}<span
                    class="mandatory"></span></label>
                <p-dropdown id="drp-assigned-to" *ngIf="severities" name="assignedToUserId" optionLabel="label"
                    optionValue="value"
                    class="form-control" [options]="severities" placeholder="{{severitySelectPlaceholder | translate}}"
                    [filter]="true" [resetFilterOnHide]="false" formControlName="selectedseverityId"
                    [showClear]="true">
                </p-dropdown>
            </div>
        </div>
        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" id="btn-cancel" class='btn btn-outline-secondary me-2'
                (click)="onCloseForm()">Cancel</button>
            <button [disabled]="!severityFormGroup.valid" type="button" (click)="onSubmitChange()" id="btn-save" class='btn btn-primary'>Select</button>
        </div>
    </form>
</div>
<!-- Body End -->