@import '../../../../scss/variables';

::ng-deep .tbl-entity-reference{
    .p-datatable-wrapper tbody tr:last-child td { border-bottom: none; }
    @media (min-width: 641px) {
        .entityTypeName, .entityName { min-width: 50%; width: 50%; }
    }
}

::ng-deep .nb-theme-dark .tbl-entity-reference .p-datatable-wrapper { background-color: #1f2d40; }

.results-reference {
    .result-link { display: flex; align-items: center; border-bottom: 1px dashed $brdr-grey; }
    .result-link:hover{ background-color: var(--surface-100); }
    .option-selected { outline: 2px solid $clr-blue; }
    .card-header { border-top-right-radius: 0; }
    .card-body { border-bottom-right-radius: 0; }
    .card-header, .card-body { border-right: 1px dashed $brdr-grey; }
}

::ng-deep .nb-theme-dark .results-reference {
    .option-selected { outline: 2px solid #86d0fd !important; }
}

.results-section{
    .card-title { margin-bottom: 12px; }
    .card-title:last-child { margin-bottom: 0; }
    .card-header { border-top-left-radius: 0; }
    .card-body { border-bottom-left-radius: 0; }
}

/** Stages Widget Spinner **/
::ng-deep {
    .referenceListLoader .widget-loader {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    margin: auto;
    top: 13px;
    left: 13px;
    right: 13px;
    bottom: 13px;
    background-color:  rgba(0, 0, 0, 0.15) !important;
    z-index: 1070;
    border-radius: 5px;
    }
    .nb-theme-dark .referenceListLoader .widget-loader {
    background-color: rgba(105,105,105, 0.4) !important;
    }
    .referenceListLoader .widget-loader .bounce-spinner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    }
    .referenceListLoader .widget-loader .bounce-spinner > div {
    width: 15px;
    height: 15px;
    background-color: #00a4e3 !important;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .nb-theme-dark .referenceListLoader .bounce-spinner > div {
    background-color: #9ed5ff !important;
    }
    .referenceListLoader .widget-loader .bounce-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    }
    .referenceListLoader .widget-loader .bounce-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    }
  
    .referenceListLoader .show-widget-loader {
    display: block !important;
    }
  
    .referenceListLoader .hide-widget-loader {
    display: none !important;
    }
  
    .page-containted .referenceListLoader:not(.col-xl-4) .widget-loader{
      @media (min-width: 1200px) { display: none !important; }
    }
  
    .referenceListLoader.entity-right-panel .widget-loader{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }