<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
  <h4 class="modal-title font-weight-bold">
    {{dialogTitle | translate | configuredEntityName}}
  </h4>
  <div class="d-flex align-items-center">
    <button type="button" id="btn-refresh" class="btn btn-outline-secondary h-auto border-0 mr-4 p-0" aria-label="RefreshData" (click)="refreshData()">
      <span class="font-24" aria-hidden="true"><i ngbTooltip="Refresh" placement="left auto" container="body" class="fa-solid fa-arrows-rotate dark-grey fa-lg"></i></span>
    </button>

    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
      <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
</div>

<div class="border-bottom-0 padding-32 pb-0">
  <h6 class="mb-0 fw-normal">
    {{label | translate | configuredEntityName}}
  </h6>
</div>
<!-- Model Header End -->

<!--Body Start-->
<div class="modal-body">
  <div class="container-fluid px-0" [ngClass]="entityList ? 'referenceListLoader' : '' ">
    <div id="reference-loader" class="widget-loader" *ngIf="showLoadingPanel > 0">
      <div class="bounce-spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="p-card">
          <div class="row">
            <div class="col-xl-4 col-5 pr-0">
              <div class="h-100">
                <div class="card results-reference bg-transparent border-0 h-100">
                  <div class="card-header fw-bold border-bottom-0 py-3">{{ 'CRM.ENTITY_REFERENCE_LIST_DIALOG.COLUMN_NAME' | translate }}</div>
                  <div class="card-body p-0 h-100 border-top-0">
      
                    <ng-container *ngFor="let item of uniqueValues">
                      <div class="result-link" (click)="getEntityHyperLinks(item)">
                        <a class="w-100 p-3" >
                          <div class="float-start">
                            <p class="m-0">
                              <span class="card-title mb-1">
                                <span class="fw-semibold">{{ item?.entityTypeName ? item?.entityTypeName : '' }} <span>({{ item?.totalRecords ? item?.totalRecords : '' }})</span></span>
                              </span>
                            </p>
                          </div>
                        </a>
                      </div>        
                    </ng-container>
      
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-xl-8 col-7 pl-0">
              <div class="h-100">
                <div class="card bg-transparent border-0 results-section h-100">
                  <div class="card-header fw-bold border-bottom-0 py-3">Top 5 {{ entityNameTitle ? entityNameTitle : '' }} </div>
                  <div class="card-body border-top-0 border-left-0 h-100">
                    <div class="w-100">
                      <ng-container *ngFor="let data of showHyperLinks">
                        <div class="card-title">
                          <ng-container *ngIf="(data?.hyperlink != null && data?.hyperlink != ''); else templateNoHyperLink">
                            <a class="anchor dark-blue fw-semibold" href="{{ data?.hyperlink }}" target="_blank"> {{ data?.entityName ? data?.entityName : '' }}</a>
                          </ng-container>
                          <ng-template #templateNoHyperLink>
                            {{ data?.entityName ? data?.entityName : '' }}
                          </ng-template>
                        </div>
                      </ng-container> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--Body Ends-->

<div class="modal-footer border-top-0 padding-32">
  <button type="button" *ngIf="action == actionEnums.InActive" id="btn-cancel" class='btn btn-outline-secondary me-2' (click)="cancel()">
    {{ 'CRM.ENTITY_REFERENCE_LIST_DIALOG.BUTTON_CANCEL' | translate }}
  </button>
  <button type="button" *ngIf="action != actionEnums.InActive" id="btn-save" class='btn btn-primary' (click)="cancel()">
    {{ 'CRM.ENTITY_REFERENCE_LIST_DIALOG.BUTTON_OK' | translate }}</button>
  <button type="button" *ngIf="action == actionEnums.InActive" id="btn-save" class='btn btn-primary' (click)="accept()">
    {{ 'CRM.ENTITY_REFERENCE_LIST_DIALOG.BUTTON_CONFIRM' | translate }}
  </button>
</div>

