<div class="dashboard-section">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapseOne-' + section.id" aria-expanded="true" [attr.aria-controls]="'panelsStayOpen-collapseOne-' + section.id">
          <div class="dashboard-section-title">
            {{section.sectionName}}
          </div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne-{{section.id}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="dashboard-section-widgets">
            <ul id="{{section.id}}" class="section-widgets">
              <li class="section-widget {{widget.size}}" id="{{widget.id}}" [style.width.px]="getWidgetWidth(widget.size)" *ngFor="let widget of section.widgets">
                <ngx-widget [widget]="widget" [widgetId]="widget.widgetID" [widgetSizes]="widgetSizes" (UpdateWidgetSize)="UpdateWidgetSize($event)"
                [rangeDates]="rangeDates" [height]="widget.height">
                </ngx-widget>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
