::ng-deep .document-viewer-dialog {
  .csv-overlay{ position: relative; border: 1px solid var(--surface-400); background-color: rgba(255,255,255,0.1);
    > div::after { 
      content: ""; 
      position: absolute; 
      top: 0; 
      left: 0; 
      //bottom: 0;
      bottom: 68px; //For Office Excel
      right: 16px; 
      z-index: 1;
    }
    > .container { width: 100%; max-width: 100%; }
    .min-width-col { min-width: 80px; }
    .table-responsive { max-height: calc(100vh - 90px);
      .table td { color: var(--surface-900); }
      .table tr, .table th, .table td { border-color: var(--surface-300); }
    }
  }

  .csv-overlay{ height: 100%; user-select: none; -webkit-user-select: none; -moz-user-select: none;
    > div::after { 
      bottom: 10px; 
      right: 10px;
    }
  }
}