
<div class="flexlayout" *ngIf="!isViewUser">
  <div class="form_wrapper">
    <div id="no-access-form">
      <div class="top">
        <div class="subtitle m-0">{{'URAM.USER.LIST.MESSAGE_USER_NOT_ACCESS' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!userForm && !isInitialLoading && isViewUser">
  <div class="form_wrapper">
      <div id="no-access-form">
          <div class="top">
            <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
              <div class="subtitle mt-0">{{'URAM.USER.MESSAGE_USER_NOT_EXISTS' | translate}}
              </div>
          </div>
      </div>
  </div>
</div>
<div *ngIf="userForm && isViewUser" class="entity-page entity-main">
<!-- Page Header Start -->
<div class="container-fluid lineheight35">
  <div class="row">
    <div class="col-6 float-start">
      <span class="fw-600 fs-4" id="headingAddEntity" *ngIf="formMode == 'ADD'">{{ 'URAM.USER.DETAIL.ADD_TITLE' | translate }}</span>
      <span class="fw-600 fs-4" id="headingEditEntity" *ngIf="formMode == 'EDIT'">{{ 'URAM.USER.DETAIL.EDIT_TITLE' | translate }}</span>
    </div>
    <div class="col-6">
      <button type="button" id="btn-back" class="btn btn-secondary float-end mb-10px" (click)="onBack()">
        {{ 'URAM.USER.DETAIL.BACK' | translate }}
      </button>
    </div>
  </div>
</div>
<!-- Page Header End -->
<!-- Page Content Start -->
<div class='container-fluid pb-5 pb-xl-0'>
  <div class="row gx-3">
    <!-- Basic Information -->
    <div class="col-xl-12 mb-3">
      <p-card styleClass="customCard">
        <ng-template pTemplate="header">
          <div class="float-start fw-600 p-s-t">{{ 'URAM.USER.DETAIL.BASIC_INFORMATION' | translate }}</div>
        </ng-template>
        <div *ngIf="userForm">
          <form [formGroup]='userForm' autocomplete="off">
            <div class="row w-100 mx-auto">
              <div class="col-xl-12 px-0 pt-3">
                <!-- basic details -->
                <div formGroupName="basicInfoForm">
                  <div class="row">
                    <div class="col-lg-4 vertical-center">
                      <div class="user-img mb-lg-0 mb-4 mx-auto">
                        <ng-container *ngIf="(formMode == 'ADD' || croppedImage); else avatar">
                          <img id="img-image-path" class='rounded-circle'
                          [src]='croppedImage != null ? croppedImage : "assets/images/default/users/no-image.jpg"'
                          onerror="this.src='assets/images/default/users/no-image.jpg';" alt="">
                        </ng-container>
                        <ng-template #avatar>
                          <ngx-avatar size="100" [name]="user.shortName" [bgColor]="user.avatarBGColor" class="custom-avatar"
                            ngbTooltip="{{user.name}}" placement="top top-left" container="body">
                          </ngx-avatar>
                        </ng-template>
                        <a id="link-add-photo" class="text-nowrap d-inline-block link-icon btn-edit-link" (click)="openProfileCropper()">
                          <i class="fa-solid fa-pen"></i>
                        </a>
                        <div *ngIf="croppedImage != '' && croppedImage != null && croppedImage != 'assets/images/default/users/no-image.jpg'" class="btn-remove-link">
                          <a id="btn-cancel" class='text-nowrap link-icon' (click)='removeImage()'>
                            <i class="fa-regular fa-trash-can"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="mb-3">
                            <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.FIRST_NAME' | translate }}<span
                                class="mandatory"></span></label>
                            <input type='text' id="txt-firstName" formControlName='firstName' pInputText class="w-100"
                              [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].firstName.errors }" trimValue/>
                            <div *ngFor='let validation of user_validation_messages.firstName' class='invalid-feedback'>
                              <div id="errorEnterFirstName"
                                *ngIf="userForm.get('basicInfoForm')['controls'].firstName.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].firstName.errors">
                                {{ validation.message | translate }}
                              </div>
                            </div>
                          </div>     
                        </div>
                        <div class="col-sm-6">
                          <div class="mb-3">
                            <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.LAST_NAME' | translate }}</label>
                            <input type='text' id="txt-lastName" formControlName='lastName' pInputText class="w-100" trimValue>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="mb-3">
                            <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.EMAIL' | translate }}<span
                                class="mandatory"></span></label>
                            <input type='email' id="txt-email" formControlName='email' pInputText class="w-100"
                              [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].email.errors }"
                              maxlength="100" />
                            <div *ngFor='let validation of user_validation_messages.email' class='invalid-feedback'>
                              <div id="errorEnterYourEmail"
                                *ngIf="userForm.get('basicInfoForm')['controls'].email.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].email.errors">
                                {{ validation.message | translate }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="mb-3">
                            <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.PHONE_NUMBER' | translate }}</label>
                            <div>
                                <ngx-phone-control  formControlName="phoneMobile"></ngx-phone-control>
                              <div *ngFor='let validation of user_validation_messages.phone' class='invalid-feedback'>
                                <div id="errorPhoneNumber"
                                  *ngIf="userForm.get('basicInfoForm')['controls'].phone.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].phone.errors">
                                  {{ validation.message | translate }}
                                </div>
                              </div>
                              <div *ngIf='isPhoneInvalid' class='invalid-feedback' id="errorPleaseEnterAValidPhoneNumber">
                                {{ 'URAM.USER.DETAIL.MESSAGE_INVALID_PHONENUMBER' | translate }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px" for='roleId'>{{ 'URAM.USER.DETAIL.ROLE' | translate }}<span
                            class="mandatory"></span></label>
                        <div class="input-group entity-dropdown custom-dropdown-muliselect">
                          <p-multiSelect [options]="roles" formControlName='roleId' class="w-100 entity-multiSelect" id="drp-role"
                            optionLabel="text" optionValue="value" [maxSelectedLabels]="500" [showToggleAll]="false"
                            [filter]="true" [showHeader]="true" [resetFilterOnHide]="false" appendTo="body" panelStyleClass="maxWidthOverride"
                            defaultLabel="Select Role" [displaySelectedLabel]='true' (onChange)="addCheckboxes()"
                            [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].roleId.errors }">
                          </p-multiSelect>
                        </div>
                        <div *ngFor='let validation of user_validation_messages.roleId' class='invalid-feedback'>
                          <div id="errorSelectARole"
                            *ngIf="userForm.get('basicInfoForm')['controls'].roleId.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].roleId.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px" for='timezone'>{{ 'URAM.USER.DETAIL.TIMEZONE' | translate }}<span
                            class="mandatory"></span></label>
                        <p-dropdown formControlName="timezone" styleClass="customDropdown" class="form-control" id="drp-timeZone"
                          [(ngModel)]="this.user.timezone" [options]="timeZoneList" optionLabel="displayName" appendTo="body" panelStyleClass="maxWidthOverride"
                          optionValue="standardName" placeholder="Select Timezone" [filter]="true"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].timezone.errors }">
                        </p-dropdown>
                        <div *ngFor='let validation of user_validation_messages.timezone' class='invalid-feedback'>
                          <div id="errorSelectATimeZone"
                            *ngIf="userForm.get('basicInfoForm')['controls'].timezone.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].timezone.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.USERNAME' | translate }}<span
                            class="mandatory"></span></label>
                        <input type='text' id="txt-userName" formControlName='userName' pInputText class="w-100"  autocomplete="new-password"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].userName.errors }"
                           trimValue/>
                        <div *ngFor='let validation of user_validation_messages.userName' class='invalid-feedback'>
                          <div id="errorEnterUsername"
                            *ngIf="userForm.get('basicInfoForm')['controls'].userName.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].userName.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.PROFILE_TITLE' | translate }}</label>
                        <input type='text' id="txt-title" formControlName='title' pInputText class="w-100"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].title.errors }" trimValue>
                        <div *ngFor='let validation of user_validation_messages.title' class='invalid-feedback'>
                          <div id="errorTitle"
                            *ngIf="userForm.get('basicInfoForm')['controls'].title.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].title.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.WEBSITE' | translate }}</label>
                        <input type='text' id="txt-website" formControlName='website' pInputText class="w-100"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].website.errors }" trimValue>
                        <div *ngFor='let validation of user_validation_messages.website' class='invalid-feedback'>
                          <div id="errorWebsite"
                            *ngIf="userForm.get('basicInfoForm')['controls'].website.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].website.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.LINKEDIN_PROFILE' | translate }}</label>
                        <input type='text' id="txt-linkedInProfile" formControlName='linkedInProfile' pInputText class="w-100"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].linkedInProfile.errors }"
                          trimValue>
                        <div *ngFor='let validation of user_validation_messages.linkedInProfile' class='invalid-feedback'>
                          <div id="errorLinkedInProfile"
                            *ngIf="userForm.get('basicInfoForm')['controls'].linkedInProfile.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].linkedInProfile.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.FACEBOOK_PROFILE' | translate }}</label>
                        <input type='text' id="txt-facebookProfile" formControlName='facebookProfile' pInputText class="w-100"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].facebookProfile.errors }"
                          trimValue>
                        <div *ngFor='let validation of user_validation_messages.facebookProfile' class='invalid-feedback'>
                          <div id="errorFacebookProfile"
                            *ngIf="userForm.get('basicInfoForm')['controls'].facebookProfile.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].facebookProfile.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.TWITTER_PROFILE' | translate }}</label>
                        <input type='text' id="txt-twitterProfile" formControlName='twitterProfile' pInputText class="w-100"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].twitterProfile.errors }"
                          trimValue>
                        <div *ngFor='let validation of user_validation_messages.twitterProfile' class='invalid-feedback'>
                          <div id="errorTwitterProfile"
                            *ngIf="userForm.get('basicInfoForm')['controls'].twitterProfile.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].twitterProfile.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xxl-4 col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.QUALIFICATIONS' | translate }}</label>
                        <input type='text' id="txt-qualifications" formControlName='qualifications' pInputText class="w-100"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('basicInfoForm')['controls'].qualifications.errors }"
                          trimValue>
                        <div *ngFor='let validation of user_validation_messages.qualifications' class='invalid-feedback'>
                          <div id="errorQualifications"
                            *ngIf="userForm.get('basicInfoForm')['controls'].qualifications.hasError(validation.type) && submitted && userForm.get('basicInfoForm')['controls'].qualifications.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="formMode == 'EDIT' && !user.userTenantsIsActive" class="col-lg-12 vertical-center justify-content-end">
                      <a id="btn-send-reactivation"
                        class="btn btn-link p-0 mb-3" (click)='onSendReactivation()'>{{ 'URAM.USER.DETAIL.SEND_ACTIVATION'
                        | translate }}</a>
                    </div>
                  </div>
                </div>

                <!-- change password -->
                <div *ngIf="formMode == 'ADD'" formGroupName="changePassForm">
                  <div class="row">
                    <div class="col-lg-4 col-sm-6">
                      <div class="mb-3">
                        <label class="mb-1 fs13px label-password">{{ 'URAM.USER.DETAIL.PASSWORD' | translate }}<span
                            class="mandatory"></span></label>
                        <input id="txt-password" type="text" class="form-control customPassword txt-password" formControlName="password" autocomplete="new-password"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('changePassForm')['controls'].password.errors }" 
                          (focus)="onfocusPassword()" (blur)="onblurPassword()" />
                        <ngx-password-strength *ngIf="isPasswordStrengthVisible" [showLabel]="true" [value]="userForm.get('changePassForm')['controls'].password.value"></ngx-password-strength>
                        <div *ngFor='let validation of user_validation_messages.password' class='invalid-feedback'> 
                          <div id="errorPasswordIsRequired"
                            *ngIf="userForm.get('changePassForm')['controls'].password.hasError(validation.type) && submitted && userForm.get('changePassForm')['controls'].password.errors">
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" *ngIf="formMode == 'ADD'">
                      <div class="mb-3">
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.CONFIRM_PASSWORD' | translate }}<span
                            class="mandatory"></span></label>
                        <input id="txt-confirm-password" type="text"
                          class="form-control customPassword txt-password" formControlName="confirmPassword" autocomplete="new-password"
                          [ngClass]="{ 'is-invalid': submitted && userForm.get('changePassForm')['controls'].confirmPassword.errors }" />
                        <div *ngFor='let validation of user_validation_messages.confirmPassword'
                          class='invalid-feedback'>
                          <div id="errorConfirmPasswordIsRequired"
                            *ngIf="userForm.get('changePassForm')['controls'].confirmPassword.hasError(validation.type) && submitted && userForm.get('changePassForm')['controls'].confirmPassword.errors">
                            {{ validation.message | translate }}
                          </div>
                          <div class="error-message" id="errorPasswordAndConfirmPasswordMustBeSame"
                            *ngIf="userForm.get('changePassForm')['controls'].confirmPassword.errors && (userForm.get('changePassForm')['controls'].confirmPassword.value != null && userForm.get('changePassForm')['controls'].confirmPassword.value != '')">
                            {{ 'URAM.USER.DETAIL.MESSAGE_PASSWORD_CONFIRMPASSWORD' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Start User Permissions -->
            <div class="row w-100 mx-auto">
              <div class="col-12 pt-3 px-0">
                <div class="form-group">
                  <div id="expandArrow" class="card-header btn-card-edit card-header-line px-0" data-bs-toggle="collapse"
                    data-bs-target="#permissionsCard" role="button" aria-expanded="false">
                    {{ 'URAM.USER.DETAIL.PERMISSION' | translate }}
                    <a class="col edit-form-icon cursor-pointer p-0">
                      <i class="fas fa-angle-down fa-lg float-right" aria-hidden="true" id="expandIcon"></i>
                    </a>
                  </div>
                  <div class='form-group collapse' id="permissionsCard" data-bs-parent="#expandArrow">
                    <!-- Permissions Search Start -->
                    <div class='row align-items-end pt-2'>
                      <div class="col-xl-3 col-lg-6 col-md-6 form-group pr-xl-1">
                        <div class="p-input-icon-right w-100">
                          <i class="d-flex align-items-center" aria-hidden="true">
                            <i class="pi pi-times dark-grey cursor-pointer font-11 mr-2" aria-hidden="true"
                              (click)="onSearchPermissions('');searchElement='';"></i>
                            <i class="pi pi-search dark-grey" aria-hidden="true"></i>
                          </i>
                          <input type="text" #searchTextInput [(ngModel)]="searchElement"
                            [ngModelOptions]="{standalone: true}" (change)='subscribeSearchboxEvent($event)'
                            id="txt-search-text" class="form-control entity-search-control" size="50" />
                        </div>
                      </div>
                    </div>
                    <!-- Permissions Search End -->
                    <div class="user-form permission-data">
                      <div class="card-columns">
                        <div *ngFor="let item of searchData;">
                          <div class="card border-0 bg-transparent">
                            <div class="card-body p-0 ">
                              <div class="card-title pb-0 center-title font-weight-bold">
                                <label class="custom-control custom-checkbox float-left mb-1">
                                  <input type="checkbox" class="custom-control-input checkbox-grey" id="chkMain"
                                    [checked]="item.isAllChecked" [disabled]='item.isGroupDisabled'
                                    (change)="checkAll(item.name,$event.target)">
                                  <div class="custom-control-label">
                                    {{ item.name }}
                                  </div>
                                </label>
                              </div>
                              <div class="card-text">
                                <ul class="list-style-none" *ngFor="let p of item.values; let i = index">
                                  <li><label class="custom-control custom-checkbox mb-1">
                                      <input type="checkbox" id="{{ createPermissionId(p) }}"
                                        class="custom-control-input checkbox-grey" [checked]="p.isChecked"
                                        [disabled]='p.isDisabled' (change)="checkChange($event.target)">
                                      <div id="{{ createPermissionId(p) }}" class="custom-control-label">{{
                                        p.name
                                        }} </div>
                                    </label></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="searchData.length == 0" id="lbl-NoRecordsFound" class="table-no-record text-center">{{ 'URAM.USER.DETAIL.MESSAGE_NO_RECORDS_FOUND' | translate }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="float-right">
                  <button type='button' id="btn-cancel" class='btn btn-secondary me-2' (click)='onResetUserDetail()'>{{
                    'URAM.USER.DETAIL.RESET' | translate }}</button>
                  <button type='button' *ngIf="isEditUser && user.userTenantsIsActive " id="btn-save" class='btn btn-primary'
                    (click)='saveForm(userForm.value)'>
                    <span *ngIf="formMode == 'ADD'">{{ 'URAM.USER.DETAIL.ADD' | translate }}</span>
                    <span *ngIf="formMode == 'EDIT' ">{{ 'URAM.USER.DETAIL.SAVE' | translate }}</span>
                  </button>
                </div>
              </div>
            </div>
            <!-- End User Permissions -->
          </form>
        </div>
      </p-card>
    </div>

    <!-- Reset Password Information -->
    <div class="col-xl-12 mt-2 mb-3" *ngIf="isEditProfile && user.userTenantsIsActive">
      <p-card styleClass="customCard" *ngIf="formMode == 'EDIT'">
        <ng-template pTemplate="header">
          <div class="">
            <div class="float-start fw-600 p-s-t mb-3">
              {{ 'URAM.USER.DETAIL.RESET_PASSWORD' | translate }}
            </div>
          </div>
        </ng-template>
        <div *ngIf="changePasswordForm">
          <form [formGroup]='changePasswordForm' autocomplete="off">
            <div class="row w-100 mx-auto">
              <div class="col-xl-12 px-0">
                <div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-6">
                      <div class='mb-3'>
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.PASSWORD' | translate }}<span
                            class="mandatory"></span></label>
                        <input id="txt-password" type="text" class="form-control customPassword txt-password" formControlName="password" autocomplete="off"
                          [ngClass]="{ 'is-invalid': isChangePassword && changePasswordForm.controls.password.errors }" 
                          (focus)="onfocusPassword()" (blur)="onblurPassword()" />
                        <ngx-password-strength *ngIf="isPasswordStrengthVisible" [showLabel]="true" [value]="changePasswordForm.controls.password.value"></ngx-password-strength>
                        <div *ngFor='let validation of user_validation_messages.password' class='invalid-feedback'>
                          <div id="errorResetPasswordIsRequired"
                            *ngIf='changePasswordForm.controls.password.hasError(validation.type) && isChangePassword && changePasswordForm.controls.password.errors'>
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class='mb-3'>
                        <label class="mb-1 fs13px">{{ 'URAM.USER.DETAIL.CONFIRM_PASSWORD' | translate }}<span
                            class="mandatory"></span></label>
                        <input id="txt-confirm-password" type="text"
                          class="form-control customPassword txt-password" formControlName="confirmPassword" autocomplete="off"
                          [ngClass]="{ 'is-invalid': isChangePassword && changePasswordForm.controls.confirmPassword.errors }" />
                        <div *ngFor='let validation of user_validation_messages.confirmPassword'
                          class='invalid-feedback'>
                          <div id="errorResetConfirmPasswordIsRequired"
                            *ngIf='changePasswordForm.controls.confirmPassword.hasError(validation.type) && isChangePassword && changePasswordForm.controls.confirmPassword.errors'>
                            {{ validation.message | translate }}
                          </div>
                          <div class="error-message" id="errorResetPasswordAndConfirmPasswordMustBeSame"
                            *ngIf="changePasswordForm.controls.confirmPassword.errors && (changePasswordForm.controls.confirmPassword.value != null && changePasswordForm.controls.confirmPassword.value != '')">
                            {{ 'URAM.USER.DETAIL.MESSAGE_PASSWORD_CONFIRMPASSWORD' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 px-0 text-right">
                <button type='button' id="btn-cancel-password" class='btn btn-secondary me-2'
                  (click)='onResetPasswordForm()'>{{
                  'URAM.USER.DETAIL.RESET' | translate }}</button>
                <button type='button' *ngIf="isEditUser" id="btn-save-password" class='btn btn-primary'
                  (click)='onSetUserPassword(changePasswordForm.value)'>{{'URAM.USER.DETAIL.SAVE' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </p-card>
    </div>
  </div>
</div>
</div>
<!-- Page Content End -->