<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ 'OPPORTUNITIES.DETAIL.OPPORTUNITY_ITEMS_TAB.ADD_OPPORTUNITY_ITEM_DIALOG.TITLE' | translate | configuredEntityName}}</h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm()">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add Product Start -->
<div class="modal-body padding-32 pt-3">
    <div class="row p-0">
        <div class="col-md-6 mb-3">
            <div class="mb-1 fs13px">{{ 'OPPORTUNITIES.DETAIL.OPPORTUNITY_ITEMS_TAB.ADD_OPPORTUNITY_ITEM_DIALOG.SEARCH' | translate }}</div>
            <div class="p-input-icon-right w-100">
                <i class="pi pi-search" aria-hidden="true"></i>
                <input #searchTextInput pInputText type="text" id="txt-search-text"
                    class="w-100 customInputText form-control" size="50"
                    [(ngModel)]="pricebookItemsPagingParams.searchString" [ngModelOptions]="{standalone: true}" />
            </div>
        </div>
    </div>
    <div class="tbl-entity">
        <p-table #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
            [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="pricebookItemCols"
            [value]="priceBookItems" sortField="productName" class="tbl-opportunityItems-add" [sortOrder]="1" [lazy]="true"
            [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true" paginatorDropdownAppendTo="body"
            [paginator]="totalRecords > 0" [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
            [scrollHeight]="'calc(100vh - 318px)'" (onPage)="paginate($event)">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th id="tblColumnHeaderCheckbox" scope="col" class="checkbox-col">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [(ngModel)]="isAllCheckBoxSelected" id="chkBulkAssignEntity" [disabled]="priceBookItems?.length <= 0"
                                (change)="checkUncheckAll()">
                            <label class="custom-control-label"> </label>
                        </div>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" id="tblColumnHeader"
                        [pSortableColumnDisabled]="!col.sort" class="{{col.field}} {{col.class}}" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                        scope="col" (click)="changeOrder(col)">
                        {{ col.header | translate  | configuredEntityName}}
                        <i *ngIf="col.field == 'uomName'" class="fas fa-info-circle dark-grey ml-1 info-tooltip" ngbTooltip="Unit Of Measurement" placement="top top-left" container="body" aria-hidden="true"></i>
                        <p-sortIcon [field]="col.field" *ngIf="col.sort" id="iconSort"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td class="checkbox-col">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [(ngModel)]="rowData.isSelected" id="chkAssignEntity"
                                    (change)="afterSelect(rowData)">
                            <label class="custom-control-label"> </label>
                        </div>
                    </td>
                    <td class="productName">
                        <span class="p-column-title">
                            {{columns[0].header | translate | configuredEntityName}}
                        </span>
                        <span>{{rowData.productName}}</span>
                    </td>
                    <td class="productSkuName">
                        <span class="p-column-title">
                            {{columns[1].header | translate}}
                        </span>
                        <span>{{rowData.productSkuName}}</span>
                    </td>
                    <td class="productSku">
                        <span class="p-column-title">
                            {{columns[2].header | translate}}
                        </span>
                        <span class="w-100 d-flex">{{rowData.productSku}}</span>
                    </td>
                    <td class="uomName">
                        <span class="p-column-title">
                            {{columns[3].header | translate}}
                            <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" ngbTooltip="Unit Of Measurement" placement="top top-left" container="body" aria-hidden="true"></i>
                        </span>
                        <span>{{rowData.uomName}}</span>
                    </td>
                    <td class="price">
                        <span class="p-column-title">
                            {{columns[4].header | translate}}
                        </span>
                        <span class="w-100 d-flex justify-content-end">{{(currencySymbol)+(rowData.price | number:'1.2-2') }}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                    id="paginatorLeftPage" (click)="prev()" [disabled]="end == pricebookItemsPagingParams.pageSize">
                </p-button>
                <input type="number" min="1" [max]="totalPages" [(ngModel)]="pricebookItemsPagingParams.pageNo"
                    id="paginatorInputPage" (change)="changePage()" class="pageNoInput"> /
                <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                    id="paginatorRightPage" (click)="next()" [disabled]="end == totalRecords"></p-button>
                <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                    id="paginatorResetButton" (click)="resetPaginator()"
                    [disabled]="end == pricebookItemsPagingParams.pageSize"></p-button>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length + 1" id="lbl-NoRecordsFound" class="table-no-record text-center">
                        {{ 'OPPORTUNITIES.DETAIL.OPPORTUNITY_ITEMS_TAB.ADD_OPPORTUNITY_ITEM_DIALOG.MESSAGE_NO_RECORDS_FOUND' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="modal-footer border-top-0 px-0 pb-0">
        <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
            (click)="onCloseForm()">{{'OPPORTUNITIES.DETAIL.OPPORTUNITY_ITEMS_TAB.ADD_OPPORTUNITY_ITEM_DIALOG.BUTTON_CANCEL' | translate}}</button>
        <button type="button" (click)="saveSelectedItems()" [disabled]="selectedRows?.length <= 0"  id="btn-save" class='btn btn-primary'>{{'OPPORTUNITIES.DETAIL.OPPORTUNITY_ITEMS_TAB.ADD_OPPORTUNITY_ITEM_DIALOG.BUTTON_ADD' | translate}}</button>
    </div>
</div>
<!-- Add Product End -->