::ng-deep .tbl-opportunityItems-add {
    @media (min-width: 641px) {
        th.checkbox-col, td.checkbox-col { width: 70px !important; min-width: 70px; max-width: 70px; }
        th.productName, td.productName { max-width: 200px; min-width: 200px; }
        th.productSkuName, td.productSkuName,th.uomName,td.uomName { max-width: 180px; min-width: 180px; }
        th.price, td.price { max-width: 230px; width: 230px !important; min-width: 230px;  }
        th.status, td.status { max-width: 120px; width: 120px !important; min-width: 120px; }
        th.productSku, td.productSku { max-width: 130px; width: 130px !important; min-width: 130px; }
    }
    @media (max-width: 640px) {
        td.price .justify-content-end { justify-content: flex-start !important; }
        td.price input.text-right{ text-align: left !important; }
        .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td { align-items: center; }
    }
    .p-datatable-wrapper { min-height: auto !important; 
        @media (max-height: 575px){ max-height: 480px !important; }
    }
}

::ng-deep .nb-theme-dark .tbl-opportunityItems-add { background: #1f2d40; } 