@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';
@import '../../../../scss/variables';

@include nb-install-component() {
  display: block;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .logo-container {
    display: inline-block;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    align-items: center; word-break: break-word;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      line-height: 1.50rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }

    .userNameBrder{
      border-left: 1px solid var(--surface-400);
    }

    @media (max-width: 400px) { padding-right: 0 !important; } 
  }

  .direction-switcher {
    @include nb-ltr(margin-left, 2rem);
    @include nb-rtl(margin-right, 2rem);
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select,
    .direction-switcher {
      display: none;
    }
  }
}

:host ::ng-deep .logo-container{
  display: inline-flex !important;
}
.logoStyle{
  width: 25px;
}
.lineHeight{
  line-height: 25px;
}
// ng-prime - icon button - start
:host ::ng-deep{
  .iconButton.p-button-icon-only{
      width: 32px;
      height: 32px;
      border-radius: 18px;
      color: inherit;
      background-color: inherit;
      border: none;
  }
  .iconButton.p-togglebutton.p-button.p-highlight{
    border: none;
  }
  .iconButton.p-togglebutton.p-button .p-button-icon-left{
    color: inherit;
  }
}
// ng-prime - icon button - end

.lineHeight47 {
  line-height: 47px;
}
// ng-prime - icon button - start
:host ::ng-deep {
  .p-button:focus {
    box-shadow: none;
  }
  .sideBarToggleBtn.p-button-icon-only {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0 !important;
    position: absolute !important;
    left: 13rem;
    top: 50%;
    margin-top: -0.95rem;
  }
}
// ng-prime - icon button - end

// top bar left logo container - start
.layout-topbar-left {
  height: 100%;
  position: relative;
  
  > .layout-topbar-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1.25rem;

    @media (max-width: 1139px) { margin-left: 42px; padding: 0 1.25rem 0 0; }
    @media (max-width: 575px) { width: calc(16rem - 42px); }
  }
}
// top bar left logo container - end

a.logo-title{ color: var(--surface-900); font-size: 16px; font-weight: 600; word-break: normal; margin-left: 6px; }

.img-user {
  max-width: 1.8rem;
  max-height: 1.8rem;
}
::ng-deep .nb-theme-default, ::ng-deep .nb-theme-dark {
  nav .searchbar {
    position: relative; width: 100%; display: flex; justify-content: flex-end;

    @media (max-width: 767px) { width: 100%; display: flex; justify-content: flex-end; }
  }

  nav .searchbar .icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: none;
    transition: all 0.5s 0.1s ease;
  }

  nav .searchbar .icon .search-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $dark-grey;
    display: flex;
    align-items: center;
  }

  nav .searchbar input.form-control.bg-dark-grey + .icon .search-button, nav .searchbar input.form-control.bg-dark-cyan + .icon .search-button {
    color: $clr-white;
  }

  nav .searchbar input.form-control {
    width: 200px; border-color: var(--surface-400); color: var(--surface-900); padding-right: 30px;

    @media (max-width: 1024px) { width: 100%; }
  }

  nav .searchbar input.form-control.txt-focus-out {
    width: 200px;
    @media (max-width: 1024px) { width: 100%; }
  }

  nav .searchbar input.form-control.bg-dark-grey, nav .searchbar input.form-control.bg-dark-cyan {
    border-color: #e8e8e8; color: $clr-white;
  }
  
  nav .searchbar input[type=text]:focus {
    width: 750px; border-color: #4C9AFF;

    @media (max-width: 1279px) { width: 528px; }
    @media (max-width: 1139px) { width: 398px; }
    @media (max-width: 1024px) { width: 100%; }
  }

  nav .searchbar input.txt-focus-in {
    width: 750px;

    @media (max-width: 1279px) { width: 528px; }
    @media (max-width: 1139px) { width: 398px; }
    @media (max-width: 1024px) { width: 100%; }
  }

  nav .searchbar input.form-control.bg-dark-grey[type=text]:focus, nav .searchbar input.form-control.bg-dark-cyan[type=text]:focus {
    border-color: $clr-white;
  }

  .search-col{ position: relative; flex: 0 0 772px; max-width: 772px; 
    @media (max-width: 1279px) { flex: 0 0 550px; max-width: 550px; }
    @media (max-width: 1139px) { flex: 0 0 420px; max-width: 420px; }
    @media (max-width: 991px) { flex: 0 0 340px; max-width: 340px; }
    @media (max-width: 959px) { flex: 0 0 240px; max-width: 240px; }
    @media (max-width: 767px) { flex: 0 0 100%; max-width: 100%; position: absolute; top: 53px; padding: 12px 11px; background-color: #edf1f7; }
    @media (max-width: 575px) { padding: 16px 11px; }

    .global-search-result{ position: absolute; top: 37px; left: 1px; right: 0; border-radius: 7px;
      .results-border { border: 1px solid $brdr-grey; border-radius: 5px; max-height: calc(100vh - 61px); overflow: auto;
        @media (max-width: 767px) { max-height: calc(100vh - 113px); }
        @media (max-width: 575px) { max-height: calc(100vh - 120px); }
      }
      .card { border: 0; background-color: transparent; border-radius: 0; }
      .cards-search{ padding: 0; background-color: transparent; border-radius: 5px;
        .card-body{ padding: 7px 14px; cursor: pointer; }
        .card-result .card { border-bottom: 1px dashed var(--surface-400); }
        .result-link { display: flex; align-items: center;
          .entity-icon { background-color: #4589bd; }
        }
        .card-result:last-child .card { border-bottom: none; }
        .card-body:hover{ background-color: var(--surface-100); }
        .entity-icon { width: 30px; height: 30px;
            i { font-size: 18px; color: $clr-white; }
        }
      }
    }
  }

  .header-container{
    @media (max-width: 575px) { flex: 0 0 calc(100% - 235px); min-width: calc(100% - 235px); }
  }
}

::ng-deep .nb-theme-dark .search-col{ 
  @media (max-width: 767px) { background-color: #151a30; }
}

::ng-deep .search-backdrop + .header-section .search-col{ 
  @media (max-width: 767px) { background-color: #76787b; flex: 0 0 100%; max-width: 100%; }
}

::ng-deep .nb-theme-dark .search-backdrop + .header-section .search-col{ 
  @media (max-width: 767px) { background-color: #0a0d18; }
}

::ng-deep .search-backdrop { position: fixed; top: 0; bottom: 0; left: 0; right: 0; content: ""; background: rgba(0, 0, 0, 0.5); -webkit-animation: opacity 0.25s; animation: opacity 0.25s; }

::ng-deep .nb-theme-dark .searchbar {
  ::placeholder {
    color: #a2a6ac;
    opacity: 1;
  }

  :-ms-input-placeholder, ::-ms-input-placeholder, ::-webkit-input-placeholder, ::-moz-placeholder {
    color: #a2a6ac;
    opacity: 1;
  }
}

.login-username { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }