<div class="container-fluid form-text-wrap pb-5 pb-xl-0">
<div class="row">
    <div class="col-md-2">
        <div class="m-2">
            Form Type:
            <select id="dropdown-form-type" class="form-control" (change)="changeFormType($event)">
                <option value="spa">Single Page Form</option>
                <option value="wizard" selected>Wizard Form</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-8">
        <div class="m-2" *ngIf="showHideFormBuilder">
            Form Builder:
            <form-builder [form]="form" (change)="onChangeFormBuilder($event)" class="custom-form-builder"></form-builder>
        </div>
    </div>
    <div class="col-xl-4 pl-xl-0">
        <div class="m-2 ml-xl-1">
            Form JSON Schema: 
            <button *ngIf="!isSubmitted" (click)="onSaveSchema()" class="btn btn-sm btn-primary">Save Schema</button>
            <button *ngIf="isSubmitted" (click)="onRenderForm()" class="btn btn-sm btn-primary">Render Form</button>
            <!-- form json -->
            <textarea id="txt-formjson" class="form-control mt-2" name="formjson" 
            [(ngModel)]="formJson" (change)="onFormJsonChange($event)" rows="20"></textarea>
        </div>
    </div>
</div>
</div>