<ng-container *ngIf="!isFromKanbanOrListView; else read">
    <ng-container *ngIf="!hasError">
        <p-skeleton *ngIf="showSkeleton; else showAverageRating" width="8rem" class="rating-skeleton"></p-skeleton>
        <ng-template #showAverageRating>
            <span class="vertical-center" (click)="openEntityReviewDialog();stopPropagation($event)">
                <span *ngIf="entityReviewDetails?.totalReviews > 0"
                    class="rating-box me-2 rating-longer" [ngClass]="[isEditPermission ? 'cursor-pointer' : 'cursor-default']">
                    <i aria-hidden="true" class="text-yellow-star font-12 pi pi-star-fill"></i>
                    <span class="rating-number">{{entityReviewDetails.rating | number:'1.1-1'}}</span>
                </span>
                <span *ngIf="entityReviewDetails?.rating == 0" class="rating-box review-0" [ngClass]="[isEditPermission ? 'cursor-pointer' : 'cursor-default']"
                    triggers="hover" tooltipClass="tooltip-backward-small"
                    ngbTooltip="{{'ACTIVITY.ENTITYREVIEWS.ENTITYREVIEWS_ADD_REVIEW' | translate}}" container="body"
                    placement="top auto">
                    <i aria-hidden="true" class="font-12 fa-regular fa-star star-0 dark-grey"></i>
                    <i class="fa-solid fa-circle-plus dark-grey font-12" aria-hidden="true"></i>
                </span>
                <span *ngIf="entityReviewDetails?.rating > 0" class="d-flex align-items-center">{{'(' +
                    entityReviewDetails?.totalReviews + ' ' + entityReviewDetails?.postText + ')'}}</span>
            </span>
        </ng-template>
    </ng-container>
</ng-container>

<ng-template #read>
    <span class="vertical-center" (click)="openEntityReviewDialog();stopPropagation($event)">
        <span *ngIf="rating > 0" class="rating-box" triggers="hover" [ngClass]="[isEditPermission ? 'cursor-pointer' : 'cursor-default']"
            tooltipClass="tooltip-backward-small" [ngbTooltip]="tooltip" container="body" placement="top auto">
            <i aria-hidden="true" class="text-yellow-star font-12 pi pi-star-fill"></i>
            <span class="rating-number">{{rating | number:'1.0-0'}}</span>
        </span>
        <span *ngIf="rating == 0" class="rating-box review-0" triggers="hover"
            tooltipClass="tooltip-backward-small" [ngClass]="[isEditPermission ? 'cursor-pointer' : 'cursor-default']"
            ngbTooltip="{{'ACTIVITY.ENTITYREVIEWS.ENTITYREVIEWS_ADD_REVIEW' | translate}}" container="body"
            placement="top auto">
            <i aria-hidden="true" class="font-12 fa-regular fa-star star-0 dark-grey"></i>
            <i class="fa-solid fa-circle-plus dark-grey font-12" aria-hidden="true"></i>
        </span>
    </span>
</ng-template>
<ng-template #tooltip>
    <i aria-hidden="true" class="pi pi-star-fill mr-1 text-yellow-star mb-1"></i>
    <span>{{rating | number:'1.1-1'}} ({{ review }} {{reviewPostText}})</span>
</ng-template>