<!-- Page Header Start -->
<div class="container-fluid lineheight35 heading-page">
  <div class="row">
    <div class="col mb-2">
      <span id="headingEntity" class="fw-600 fs-4">{{ 'URAM.ROLE.LIST.TITLE' | translate }}</span>
    </div>
    <div class="col mb-2">
      <div *ngIf="isAddRole">
        <button id="btn-add-entity" class="btn btn-primary float-end" type="button" (click)="addRole()">
          <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
          {{ 'URAM.ROLE.LIST.ADD_ROLE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Page Content Start -->
<div class="container-fluid pb-5 pb-xl-0">
  <!-- Table Header Start -->
  <div class="row align-items-end entity-search-area">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-3">
      <div class="mb-1 fs13px">{{ 'URAM.ROLE.LIST.SEARCH' | translate }}</div>
      <div class="p-input-icon-right w-100">
        <i class="pi pi-search" aria-hidden="true"></i>
        <input #searchTextInput pInputText type="text" id="txt-search-text" class="w-100 customInputText"
          [(ngModel)]="roleSearchFilter.searchText" />
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-sm-3 col-6 mb-3">
      <button id="btn-reset" class="btn btn-outline-secondary" type="button" (click)="onResetAllFilters()"
        [disabled]="(roleSearchFilter.searchText == '' ? true : false)">
        {{'URAM.ROLE.LIST.BUTTON_RESET' | translate}}
      </button>
    </div>
  </div>
  <!-- Table Header End -->

  <!-- Table Start -->
  <div class="p-card">
    <p-table *ngIf="dataSource" #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
      [rowsPerPageOptions]="_commonHelper.globalRowsPerPageOptions" [columns]="cols" [value]="dataSource" sortField="name"
      class="tbl-role-list" [sortOrder]="1" [lazy]="true" [paginator]="totalRecords > 0" (onPage)="paginate($event)"
      [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true" paginatorDropdownAppendTo="body"
      [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''" [scrollHeight]="'calc(100vh - 248px)'">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th id="tblColumnHeader" *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort" scope="col" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
            class="{{col.field}} {{col.class}}" [hidden]="!col.visible" (click)="ChangeOrder(col)">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td class="name">
            <span class="p-column-title">
              {{columns[0].header | translate}}
            </span>
            <a [routerLink]="'/uram/roles/details/'+ rowData.id" id="link-headingRecord" [ngClass]="isViewRole ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.name}}</a>
          </td>
          <td class="permissionSetName">
            <span class="p-column-title">
              {{columns[1].header | translate}}
            </span>
            {{rowData.permissionSetName}}
          </td>
          <td class="id action" *ngIf="isDeleteRole">
            <div class="dropdown">
              <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm" type="button"
                id="drp-action" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu" aria-labelledby="drp-action">
                <li *ngIf="isDeleteRole">
                  <a id="link-Delete" class="dropdown-item"
                    (click)="deleteRole(rowData.id)">
                    <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                    {{ 'URAM.USER.LIST.BUTTON_REMOVE' | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </ng-template>
      <!-- Paginator Start -->
      <ng-template pTemplate="paginatorleft">
        <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text" (click)="prev()" id="paginatorLeftPage"
          [disabled]="end == pagingParams.pageSize"></p-button>
        <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo" (change)="changePage()" class="pageNoInput" id="paginatorInputPage"> /
        <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
        <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text" (click)="next()" id="paginatorRightPage"
          [disabled]="end == totalRecords"></p-button>
        <p-button type="button" icon="pi pi-undo" styleClass="p-button-text" (click)="resetPaginator()" id="paginatorResetButton"
          [disabled]="end == pagingParams.pageSize"></p-button>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
            {{ 'URAM.ROLE.LIST.MESSAGE_NO_RECORDS_FOUND' | translate}}
          </td>
        </tr>
      </ng-template>
      <!-- Paginator End -->
    </p-table>
  </div>
  <!-- Table End -->
  </div>
  <!-- Page Content End -->
