<div class="container-fluid p-0 h-100" id="dynamic-filter" clickOutsideFilter (clickOutside)="showhideFilter()">
    <div class="row">
        <div class="col-12">
            <div class="vertical-center justify-content-between border-bottom pb-3 mb-3">
                <div class="font-16 fw-semibold">Filters</div>
                <span (click)="showhideFilter()"><i class="fa-solid fa-xmark dark-grey font-16 cursor-pointer"></i></span>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-xl-0">
            <div class="row">
                <ng-container *ngFor="let filterConfig of filterConfigList">
                    <ng-container *ngIf="!filterConfig.isHidden && filterConfig.show">
                        <ng-container [ngSwitch]="filterConfig.inputType">
                            <ng-container *ngSwitchCase="inputTypeList.Dropdown">
                                <div class="col-6 mb-3"
                                    [ngClass]="[filterConfig.defaultClass != null ? filterConfig.defaultClass : '']">
                                    <label class="mb-1 fs13px">{{filterConfig.label}}</label>
                                    <div>
                                        <p-dropdown [options]="filterConfig.options" [(ngModel)]="filterConfig.ngModel"
                                            [placeholder]="filterConfig.placeHolder" id="{{ 'drp-' + filterConfig.name }}"
                                            [optionLabel]="filterConfig.optionLabel" panelStyleClass="filterPanelSize"
                                            [optionValue]="filterConfig.optionValue" [appendTo]="ngx-dynamic-common-filter"
                                            [resetFilterOnHide]="filterConfig.resetFilterOnHide != null ? filterConfig.resetFilterOnHide : false"
                                            [filter]="filterConfig.filter != null ? filterConfig.filter : true"
                                            [showHeader]="filterConfig.showHeader !=null ? filterConfig.showHeader : true"
                                            [showClear]="filterConfig.showClear != null ? filterConfig.showClear : false"
                                            [group]="filterConfig.group != null ? filterConfig.group : false">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="inputTypeList.TreeSelect">
                                <div class="col-6 mb-3">
                                    <label class="mb-1 fs13px">{{filterConfig.label}}</label>
                                    <div>
                                        <p-treeSelect [(ngModel)]="filterConfig.ngModel" id="{{ 'drp-' + filterConfig.name}}"
                                            [options]="filterConfig.options" display="chip" [metaKeySelection]="false"
                                            selectionMode="checkbox" [placeholder]="filterConfig.placeHolder"
                                            panelStyleClass="filterPanelSize" [appendTo]="ngx-dynamic-common-filter"
                                            [resetFilterOnHide]="filterConfig.resetFilterOnHide != null ? filterConfig.resetFilterOnHide : false"
                                            [filter]="filterConfig.filter != null ? filterConfig.filter : true"
                                            [showHeader]="filterConfig.showHeader != null ? filterConfig.showHeader : true"
                                            [showClear]="filterConfig.showClear != null ? filterConfig.showClear : false">
                                        </p-treeSelect>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="inputTypeList.MultiSelect">
                                <div class="col-6 mb-3"
                                    [ngClass]="[filterConfig.defaultClass != null ? filterConfig.defaultClass : '']">
                                    <label class="mb-1 fs13px">{{filterConfig.label}}</label>
                                    <div>
                                        <p-multiSelect #multiSelect [options]="filterConfig.options" id="{{ 'drp-' + filterConfig.name}}"
                                            [(ngModel)]="filterConfig.ngModel" [placeholder]="filterConfig.placeHolder"
                                            [optionLabel]="filterConfig.optionLabel"
                                            [optionValue]="filterConfig.optionValue" panelStyleClass="filterPanelSize" [appendTo]="ngx-dynamic-common-filter"
                                            [resetFilterOnHide]="filterConfig.resetFilterOnHide != null ? filterConfig.resetFilterOnHide : false"
                                            [filter]="filterConfig.filter != null ? filterConfig.filter : true"
                                            [showHeader]="filterConfig.showHeader != null ? filterConfig.showHeader : true"
                                            [showClear]="filterConfig.showClear != null ? filterConfig.showClear : false"
                                            [group]="filterConfig.group != null ? filterConfig.group : false"
                                            [ngClass]="filterConfig.group != null ? 'spacing-multiselect-checkbox' : ''"
                                            filterBy="label,groupLabel"
                                            (onFilter)="multiSelectFilter($event, filterConfig.name, filterConfig.ngModel, multiSelect)"
                                            (onChange)="onChangeMultiSelect($event, filterConfig)">
                                            <ng-container *ngIf="filterConfig.relatedToIconClass">
                                                <ng-template let-value pTemplate="selectedItems">
                                                    <ng-container *ngIf="filterConfig.bindValues && filterConfig.bindValues.length > 0">
                                                        <i [class]="filterConfig.relatedToIconClass" class="font-13 mr-2" aria-hidden="true"
                                                            [ngbTooltip]="filterConfig.relatedToIconToolTip" container="body" placement="top auto"></i>
                                                            <div *ngFor="let option of filterConfig.bindValues; let last = last;"
                                                            class="d-inline-flex align-items-center gap-2 mr-1">{{option}}<ng-container *ngIf="!last">,</ng-container></div>
                                                    </ng-container>
                                                    <div *ngIf="!value || value.length === 0">{{filterConfig.placeHolder}}</div>
                                                </ng-template>
                                            </ng-container>
                                        </p-multiSelect>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="inputTypeList.Calendar">
                                <div class="col-6 mb-3">
                                    <label class="mb-1 fs13px">{{filterConfig.label}}</label>
                                    <div>
                                        <p-calendar id="{{ 'dp-' + filterConfig.name}}"
                                            [dateFormat]="_commonHelper.globalDatePickerFormate"
                                            [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false"
                                            icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                                            [monthNavigator]="true" [yearNavigator]="true" [appendTo]="'ngx-dynamic-common-filter'"
                                            [minDate]="_commonHelper.globalMinDate" [maxDate]="_commonHelper.globalMaxDate"
                                            [yearRange]="currentYearRange" [selectOtherMonths]="true"
                                            [readonlyInput]="false" [(ngModel)]="filterConfig.ngModel"
                                            [showTime]="false" [placeholder]="_commonHelper.globalDatePlaceholder"
                                            class="time-calendar"></p-calendar>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="inputTypeList.DateRangePicker">
                                <div class="col-6 mb-3">
                                    <label class="mb-1 fs13px">{{filterConfig.label}}</label>
                                  <ngx-custom-calender [(ngModel)]="filterConfig.ngModel" [rangeDates]="filterConfig.ngModel" id="{{ 'dp-' + filterConfig.name}}"
                                        [dateFormat]="_commonHelper.globalDatePickerFormate" [numberOfMonths]='2'
                                        class="date-range-dynamic" selectionMode="range" [readonlyInput]="false"
                                        [ngxMask]="_commonHelper.globalDateRangeMaskWithTime" [showTime]="false" [selectOtherMonths]="true"
                                        [minDate]="_commonHelper.globalMinDate" [maxDate]="_commonHelper.globalMaxDate"                                        
                                        [inputId]="range" [placeholder]="_commonHelper.globalDateRangePlaceholder"
                                        [showRangeButtonBar]="true" [firstDayOfWeek]="1" [appendTo]="'ngx-dynamic-common-filter'"
                                        [dateSelectOptionsButtonBar]="dateSelectOptionsButtonBar" (ngModelChange)="onCustomCalenderValueChange($event,filterConfig.ngModel)">
                                    </ngx-custom-calender>   
                                </div>
                            </ng-container>
                            <!-- Checkbox -->
                            <ng-container *ngSwitchCase="inputTypeList.Checkbox">
                                <div class="col-6 mb-3 checkbox-column d-flex ">
                                    <div class="custom-control custom-checkbox d-flex align-items-end">
                                        <input id="{{'chk-'+filterConfig.name}}" type="checkbox" [checked]="filterConfig.ngModel" (change)="filterConfig.ngModel = !filterConfig.ngModel" class="custom-control-input mt-0 w-20-size">
                                        <label for="{{'chk-'+filterConfig.name}}" class="custom-control-label pl-2">{{filterConfig.label}}</label>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="col-xl-12 text-right mb-3">
            <button type="button" id="btn-reset" class="btn btn-outline-secondary me-3" (click)="sendFilterData('RESET')">
                <i class="fa-solid fa-arrow-rotate-left me-1"></i>{{'COMMON.COMMON_FILTER.LABEL_RESET' | translate}}</button>
            <button type="button" id="btn-save" class="btn btn-primary"  (click)="sendFilterData('SET')">
                <i class="fa-solid fa-check me-1"></i>{{'COMMON.COMMON_FILTER.LABEL_Apply' | translate}} </button>
        </div>
    </div>
</div>