.lineHeight4em{
    line-height: 4em;
}
:host ::ng-deep {
    .p-treeselect,
    .p-dropdown,
    .p-input-icon-right,
    .p-inputtext
    {
        width: 100%;
    }
}

.custom-control.custom-checkbox .custom-control-input.w-20-size, .check-group .custom-control-input.w-20-size{ width: 20px; height: 20px; }
.pt-28px{ 
    @media (min-width: 576px) { padding-top: 24px;
        @media (max-width: 1559px) and (min-width: 1280px) { padding-top: 15px; }
    }
    @media (max-width: 575px) { padding-top: 20px; display: flex; }
}

.filters-dynamic .fs13px { 
    @media (max-width: 1559px) and (min-width: 1280px) { font-size: 10px; }
    @media (max-width: 1279px) and (min-width: 1200px) { font-size: 9px; font-weight: 600; }
}

.truncate-1-line { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }

::ng-deep .filters-panel{ position: absolute; right: -425px; top: 0; bottom: -25px; left: auto; background: var(--surface-0); border: 1px solid var(--surface-300); border-right: none; border-bottom: none; border-top-left-radius: 5px; width: 425px; z-index: 1069; padding: 14px 12px 0; max-height: calc(100vh - 67px); overflow-y: auto; overflow-x: hidden;  -webkit-animation: slide 0.12s forwards; -webkit-animation-delay: 0.25s; animation: slide 0.12s forwards; animation-delay: 0.25s;
    .p-multiselect-items-wrapper, .p-dropdown-items-wrapper { max-height: 140px !important; }
    
    @media (max-width: 1199px) { max-height: calc(100vh - 97px); min-height: calc(100vh - 97px); top: -45px;
    }
    @media (max-width: 450px) { width: 395px; right: -395px; }
    @media (max-width: 413px) { width: 348px; right: -348px;
        .date-range-dynamic .p-calendar .p-inputtext { font-size: 10px; }
    }
    .checkbox-column .custom-control.custom-checkbox { min-height: 0; max-height: inherit; padding-bottom: 8px;
        .custom-control-label { font-size: 12px; }
    }
}
 
@-webkit-keyframes slide {
    100% { right: 0; }
}
 
@keyframes slide {
    100% { right: 0; }
}