<form [formGroup]="noteForm">
    <div class="vertical-center flex-nowrap">
        <div class="width--100">
            <textarea #description id="txt-activity-notes" class="form-control ht--40"
                placeholder="{{'ACTIVITY.NOTES.PLACEHOLDER' | translate}}" formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }" trimValue>
            </textarea>
        </div>
        <div>
            <div class="float-right">
                <button type="button" id="btn-add-note" class='btn btn-primary btn-small ml-3'
                    [disabled]="noteForm.invalid && submitted" (click)="saveNotes(noteForm.value)">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</form>