
::ng-deep .page-containted .page-content.container-fluid ~ .page-content.container-fluid .table-two, ::ng-deep .page-containted .container-fluid ~ .page-content.container-fluid .table-two{ 
	.navTabs > .card, .p-datatable {
		.p-datatable-header { padding-left: 0; 	}
	}
	.p-datatable-wrapper { max-height: 475px !important; height: auto !important; }
	@media (min-width: 641px) {
		tbody tr:first-child:nth-last-child(2) #drp-action + .dropdown-menu, tbody tr:first-child:nth-last-child(3) #drp-action + .dropdown-menu { transform: translate(-26px, -15px) !important; }
		tbody tr:first-child:nth-last-child(1) #drp-action + .dropdown-menu { transform: translate(-26px, -43px) !important; }
	}
}

:host ::ng-deep .page-containted, ::ng-deep .page-containted .page-content.container-fluid ~ .page-content.container-fluid .table-two, ::ng-deep .page-containted .container-fluid ~ .page-content.container-fluid .table-two{
	.tbl-height-zero .p-datatable-wrapper { max-height: 110px !important; height: auto !important; margin-bottom: 0 !important; }	
}