@import '../../../../../scss/variables';

.documents-tab .file-drop-zone {
    border: dashed 2px $brdr-grey;
    min-height: 20x;
    padding: 10px 30px;
    border-radius: 4px;
}

.file-drop-zone-over {
    border: dashed 2px #1D2D44;
}

.file-drop-zone .drop-zone-area {
    display: flex;
    justify-content: center;

    .drop-text{min-width: 100px; text-align: right;}
}

.file-drop-zone .or-text {
    padding: 0 10px;
}

.file-drop-zone .file-input-group {
    position: relative; min-width: 90px; display: inline-block; text-align: left;
}

.file-drop-zone .file-input-group .anchor {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%
}

.file-drop-zone .file-input-group .file-input {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 21px;
}

.col-xl-document.col-md-8{
    @media (min-width: 1200px) { max-width: 480px; min-width: 480px; }
}