<!-- start document -->
<ng-container *ngIf="isEditPermission">
    <div class="col-md-8 form-group mb-0 mx-auto documents-tab col-xl-document">
        <div ng2FileDrop id="file-drop-zone" [uploader]="uploader" [ngClass]="{'file-drop-zone-over': hasDropZoneOver}"
            class="file-drop-zone">
            <div class="drop-zone-area">
                <span class="drop-text">{{'COMMON.ENTITY_DOCUMENTS.ENTITY_DOCUMENT_DIALOG.DROP_FILES' | translate}}</span><span
                    class="or-text">{{'COMMON.ENTITY_DOCUMENTS.ENTITY_DOCUMENT_DIALOG.OR' | translate}}</span>
                <span class="file-input-group">
                    <a href="javascript:void()" class="anchor dark-blue">{{'COMMON.ENTITY_DOCUMENTS.ENTITY_DOCUMENT_DIALOG.CHOOSE_FILE_LINK' | translate}}</a>
                    <input #fileUploadControl type="file" id="file-upload" class="file-input" ng2FileSelect
                        (click)="onSelectFileClick()" [uploader]="uploader" multiple />
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-8 form-group mb-0 mx-auto col-xl-document">
        <div class="vertical-center dark-grey mt-1 font-12 mb-3 justify-content-center" id="txtAllowFileTypes">
            {{allowTypesMessage}}
        </div>
    </div>
</ng-container>

<ng-container *ngIf="documentTypeList && documentTypeList.length > 0; else elsePart">
    <ng-container *ngFor="let entityRecordTypeWiseSection of documentTypeList; trackBy: recordTypeByValue">
        <ngx-documents-table [refreshFileList]="entityRecordTypeWiseSection.refreshDocument" [entityID]="entityID" [entityTypeID]="entityTypeID"
            [isDocumentDownloadPermission]="isDocumentDownloadPermission" [isEditPermission]="isEditPermission"
            [documentTypeList]="documentTypeList" [privacyLevel]="privacyLevel"
            [entityRecordTypeId]="entityRecordTypeWiseSection?.value" class="position-relative table-custom-doc"
            [entityRecordTypeHeader]="entityRecordTypeWiseSection?.label"
            (isRefreshDocumentList)="onAddDeleteUpdateDocument($event)">
        </ngx-documents-table>
    </ng-container>
</ng-container>

<ng-template #elsePart>
    <ngx-documents-table
        [refreshFileList]="refreshDocument" 
        [entityID]="entityID" class="position-relative table-custom-doc"
        [entityTypeID]="entityTypeID"
        [isDocumentDownloadPermission]="isDocumentDownloadPermission"
        [isEditPermission]="isEditPermission"
        [documentTypeList]="documentTypeList"
        [privacyLevel]="privacyLevel"
        (isRefreshDocumentList)="onAddDeleteUpdateDocument()">
    </ngx-documents-table>
</ng-template>
<!-- end document -->