<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ 'OPPORTUNITIES.ADD_DIALOG.TITLE' | translate | configuredEntityName }}</h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add Opportunity Start -->
<div class="modal-body padding-32 px-0 pt-3" *ngIf="opportunityForm">
    <form [formGroup]="opportunityForm">
        <div class="px-3">
            <div class="row">
                <!-- Name -->
                <div class=" col-lg-6 form-group">
                    <label>{{'OPPORTUNITIES.ADD_DIALOG.NAME' | translate}} <span class="mandatory"></span></label>
                    <input type="text" #opportunityName id="txt-name" class="form-control ht--40"
                        name="name" formControlName="name" [ngClass]="{ 'is-invalid': opportunityForm['controls'].name.errors && (opportunityForm['controls'].name.dirty || opportunityForm['controls'].name.touched) }"
                        trimValue autofocus>
                    <div *ngFor='let validation of validation_messages.name' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].name.hasError(validation.type) && opportunityForm['controls'].name.errors && (opportunityForm['controls'].name.dirty || opportunityForm['controls'].name.touched)" id="errorNameValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Name -->

                <!-- Description -->
                <div class=" col-lg-6 form-group">
                    <label>{{'OPPORTUNITIES.ADD_DIALOG.DESCRIPTION' | translate}}</label>
                    <textarea id="txt-description" class="form-control ht--40"
                        name="description" formControlName="description" trimValue
                        [ngClass]="{ 'is-invalid': opportunityForm['controls'].description.errors && (opportunityForm['controls'].description.dirty || opportunityForm['controls'].description.touched) }">
                    </textarea>
                    <div *ngFor='let validation of validation_messages.description' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].description.hasError(validation.type) && opportunityForm['controls'].description.errors && (opportunityForm['controls'].description.dirty || opportunityForm['controls'].description.touched)" id="errorDescriptionValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Description -->

            

                <!-- Owner -->
                <div class="col-md-6 form-group">
                    <label>{{'OPPORTUNITIES.ADD_DIALOG.OWNER' | translate}} <span class="mandatory"></span></label>
                    <p-dropdown id="drp-owner" name="ownerId" optionLabel="label" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                        optionValue="value" formControlName="ownerId" 
                        [ngClass]="{ 'is-invalid': submitted && opportunityForm['controls'].ownerId.errors && (opportunityForm['controls'].ownerId.dirty || opportunityForm['controls'].ownerId.touched) }"
                        class="form-control" [options]="ownerUsers" placeholder="{{ 'OPPORTUNITIES.ADD_DIALOG.OWNER_PLACEHOLDER' | translate}}"
                        (onFilter)="ownerOnFilter($event)"
                        (onChange)="ownerOnChange($event)"
                        [filter]="true" [resetFilterOnHide]="false">
                    </p-dropdown>
                    <div *ngFor='let validation of validation_messages.ownerId' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].ownerId.errors && (opportunityForm['controls'].ownerId.dirty || opportunityForm['controls'].ownerId.touched)" id="errorOwnerIdValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Owner -->

                <!-- Amount -->
                <div class=" col-md-6 form-group">
                    <label>{{'OPPORTUNITIES.ADD_DIALOG.AMOUNT' | translate}}</label>
                    <div class="inner-addon left-addon">
                        <span>{{currencySymbol}}</span>
                        <input type="text" id="txt-amount" class="form-control ht--40" name="amount" formControlName="amount" maxlength="18"
                            [ngClass]="{ 'is-invalid': opportunityForm['controls'].amount.errors && (opportunityForm['controls'].amount.dirty || opportunityForm['controls'].amount.touched) }"
                            mask="separator.2" thousandSeparator="," trimValue>
                        <div *ngFor='let validation of validation_messages.amount' class='invalid-feedback'>
                            <div *ngIf="opportunityForm['controls'].amount.hasError(validation.type) && opportunityForm['controls'].amount.errors && (opportunityForm['controls'].amount.dirty || opportunityForm['controls'].amount.touched)" id="errorAmountValidation">
                                {{ validation.message | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Amount -->

                <!-- Due Date -->
                <div class="col-md-6 form-group">
                    <label>{{ 'OPPORTUNITIES.ADD_DIALOG.DUEDATE' | translate }}</label>
                    <p-calendar id="dp-due-date" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                        [dateFormat]="_commonHelper.globalDatePickerFormate" [dateMask]="_commonHelper.globalDateMask"
                        [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                        [monthNavigator]="true"  [yearNavigator]="true" yearRange="1900:2100"
                        formControlName="dueDate" name="dueDate" selectOtherMonths="true" [showTime]="false" 
                        [minDate]="getCurrentDate()" [maxDate]="_commonHelper.globalMaxDate"
                        [placeholder]="_commonHelper.globalDatePlaceholder" class="time-calendar"
                        [ngClass]="{ 'is-invalid': submitted && opportunityForm['controls'].dueDate.errors && (opportunityForm['controls'].dueDate.dirty || opportunityForm['controls'].dueDate.touched) }">
                    </p-calendar>
                    <div *ngFor='let validation of validation_messages.dueDate' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].dueDate.hasError(validation.type) && opportunityForm['controls'].dueDate.errors && (opportunityForm['controls'].dueDate.dirty || opportunityForm['controls'].dueDate.touched)" id="errorDueDateValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Due Date -->

                <!-- Lead Source -->
                <div class="col-md-6 form-group">
                    <label>{{ 'OPPORTUNITIES.ADD_DIALOG.LEADSOURCE' | translate}}</label>
                    <p-dropdown id="drp-lead-source" name="leadSource" class="form-control"  formControlName="leadSource" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                        [ngClass]="{ 'is-invalid': submitted && opportunityForm['controls'].leadSource.errors && (opportunityForm['controls'].leadSource.dirty || opportunityForm['controls'].leadSource.touched) }"
                        [options]="leadSources" optionLabel="name" optionValue="intValue1"  
                        placeholder="{{ 'OPPORTUNITIES.ADD_DIALOG.LEADSOURCE_PLACEHOLDER' | translate}}" 
                        [showClear]="true" [filter]="true" [resetFilterOnHide]="false">
                    </p-dropdown>
                    <div *ngFor='let validation of validation_messages.leadSource' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].leadSource.hasError(validation.type) && opportunityForm['controls'].leadSource.errors && (opportunityForm['controls'].leadSource.dirty || opportunityForm['controls'].leadSource.touched)" id="errorLeadSourceValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Lead Source -->

                <!-- Confidence Level -->
                <div class="col-md-6 form-group">
                    <label>{{ 'OPPORTUNITIES.ADD_DIALOG.CONFIDENCELEVEL' | translate }}</label>
                    <div class="inner-addon right-addon">
                        <span>%</span>
                        <input id="txt-confidenceLevel" type="text" class="form-control" name="confidenceLevel" formControlName="confidenceLevel"
                            mask="separator.2" thousandSeparator="," trimValue
                            [ngClass]="{ 'is-invalid': opportunityForm['controls'].confidenceLevel.errors && (opportunityForm['controls'].confidenceLevel.dirty || opportunityForm['controls'].confidenceLevel.touched) }">
                        <div *ngFor='let validation of validation_messages.confidenceLevel' class='invalid-feedback'>
                            <div *ngIf="opportunityForm['controls'].confidenceLevel.hasError(validation.type) && opportunityForm['controls'].confidenceLevel.errors && (opportunityForm['controls'].confidenceLevel.dirty || opportunityForm['controls'].confidenceLevel.touched)" id="errorConfidenceLevelValidation">
                                {{ validation.message | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Confidence Level -->

                <!-- Record Type -->
                <div class=" col-md-6 form-group" *ngIf="isShowRecordTypes ">
                    <label> {{'OPPORTUNITIES.ADD_DIALOG.RECORD_TYPE' | translate}} </label>
                    <p-dropdown id="drp-entityRecordType" name="entityRecordTypeId" optionLabel="label" appendTo="body"
                        panelStyleClass="maxWidthOverride-xxl" formControlName="entityRecordTypeId" filterBy="label"
                        class="form-control" [options]="entityRecordTypes"
                        placeholder="{{ 'OPPORTUNITIES.ADD_DIALOG.RECORDTYPE_PLACEHOLDER' | translate}}" [filter]="true"
                        [resetFilterOnHide]="false"
                        [ngClass]="{ 'is-invalid': submitted && opportunityForm['controls'].entityRecordTypeId.errors && (opportunityForm['controls'].entityRecordTypeId.dirty || opportunityForm['controls'].entityRecordTypeId.touched) }"
                        [showClear]="true" (onChange)="onRecordTypeChange($event)" (onClear)="onRecordTypeClear($event)">
                    </p-dropdown>
                    <div *ngFor='let validation of validation_messages.entityRecordTypeId' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].entityRecordTypeId.hasError(validation.type) && opportunityForm['controls'].entityRecordTypeId.errors && (opportunityForm['controls'].entityRecordTypeId.dirty || opportunityForm['controls'].entityRecordTypeId.touched)"
                            id="errorEntityRecordTypeIdValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Record Type -->

                 <!-- Account --> 
                <div class="col-md-6 form-group" *ngIf="showCompanyDropDown">
                    <label>{{'ORDERS.ADD_DIALOG.ACCOUNT' | translate | configuredEntityName }} </label>
                    <ngx-control-level-loading-bar *ngIf="showAccountLoader" [ngClass]="{'w-with-btn-loader': hasAddAccountPermission }"></ngx-control-level-loading-bar>
                    <div class="d-flex flex-wrap align-items-center">
                        <p-dropdown #drpAccount id="drp-account" optionLabel="label" formControlName="accountID" optionValue="value"
                            (onChange)="onChangeAccount($event)" (onFilter)="onFilterAccount($event)" class="form-control"
                            [ngClass]="{'w-with-btn': hasAddAccountPermission}"
                            [options]="accountTypeList" placeholder="{{accountTypePlaceholder | translate | configuredEntityName}}"
                            [filter]="true" [resetFilterOnHide]="false" [showClear]="true">
                        </p-dropdown>
                        <ng-container *ngIf="hasAddAccountPermission">
                            <button type="button" id="btn-add-related-to"
                                class="btn btn-outline-secondary btn-light-grey ml-3 rounded-circle d-flex align-items-center justify-content-center"
                                (click)="addNewAccount()"  triggers="hover" tooltipClass="tooltip-backward-small"
                                ngbTooltip="{{'ORDERS.ADD_DIALOG.TOOLTIP_ADD_ACCOUNT' | translate | configuredEntityName}}">
                                <i class="fas fa-plus" aria-hidden="true"></i>
                            </button>
                        </ng-container>
                    </div>
                </div>
                <!-- Account --> 

                <!-- Contact --> 
                <div class="col-md-6 form-group" *ngIf="showMemberDropDown">
                    <label>{{'ORDERS.ADD_DIALOG.CONTACT' | translate | configuredEntityName }} 
                    </label>
                    <!-- Related To Loading Bar -->
                    <ngx-control-level-loading-bar *ngIf="showContactLoader" [ngClass]="{'w-with-btn-loader': hasAddContactPermission }"></ngx-control-level-loading-bar>
                    <div class="d-flex flex-wrap align-items-center">
                        <p-dropdown #drpContact id="drp-contact" class="form-control" formControlName="contactID"
                            name="ContactID" [ngClass]="{'w-with-btn': hasAddContactPermission}"
                            [options]="customerContactList" optionLabel="label" optionValue="value" [filter]="true"
                            placeholder="{{ contactPlaceholder | translate | configuredEntityName}}"   
                            [resetFilterOnHide]="false" [showClear]="true"  (onFilter)="onFilterContact($event)">
                        </p-dropdown>
                        <ng-container *ngIf="hasAddContactPermission">
                            <button type="button" id="btn-add-related-to"
                                class="btn btn-outline-secondary btn-light-grey ml-3 rounded-circle d-flex align-items-center justify-content-center"
                                (click)="addNewContact()"  triggers="hover" tooltipClass="tooltip-backward-small"
                                ngbTooltip="{{'ORDERS.ADD_DIALOG.TOOLTIP_ADD_CONTACT' | translate | configuredEntityName}}">
                                <i class="fas fa-plus" aria-hidden="true"></i>
                            </button>
                        </ng-container>
                        <!-- <div *ngFor='let validation of validation_messages.billToContactID'   class='invalid-feedback invalid-text'>
                            <div
                            *ngIf="opportunityForm['controls'].billToContactID.hasError(validation.type) && opportunityForm['controls'].billToContactID.errors && (opportunityForm['controls'].billToContactID.dirty || orderForm['controls'].billToContactID.touched)">
                                {{ validation.message | translate | configuredEntityName }}
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Contact -->    

                <!-- Related To -->
                <!-- <div *ngIf="isShowRelatedTo" class=" col-md-6 form-group">
                    <label class="mb-1 fs13px">{{ relatedToEntiyName ? relatedToEntiyName :'OPPORTUNITIES.ADD_DIALOG.RELATED_TO' | translate}} </label>

                    <ngx-control-level-loading-bar *ngIf="showRelatedToLoader" [ngClass]="{'w-with-btn-loader': isAddRelatedTo }"></ngx-control-level-loading-bar>

                    <div class="d-flex flex-wrap align-items-center">
                        <p-dropdown #drpRelatedTo id="drp-entityIDs" name="relatedTo" optionLabel="label" 
                            formControlName="relatedTo" [group]="this.isRelatedToGroupDropDown"
                            [ngClass]="{ 'is-invalid': submitted && opportunityForm['controls'].relatedTo.errors && (opportunityForm['controls'].relatedTo.dirty || opportunityForm['controls'].relatedTo.touched), 'w-with-btn': isAddRelatedTo }"
                            class="form-control" [options]="relatedToList"
                            placeholder="{{(relatedToPlaceholder ? relatedToPlaceholder: ('OPPORTUNITIES.ADD_DIALOG.RELATED_TO_PLACEHOLDER' | translate))}}"
                            (onFilter)="onRelatedToFilter($event)" (onChange)="onRelatedToChange($event)" (onClear)="onRelatedToClear($event)" appendTo="body"
                            panelStyleClass="maxWidthOverride-xxl" [filter]="true" [showClear]="true" [resetFilterOnHide]="false" >
                            <ng-template pTemplate="selectedItem" *ngIf="opportunityForm['controls'].relatedTo">
                                <div class="flex align-items-center gap-2 text-truncate">
                                    <i *ngIf="relatedEntityTypeId != null" [class]="_commonHelper.getEntityIconClass(relatedEntityTypeId)" class="font-13 mr-2" aria-hidden="true" container="body" placement="top auto" [ngbTooltip]="relatedToIconToolTip"></i>
                                    <span>{{opportunityForm.get('relatedTo').value.label}}</span>
                                </div>
                            </ng-template>
                            <ng-container *ngIf="this.isRelatedToGroupDropDown">
                                <ng-template let-group pTemplate="group">
                                    <i [class]="_commonHelper.getEntityIconClass(group.relatedToEntityTypeId)" class="font-13" aria-hidden="true" container="body" placement="top auto" [ngbTooltip]="group.relatedToIconToolTip"></i>
                                    <span class="ms-1">{{group.relatedToEntityTypeName}}</span>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <span>{{item.label}}</span>
                                </ng-template>
                            </ng-container>
                        </p-dropdown>
                        <ng-container *ngIf="isAddRelatedTo">
                            <button type="button" id="btn-add-related-to"
                                class="btn btn-outline-secondary btn-light-grey ml-3 rounded-circle d-flex align-items-center justify-content-center" triggers="hover" tooltipClass="tooltip-backward-small"
                                (click)="addRelatedTo()" ngbTooltip="{{'OPPORTUNITIES.ADD_DIALOG.TOOLTIP_ADD_RELATEDTO' | translate}}">
                                <i class="fas fa-plus" aria-hidden="true"></i>
                            </button>
                        </ng-container>
                        <div *ngFor='let validation of validation_messages.relatedTo' class='invalid-feedback w-100'>
                            <div *ngIf="opportunityForm['controls'].relatedTo.errors && (opportunityForm['controls'].relatedTo.dirty || opportunityForm['controls'].relatedTo.touched)" id="errorRelatedToIsValidation">
                                {{ validation.message | translate}}
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- Related To -->

                <!-- Workflow -->
                <div *ngIf="isShowWorkFlow" class="col-md-6 form-group" >
                    <label>{{'OPPORTUNITIES.ADD_DIALOG.WORKFLOW' | translate}}<span class="mandatory"></span></label>
                    <p-dropdown id="drp-workflow" name="entityWorkflowId" optionLabel="label" optionValue="value" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                        formControlName="entityWorkflowId" 
                        class="form-control" [options]="workflows"
                        placeholder="{{'OPPORTUNITIES.ADD_DIALOG.WORKFLOW_PLACEHOLDER' | translate}}"
                        (onChange)="onWorkflowChange($event)" (onClear)="onWorkflowClear($event)"
                        [ngClass]="{ 'is-invalid': submitted && opportunityForm['controls'].entityWorkflowId.errors && (opportunityForm['controls'].entityWorkflowId.dirty || opportunityForm['controls'].entityWorkflowId.touched) }"
                        [showClear]="true" [filter]="true" [resetFilterOnHide]="false" required>
                    </p-dropdown>
                    <div *ngFor='let validation of validation_messages.entityWorkflowId' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].entityWorkflowId.hasError(validation.type) && opportunityForm['controls'].entityWorkflowId.errors && (opportunityForm['controls'].entityWorkflowId.dirty || opportunityForm['controls'].entityWorkflowId.touched)" id="errorWorkflowValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Workflow -->

                <!-- Assigned To -->
                <ng-container *ngIf="isAssignOpportunity">
                    <div *ngIf="isShowAssignTo" class=" col-md-6 form-group">
                        <label>{{'OPPORTUNITIES.ADD_DIALOG.ASSIGNED_TO' | translate}}</label>
                        <p-dropdown id="drp-assigned-to" name="assignedTo" optionLabel="label" appendTo="body"
                            panelStyleClass="maxWidthOverride-xxl" optionValue="value" formControlName="assignedTo" class="form-control"
                            [options]="assignedToUsers"
                            placeholder="{{ 'OPPORTUNITIES.ADD_DIALOG.ASSIGNED_TO_PLACEHOLDER' | translate}}"
                            [ngClass]="{ 'is-invalid': submitted && opportunityForm['controls'].assignedTo.errors && (opportunityForm['controls'].assignedTo.dirty || opportunityForm['controls'].assignedTo.touched) }"
                            (onFilter)="assignedToOnFilter($event)" (onChange)="assignedToOnChange($event)" [filter]="true"
                            [resetFilterOnHide]="false" [showClear]="true">
                        </p-dropdown>
                        <div *ngFor='let validation of validation_messages.assignedTo' class='invalid-feedback'>
                            <div *ngIf="opportunityForm['controls'].assignedTo.hasError(validation.type) && opportunityForm['controls'].assignedTo.errors && (opportunityForm['controls'].assignedTo.dirty || opportunityForm['controls'].assignedTo.touched)"
                                id="errorAssignedToValidation">
                                {{ validation.message | translate}}
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- Assigned To -->

                <!-- Is Private -->
                <div class="col-md-6 form-group">
                    <label>{{ 'OPPORTUNITIES.ADD_DIALOG.ISPRIVATE' | translate }}</label><br/>
                    <label class="h-27px">
                        <div class="switch switch-label switch-pill switch-primary">
                            <input type="checkbox" id="chk-is-private" class="switch-input" formControlName="isPrivate" name="isPrivate">
                            <div class="switch-slider switch--status" [attr.data-checked]="'OPPORTUNITIES.ADD_DIALOG.LABEL_SWITCH_YES' | translate" [attr.data-unchecked]="'OPPORTUNITIES.ADD_DIALOG.LABEL_SWITCH_NO' | translate"></div>
                        </div>
                    </label>
                    <div *ngFor='let validation of validation_messages.isPrivate' class='invalid-feedback'>
                        <div *ngIf="opportunityForm['controls'].isPrivate.hasError(validation.type) && opportunityForm['controls'].confidenceLevel.errors && (opportunityForm['controls'].isPrivate.dirty || opportunityForm['controls'].isPrivate.touched)" id="errorPrivateValidation">
                            {{ validation.message | translate}}
                        </div>
                    </div>
                </div>
                <!-- Is Private -->
            </div>
        </div>
        <div class="modal-footer border-top-0 px-3 pb-0">
            <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                (click)="onCloseForm(false)">{{'OPPORTUNITIES.ADD_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="saveOpportunity(opportunityForm.value)" id="btn-save" class='btn btn-primary'>{{'OPPORTUNITIES.ADD_DIALOG.BUTTON_ADD' | translate}}</button>
        </div>
    </form>
</div>
<!-- Add Opportunity End -->