<ng-container *ngIf="controls && controls.length > 0">
    <div class="row custom-fields" [formGroup]="formGroup">
        <div [class]="(controlClass ? controlClass : (control.fieldClass ? control.fieldClass : 'col-md-4 col-sm-6')) + ' form-group'"  *ngFor="let control of controls let k = index; trackBy:trackByCustomFieldControl">
            <div [ngSwitch]="control.fieldType" class="p-0 h-100">

                <!--Start Date Control -->
                <ng-container *ngSwitchCase="'Date'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] == null ? ' ' : customFieldJSONData[control.fieldName] | dateFormatPipe: _commonHelper.globalDateFormate }}</div>
                    <p-calendar id="dp-{{(control.fieldName | lowercase)}}" *ngIf="!section.isLabelView && !isReadOnly"
                        class="time-calendar" [dateFormat]="_commonHelper.globalDatePickerFormate" appendTo="body" panelStyleClass="maxWidthOverride-detail"
                        [placeholder]="_commonHelper.globalDatePlaceholder" [dateMask]="_commonHelper.globalDateMask"
                        [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                        [monthNavigator]="true" [yearNavigator]="true" selectOtherMonths="true" [showTime]="false"
                        [minDate]="_commonHelper.globalMinDate" [maxDate]="_commonHelper.globalMaxDate"
                        [yearRange]="_commonHelper.globalYearRange"
                        [formControl]="formGroup.controls[control.fieldName]"
                        [(ngModel)]="customFieldJSONData[control.fieldName]" 
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }">
                    </p-calendar>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!-- End Date Control -->

                <!-- Start Currency Control -->
                <ng-container *ngSwitchCase="'Currency'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] != null ? (customFieldJSONData[control.fieldName] | currency:currencySymbol:'symbol-narrow':'1.2-2') : currencySymbol }}</div>
                    <div *ngIf="!section.isLabelView && !isReadOnly" class="inner-addon left-addon">
                        <span class="font-13">{{currencySymbol}}</span>
                        <input id="txt-{{(control.fieldName | lowercase)}}" type="text" class="form-control"
                            formControlName={{control.fieldName}} mask="separator.2" (keypress)="currencyEventHandler($event)"
                            thousandSeparator="," [allowNegativeNumbers]="true" [(ngModel)]="customFieldJSONData[control.fieldName]"
                            [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue/>
                        <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                            <div *ngIf="formGroup.get(control.fieldName).errors.required">
                                {{control.settingsJSON['requiredValMessage']}}
                            </div>
                            <div *ngIf="formGroup.get(control.fieldName).errors.minlength">
                                {{control.settingsJSON['minLengthValMessage']}}
                            </div>
                            <div *ngIf="formGroup.get(control.fieldName).errors.maxlength">
                                {{control.settingsJSON['maxLengthValMessage']}}
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- End Currency Control -->

                <!-- Start Percent Control-->
                <ng-container *ngSwitchCase="'Percent'">
                    <div>
                        <div>
                            <label>{{control.label}}</label>
                            <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                                <span class="mandatory"></span>
                            </ng-container>
                        </div>
                        <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] == null ? '%' : customFieldJSONData[control.fieldName] + '%' }}</div>
                        <ng-container *ngIf="!section.isLabelView && !isReadOnly">
                            <div class="inner-addon right-addon">
                                <span>%</span>
                                <input type="number" id="txt-{{(control.fieldName | lowercase)}}" 
                                    (keypress)="percentEventHandler($event)" formControlName={{control.fieldName}}
                                    [(ngModel)]="customFieldJSONData[control.fieldName]" class="form-control pr-26px" 
                                    [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue/>                            
                                <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                                    <div *ngIf="formGroup.get(control.fieldName).errors.required">
                                        {{control.settingsJSON['requiredValMessage']}}
                                    </div>
                                    <div *ngIf="formGroup.get(control.fieldName).errors.min">
                                        {{control.settingsJSON['minValMessage']}}
                                    </div>
                                    <div *ngIf="formGroup.get(control.fieldName).errors.max">
                                        {{control.settingsJSON['maxValMessage']}}
                                    </div>
                                </div>
                            </div>
                           
                        </ng-container>
                    </div>
                </ng-container>
                <!-- End Percent Control -->

                <!-- Start Number Control -->
                <ng-container *ngSwitchCase="'Number'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] == null ? ' ' : customFieldJSONData[control.fieldName] }}</div>
                    <input id="txt-{{(control.fieldName | lowercase)}}"
                        *ngIf="!section.isLabelView && !isReadOnly && control.fieldName != 'Units'" class="form-control" type="number"
                        formControlName={{control.fieldName}} [(ngModel)]="customFieldJSONData[control.fieldName]"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue/>
                    <input id="txt-{{(control.fieldName | lowercase)}}"
                        *ngIf="!section.isLabelView && !isReadOnly && control.fieldName == 'Units'" class="form-control" type="text"
                        formControlName={{control.fieldName}} mask="separator.2" [(ngModel)]="customFieldJSONData[control.fieldName]"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue/>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.minlength">
                            {{control.settingsJSON['minLengthValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.maxlength">
                            {{control.settingsJSON['maxLengthValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!-- End Number Control -->

                 <!-- Start Number Control -->
                 <ng-container *ngSwitchCase="'Whole Number'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] == null ? ' ' : customFieldJSONData[control.fieldName] }}</div>
                    <input id="txt-{{(control.fieldName | lowercase)}}"
                        *ngIf="!section.isLabelView && !isReadOnly" class="form-control" type="number"
                        formControlName={{control.fieldName}} [(ngModel)]="customFieldJSONData[control.fieldName]"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue/>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.minlength">
                            {{control.settingsJSON['minLengthValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.maxlength">
                            {{control.settingsJSON['maxLengthValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!-- End Number Control -->

                <!-- Start Text Control -->
                <ng-container *ngSwitchCase="'Text'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] == null ? ' ' : customFieldJSONData[control.fieldName] }}</div>
                    <input id="txt-{{(control.fieldName | lowercase)}}" *ngIf="!section.isLabelView && !isReadOnly" class="form-control"
                        type="text" formControlName={{control.fieldName}} (keypress)="textEventHandler($event)"
                        [(ngModel)]="customFieldJSONData[control.fieldName]" 
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue/>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.minlength">
                            {{control.settingsJSON['minLengthValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.maxlength">
                            {{control.settingsJSON['maxLengthValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!-- End Text Control -->

                <!-- Start TextArea Control-->
                <ng-container *ngSwitchCase="'Text (Long)'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] == null ? ' ' : customFieldJSONData[control.fieldName] }}</div>
                    <textarea id="textarea-{{(control.fieldName | lowercase)}}" *ngIf="!section.isLabelView && !isReadOnly"
                        class="form-control" rows="3" formControlName={{control.fieldName}} (keypress)="textEventHandler($event)"
                        [(ngModel)]="customFieldJSONData[control.fieldName]" 
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue>
                    </textarea>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.minlength">
                            {{control.settingsJSON['minLengthValMessage']}}
                        </div>
                        <div *ngIf="formGroup.get(control.fieldName).errors.maxlength">
                            {{control.settingsJSON['maxLengthValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!-- End TextArea Control-->
                <!--Start DropDown Control -->
                <ng-container *ngSwitchCase="'Picklist'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ (control.optionsJSON | displayValueFinder: { value: customFieldJSONData[control.fieldName] })?.length ? (control.optionsJSON | displayValueFinder: { value: customFieldJSONData[control.fieldName] })[0].label : ' ' }}</div>
                    
                    <!-- Loading Bar -->
                    <ngx-custom-field-loading-bar *ngIf="control.showLoading && !isReadOnly"></ngx-custom-field-loading-bar>

                    <p-dropdown #dropdown id="drp-{{(control.fieldName | lowercase)}}" *ngIf="!section.isLabelView && !isReadOnly"
                        class="form-control" formControlName={{control.fieldName}} [filter]="true" appendTo="body" panelStyleClass="maxWidthOverride-detail"
                        [resetFilterOnHide]="false" [showClear]="true" [options]="control.optionsJSON"
                        placeholder='Select' optionLabel="label" optionValue="value"
                        filterPlaceHolder="{{(control.dataSourceId ? 'Search at least 3 characters' : '')}}"
                        [(ngModel)]="customFieldJSONData[control.fieldName]"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }"
                        (onClick)="onDropdownClick($event, control, 'drp')"
                        (onFilter)="onSearchPicklistFilter($event, control, 'drp')" (onChange)="onChangePicklist($event, control, 'drp')">
                    </p-dropdown>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!--End DropDown Control -->

                <!-- Start Picklist (MultiSelect) Control -->
                <ng-container *ngSwitchCase="'Picklist (MultiSelect)'">
                    
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>                            
                        </ng-container>
                    </div>                    
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ control.optionsJSON | displayValueFinder: { value: customFieldJSONData[control.fieldName]} : 'label' }}</div>
                    
                    <!-- Loading Bar -->
                    <ngx-custom-field-loading-bar *ngIf="control.showLoading && !isReadOnly"></ngx-custom-field-loading-bar>                    

                    <p-multiSelect #multiSelect id="drp-multiselect-{{(control.fieldName | lowercase)}}"
                        *ngIf="!section.isLabelView && !isReadOnly" class="entity-multiSelect" styleClass="multiSelectOverride" 
                        formControlName={{control.fieldName}} [filter]="true" [resetFilterOnHide]="false" appendTo="body" panelStyleClass="maxWidthOverride-detail"
                        filterPlaceHolder="{{(control.dataSourceId ? 'Search at least 3 characters' : '')}}"
                        [showHeader]="true" [displaySelectedLabel]='true' [showToggleAll]="false" [showClear]="true"                         
                        [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                        [options]="control.optionsJSON" placeholder="Select" optionLabel="label" optionValue="value" 
                        (onChange)="customFieldMultiSelectChange($event,control, 'drp-multiselect')" (onFilter)="onSearchPicklistFilter($event, control, 'drp-multiselect')"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }"
                        (onClick)="onMultiSelectClick($event, control, 'drp-multiselect')"
                        (onClear)="onMultiSelectClear(control, 'drp-multiselect')">
                    </p-multiSelect>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!-- End Picklist (MultiSelect) Control -->

                <!--Start Picklist (int) Control -->
                <ng-container *ngSwitchCase="'Picklist (int)'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ (control.optionsJSON | displayValueFinder: { value: customFieldJSONData[control.fieldName] })?.length ? (control.optionsJSON | displayValueFinder: { value: customFieldJSONData[control.fieldName] })[0].label : ' ' }}</div>
                    
                    <!-- Loading Bar -->
                    <ngx-custom-field-loading-bar *ngIf="control.showLoading && !isReadOnly"></ngx-custom-field-loading-bar>

                    <p-dropdown #dropdown id="drp-{{(control.fieldName | lowercase)}}" *ngIf="!section.isLabelView && !isReadOnly"
                        class="form-control" formControlName={{control.fieldName}} [filter]="true"
                        filterPlaceHolder="{{(control.dataSourceId ? 'Search at least 3 characters' : '')}}"
                        [resetFilterOnHide]="false" [showClear]="true" [options]="control.optionsJSON"
                        placeholder='Select' optionLabel="label" optionValue="value"
                        [(ngModel)]="customFieldJSONData[control.fieldName]" appendTo="body" panelStyleClass="maxWidthOverride-detail"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }"
                        (onClick)="onDropdownClick($event, control, 'drp')"
                        (onFilter)="onSearchPicklistFilter($event, control, 'drp')" (onChange)="onChangePicklist($event, control, 'drp')">
                    </p-dropdown>
                    <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                        <div *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                    </div>
                </ng-container>
                <!--End Picklist (int) Control -->

                <!-- Start Checkbox Control -->
                <ng-container *ngSwitchCase="'Checkbox'">
                    <div [ngClass]="{'custom-control custom-checkbox h-100 d-inline-flex pt-custom-checkbox' : !section.isLabelView && !isReadOnly}">
                        <input id="chk-{{(control.fieldName | lowercase)}}" name="chk-{{(control.fieldName | lowercase)}}"
                            *ngIf="!section.isLabelView && !isReadOnly" type="checkbox" class="custom-control-input"
                            [checked]="customFieldJSONData[control.fieldName] == true" #chkBtn
                            formControlName="{{control.fieldName}}"
                            (change)="customFieldJSONData[control.fieldName] = !customFieldJSONData[control.fieldName]" />
                        <label [ngClass]="{'custom-control-label' : !section.isLabelView && !isReadOnly}"
                            (click)="customFieldJSONData[control.fieldName] = !customFieldJSONData[control.fieldName];chkBtn?.select()">
                            {{control.label}}
                        </label>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ customFieldJSONData[control.fieldName] == null ? 'False' : customFieldJSONData[control.fieldName] == false ? 'False' : 'True' }}</div>
                </ng-container>
                <!-- End Checkbox Control -->

                <!-- Start RadioGroup (Boolean) Control -->
                <ng-container *ngSwitchCase="'RadioGroup (Boolean)'">
                    <div >
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{ (control.optionsJSON | displayValueFinder: {value:customFieldJSONData[control.fieldName]})?.length ? ( control.optionsJSON | displayValueFinder: {value:customFieldJSONData[control.fieldName]})[0].label :' ' }}</div>
                    <ng-container *ngIf="!section.isLabelView && !isReadOnly">
                        <div class="custom-control custom-checkbox flex-checkbox" *ngFor="let radioGroupOptions of control.optionsJSON; let i = index"
                            [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }">
                            <p-radioButton id="rdo-{{(control.fieldName+i | lowercase)}}" #rdoBtn
                                [inputId]="radioGroupOptions.value" [name]="control.name" [value]="radioGroupOptions.value"
                                formControlName={{control.fieldName}} [(ngModel)]="customFieldJSONData[control.fieldName]">
                            </p-radioButton>
                            <label for="rdo-{{(control.fieldName+i | lowercase)}}" (click)="rdoBtn?.select()" class="custom-control-label pl-2 cursor-pointer">{{radioGroupOptions.label}}</label>
                        </div>
                        <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                            <div *ngIf="formGroup.get(control.fieldName).errors.required">
                                {{control.settingsJSON['requiredValMessage']}}
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- End RadioGroup (Boolean) Control -->

                <!--file-->
                <ng-container *ngSwitchCase="'File Type'">
                    <div>
                        <label>{{control.label}}</label>
                    </div>
                    <div>
                        <i class="mr-2 far fa-file-pdf" aria-hidden="true"></i>
                        <a *ngIf="customFieldJSONData[control.fieldName] != null"
                            [href]="customFieldJSONData[control.fieldName]" class="mr-2 text--full" target="_blank"
                            rel="noopener"><span>commercial.pdf</span></a>
                    </div>

                    <input *ngIf="!isReadOnly" class="form-control" type="hidden"
                        formControlName={{control.fieldName}} />
                </ng-container>
                
                <!-- Start HTML Control -->
                <ng-container *ngSwitchCase="'HTML'">
                    <div [innerHtml]="control.defaultValue | safehtml"></div>
                </ng-container>
                <!-- End HTML Control -->

                  <!-- Start Tabular Control -->
                  <ng-container *ngSwitchCase="'Tabular'">
                    <div [innerHtml]="(control.optionsJSON != null && control.optionsJSON.length > 0 ? control.optionsJSON[0].tableHTML : control.defaultValue) | safehtml"></div>
                </ng-container>
                <!-- End Tabular Control -->

                <!-- Start json grid Control -->
                <ng-container *ngSwitchCase="'JSON Grid'">
                    <div>
                        <label>{{control.label}}</label>
                        <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                            <span class="mandatory"></span>
                        </ng-container>
                    </div>
                    <ngx-common-json-grid [isReadOnly]="isReadOnly" [formGroup]="formGroup" [data]="customFieldJSONData[control.fieldName]" [customFieldControl]="control" 
                    [submitted]="submitted" [isLoadedData]="refreshFieldJSONGrid"></ngx-common-json-grid>
                </ng-container>
            <!-- End json grid Control -->
            
            <!-- Start Email Control -->
            <ng-container *ngSwitchCase="'Email'">
                <div>
                    <label>{{control.label}}</label>
                </div>
                <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">
                    <a class="dark-blue font-weight-bold no-underline cursor-pointer" id="link-email"
                        href="mailto:{{customFieldJSONData[control.fieldName]}}">{{ customFieldJSONData[control.fieldName] ? customFieldJSONData[control.fieldName] : '' }}</a>
                </div>
                <input id="txt-{{(control.fieldName | lowercase)}}" *ngIf="!section.isLabelView && !isReadOnly" class="form-control"
                    type="email" formControlName={{control.fieldName}} [(ngModel)]="customFieldJSONData[control.fieldName]"
                    [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors}" trimValue />
                <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                    <div *ngIf="formGroup.get(control.fieldName).errors">
                        <div id="errorValidEmail" *ngIf="formGroup.get(control.fieldName).errors.email">
                            {{ (control.settingsJSON['emailValMessage'] != null && control.settingsJSON['emailValMessage'] != '') ?
                            control.settingsJSON['emailValMessage'] : 'COMMON.CUSTOMFIELD_COMMON.EMAIL_VALIDATION' | translate }}
                        </div>
                        <div id="errorRequired" *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                        <div id="errorMinLength" *ngIf="formGroup.get(control.fieldName).errors.minlength">
                            {{control.settingsJSON['minLengthValMessage']}}
                        </div>
                        <div id="errorMaxLength" *ngIf="formGroup.get(control.fieldName).errors.maxlength">
                            {{control.settingsJSON['maxLengthValMessage']}}
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- End Email Control -->
            
            <!-- Start Phone Control -->
            <ng-container *ngSwitchCase="'Phone'">
                <div>
                    <label>{{control.label}}</label>
                </div>
                <div *ngIf="isReadOnly" class="disable-text">
                    <a *ngIf="customFieldJSONData[control.fieldName] else blankphone" id="link-phone"
                        class="dark-blue font-weight-bold no-underline cursor-pointer"
                        [href]="customFieldJSONData[control.fieldName] | phone: 'link'">
                        {{ customFieldJSONData[control.fieldName]  }}
                        
                    </a>
                    <ng-template #blankphone>
                        <div>&nbsp;</div>
                    </ng-template>
                </div>
                <div *ngIf="!isReadOnly">
                    <ngx-phone-control  [formControlName]="control.fieldName"></ngx-phone-control>
                </div>
            </ng-container>
            <!-- End Phone Control -->
            
            <!-- Start Duration Control -->
            <ng-container *ngSwitchCase="'Duration'">
                <div>
                    <label>{{control.label}}</label>
                    <ng-container *ngIf="control.settingsJSON && control.settingsJSON['isRequired']">
                        <span class="mandatory"></span>
                    </ng-container>
                    <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" tooltipClass="custom-tooltip-class"
                        [ngbTooltip]="estimatedMinsToolTip" placement="top bottom" container="body" aria-hidden="true"></i>
                    <ng-template #estimatedMinsToolTip>
                        <div class="d-flex flex-column" style="text-align:left;">
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_TOOLTIP_HEADER' | translate }}<br />
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_TOOLTIP_LINE1' | translate }}<br />
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_TOOLTIP_LINE2' | translate }}<br />
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_TOOLTIP_LINE3' | translate }}<br />
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_TOOLTIP_LINE4' | translate }}<br />
                        </div>
                    </ng-template>
                </div>
            
                <div class="disable-text pre-text" *ngIf="section.isLabelView || isReadOnly">{{
                    customFieldJSONData[control.fieldName] == null ? ' ' : customFieldJSONData[control.fieldName] }}</div>
                <input id="txt-{{(control.fieldName | lowercase)}}" *ngIf="!section.isLabelView && !isReadOnly" class="form-control"
                    type="text" formControlName={{control.fieldName}} [(ngModel)]="customFieldJSONData[control.fieldName]"
                    [ngClass]="{ 'is-invalid': submitted && formGroup.get(control.fieldName).errors }" trimValue />
                <div *ngIf="submitted && formGroup.get(control.fieldName).errors" class="invalid-feedback">
                    <div *ngIf="formGroup.get(control.fieldName).errors">
                        <div id="errorRequired" *ngIf="formGroup.get(control.fieldName).errors.required">
                            {{control.settingsJSON['requiredValMessage']}}
                        </div>
                        <div id="errorinvalidTimeFrame" *ngIf="formGroup.get(control.fieldName).errors.invalidTimeFrame">
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_VALIDATION' | translate }}
                        </div>
                        <div id="errortimeTooLarge" *ngIf="formGroup.get(control.fieldName).errors.timeTooLarge">
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_LENGTH_VALIDATION' | translate }}
                        </div>
                        <div id="errortimeTooSmall" *ngIf="formGroup.get(control.fieldName).errors.timeTooSmall">
                            {{ 'COMMON.CUSTOMFIELD_COMMON.ESTIMATION_TIME_MINIMUM_VALIDATION' | translate }}
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- End Duration Control -->
            </div>
        </div>
    </div>
</ng-container>