<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ title | translate | configuredEntityName}}</h4>
    <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
        <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Add Order Start -->
<div class="modal-body padding-32 pt-3" *ngIf="orderForm">
    <form [formGroup]='orderForm'>
        <!-- Name -->
        <div class=" form-group">
            <label>{{'ORDERS.ADD_DIALOG.NAME' | translate}} </label>
            <input type="text" formControlName="name" id="txt-name" class="form-control ht--40" trimValue
                name="name"
                [ngClass]="{ 'is-invalid': orderForm['controls'].name.errors && (orderForm['controls'].name.dirty || orderForm['controls'].name.touched)}">
            <div *ngFor='let validation of validation_messages.name' class='invalid-feedback'>
                <div
                    *ngIf="orderForm['controls'].name.hasError(validation.type) && orderForm['controls'].name.errors && (orderForm['controls'].name.dirty || orderForm['controls'].name.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <!-- Name -->

        <!-- Order Number -->
        <div class=" form-group">
            <label>{{'ORDERS.ADD_DIALOG.ORDERNO' | translate | configuredEntityName}} <span class="mandatory"></span></label>
            <input type="text" formControlName="orderNumber" id="txt-orderNumber" class="form-control ht--40"
                name="code" trimValue
                [ngClass]="{ 'is-invalid': orderForm['controls'].orderNumber.errors && (orderForm['controls'].orderNumber.dirty || orderForm['controls'].orderNumber.touched)}">
            <div *ngFor='let validation of validation_messages.orderNumber' class='invalid-feedback'>
                <div
                    *ngIf="orderForm['controls'].orderNumber.hasError(validation.type) && orderForm['controls'].orderNumber.errors && (orderForm['controls'].orderNumber.dirty || orderForm['controls'].orderNumber.touched)">
                    {{ validation.message | translate | configuredEntityName}}
                </div>
            </div>
        </div>
        <!-- Order Number -->

        <!-- Amount -->
        <div class=" form-group">
            <label>{{'ORDERS.ADD_DIALOG.AMOUNT' | translate}} <span class="mandatory"></span></label>
            <div class="inner-addon left-addon">
                <span>{{currencySymbol}}</span>
                <input type="text" formControlName="totalAmount" id="txt-totalAmount" class="form-control ht--40"
                    name="totalAmount" trimValue maxLength="18"
                    [ngClass]="{ 'is-invalid': orderForm['controls'].totalAmount.errors && (orderForm['controls'].totalAmount.dirty || orderForm['controls'].totalAmount.touched)}"
                    mask="separator.2" thousandSeparator=",">
                <div *ngFor='let validation of validation_messages.totalAmount' class='invalid-feedback'>
                    <div
                        *ngIf="orderForm['controls'].totalAmount.hasError(validation.type) && orderForm['controls'].totalAmount.errors && (orderForm['controls'].totalAmount.dirty || orderForm['controls'].totalAmount.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Amount -->

        <!-- Account --> 
        <div class=" form-group">
            <label>{{'ORDERS.ADD_DIALOG.ACCOUNT' | translate | configuredEntityName }} </label>
            <ngx-control-level-loading-bar *ngIf="showAccountLoader" [ngClass]="{'w-with-btn-loader': hasAddAccountPermission }"></ngx-control-level-loading-bar>
            <div class="d-flex flex-wrap align-items-center">
                <p-dropdown #drpAccount id="drp-account" optionLabel="label" formControlName="billToAccountID" optionValue="value"
                    (onChange)="onChangeAccount($event)" (onFilter)="onFilterAccount($event)" class="form-control"
                    [ngClass]="{'w-with-btn': hasAddAccountPermission}"
                    [options]="accountTypeList" placeholder="{{accountTypePlaceholder | translate | configuredEntityName}}"
                    [filter]="true" [resetFilterOnHide]="false" [showClear]="true">
                </p-dropdown>
                <ng-container *ngIf="hasAddAccountPermission">
                    <button type="button" id="btn-add-related-to"
                        class="btn btn-outline-secondary btn-light-grey ml-3 rounded-circle d-flex align-items-center justify-content-center"
                        (click)="addNewAccount()"  triggers="hover" tooltipClass="tooltip-backward-small"
                        ngbTooltip="{{'ORDERS.ADD_DIALOG.TOOLTIP_ADD_ACCOUNT' | translate | configuredEntityName}}">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                </ng-container>
            </div>
        </div>
        <!-- Account --> 
       
        <!-- Contact --> 
        <div class=" form-group" >
            <label>{{'ORDERS.ADD_DIALOG.CONTACT' | translate | configuredEntityName }} 
                <span class="mandatory"></span>
            </label>
            <!-- Related To Loading Bar -->
            <ngx-control-level-loading-bar *ngIf="showRelatedToLoader" [ngClass]="{'w-with-btn-loader': hasAddContactPermission }"></ngx-control-level-loading-bar>
            <div class="d-flex flex-wrap align-items-center">
                <p-dropdown #drpContact id="drp-contact" class="form-control" formControlName="billToContactID"
                    name="billToContactID"
                    [options]="customerContactList" optionLabel="label" optionValue="value" [filter]="true"
                    placeholder="{{ customerPlaceholder | translate | configuredEntityName}}"   
                    [resetFilterOnHide]="false" [showClear]="true"  (onFilter)="onFilterContact($event)"
                    [ngClass]="{ 'is-invalid': orderForm['controls'].billToContactID.errors && (orderForm['controls'].billToContactID.dirty || orderForm['controls'].billToContactID.touched), 'w-with-btn': hasAddContactPermission }">
                </p-dropdown>
                <ng-container *ngIf="hasAddContactPermission">
                    <button type="button" id="btn-add-related-to"
                        class="btn btn-outline-secondary btn-light-grey ml-3 rounded-circle d-flex align-items-center justify-content-center"
                        (click)="addNewContact()"  triggers="hover" tooltipClass="tooltip-backward-small"
                        ngbTooltip="{{'ORDERS.ADD_DIALOG.TOOLTIP_ADD_CONTACT' | translate | configuredEntityName}}">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                </ng-container>
                <div *ngFor='let validation of validation_messages.billToContactID'   class='invalid-feedback invalid-text'>
                    <div
                    *ngIf="orderForm['controls'].billToContactID.hasError(validation.type) && orderForm['controls'].billToContactID.errors && (orderForm['controls'].billToContactID.dirty || orderForm['controls'].billToContactID.touched)">
                        {{ validation.message | translate | configuredEntityName }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact --> 

        <!-- Description --> 
        <div class=" form-group">
            <label>{{'ORDERS.ADD_DIALOG.DESCRIPTION' | translate}}</label>
            <textarea formControlName="description" id="txt-description" class="form-control ht--40"
                name="description" trimValue
                [ngClass]="{ 'is-invalid': orderForm['controls'].description.errors && (orderForm['controls'].description.dirty || orderForm['controls'].description.touched)}">
            </textarea>
            <div *ngFor='let validation of validation_messages.description' class='invalid-feedback'>
                <div
                    *ngIf="orderForm['controls'].description.hasError(validation.type) && orderForm['controls'].description.errors && (orderForm['controls'].description.dirty || orderForm['controls'].description.touched)">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <!-- Description --> 
        
        <!-- Order Type --> 
        <div class=" form-group" *ngIf="isShowOrderType">
            <label>{{'ORDERS.ADD_DIALOG.TYPE' | translate}}</label>
            <p-dropdown id="drp-type" class="form-control" formControlName="entityRecordTypeID" [options]="entityRecordTypes"
                optionLabel="name" optionValue="id" [filter]="true" placeholder="{{'ORDERS.ADD_DIALOG.TYPE_PLACEHOLDER' | translate}}" 
                [resetFilterOnHide]="false" [showClear]="true" (onChange)="onOrderTypeChange($event)" (onClear)="onOrderTypeClear($event)">
            </p-dropdown>
            <div *ngFor='let validation of validation_messages.entityRecordTypeID' class='invalid-feedback'>
                <div
                    *ngIf="orderForm['controls'].entityRecordTypeID.hasError(validation.type) && orderForm['controls'].entityRecordTypeID.errors">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <!-- Order Type --> 

        <!-- Workflow --> 
        <div *ngIf="isShowWorkFlow" class="form-group">
            <label>{{'ORDERS.ADD_DIALOG.WORKFLOW' | translate}}</label>
            <p-dropdown id="drp-workflow" name="entityWorkflowId" optionLabel="label" optionValue="value" appendTo="body"
                panelStyleClass="maxWidthOverride-xxl" formControlName="entityWorkflowId" class="form-control"
                [options]="workflows" placeholder="{{'ORDERS.ADD_DIALOG.WORKFLOW_PLACEHOLDER' | translate}}"
                (onChange)="onWorkflowChange($event)" [(ngModel)]="entityWorkflowId" (onClear)="onWorkflowClear($event)"
                [ngClass]="{ 'is-invalid': submitted && orderForm['controls'].entityWorkflowId.errors && (orderForm['controls'].entityWorkflowId.dirty || orderForm['controls'].entityWorkflowId.touched) }"
                [showClear]="true" [filter]="true" [resetFilterOnHide]="false">
            </p-dropdown>
            <div *ngFor='let validation of validation_messages?.entityWorkflowId' class='invalid-feedback'>
                <div *ngIf="orderForm['controls'].entityWorkflowId.hasError(validation.type) && orderForm['controls'].entityWorkflowId.errors && (orderForm['controls'].entityWorkflowId.dirty || orderForm['controls'].entityWorkflowId.touched)"
                    id="errorWorkflowValidation">
                    {{ validation.message | translate}}
                </div>
            </div>
        </div>
        <!-- Workflow --> 

        <!-- Assigned To --> 
        <ng-container *ngIf="isAssignOrder">
            <div *ngIf="isShowAssignTo" class=" form-group">
                <label>{{'ORDERS.ADD_DIALOG.ASSIGNED_TO' | translate}}</label>
                <!-- Assigned To Loading Bar -->
                <ngx-control-level-loading-bar *ngIf="showAssignedToLoader"></ngx-control-level-loading-bar>
                <p-dropdown id="drp-assigned-to" name="assignedTo" optionLabel="label" appendTo="body" optionValue="value"
                    formControlName="assignedTo" (onFilter)="assignedToOnFilter($event)" (onChange)="assignedToOnChange($event)"
                    class="form-control" [options]="assignedToUsers" placeholder="{{ assignedToPlaceholder | translate}}"
                    [filter]="true" [resetFilterOnHide]="false" [showClear]="true">
                </p-dropdown>
            </div>
        </ng-container>
        <!-- Assigned To --> 

        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                (click)="onCloseForm(false)">{{'ORDERS.ADD_DIALOG.BUTTON_CANCEL' | translate}}</button>
            <button type="button" (click)="saveOrder(orderForm.value)" id="btn-save"
                class='btn btn-primary'>{{'ORDERS.ADD_DIALOG.BUTTON_ADD' | translate}}</button>
        </div>
    </form>
</div>
<!-- Add ORDER End -->