@import '../../../../../scss/entity_view.scss';



.disable-text.view-icon-alignment{ justify-content: space-between; }

::ng-deep .detail-campaign {
    .details-box{ 
        @media (max-width: 1199px){ height: auto; min-height: 1px !important; }
    }
    .bg-timeline .ht-card{ 
        @media (max-width: 1199px){ height: auto !important; max-height: 400px; }
    }
    .col-header-label{
        @media (max-width: 575px){ max-width: 122px; }
    }
}

::ng-deep .static-dropdown-width{ width: 360px;
    @media (max-width: 575px) { width: auto; max-width: 250px; min-width: 250px; }
    
    .h-14px{ height: 14px; display: flex; align-items: center; }
    .p-dropdown .p-dropdown-panel{ max-width: 360px; }
}

.details-section{ 
    @media (max-width: 1199px) and (min-width: 992px) { flex: 0 0 calc(100% - 41.66666667% - 115px); max-width: calc(100% - 41.66666667% - 115px); } 
}

::ng-deep .page-containted .related-newsletter-grid {
    @media (min-width: 961px) {
        th.drag-icon,td.drag-icon {
            width: 10px;
            min-width: 10px;
            max-width: 10px;
            padding: 0 !important;
        }
        th.newsletterName, td.newsletterName {
            width: 200px;
            min-width: 200px;
        }

        th.description, td.description {
            width: 250px;
            max-width: 250px;
        }

        th.status, td.status {
            width: 100px;
            min-width: 100px;
            max-width: 100px;
        }

        th.sentOn, td.sentOn {
            width: 220px;
            min-width: 220px;
            max-width: 220px;
        }

        th.action, td.action {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
        }
        td.table-no-record{ display: table-cell; }
        td .description-box.text-justify, td .description-box { margin-top: 4px; }
        th.bookmark, td.bookmark { padding-left: 4px !important; padding-right: 0 !important; max-width: 20px; min-width: 20px; width: 20px !important; }
    }
    @media (max-width: 960px) {
        .p-column-title { font-weight: 700; }
        td:not(.action) { justify-content: flex-start !important; }
        td { padding: 5px 12px !important; }
        td.table-no-record{ display: flex; justify-content: center !important; }
        .p-datatable td { min-height: auto; }
        #pr_id_5 .p-datatable-tbody > tr > td.drag-icon { width: 40px !important; }
        tr td:first-child { padding-top: 12px !important; }
        tr td:last-child { padding-bottom: 12px !important; }
        .p-datatable-wrapper tr { display: flex; flex-wrap: wrap; max-width: calc(100vw - 80px);
            td { min-width: 100%; }
            .p-column-title { min-width: 145px !important; }
            td .description-box.text-justify,
            td .description-box { max-width: calc(100vw - 249px); 
                .pre-text { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
            }
        }
    }
    td .description-box { 
        display: inline-block;   
    }
} 


::ng-deep .related-newsletter-tooltip .tooltip-inner {
    max-width: 300px !important;
}

.radiobtnEvery { min-height: 35px; display: flex; }
.schedule-form .disable-text { min-width: 60px; overflow: visible; }
.schedule-form .disable-text.disable-max { min-width: 10px; }
.schedule-form .disable-text.disable-max.disable-spacing { padding-bottom: 0; }
.schedule-form input{ width: 65px; }
.schedule-form input.w-55{ width: 55px; }
.schedule-form input.w-142px, .w-142px{ width: 142px;
    @media (max-width: 575px) { width: 100%; }
}
.text-truncate-input{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.schedule-form .custom-checkbox input.custom-control-input { width: 18px; margin-top: 0; }
.col-max-day.custom-control.custom-checkbox { width: auto; margin-right: 3rem; 
    @media (max-width: 1199px) {min-width: 120px; margin-right: 1rem;}
 }
::ng-deep .details-box.col-xl-8 .col-max-day.custom-control.custom-checkbox { 
    @media (max-width: 1910px) { min-width: 120px; margin-right: 1rem; }
}
.schedule-form .custom-control.custom-checkbox .custom-control-label, .schedule-form .check-group .custom-control-label { padding-left: 7px; }
::ng-deep p-calendar.w-86px, ::ng-deep p-calendar.w-86px .p-calendar .p-inputtext{ width: 86px;
    ::-webkit-input-placeholder { /* WebKit browsers */
        font-size: 12px;
    }
    
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 12px;
    }
    
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 12px;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size: 12px;
    }
}
.schedule-form label { font-size: 12px; display: flex; align-items: center; }
.schedule-form label:not(.font-semibold) { font-weight: 400; }
.vertical-divider{ border-right: 1px solid #ced4da; max-width: 110px; display: flex; align-items: center; min-height: 108px; min-width: 120px; }
.width-selection { width: calc(100% - 120px); }

::ng-deep .invalid-time {
    .p-calendar > .p-inputtext {
        border-color: #f44336;
    }
}
.vertical-align-middle{ height: 100%; align-items: center; }

.months-width { width: 200px;
    @media (max-width: 575px) { width: auto; }
}

.mt-10px{ margin-top: 10px; }
.invalid-error { color: #dc3545; }
::ng-deep .nb-theme-dark .invalid-error { color: #f36f7c; }