<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingPopupEntity">{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.TITLE' | translate }}</h4>
    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
        <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Activity Body Start -->
<div class="modal-body padding-32 pt-3" *ngIf="!isLoading">
    <form (ngSubmit)="onSubmitResetPassword()" #assignForm="ngForm">
        <div class="row">
            <div class='col-md-12 mb-3'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.NAME' | translate }}</label>
                <div id="txtName">{{ resetPasswordModel.name }}</div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12 mb-3'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.EMAIL' | translate }}</label>
                <div id="txtEmail">{{ resetPasswordModel.email }}</div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12 mb-3'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.NEWPASSWORD' | translate }}</label>
                <input id="txt-password" type="text" class="form-control customPassword txt-password" [(ngModel)]="resetPasswordModel.password" autocomplete="off"
                    name="password" #password="ngModel"
                    [pattern]="_commonHelper.passwordPattern"
                    [ngClass]="{ 'is-invalid': submitted && password.errors }" required 
                    (focus)="onfocusPassword()" (blur)="onblurPassword()" />
                <ngx-password-strength *ngIf="isPasswordStrengthVisible" [showLabel]="true" [value]="password.value"></ngx-password-strength>
                <div *ngFor='let validation of user_validation_messages.password' class='invalid-feedback'>
                    <div *ngIf='password.hasError(validation.type) && submitted && password.errors' id="errorNewPasswordIsRequired">
                        {{ validation.message | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12 mb-3'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.CONFIRM_PASSWORD' | translate }}</label>
                <input id="txt-confirm-password" type="text" class="form-control customPassword txt-password" [(ngModel)]="resetPasswordModel.confirmPassword" autocomplete="off"
                    name="confirmPassword" #confirmPassword="ngModel"
                    [ngClass]="{ 'is-invalid': submitted && confirmPassword.errors }" required />
                <div *ngFor='let validation of user_validation_messages.confirmPassword' class='invalid-feedback'>
                    <div *ngIf='confirmPassword.hasError(validation.type) && submitted && confirmPassword.errors' id="errorConfirmPasswordIsRequired">
                        {{ validation.message | translate }}
                    </div>

                </div>
                <div class="error-message text-danger" [ngClass]="{ 'is-invalid': submitted }"
                    *ngIf="submitted && !(resetPasswordModel.password === resetPasswordModel.confirmPassword)" id="errorConfirmPasswordAndNewPasswordMustBeSame">
                    {{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.MESSAGE_NEWPASSWORD_CONFIRMPASSWORD' | translate }}
                </div>
            </div>
        </div>

        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" id="btn-cancel" class='btn btn-outline-secondary me-2' (click)="onCloseForm()">{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.BUTTON_CANCEL' | translate }}</button>
            <button  id="btn-save" class='btn btn-primary'>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.BUTTON_RESET' | translate }}</button>
        </div>
    </form>
</div>
<!-- Activity Body End -->