@import '../../../../scss/entity_kanban.scss';

//Table
::ng-deep .tbl-product-workflow-list.tbl-onboarding-list {
    @media (min-width: 641px){
        .checkbox-col{ width: 50px; max-width: 50px; }
        th.user-img, td.user-img { width:50px; text-align: center; }
        th.name, td.name, th.email, td.email {width: 200px; min-width: 200px; word-break: break-word; }
        th.stockQty,td.stockQty { text-align: right !important; padding-right: 50px !important; width: 220px; min-width: 220px; max-width: 220px; }
        th.uomName, td.uomName { max-width: 160px; width: 160px !important; min-width: 160px; }
        th.description, td.description{ width: 250px; min-width: 250px; max-width: 250px; }
        th.stageName, td.stageName{width: 170px; min-width: 170px;}
        th.price, td.price{max-width: 210px; width: 210px; min-width: 210px;}
        th.assignedToName, td.assignedToName { width:60px; min-width: 60px; }
        th.icon-dropdown, td.icon-dropdown { width:60px; min-width: 60px; max-width: 60px; }
        th.isPaused, td.isPaused{ width: 60px; min-width: 60px; max-width: 60px; }
        th.id.action, td.action{  
            .p-button.p-button-sm .p-button-icon{ font-size: 16px; }
        }
    }

    @media (max-width: 640px){
        .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td.isPaused, .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td.action { float: left; clear: none; }
        .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td.isPaused { width: calc(100% - 36px) !important; padding-right: 0; min-width: auto !important; }
        td.pr-5 { padding-right: 12px !important; }
        .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td.checkbox-col, .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td.bookmark { float: left; clear: none; min-width: auto; width: auto !important; max-width: none !important; align-items: flex-end;}
        .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td.checkbox-col { padding-right: 0 !important;}
    }
}

.tbl-hide-action th.id.action, .tbl-hide-action td.action { display: none; }



.btn-mg{ margin: 0;
}

.btn-reset-filter.btn-mg{ margin: 0 20px 0 0; 
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 21px; padding-top: 0;
    @media (max-width: 575px) { margin-top: 0px; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 991px) { margin-top: 0; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width).col-sm-4, .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width).col-sm-2 {
    @media (max-width: 767px) and (min-width: 576px) { flex: 0 0 50%; max-width: 50%; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 1024px) and (min-width: 992px) { margin-top: 0; padding-top: 0; }
    @media (max-width: 575px) { margin-top: 0; padding-top: 0; }
}

.height-full{
    @media (max-width: 1279px) and (min-width: 1200px) { height: calc(100vh - 135px); }
}

.product-filters .resp-nav.col-xl{ 
    @media (min-width: 1200px){ max-width: 100px; padding-top: 18px; }
}

td .link--drag{ margin-right: 6px; display: flex; padding: 0; }

:host ::ng-deep .kanban-stages{
    .scrumboard-board-card .list-card-name span{ max-width: 100%; }
}

.list-card-description{ white-space: normal; }

::ng-deep .p-datatable .p-datatable-thead > tr > th{ white-space: nowrap; }

.custom-control.custom-checkbox { font-size: 18px; }

.avatar {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.btn-group #btn-card-layout.btn{ border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

.desktop-overflow-hidden{
    @media (min-width: 1200px){ overflow: hidden; }
}

.text--inline { display: flex; width: calc(100% - 60px); flex: 1; align-items: center;
    .text--full { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }      
}
.border--top--light{border-top: 1px solid $brdr-grey;}

.active-log-detail{display: flex; justify-content:space-between; }
.height--full{ position: relative; }

::ng-deep .onboarding-filters{
    @media (max-width: 1199px){ position: relative;
        .resp-nav{ position: absolute; right: 0; bottom: 10px; max-width: 130px; }
    }
    .filter-width, .search-width, .buttons-width, .resp-nav{
        @media (min-width: 1200px){ margin-bottom: 5px !important; }
    }
    .filter-width{
        @media (min-width: 1200px){ padding-right: 0 !important; }
    }
    .filters-dynamic{ 
        @media (min-width: 1920px){ max-width: 1130px; }
        @media (max-width: 1919px) and (min-width: 1560px){ max-width: 978px; }
		@media (max-width: 1559px) and (min-width: 1440px) { max-width: 888px; }
		@media (max-width: 1439px) and (min-width: 1366px) { max-width: 870px; }
		@media (max-width: 1365px) and (min-width: 1280px) { max-width: 870px; }
		@media (max-width: 1279px) and (min-width: 1200px) { max-width: 750px; }
    }
}

::ng-deep nb-sidebar.expanded + .content .entity-main.filters-four {
    .onboarding-filters{
        .filters-dynamic{ 
    		@media (max-width: 1279px) and (min-width: 1200px) { max-width: 663px; }
        }
    }
}

::ng-deep .product-filters{
    @media (max-width: 1199px){ position: relative;
        .resp-nav{ position: absolute; right: 0; bottom: 10px; max-width: 130px; }
    }
    .filter-width, .search-width, .buttons-width, .resp-nav{
        @media (min-width: 1200px){ margin-bottom: 5px !important; }
    }
    .filter-width{
        @media (min-width: 1200px){ padding-right: 0 !important; }
    }
    .filters-dynamic{ 
        @media (min-width: 1920px){ max-width: 1130px; }
        @media (max-width: 1919px) and (min-width: 1560px){ max-width: 978px; }
		@media (max-width: 1559px) and (min-width: 1440px) { max-width: 888px; }
		@media (max-width: 1439px) and (min-width: 1200px) { max-width: 870px; }
    }
    
    .filters-assign-entity .filters-dynamic{ 
        @media (min-width: 1920px){ max-width: 1360px; }
        @media (max-width: 1919px) and (min-width: 1560px){ max-width: 1140px; }
		@media (max-width: 1559px) and (min-width: 1360px) { max-width: 1025px; }
		@media (max-width: 1359px) and (min-width: 1280px) { max-width: 940px; }
    }
}

::ng-deep nb-sidebar.expanded + .content .entity-main.filters-four {
    .product-filters{
        .filters-dynamic{ 
    		@media (max-width: 1279px) and (min-width: 1200px) { max-width: 663px; }

            .date-range-calendar {
                @media (max-width: 1366px) and (min-width: 1200px) {	
                    input, input::-webkit-input-placeholder { /* WebKit browsers */
                        font-size: 0.86em;
                    }
                    
                    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        font-size: 0.86em;
                    }
                    
                    input::-moz-placeholder { /* Mozilla Firefox 19+ */
                        font-size: 0.86em;
                    }
                    
                    input:-ms-input-placeholder { /* Internet Explorer 10+ */
                        font-size: 0.86em;
                    }
                }
            }
        }
    }
}

::ng-deep nb-sidebar.expanded + .content .entity-main.filters-four {
    .product-filters{
        .filters-dynamic{ 
    		@media (max-width: 1439px) and (min-width: 1360px) { max-width: 855px; }
            @media (max-width: 1359px) and (min-width: 1280px) { max-width: 765px; }
        }
        .filters-assign-entity .filters-dynamic{ 
            @media (min-width: 1920px){ max-width: 1352px; }
            @media (max-width: 1919px) and (min-width: 1560px){ max-width: 1040px; }
    		@media (max-width: 1559px) and (min-width: 1440px) { max-width: 922px;
                .filter-width:not(.small-filter), .filter-width:not(.date-range-filter){ min-width: 197px; max-width: 197px; }
            }
    		@media (max-width: 1439px) and (min-width: 1360px) { max-width: 853px;
                .filter-width:not(.small-filter), .filter-width:not(.date-range-filter){ min-width: 180px; max-width: 180px; }
            }
    		@media (max-width: 1359px) and (min-width: 1280px) { max-width: 774px;
                .filter-width:not(.small-filter), .filter-width:not(.date-range-filter){ min-width: 160px; max-width: 160px; }
            }
    		@media (max-width: 1279px) and (min-width: 1200px) { max-width: 690px;
                .filter-width:not(.small-filter), .filter-width:not(.date-range-filter){ min-width: 143px; max-width: 143px; }
            }
        }
    }
}


::ng-deep .entity-main.filters-four {
    .product-filters{
        .responsive-filter { padding-right: 12px !important; }
        .btn-exp { margin-top: 2px; }
    }
}