<!-- if user dont have enough permission then display message -->
<div class="flexlayout" *ngIf="!isListProducts">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <div class="subtitle m-0">{{'PRODUCTS.MESSAGE_PRODUCT_NOT_ACCESS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!isInitialLoading && isListProducts">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
                <div class="subtitle mt-0">{{'PRODUCTS.MESSAGE_PRODUCT_NOT_EXISTS' | translate | configuredEntityName}}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isListProducts" class="entity-page entity-main filters-five desktop-overflow-hidden workflow-page">
    <!-- Header Start-->
    <div class="page-header" *ngIf="isInitialLoading">
        <div class="container-fluid lineheight35 heading-page mb-md-0 mb-3">
            <div class="row">
                <div class="col-md-6 lh-sm">
                    <label class="fw-bold font-12" id="headingEntity">{{'PRODUCTS.LIST.TITLE' | translate | configuredEntityName}}</label>
                    <div class="font-18 mb-2"><strong id="headingWorkflowName">{{workflowName}}</strong></div>
                </div>
                <div class="col">
                    <div class="btn-view">
                        <button *ngIf="dataSearch.isPageTabularView && isBulkAssignProducts" type="button" id="btn-assign-entity" triggers="hover" tooltipClass="tooltip-backward-small"
                            ngbTooltip="{{ 'PRODUCTS.TOOLTIP_PRODUCT_ASSIGN_TO' | translate }}" container="body" class="btn btn-link bg-transparent p-0 border-0 mr-3"
                            (click)="assignBulkUsersToProducts()">
                            <i class="fas fa-user-plus fs-3" aria-hidden="true"></i></button>
                        <div class="inner-addon right-addon text-search-entity mr-3">
                            <span class="pi pi-search dark-grey"></span>
                            <input type="text" id="txt-search-text" pInputText #searchTextInput placeholder="Search" class="form-control"
                            [(ngModel)]="dataSearch.params.searchString" />
                        </div>
                        <a id="btn-show-filters" class="btn btn-link p-0 text-nowrap mr-3 position-relative" ngbTooltip="Filter" placement="top auto" container="body" (click)="showhideFilter()">
                            <i class="fa-solid fa-filter fs-3" aria-hidden="true" id="i-show-filters"></i>
                            <span class="count-filters" id="span-show-filters" *ngIf="filterCount>0">{{filterCount}}</span>
                        </a>  
                        <div class="dropdown mr-3" *ngIf="showBothKanbanAndListView">
                            <button class="btn btn-link p-0 bg-transparent border-0 btn-workflow dropdown-toggle btn-dropdownChangeView" type="button" id="dropdownChangeView" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-lg min-w-18px fs-3" ngbTooltip="Change View" placement="top auto" container="body" [ngClass]="dataSearch.isPageTabularView ? 'fa-list' : 'fa-list fa-rotate-90'"></i>
                            </button> 
                            <ul class="dropdown-menu" aria-labelledby="dropdownChangeView">
                            <li class="font-weight-bold p-2">
                                {{'PRODUCTS.LIST.BUTTON_CHANGE_VIEW_TITLE' | translate }}
                            </li>
                            <li id="btn-table-layout"><a class="dropdown-item d-flex align-items-center justify-content-between py-2" 
                                [ngClass]="dataSearch.isPageTabularView ? 'opacity-50': ''"
                                (click)="!dataSearch.isPageTabularView ? onTogglePageLayout('TABLE') : false">
                                {{'PRODUCTS.LIST.BUTTON_CHANGE_VIEW_LIST' | translate }}<i aria-hidden="true" class="fas fa-list fa-lg align-middle ml-2"></i></a>
                            </li>
                            <li id="btn-card-layout"><a class="dropdown-item d-flex align-items-center justify-content-between py-2" 
                                [ngClass]="!dataSearch.isPageTabularView ? 'opacity-50': ''"
                                (click)="dataSearch.isPageTabularView ? onTogglePageLayout('CARD') : false">
                                {{'PRODUCTS.LIST.BUTTON_CHANGE_VIEW_KANBAN' | translate }}<i aria-hidden="true" class="fas fa-list fa-rotate-90 fa-lg align-middle ml-2"></i></a>
                            </li>
                            </ul>
                        </div>
                        <a *ngIf="isExportProduct" id="btn-export-to-excel" class="btn btn-link p-0 text-nowrap mr-3"
                            (click)="exportExcel()" placement="top auto" container="body" ngbTooltip="Export" triggers="hover" tooltipClass="tooltip-backward-small">
                            <i class="fa-solid fa-file-arrow-up fs-3" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="isImportProducts && isShowImportButton" id="btn-import-entity" class="btn btn-link p-0 text-nowrap mr-3 position-relative"
                            (click)="openProductImport()" placement="top auto" container="body" ngbTooltip="Import">
                            <i class="fa-regular fa-file fs-3" aria-hidden="true"></i>
                            <i class="fa-solid fa-arrow-down import-icon"></i>   
                        </a>
                        <button *ngIf="isAddProduct" type="button" id="btn-add-entity" class="btn btn-primary vertical-center"
                            (click)="addProduct()" ngbTooltip="{{'PRODUCTS.LIST.BUTTON_ADD' | translate | configuredEntityName}}" placement="top bottom-right" container="body">
                            <i class="fa fa-plus-circle fs-4" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Search Card Panel Start-->
    <div class="page-content pb-5 pb-xl-0 lessest-card-icons position-relative">
        <div class="entity-search-area">
            <div class="container-fluid" *ngIf="isFilterVisible">
                <div class='row product-filters'>
                    <div class="col-xl d-sm-flex filters-panel" [ngClass]="dataSearch.isPageTabularView ? 'filters-assign-entity' : ''">
                        <ngx-dynamic-common-filter *ngIf="isfilterLoaded" [filterConfigList]="customFilterConfig" class="w-100"
                            (getFilterValues)="getFilterValues($event)" 
                            (multiSelectFilterEvent)="multiSelectFilterEvent($event)" 
                            (isFilterVisibleChange)="isFilterVisibleChange($event)">
                        </ngx-dynamic-common-filter>
                    </div>
                </div>
            </div>
        </div>

        <!-- Containers Start-->
        <ng-container *ngIf="!dataSearch.isPageTabularView else tabularview">
            <!-- Kanban View Start-->
            <app-stages #kanbanStage [stages]="stages" [isViewPermission]="isViewProduct" [iconflag]="false" 
                [isEditPermission]="isEditProduct" [hasOwner1]="true" [owner1List]="owner1List" class="kanban-stages" [entityTypeId]="entityTypeId"
                (onCardClick)="onCardClick($event, true)" [ngClass]="isShowActivityCenter ? 'move-scroll-open-activity' : 'scroll-close-activity'" 
                (onCardPauseChange)="onProductStagePauseChangedFromCard($event)" (onCardOwner1Click)="onAssignedToClick($event,null)" (onCardDrop)="onDropSuccess($event)" (onLoadMore)="loadMore($event)"
                [privacyLevel]="null" [entityWorkflowId]="entityWorkflowId">
            </app-stages>
            <!-- Kanban View END-->
        </ng-container>
        <!-- else container -->
        <ng-template #tabularview>
            <!-- Table view Start -->
            <div class="container-fluid" [ngClass]="isShowActivityCenter ? 'move-scroll-open-activity' : ''">
                <div class="row mb-3">
                    <div class="col-12 pr-24px" [ngClass]="isShowActionColumn ? '' : 'tbl-hide-action'">
                        <div class="tbl-onboarding-list tbl-product-workflow-list tbl-entity p-card"
                         *ngIf="dataSearch.isPageTabularView">
                            <p-table #dt [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
                                [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols"
                                [value]="productList" [totalRecords]="productList.length" [paginator]="totalRecords > 0"
                                [autoLayout]="true" [scrollable]="true" [paginator]="productList.length > 0" paginatorDropdownAppendTo="body"
                                (onPage)="paginate($event)" [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
                                [scrollHeight]="'calc(100vh - 270px)'">

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <!-- Assign selected user to contact -->
                                        <th id="tblColumnHeaderCheckbox" *ngIf="isBulkAssignProducts" scope="col" class="checkbox-col">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" [(ngModel)]="isAllCheckBoxSelected" id="chkBulkAssignEntity"
                                                    (change)="checkUncheckAll()">
                                                <label class="custom-control-label"> </label>
                                            </div>
                                        </th>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" id="tblColumnHeader"
                                            [pSortableColumnDisabled]="!col.sort" scope="col" [ngClass]="col.header == '' ? 'hide-when-no-records' : ''"
                                            class="{{col.field}} {{col.class}}" [hidden]="!col.visible"
                                            (click)="ChangeOrder(col)">
                                            {{ col.header | translate }}
                                            <i *ngIf="col.field == 'uomName'" class="fas fa-info-circle dark-grey ml-1 info-tooltip" ngbTooltip="Unit Of Measurement" placement="top top-left" container="body" aria-hidden="true"></i>
                                            <p-sortIcon [field]="col.field" *ngIf="col.sort" id="iconSort"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr [ngClass]="[(rowData.isPaused || !rowData.isActive) ? 'lightGreyBg' : '',  selectedRowId == rowData.id ? 'selected-row' : '']"
                                    (click)="onRowClick(rowData, true)">
                                        <!-- provide check box for each raw -->
                                        <td *ngIf="isBulkAssignProducts" class="checkbox-col" [ngClass]="[!rowData.isPaused && rowData.isActive? '' : 'td-responsive-none']">
                                            <div class="custom-control custom-checkbox">
                                                <input *ngIf="!rowData.isPaused && rowData.isActive"
                                                    class="custom-control-input" type="checkbox" [(ngModel)]="rowData.isSelected" id="chkAssignEntity"
                                                    (change)="isAllSelected()"
                                                    (click)="stopPropagation($event)">
                                                <label class="custom-control-label"> </label>
                                            </div>
                                        </td>
                                        <td class="bookmark">
                                            <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="rowData.id" [isStarred]="rowData?.isStarred"
                                              [isEditPermission]="isEditProduct && (!rowData?.isPaused)" [isFromKanbanOrListView]="true">
                                            </ngx-bookmark>
                                        </td>
                                        <td class="name">
                                            <span class="p-column-title">
                                                {{columns[1].header | translate}}
                                            </span>
                                            <a [routerLink]="'/products/details/'+rowData.id" id="link-headingRecord" (click)="stopPropagation($event)" class="float-left me-2"
                                                [ngClass]="isViewProduct ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.name}}</a>
                                            <span *ngIf="rowData.rating != 0" class="float-left me-2">
                                                <entity-review-display [entityTypeId]="entityTypeId" [entityId]="rowData.id" [rating]="rowData.rating" id="btn-rating"
                                                    [review]="rowData.totalReviews" [entityReviewID]="rowData.entityReviewID" [isFromKanbanOrListView]="true"
                                                    [isEditPermission]="isEditProduct && !(rowData.isPaused ?? false)">
                                                </entity-review-display>
                                            </span>
                                        </td>
                                        <td class="description">
                                            <span class="p-column-title">
                                                {{columns[2].header | translate}}
                                            </span>
                                            <span class="description-box" ngbTooltip="{{rowData.description}}" placement="top right" container="body">{{rowData.description}}</span>
                                        </td>
                                        <td class="stockQty">
                                            <span class="p-column-title">
                                                {{columns[3].header | translate}}
                                            </span>
                                            <span class="description-box" ngbTooltip="{{rowData.stockQty | number:'1.3-3'}}" placement="top right" container="body">{{rowData.stockQty | number:'1.3-3'}}</span>
                                        </td>
                                        <td class="uomName">
                                            <span class="p-column-title">
                                                {{columns[4].header | translate}}
                                                <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" ngbTooltip="Unit Of Measurement" placement="top top-left" container="body" aria-hidden="true"></i>
                                            </span>
                                            <span class="description-box" ngbTooltip="{{rowData.uomName}}" placement="top right" container="body">{{rowData.uomName}}</span>
                                        </td>
                                        <td class="price justify-content-end pr-5">
                                            <span class="p-column-title">
                                                {{columns[5].header | translate}}
                                            </span>
                                            <span>{{(currencySymbol) + (rowData.price | number:'1.2-2')}}</span>
                                        </td>
                                        <td class="stageName">
                                            <span class="p-column-title">
                                                {{columns[6].header | translate}}
                                            </span>
                                            <span *ngIf="!rowData.isPaused && rowData.isActive" class="w-100 d-block"><a (click)="onEntityStageClick(rowData);stopPropagation($event)" [ngClass]="isEditProduct ? 'dark-blue font-weight-bold no-underline cursor-pointer' : 'no-link'" id="link-stage" >{{rowData.stageName}}</a></span>
                                            <span *ngIf="rowData.isPaused || !rowData.isActive" id="link-stage">{{rowData.stageName}} </span>
                                        </td>
                                        <td class="assignedToName">
                                            <span class="p-column-title">
                                                {{columns[7].header | translate}}
                                            </span>
                                                <ngx-common-user-profile 
                                                    [userId]="rowData?.assignedTo"
                                                    [userTypeId]="userTypeID.AssignedTo"
                                                    [privacyLevel]="null"
                                                    [isShowName]="false"
                                                    [isItemDisable]="rowData?.isPaused || !rowData?.isActive || !isEditProduct"
                                                    (clickEvent)="onAssignedToClick($event, rowData)"
                                                    userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_ASSIGNEDTO' | translate | configuredEntityName}}">
                                                </ngx-common-user-profile>
                                        </td>
                                        <td class="id action" >
                                            <div class="d-flex justify-content-end" *ngIf="isEditProduct || (isDeleteProduct && !rowData.isPaused)">
                                                <div class="dropdown">
                                                    <button pButton icon="fas fa-wrench"  (mouseenter)="onRowActionButtonMouseEnter()" (mouseleave)="onRowActionButtonMouseLeave()"
                                                        class="p-button-rounded p-button-sm" type="button"
                                                        id="drp-action" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="drp-action">
                                                        <li>
                                                            <a *ngIf="isEditProduct" id="link-change-status" (click)="onStatusChange(rowData);stopPropagation($event);" class="dropdown-item menu--item">
                                                                <i class="fas fa-toggle-on" aria-hidden="true"></i>
                                                                {{'PRODUCTS.LIST.ACTION_TITLE_CHANGESTATUS' | translate }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a *ngIf="isDeleteProduct" id="link-Delete"
                                                                class="dropdown-item" (click)="onDeleteProductClick(rowData.id);stopPropagation($event);">
                                                                <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                                {{ 'PRODUCTS.LIST.BUTTON_REMOVE' | translate }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <!-- Paginator Start -->
                                <ng-template pTemplate="paginatorleft">
                                    <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}}
                                        records</span>
                                </ng-template>
                                <ng-template pTemplate="paginatorright">
                                    <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                                        (click)="prev()" id="paginatorLeftPage"
                                        [disabled]="end == dataSearch.params.pageSize"></p-button>
                                    <input type="number" min="1" [max]="totalPages"
                                        [(ngModel)]="dataSearch.params.pageNo" (change)="changePage()"
                                        id="paginatorInputPage" class="pageNoInput"> /
                                    <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                                    <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                                        (click)="next()" id="paginatorRightPage" [disabled]="end == totalRecords">
                                    </p-button>
                                    <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                                        (click)="resetPaginator()" id="paginatorResetButton"
                                        [disabled]="end == dataSearch.params.pageSize"></p-button>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
                                            {{ 'PRODUCTS.LIST.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <!-- Paginator End -->
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table view End -->
        </ng-template>
        <!-- Containers End-->
    </div>
    <!-- Right side activity menu start -->
    <div class="p-0">
        <activity-section 
            #activitySection 
            *ngIf="isShowActivityCenter" 
            [entityTypeId]="entityTypeId" 
            [entityDetailsData]="entityDetails"
            [isEditPermission]="isEditProduct"
            [isActive]="selectedProductIsActive"
            [isPaused]="selectedProductIsPausedForActivityCenter"
            [entityId]="selectedProductIdForActivityCenter" 
            [entityRecordTypeId]="entityDetails?.entityRecordTypeId" 
            [isHideDetailsTab]="false"
            [isDocumentDownloadPermission]="isDocumentDownloadPermission && selectedProductIsActive  && !selectedProductIsPausedForActivityCenter" 
            [currencySymbol]="currencySymbol" 
            [hoursInDay]="hoursInDay"
            (onEntityStageTasksSelect)="onEntityStageTasksSelect($event)" 
            [hideExpandButton]="true" 
            [isTagRequired]="true" 
            [isDocumentRequired]="true" 
            [refreshActivity]="refreshActivityCenter" 
            class="entity-right-panel" 
            (saveKeyFieldEvent)="onSaveKeyFieldEvent($event)" 
            (onCloseActivitySection)="onMoreDetailsClick(false)"
            [keyfieldResponseData]="keyfieldResponseData" 
            [addWorkTaskCreateOption]="true" 
            [isAddWorkTask]="isAddWorkTask" 
            (onAddWorkTask)="addWorkTask()"
            [createdBy]="productCreatedBy"
            [privacylevel]="null"
            [isAddCase]="isAddCase"
            (onAddCase)="addCase()"
            (pauseOrResumeChanges)="onProductStagePauseChanged($event.event,$event.isPaused)">
        </activity-section>
    </div>
    <!-- Right side activity menu end -->
</div>