<ng-container *ngIf="fileList.length > 0">
    <div class="position-relative" ngxNoRightClick ngxPreventScreenshot ngxPreventPrintWithInspectElement>
        <button type="button" class="btn border-0 p-0 bg-transparent btn-close-carousel" (click)="close()">
            <i class="fas fa-times font-20 dark-grey"></i>
        </button>
        <div class="file-body position-relative">
            <ng-container *ngFor="let file of fileList; let i=index; trackBy: trackBy">
                <div class="hover-bg w-100 h-100 position-relative">
                    <ngx-document-viewer-dialog *ngIf="i == activeIndex && file.imageSrc" [documentId]="file.id"
                        [documentMimeType]="file.mimeType" [documentName]="file.name" [url]="file.imageSrc"
                        [isDocumentDownloadPermission]="isDocumentDownloadPermission"
                        [showCloseIcon]="false"></ngx-document-viewer-dialog>
                    <button (click)="prev()" type="button" [disabled]="activeIndex == 0"
                        class="btn btn-outline-secondary btn-navigation btn-prev rounded-circle">
                        <i class="fa-solid fa-chevron-left" aria-hidden="true"></i></button>
                    <button (click)="next()" type="button" [disabled]="(activeIndex + 1) == totalCount"
                        class="btn btn-outline-secondary btn-navigation btn-next rounded-circle">
                        <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </ng-container>
            <div class="file-container" *ngIf="showLoader">
                <div class="bounce-spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <div class="modal-body padding-32">
            <div class="vertical-center flex-nowrap justify-content-center">
                <button (click)="prev()" type="button" class="btn btn-secondary btn-bottom-nav mr-3" [disabled]="activeIndex == 0">
                    <i class="fa-solid fa-chevron-left mr-2" aria-hidden="true"></i>
                    {{"COMMON.CAROUSEL.BUTTON_PREVIOUS" | translate}}
                </button>
                <div class="fw-semibold mr-3">{{activeIndex + 1}} of {{totalCount}}</div>
                <button (click)="next()" type="button" class="btn btn-secondary btn-bottom-nav"
                    [disabled]="(activeIndex + 1) == totalCount">
                    {{"COMMON.CAROUSEL.BUTTON_NEXT" | translate}}
                    <i class="fa-solid fa-chevron-right ml-2" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</ng-container>