::ng-deep .document-viewer-dialog.carousel-dialog {
    .btn-close-carousel {
        position: absolute;
        top: 7px;
        right: 13px;
        z-index: 1;
    }

    .btn-section { height: 46px; }

    .btn-documents .btn-download-document {
        margin-right: 0 !important;
        position: relative;
        right: 28px;
    }

    .modal-header.pt-2 {
        padding-top: 0 !important;
    }

    .modal-title {
        max-width: calc(100% - 120px);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: -13px;
    }

    .modal-dialog.modal-xl { width: 100%; max-width: 100%; height: 100%; margin: 0px; padding: 0;
        .modal-content { padding: 9px;
            height: 100%;
            min-height: 100%;
            border-radius: 0;
            border: 0px;
            user-select: none !important; 
            -webkit-user-select: none !important; 
            -moz-user-select: none !important;

            ngx-document-viewer-dialog,
            ngx-document-viewer-dialog .row,
            ngx-document-viewer-dialog .row .col-12 {
            height: 100%;
                .height-body {
                    min-height: calc(100vh - 115px) !important;
                    max-height: calc(100vh - 115px) !important;

                    @media (max-width: 575px) {
                        min-height: auto !important;
                    }
                }
            }
        }

        ngx-pdf-viewer, ngx-pdf-viewer pdf-viewer,
        .csv-overlay .table-responsive,
        ngx-image-viewer,
        ngx-doc-viewer,
        ngx-video-viewer,
        ngx-video-viewer .form_wrapper,
        ngx-video-viewer video,
        ngx-audio-viewer,
        ngx-audio-viewer .form_wrapper,
        ngx-audio-viewer audio {
            height: calc(100vh - 115px) !important;
            min-height: calc(100vh - 115px) !important;
            max-height: calc(100vh - 115px) !important;
        }

        ngx-pdf-viewer{
            display: block;
        }

        ngx-image-viewer { text-align: center; }

        .file-body {
            min-height: calc(100vh - 68px) !important;

            @media (max-width: 575px) {
                min-height: calc(100vh - 116px) !important;
            }
        }
    }
}

::ng-deep {
    .file-container {
        display: block;
        position: absolute;
        width: auto;
        height: auto;
        margin: auto;
        top: 46px;
        left: 12px;
        right: 12px;
        bottom: 1px;
        background-color: rgba(0, 0, 0, 0.15) !important;
        z-index: 1070;
        border-radius: 5px;
    }

    .nb-theme-dark .file-container {
        background-color: rgba(105, 105, 105, 0.4) !important;
    }

    .file-container .bounce-spinner {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .file-container .bounce-spinner>div {
        width: 15px;
        height: 15px;
        background-color: #00a4e3 !important;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .nb-theme-dark .file-container .bounce-spinner>div {
        background-color: #9ed5ff !important;
    }

    .file-container .bounce-spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .file-container .bounce-spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    .show-file-container {
        display: block !important;
    }

    .hide-file-container {
        display: none !important;
    }

    .page-containted :not(.col-xl-4) .file-container {
        @media (min-width: 1200px) {
            display: none !important;
        }
    }

    .entity-right-panel .file-container {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.btn-navigation {
    display: none;
}

@media (min-width: 1200px) {
    .btn-navigation, .btn-navigation:hover, .btn-navigation:active {
        display: none;
        position: absolute;
        top: 50%;
        background-color: var(--surface-50) !important;
        color: var(--surface-900) !important;
        min-width: 34px;
        min-height: 34px;
        padding: 0;
        z-index: 1;
    }

    .hover-bg:hover .btn-navigation {
        display: block;
    }

    .btn-prev {
        left: -3px;
    }

    .btn-next {
        left: auto;
        right: -3px;
    }
}

.hover-bg:hover .btn-navigation:disabled, .btn-secondary.btn-bottom-nav:disabled { display: none; }