<!-- if user don't have enough permission then display message -->
<ng-container *ngIf="!isListWorkTasks">
    <div class="flexlayout">
        <div class="form_wrapper">
            <div id="no-access-form">
                <div class="top">
                    <div class="subtitle m-0">{{'WORKTASK.MISCELINIOUSTASK.MESSAGE_WORKTASK_NOT_ACCESS' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="flexlayout" *ngIf="!isInitialLoading && isListWorkTasks">
    <div class="form_wrapper">
        <div id="no-access-form">
            <div class="top">
                <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
                <div class="subtitle mt-0">{{'WORKTASK.MISCELINIOUSTASK.MESSAGE_WORKTASK_NOT_EXISTS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isListWorkTasks" class="entity-page entity-main filters-five desktop-overflow-hidden">

    <!-- Header Start-->
    <div class="page-header" *ngIf="isInitialLoading">
        <div class="container-fluid lineheight35 heading-page mb-2">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="m-0">
                        <span class="header-text" id="headingEntity">{{'WORKTASK.MISCELINIOUSTASK.LIST.TITLE' |
                            translate | configuredEntityName}}</span>
                    </h4>
                </div>
                <div class="col">
                    <div class="btn-view">
                        <button *ngIf="isAddWorkTask" type="button" id="btn-add-entity" class="btn btn-primary ml-3"
                            (click)="addMiscTask()">
                            <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
                            {{'WORKTASK.MISCELINIOUSTASK.LIST.BUTTON_ADD' | translate | configuredEntityName}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Page Content Start -->
    <div class="page-content">
        <div class="entity-search-area pt-2 mb-xl-2">
            <div class="container-fluid">
                <div class="row misc-worktask-listing-filters">
                    <div class="col-xl col-lg-3 col-md-4 col-sm-6 mb-xl-0 mb-3 filter-width">
                        <div class="mb-1 fs13px">{{ 'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_LABEL_SEARCH' | translate }}</div>
                        <div class="p-input-icon-right w-100">
                            <i class="pi pi-search" aria-hidden="true"></i>
                            <input #searchTextInput pInputText type="text" id="txt-search-text"
                                class="w-100 customInputText form-control" size="50"
                                placeholder="{{ 'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_LABEL_SEARCH' | translate }}"
                                [(ngModel)]="pagingParams.searchString" />
                        </div>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 filter-width">
                        <div class="mb-1 fs13px">{{ 'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_LABEL_REASON' | translate }}</div>
                        <p-multiSelect  id="drp-reason" class="entity-multiSelect" [options]="workTaskReasons" [filter]="true" appendTo="body"
                            [resetFilterOnHide]="false" [showHeader]="true" [displaySelectedLabel]='true' [showToggleAll]="true" panelStyleClass="maxWidthOverride-sm"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels" optionLabel="name" optionValue="intValue1"
                            placeholder="{{'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_PLACEHOLDER_REASON' | translate}}" [showClear]="false"
                            [(ngModel)]="selectedReasons" (onChange)="onFilterReasons($event)"
                            [filter]="true" [resetFilterOnHide]="false">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 filter-width">
                        <div class="mb-1 fs13px">{{ 'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_LABEL_STARTDATE' | translate }}</div>
                        <p-calendar id="dp-startDate" [dateFormat]="_commonHelper.globalDatePickerFormate" appendTo="body"
                            [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey"
                            [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"
                            [selectOtherMonths]="true" [showTime]="false" [minDate]="_commonHelper.globalMinDate"
                            [maxDate]="_commonHelper.globalMaxDate" [placeholder]="_commonHelper.globalDatePlaceholder"
                            [(ngModel)]="workTaskSearchFilter.startDate" (onSelect)="onStartDateChanged($event)"
                            [readonlyInput]="true" class="time-calendar">
                        </p-calendar>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 filter-width">
                        <div class="mb-1 fs13px">{{ 'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_LABEL_ENDDATE' | translate }}</div>
                        <p-calendar id="dp-endDate" [dateFormat]="_commonHelper.globalDatePickerFormate" appendTo="body"
                            [dateMask]="_commonHelper.globalDateMask" [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey"
                            [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100"
                            [selectOtherMonths]="true" [showTime]="false" [minDate]="minEndDate"
                            [maxDate]="maxEndDate" [placeholder]="_commonHelper.globalDatePlaceholder"
                            [(ngModel)]="workTaskSearchFilter.endDate" (onSelect)="onEndDateChanged($event)"
                            [readonlyInput]="true" class="time-calendar">
                        </p-calendar>
                    </div>
                    <ng-container *ngIf="isViewAllMiscTasks">
                        <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 filter-width">
                            <div class="mb-1 fs13px">{{ 'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_LABEL_ASSIGNTO' | translate }}</div>
                            <p-multiSelect class="entity-multiSelect" id="drp-assignedToIDs" [filter]="true"
                                [resetFilterOnHide]="false" [showHeader]="true" [displaySelectedLabel]='true'
                                [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                                [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels" [options]="userList"
                                [placeholder]="'WORKTASK.MISCELINIOUSTASK.LIST.FILTER_PLACEHOLDER_ASSIGNTO' | translate"
                                optionLabel="label" optionValue="value" [(ngModel)]="selectedUser"
                                (onChange)="onFilterAssignTo($event)" (onFilter)="assignedToOnFilter($event)">
                            </p-multiSelect>
                        </div>
                    </ng-container>
                    <div class="col-xl col-auto pl-xl-2 mb-xl-0 mb-3 d-flex align-items-end">
                        <button id="btn-reset" class="btn btn-outline-secondary" type="button"
                            (click)="onResetAllFilters()" [disabled]="((workTaskSearchFilter.searchText == ''
                            && !workTaskSearchFilter.startDate && !workTaskSearchFilter.endDate &&
                            (workTaskSearchFilter.reasonIds == null || workTaskSearchFilter.reasonIds == '') &&
                            (workTaskSearchFilter.assignToUserIds == null || workTaskSearchFilter.assignToUserIds == '')) ? true : false)">
                            {{'WORKTASK.MISCELINIOUSTASK.LIST.BUTTON_RESET' | translate}}
                        </button>
                    </div> 
                    <div class="col-auto pl-md-2 mb-xl-0 mb-3 d-flex align-items-end">
                        <div class="height-38px d-flex align-items-center">
                            <button *ngIf="isExportWorkTasks" type="button" id="btn-export-to-excel" class="btn btn-exp p-0 btn-small"
                                (click)="exportExcel()" placement="top top-right" container="body" ngbTooltip="Export To Excel" triggers="hover" tooltipClass="tooltip-backward-small">
                                <i class="fas fa-2x fa-file-excel" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content End -->

    <!-- Table Start -->
    <div class="page-content pb-5 pb-xl-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12 pr-24px mt-1">
                    <div class="tbl-misc-worktask-list tbl-entity p-card">
                        <p-table #pTable [responsive]="true" responsiveLayout="stack"
                            [rows]="_commonHelper.DefaultPageSize" paginatorDropdownAppendTo="body"
                            [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols"
                            [value]="workTasks" class="tbl-worktask-list" sortField="taskNumber" [sortOrder]="-1"
                            [lazy]="true" [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true"
                            [paginator]="totalRecords > 0" [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
                            [scrollHeight]="'calc(100vh - 248px)'" (onPage)="paginate($event)">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th id="tblColumnHeader" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                        [ngClass]="[!isShowActionColumn ? 'action-null' : '', col.header == '' ? 'hide-when-no-records' : '']" 
                                        [pSortableColumnDisabled]="!col.sort" class="{{col.field}} {{col.class}}"
                                        scope="col" (click)="changeOrder(col)">
                                        {{ col.header | translate }}
                                        <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td class="taskNumber">
                                        <span class="p-column-title">
                                            {{columns[0].header | translate}}
                                        </span>
                                        <span class="w-100 d-block">
                                            <a [routerLink]="'/misctasks/details/' + rowData.id" id="link-headingRecord"
                                                [ngClass]="isViewWorkTask ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.taskNumber}}</a>
                                        </span>
                                    </td>
                                    <td class="reason">
                                        <span class="p-column-title">
                                            {{columns[1].header | translate}}
                                        </span>
                                        <div class="w-100">
                                            <div class="w-100 mb-2px pre-text">{{rowData.reasonName}}</div>
                                        </div>
                                    </td>
                                    <td class="description">
                                        <span class="p-column-title">
                                            {{columns[2].header | translate}}
                                        </span>
                                        <div class="w-100 description-box">
                                            <div class="w-100 mb-2px pre-text" ngbTooltip="{{rowData.description}}" placement="top right" container="body">{{rowData.description}}</div>
                                        </div>
                                    </td>
                                    <td class="assignedToName">
                                        <span class="p-column-title">
                                            {{columns[3].header | translate}}
                                        </span>
                                        <span class="w-100 d-flex">
                                            <div class="vertical-center flex-nowrap">
                                                    <ngx-common-user-profile 
                                                        [userId]="rowData?.assignedTo" 
                                                        [userTypeId]="userTypeID.AssignedTo"
                                                        [privacyLevel]="null"
                                                        [isItemDisable]="!rowData?.isActive || !isEditWorkTask" 
                                                        [isShowName]="false" 
                                                        userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_ASSIGNEDTO' | translate | configuredEntityName}}">
                                                    </ngx-common-user-profile>
                                            </div>
                                        </span>
                                    </td>
                                    <td class="startTime">
                                        <span class="p-column-title">
                                            {{columns[4].header | translate}}
                                        </span>
                                        <div class="w-100 ">
                                            <div class="w-100 mb-2px pre-text">{{ rowData.startTime | date:"MM/dd/yyyy h:mm a" }}</div>
                                        </div>
                                    </td>
                                    <td class="endTime">
                                        <span class="p-column-title">
                                            {{columns[5].header | translate}}
                                        </span>
                                        <div class="w-100 ">
                                            <div class="w-100 mb-2px pre-text">{{ rowData.endTime | date:"MM/dd/yyyy h:mm a" }}</div>
                                        </div>
                                    </td>
                                    <td class="duration">
                                        <span class="p-column-title">
                                            {{columns[6].header | translate}}
                                        </span>
                                        <div class="w-100 mb-2px pre-text">{{ rowData.duration }}</div>
                                    </td>
                                    <td class="created">
                                        <span class="p-column-title">
                                            {{columns[7].header | translate}}
                                        </span>
                                        <div class="w-100 ">
                                            <div class="w-100 mb-2px pre-text">{{ rowData.created | date:"MM/dd/yyyy h:mm a" }}</div>
                                        </div>
                                    </td>
                                    <td class="id action">
                                        <div *ngIf="isDeleteWorkTask" class="dropdown text-right">
                                            <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm"
                                                type="button" id="drp-action" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drp-action">
                                                <li>
                                                    <a id="link-Delete" class="dropdown-item"
                                                        (click)="deleteWorkTask(rowData.id);stopPropagation($event);">
                                                        <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                        {{ 'WORKTASK.MISCELINIOUSTASK.LIST.BUTTON_REMOVE' | translate }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorleft">
                                <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}}
                                    records</span>
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                                <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                                    id="paginatorLeftPage" (click)="prev()" [disabled]="end == pagingParams.pageSize">
                                </p-button>
                                <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo"
                                    id="paginatorInputPage" (change)="changePage()" class="pageNoInput"> /
                                <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                                <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                                    id="paginatorRightPage" (click)="next()"
                                    [disabled]="end == totalRecords"></p-button>
                                <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                                    id="paginatorResetButton" (click)="resetPaginator()"
                                    [disabled]="end == pagingParams.pageSize"></p-button>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound"
                                        class="table-no-record text-center">
                                        {{ 'WORKTASK.MISCELINIOUSTASK.LIST.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->
</div>