<div class="width--100 flex--center mb-3 px-3">
    <span class="float-left width-filter">
        <p-dropdown [options]="documentQuickFilterOptions" id="drp-load-document" appendTo="body" panelStyleClass="maxWidthOverride"
                    [(ngModel)]="documentQuickFilterSelected" optionLabel="name"
                    class="form-control" (onChange)="loadDocumentData()">
        </p-dropdown>
    </span>
    <span class="float-right">
        <i class="fas fa-sync-alt fa-lg dark-grey cursor-pointer" aria-hidden="true"
           (click)="loadDocumentData()" id="link-load-document"></i>
    </span>
</div>
<!-- Quick Filter Duration End -->
<div class="ht-card mx-3">
    <div class="card mb-3" *ngFor="let item of documentDataSource">
        <div class="card-body d-flex p-3">
            <div class="float-left w-100">
                <p class="mb-1">
                    <a href="{{item.filePath}}" target="_blank"><span>{{item.name}}</span></a>
                </p>
                <p class="mb-0"><span>{{ item.description }}</span></p>
            </div>
        </div>
        <div class="card-body px-3 py-2 border--top--light">
            <div class="file-creator-detail vertical-center">
                <div>
                    <img id="img-created-by" class="img--assignee rounded-circle" alt="Profile Image" src="assets/images/default/users/no-image.jpg" onerror="this.src='assets/images/default/users/no-image.jpg';" alt="">
                    <span class="ml-1">{{ item.createdByName }}</span>
                </div>
                <div class="font-12">
                    {{ item.created | dateFormatPipe:_commonHelper.globalLongDateFormate }}
                </div>
            </div>
        </div>
    </div>
</div>
