<!-- if user dont have enough permission then display message -->
<div class="flexlayout" *ngIf="!hasPermission">
  <div class="form_wrapper">
    <div id="no-access-form">
      <div class="top">
        <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
        <div class="subtitle m-0">
          {{'WORKTASK.DETAIL.MESSAGE_WORKTASK_NOT_ACCESS' | translate | configuredEntityName}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!workTaskDetailForm && !isInitialLoading && hasPermission">
  <div class="form_wrapper">
    <div id="no-access-form">
      <div class="top">
        <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
        <div class="subtitle mt-0">
          {{'WORKTASK.DETAIL.MESSAGE_WORKTASK_NOT_EXISTS' | translate| configuredEntityName}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-containted detail-worktasks" *ngIf="workTaskDetailForm && hasPermission && isLoaded">

  <!-- Header Start-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-10px">
        <div class="detail-header h-100">
          <div class="page-content card border-0 mb-0 h-100">
            <div class="card-body p-card">
              <div class="row align-items-start h-100">
                <div class="col-xl col-lg-7 col-md-12 mb-3 mb-lg-0 mb-sm-4 d-flex align-self-start order-top-mobile col-title-section">
                  <div class="float-left text-center">
                    <i class="{{workTaskDetails.typeIconClass}} entity-icon-only" aria-hidden="true"></i>
                  </div>
                  <div class="stage-details float-start">
                    <p class="m-0">
                      <span class="card-title mb-1">
                        <label id="headingEntity">{{ 'WORKTASK.DETAIL.WORK_TASK_NAME_LABEL' | translate | configuredEntityName }}</label>
                        <div id="nameEntity" class="overflow-box">
                          <strong id="numberEntity" class="pre-text">{{workTaskDetails.taskNumber}}</strong><strong>: </strong>
                          <strong id="nameOnlyEntity" class="pre-text">{{workTaskName}}</strong>
                        </div>
                        <div *ngIf="workTaskDetails.parentID != null" ngbTooltip="{{ workTaskDetails?.parentTypeName }}"
                        container="body" placement="top auto">
                          <span class="d-flex align-items-start mt-2"><i ngClass="{{workTaskDetails.parentTypeIconClass}}" class="me-1 font-14 dark-grey"></i>
                            <label id="headingEntityParent">
                              {{'WORKTASK.DETAIL.PARENT_WORK_TASK_NAME_LABEL' | translate | configuredEntityName }}
                            </label>
                          </span>
                          <div id="nameEntityParent" class="overflow-box">
                            <a [routerLink]="'/worktasks/details/' + workTaskDetails.parentID"
                              [ngClass]="isParentSubTypeViewPermission ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{workTaskDetails.parentTaskNumber}}: {{workTaskDetails.parentName}}</a>
                          </div>
                        </div>
                        <div>
                          <span id="entityRating" class="mt-2 h-21 mr-2 vertical-center">
                            <entity-review-display [entityTypeId]="entityTypeId" [entityId]="workTaskId" [isFromKanbanOrListView]="false"
                              [isEditPermission]="isEditWorkTask && !workTaskDetails.isPaused">
                            </entity-review-display>
                          </span>
                          <span class="mt-2 h-21 badge badge-primary badge--status mr-2" *ngIf="workTaskDetails.entityRecordTypeName" id="badgeEntityRecordType">
                            {{workTaskDetails.entityRecordTypeName}}
                          </span>
                          <span id="badgePaused" *ngIf="workTaskDetails.isPaused"
                            class="mt-2 h-21 badge badge-danger badge--status">
                            {{ workTaskDetails.isPaused == true ? 'Paused' : '' }}
                          </span>
                        </div>
                      </span>
                    </p>
                  </div>
                </div>
                <div *ngIf="(isEntityWorkflow && isListViewLayout) && hiddenFieldStatus"
                  class="col-header col-xl col-lg-3 col-md-4 col-sm-4 mb-sm-3 mb-lg-3 mb-xl-0 pt-sm-3 pt-xl-0 mb-1 header-value">
                    <div class="row">
                      <div class="col-sm-12 col-header-label">
                        <label>{{
                          'WORKTASK.DETAIL.STATUS' | translate }}</label>
                      </div>
                      <div class="col-sm-12 col">
                        <p class="m-0"><strong id="statusOrder">{{selectedStage?.name}}</strong></p>
                      </div>
                    </div>
                </div>
                <div class="col-xxl col-xl col-lg-3 col-md-4 col-sm-4 mb-sm-3 mb-lg-3 mb-xl-0 pt-sm-3 pt-xl-0 mb-1 header-value col-header w-195px" *ngIf="hiddenFieldCreated || hiddenFieldUpdated">
                  <div class="row mb-1 mb-sm-2" *ngIf="hiddenFieldCreated">
                    <div class="col-sm-12 col-header-label col-created-label">
                      <label>{{ 'WORKTASK.DETAIL.CREATED_LABEL' | translate }}</label>
                    </div>
                    <div class="col-sm-12 col">
                      <p class="m-0" id="lblCreatedDate">
                        {{workTaskDetails.created | date:'medium' }}
                      </p>
                    </div>
                  </div>
                  <div class="row mb-1 mb-sm-2 col-header"  *ngIf="hiddenFieldUpdated">
                    <div class="col-sm-12 col-header-label col-created-label">
                      <label>{{ 'WORKTASK.DETAIL.UPDATED_LABEL' | translate }}</label>
                    </div>
                    <div class="col-sm-12 col">
                      <p class="m-0">
                        {{workTaskDetails.modified | date:'medium' }}
                      </p>
                    </div>
                  </div>
                </div>
                <div *ngIf="(isShowRelatedTo || isHeaderShowRelatedTo) && hiddenFieldRelatedTo" class="col-xxl col-xl col-lg-3 col-md-4 col-sm-4 mb-sm-3 mb-lg-3 mb-xl-0 pt-sm-3 pt-xl-0 mb-1 header-value col-header order-top-mobile">
                  <div class="row">
                    <div class="col-auto px-0">
                      <i [class]="relatedToIcon" class="font-26 dark-grey ml-2" aria-hidden="true" [ngbTooltip] = "relatedToIconToolTip" container="body" placement="top auto"></i>
                    </div>
                    <div class="col pl-2">
                      <div class="">
                        <label class="fs13px">{{relatedToNameForHeader}}</label>
                      </div>
                      <div class="">
                        <p class="m-0">
                          <a [routerLink]="'/' + _commonHelper.getRouteNameByEntityTypeId(workTask?.entityTypeID).toLowerCase() + '/details/' + workTaskDetails.entityID"
                            class="dark-blue font-weight-bold no-underline cursor-pointer pre-text">{{workTaskDetails.entityName}}</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl col-xl col-lg-3 col-md-4 col-sm-4 mb-sm-3 mb-lg-3 mb-xl-0 pt-sm-3 pt-xl-0 mb-1 header-value col-header" *ngIf="hiddenFieldEstimatedMins ||  hiddenFieldEstimatedPoints">
                  <div class="row mb-1 mb-sm-2"  *ngIf="hiddenFieldEstimatedMins">
                    <div class="col-sm-12 col-header-label">
                      <label>{{ 'WORKTASK.DETAIL.ESTIMATION_TIME' | translate }}</label>
                      <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" tooltipClass="custom-tooltip-class" [ngbTooltip]="('WORKTASK.DETAIL.TOLLTIP_DURATION' | translate).replace('[[hoursInDay]]',hoursInDay)" placement="top top-left" container="body" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-12 col">
                      <p-skeleton *ngIf="(!estimatedMins && estimatedMins != 0); else showEstimatedMins" width="8rem" styleClass="mb-2"></p-skeleton>
                      <ng-template #showEstimatedMins>
                        <p class="m-0">
                          {{ estimatedMins }}
                        </p>
                      </ng-template>
                    </div>
                  </div>
                  <div class="row mb-1 mb-sm-2 col-header" *ngIf="hiddenFieldEstimatedPoints">
                    <div class="col-sm-12 col-header-label">
                      <label>{{ 'WORKTASK.DETAIL.ESTIMATION_POINTS' | translate }}</label>
                    </div>
                    <div class="col-sm-12 col">
                      <p-skeleton *ngIf="(!estimatedPoints && estimatedPoints != 0); else showEstimatedPoints" width="8rem" styleClass="mb-2"></p-skeleton>
                      <ng-template #showEstimatedPoints>
                        <p class="m-0">
                            {{ estimatedPoints != null ? estimatedPoints : 0}}
                        </p>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div *ngIf="isEntityWorkflow && (hiddenFieldElapsedTime || hiddenFieldEffectiveTime || hiddenFieldPauseTime)" class="col-xxl col-xl col-lg-3 col-md-4 col-sm-4 mb-sm-3 mb-lg-3 mb-xl-0 pt-sm-3 pt-xl-0 mb-1 header-value col-header w-155px">
                  <div class="row mb-1 mb-sm-2" *ngIf="hiddenFieldElapsedTime">
                    <div class="col-sm-12 col-header-label">
                      <label>{{ 'WORKTASK.DETAIL.TOTAL_SPENT_TIME' | translate }}</label>
                      <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" tooltipClass="custom-tooltip-class" [ngbTooltip]="('WORKTASK.DETAIL.TOLLTIP_DURATION' | translate).replace('[[hoursInDay]]',hoursInDay)" placement="top top-left" container="body" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-12 col">
                      <p-skeleton *ngIf="!totalSpentTime; else showTotalSpentTime" width="8rem"></p-skeleton>
                      <ng-template #showTotalSpentTime>
                        <p class="m-0">
                          {{ totalSpentTime }}
                        </p>
                      </ng-template>
                      
                    </div>
                  </div>
                  <div class="row mb-1 mb-sm-2 col-header"  *ngIf="hiddenFieldEffectiveTime">
                    <div class="col-sm-12 col-header-label">
                      <label>{{ 'WORKTASK.DETAIL.TOTAL_EFFECTIVE_TIME' | translate }}</label>
                      <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" tooltipClass="custom-tooltip-class" [ngbTooltip]="('WORKTASK.DETAIL.TOLLTIP_DURATION' | translate).replace('[[hoursInDay]]',hoursInDay)" placement="top top-left" container="body" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-12 col">
                      <p-skeleton *ngIf="!totalEffectiveTime; else showTotalEffectiveTime" width="8rem"></p-skeleton>
                      <ng-template #showTotalEffectiveTime>
                        <p class="m-0">
                            {{ totalEffectiveTime }}
                        </p>
                      </ng-template>
                    </div>
                  </div>
                  <div class="row mb-1 mb-sm-2 col-header" *ngIf="hiddenFieldPauseTime">
                    <div class="col-sm-12 col-header-label">
                      <label>{{ 'WORKTASK.DETAIL.TOTAL_PAUSE_TIME' | translate }}</label>
                      <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" tooltipClass="custom-tooltip-class" [ngbTooltip]="('WORKTASK.DETAIL.TOLLTIP_DURATION' | translate).replace('[[hoursInDay]]',hoursInDay)" placement="top top-left" container="body" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-12 col">
                      <p-skeleton *ngIf="!totalPauseTime; else showTotalPauseTime" width="8rem"></p-skeleton>
                      <ng-template #showTotalPauseTime>
                        <p class="m-0" id="lblTotalPauseTime">
                            {{ totalPauseTime }}
                        </p>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="back-arrow col-lg">
                  <div class="row">
                    <div class="col-12">
                      <div class="dropdown">
                        <button id="btn-back" class='btn btn-secondary mb-12px' type='button' (click)="onBack()">
                          {{ 'WORKTASK.DETAIL.BACK_BUTTON' | translate }}
                        </button>
                      </div>
                    </div>
                    <div class="col-12">
                      <div *ngIf="!workTaskDetails?.isPaused && (isEditWorkTask || isDeleteWorkTask)" class="dropdown">
                        <button class="btn btn-primary dropdown-toggle btn-action" type="button" id="dropdownActionMenu"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          {{ 'CRM.ACCOUNT.DETAIL.BUTTON_ACTION' | translate }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownActionMenu">
                          <a *ngIf="isEditWorkTask && isAllowToReopen && (isCompleted || isClosed)" id="link-stage-reopen" (click)="onReopenStage()" class="dropdown-item menu--item">
                            <i class="fa-regular fa-folder-open me-1"></i>
                            {{ 'WORKTASK.DETAIL.ACTION_TITLE_STAGE_REOPEN' | translate }}
                          </a>
                          <a *ngIf="isDeleteWorkTask && !isCompleted && !isClosed" id="link-delete" (click)="onDeleteWorkTaskClick(workTask)"
                            class="dropdown-item menu--item">
                            <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                            {{'WORKTASK.DETAIL.ACTION_TITLE_DELETE' | translate }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 align-self-end align-tags top-margin-tags">
                  <div class="vertical-bottom flex-nowrap justify-content-between">
                    <entity-tags-view [refreshEntityTag]="refreshEntityTag" [entityId]="entityId"
                      [entityTypeId]="entityTypeId" [entityRecordTypeId]="entityRecordTypeId">
                    </entity-tags-view>
                    <div class="pt-3 pl-3 pe-2 d-flex bookmark-icon">
                      <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="entityId" [isEditPermission]="isEditWorkTask && !workTaskDetails?.isPaused" class="font-18 me-3"
                        [isFromKanbanOrListView]="false">
                      </ngx-bookmark>
                      <div *ngIf="!isCompleted && !isClosed && workTaskDetails.showRaiseHandButtons"
                      class="m-0 vertical-center worktask-icon cursor-pointer height-22px" container="body">
                      <i *ngIf="workTaskDetails.isHandRaised"
                          class="clr-remove-raise-hand fas fa-hand-paper font-18 me-3 cursor-pointer"
                          (click)="onWorkTaskRaiseHandChanged(workTaskDetails, false)"
                           aria-hidden="true" id="removeRaiseHandButton"
                          tooltipClass="tooltip-backward-small" [ngbTooltip]="'WORKTASK.LABEL_HAND_UNRAISED'| translate"
                          container="body">
                      </i>
                      <i *ngIf="!workTaskDetails.isHandRaised" class="clr-raise-hand far fa-hand-paper font-18 me-3 cursor-pointer"
                          aria-hidden="true" id="raiseHandButton"
                          (click)="onWorkTaskRaiseHandChanged(workTaskDetails, true)"
                          tooltipClass="tooltip-backward-small" [ngbTooltip]="'WORKTASK.LABEL_HAND_RAISED'| translate"
                          container="body">
                      </i>
                  </div>
                      <div *ngIf="workTaskDetails.isShowPauseOrResume && !isCompleted && !isClosed">
                        <i *ngIf="workTaskDetails.isPaused && (this._loggedInUser.userId == workTaskDetails.assignedTo || isResumeRecord)"
                          class="far fa-play-circle font-18 dark-grey cursor-pointer me-3" tooltipClass="tooltip-backward-small"
                          [ngbTooltip]="'WORKTASK.DETAIL.TOOLTIP_RESUME'| translate" id="resumeButton" container="body"
                          (click)="onWorkTaskStagePauseChanged(workTaskDetails, false)"></i>
                        <i *ngIf="!isEditWorkTask && workTaskDetails.isPaused && (this._loggedInUser.userId != workTaskDetails.assignedTo && !isResumeRecord)"
                          class="far fa-play-circle font-18 dark-grey cursor-pointer me-3" tooltipClass="tooltip-backward-small"
                          [ngbTooltip]="'WORKTASK.DETAIL.MESSAGE_RESUME_NOT_ACCESS'| translate" id="resumeButtonNotAccess"
                          container="body"></i>
                        <i *ngIf="isEditWorkTask && !workTaskDetails.isPaused && (this._loggedInUser.userId == workTaskDetails.assignedTo || isResumeRecord)"
                          class="far fa-pause-circle font-18 dark-grey cursor-pointer me-3" tooltipClass="tooltip-backward-small"
                          [ngbTooltip]="'WORKTASK.DETAIL.TOOLTIP_PAUSE'| translate" id="pauseButton" container="body"
                          (click)="onWorkTaskStagePauseChanged(workTaskDetails, true)"></i>
                      </div>
                      <i ngClass="{{privacyIcon}}" *ngIf="workTaskDetails?.privacyLevel != null" ngbTooltip="{{ privacyToolTip | translate | configuredEntityName }}"
                        container="body" placement="top auto" class="font-18 dark-grey">
                      </i>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Header End-->
  <!-- Body Start-->
  <div *ngIf="isEntityWorkflow && !isListViewLayout" class="page-content container-fluid stage-process">
    <!-- Stages Buttons List Start -->
    <div class="con_scroll d-none d-lg-block d-md-block d-sm-none d-xs-none">
      <div class="btn-group btn-group-toggle arrow-steps mb-10px" data-toggle="buttons" #menuContent>
        <button type="button" class="btn btn-secondary btn--arrow" *ngFor="let stage of worktaskStages" id="btnStatusChange" triggers="hover" tooltipClass="tooltip-backward-small"
          placement="top bottom" [ngbTooltip]="stage.name" container="body" [disabled]="!isEditWorkTask || workTaskDetails.isPaused || isCompleted || isClosed || !isWorkflowPermission"
          class="{{ 'btn btn-secondary btn--arrow ' + (stage | stageCss: currentStage) }}"
          (click)="onMarkStageAsComplete(stage.id)">
          <input type="radio" [name]="stage.name" autocomplete="off">
          <span class="btn_name">{{ stage.name }}</span>
        </button>
      </div>
    </div>
    <div class="d-lg-none d-md-none d-sm-block d-xs-block py-2">
      <label>{{ 'WORKTASK.DETAIL.STAGE_TITLE' | translate }}</label>
      <p-dropdown id="drp-StatusChange" class="form-control mb-2" [disabled]="!isEditWorkTask || workTaskDetails.isPaused || isCompleted || isClosed || !isWorkflowPermission" 
        [options]="worktaskStages" [(ngModel)]="selectedStage" (onChange)="onMarkStageAsComplete($event.value.id)">
          <ng-template let-stage pTemplate="selectedItem">
              <div>{{stage.name}}</div>
          </ng-template>
          <ng-template let-stage pTemplate="item">
                <div>{{stage.name}}</div>
          </ng-template>
      </p-dropdown>
    </div>
    <!-- Stages Buttons List End -->
  </div>

  <!-- Body Start-->
  <div class="page-content container-fluid pr-0">
    <div class="row h---100vh w-100">
      <div class="col col-xl-8 col-lg-12 mb-xl-0 mb-2 pr-0 details-box">
        <!-- nav Tab Menu Start -->
        <div class="navTabs card-bottom-border border-0 p-card">
          <div class="row width--100 border-bottom m-0 first-tabs">
            <!-- Tab Section here -->
            <ng-container>
              <ngx-globle-nav-tab [navTabs]="navTabs" [isNativeTab]="isNativeTab"  (setTab)="checkTabCall($event,1)"
                  class="col tabs-mobile p-0" (closeTab)="closeNavTab($event)"
                  [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navDocuments', 'navHistory', 'additionalTabs'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
              </ng-container>
            <div class="col-auto edit-form-icon px-0">
              <div *ngIf="isEditWorkTask  && !workTaskDetails.isPaused && !isCompleted && !isClosed">
                <i class="fas fa-pencil-alt pencil-icon fa-lg clr-blue float-right cursor-pointer"
                  (click)="showHideDetailTab('EDIT')" id="btnEditTabDetail"
                  *ngIf="isReadOnly && !(['navHistory', 'navLinkedWorkTasks', 'navSubWorkTasks', 'additionalTabs', 'navTimeline', 'navDocuments'] | showHidePencilButton: activeTab)" aria-hidden="true"></i>
              </div>
              <!-- Global save and cancel start -->
              <div *ngIf="!isReadOnly && !(['navHistory', 'navLinkedWorkTasks', 'navSubWorkTasks', 'navDocuments', 'additionalTabs'] | showHidePencilButton: activeTab)" class="form-update-icons">
                  <i id="btn-cancel" *ngIf="isEditWorkTask && !workTaskDetails.isPaused && !isCompleted && !isClosed"
                      class="fas fa-times fa-lg dark-grey float-right mr-3"
                      (click)="showHideDetailTab('CANCEL')" aria-hidden="true"></i>
                  <i *ngIf="isEditWorkTask && !workTaskDetails.isPaused && !isCompleted && !isClosed" id="btn-save"
                      class="fas fa-check fa-lg clr-blue float-right" (click)="showHideDetailTab('SAVE', workTaskDetailForm.value)" aria-hidden="true"></i>
              </div>
              <!-- Global save and cancel end -->
            </div>
          </div>

          <!-- Tab Content Start -->
          <form [hidden]="isAdditionalTab"  [formGroup]="workTaskDetailForm">
            <div class="tab-content border-0 mt-0" id="workTaskDetailTabContent">
              <!-- Details Start-->
              <div class="tab-pane fade px-0 p-0" id="navDetails" role="tabpanel" [ngClass]="selectedTab == 'navDetails' ? 'show active' : ''"
                aria-labelledby="navDetails-tab" name="navDetails">

                <!-- Basic Information Start-->
                <div class="card border-0 m-0 pt-md-0 pt-3">
                  <div class="card-header btn-card-edit py-0">
                    <span class="vertical-center py-md-3 pt-0 pb-3 line-height-1">
                      {{
                      'WORKTASK.DETAIL.DETAILS_TAB.BASIC_INFO_LABEL' | translate
                      }}
                    </span>
                  </div>
                  <div class='card-body'>
                    <div class='row'>
                      <div class='col-md-6 col-sm-6 form-group'>
                        <label>
                          {{ 'WORKTASK.DETAIL.DETAILS_TAB.NAME' | translate }}<span class="mandatory"></span>
                        </label>
                        <div *ngIf="isReadOnly" class="disable-text pre-text">{{ workTaskDetails.name != null && workTaskDetails.name != '' ? workTaskDetails.name : '' }}</div>
                        <input #workTaskTxtName *ngIf="!isReadOnly" id="txt-name" type="text" class="form-control"
                          formControlName="name" [(ngModel)]="workTaskDetails.name" trimValue
                          [ngClass]="{ 'is-invalid': workTaskfrm.name.errors && (workTaskfrm.name.dirty || workTaskfrm.name.touched) }">
                        <div *ngFor='let validation of workTask_validation_messages.name' class='invalid-feedback'>
                          <div id="errorNameIsRequired"
                            *ngIf='workTaskfrm.name.hasError(validation.type) && workTaskfrm.name.errors && (workTaskfrm.name.dirty || workTaskfrm.name.touched)'>
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                      <div *ngIf="isEntityWorkflow && !isListViewLayout" class="col-sm-6 form-group">
                        <!-- stage task start -->
                        <label>{{ 'WORKTASK.DETAIL.DETAILS_TAB.TASKS' | translate }}</label>
                        <ng-template #disableTaskText>
                          <div class="disable-text">
                            {{
                              currentStageTask && currentStageTask.length > 0 ?
                              (workTaskDetails.selectedStageTaskIds?.length ?? 0) + ' of ' + currentStageTask.length + ' completed' :
                              ('WORKTASK.DETAIL.DETAILS_TAB.NO_TASKS' | translate)
                            }}
                          </div>
                        </ng-template>
                        <div *ngIf="!isReadOnly && currentStageTask != null && isWorkflowPermission else disableTaskText"
                          class="input-group entity-dropdown custom-dropdown-muliselect">
                          <p-multiSelect [options]="currentStageTask" id="drp-stage-task" class="entity-multiSelect" optionLabel="name"
                            formControlName="selectedStageTaskIds" [(ngModel)]="workTaskDetails.selectedStageTaskIds" [maxSelectedLabels]="500"
                            [showToggleAll]="false" [filter]="false" [showHeader]="false" [displaySelectedLabel]='false'
                            [defaultLabel]="currentStageTask && currentStageTask.length > 0 ? (workTaskDetails.selectedStageTaskIds?.length ?? 0) + ' of ' + currentStageTask.length + ' completed' : ''">
                          </p-multiSelect>
                        </div>
                        <!-- stage task end -->
                      </div>
                      <div class='col-md-6 col-sm-6 form-group' *ngIf="isEntityWorkflow && isListViewLayout">
                          <label>{{'WORKTASK.DETAIL.DETAILS_TAB.STATUS' | translate}} <span class="mandatory"></span></label>
                          <div class="disable-text" *ngIf="isReadOnly">
                              {{ (worktaskStages | displayValueFinder: {id:workTaskDetails.entityStageId})?.length
                              ?
                              (worktaskStages | displayValueFinder: {id:workTaskDetails.entityStageId})[0].name : ' ' }}
                          </div>
                          <p-dropdown *ngIf="!isReadOnly" id="drp-stageId" class="form-control" formControlName="entityStageId"
                              [filter]="true" [resetFilterOnHide]="false" [options]="worktaskStages"
                              placeholder="{{'WORKTASK.DETAIL.DETAILS_TAB.STATUS_PLACEHOLDER' | translate}}" optionLabel="name"
                              optionValue="id" [(ngModel)]="workTaskDetails.entityStageId"
                              [ngClass]="{ 'is-invalid': submitted && workTaskfrm.entityStageId.errors }">
                          </p-dropdown>
                          <div *ngFor='let validation of workTask_validation_messages.entityStageId' class='invalid-feedback'>
                              <div id="errorStageIsRequired" 
                              *ngIf='workTaskfrm.entityStageId.hasError(validation.type) && submitted && workTaskfrm.entityStageId.errors'>
                                {{ validation.message | translate }}
                              </div>
                          </div>
                      </div>
                      <div *ngIf="isShowRelatedTo" class="col-sm-6 form-group">
                        <label class="font-semibold">{{relatedToName}}</label>
                        <div *ngIf="isReadOnly" class="disable-text pre-text"><i [class]="relatedToIcon" class="font-13 me-1" aria-hidden="true" [ngbTooltip] = "relatedToIconToolTip" container="body" placement="top auto"></i>
                          {{ workTaskDetails.entityName != null &&
                            workTaskDetails.entityName != '' ? workTaskDetails.entityName : '' }}
                        </div>

                        <ngx-related-to-control *ngIf="!isReadOnly"
                            formControlName="entityID"
                            [isReadOnly]="workTaskDetails.entityTypeID != null ? true : false" 
                            [SelectedEntityTypeId]="SelectedEntityTypeId" 
                            [entityTypeId]="entityTypeId" 
                            [SelectedEntityId]="SelectedEntityId"
                            class="w-100 d-inline-block"
                            (valueChange)="onValueChange($event)"
                            (onChangeRelatedTo)="onChangeRelateTo($event)">
                        </ngx-related-to-control>
                      </div>
                    <div class='col-md-6 col-sm-6 form-group'>
                      <label>
                        {{ 'WORKTASK.DETAIL.DETAILS_TAB.ESTIMATION_TIME' | translate }}
                        <span class="mandatory"></span>
                        <i class="fas fa-info-circle dark-grey ml-1 info-tooltip" tooltipClass="custom-tooltip-class" [ngbTooltip]="estimatedMinsToolTip" placement="top bottom" container="body" aria-hidden="true"></i>
                        <ng-template #estimatedMinsToolTip>
                          <div class="d-flex flex-column" style="text-align:left;">
                            {{ 'WORKTASK.DETAIL.DETAILS_TAB.ESTIMATION_TIME_TOOLTIP_HEADER' | translate }}<br/>
                            {{ 'WORKTASK.DETAIL.DETAILS_TAB.ESTIMATION_TIME_TOOLTIP_LINE1' | translate }}<br/>
                            {{ 'WORKTASK.DETAIL.DETAILS_TAB.ESTIMATION_TIME_TOOLTIP_LINE2' | translate }}<br/>
                            {{ 'WORKTASK.DETAIL.DETAILS_TAB.ESTIMATION_TIME_TOOLTIP_LINE3' | translate }}<br/>
                            {{ 'WORKTASK.DETAIL.DETAILS_TAB.ESTIMATION_TIME_TOOLTIP_LINE4' | translate }}<br/>
                          </div>  
                        </ng-template>
                      </label>
                      <div *ngIf="isReadOnly" class="disable-text pre-text">{{ estimatedMins }}</div>
                     
                      <input *ngIf="!isReadOnly" id="txt-estimationTime" type="text" class="form-control"
                        formControlName="estimatedMins" [(ngModel)]="workTaskDetails.estimatedMins" trimValue
                        [ngClass]="{ 'is-invalid': workTaskfrm.estimatedMins.errors && (workTaskfrm.estimatedMins.dirty || workTaskfrm.estimatedMins.touched) }">
                      <div *ngFor='let validation of workTask_validation_messages.estimatedMins' class='invalid-feedback'>
                        <div id="errorEstimatedMins"
                          *ngIf='workTaskfrm.estimatedMins.hasError(validation.type) && workTaskfrm.estimatedMins.errors && (workTaskfrm.estimatedMins.dirty || workTaskfrm.estimatedMins.touched)'>
                          {{ validation.message | translate }}
                        </div>
                      </div>
                    </div>
                    <div class='col-md-6 col-sm-6 form-group'>
                      <label>
                        {{ 'WORKTASK.DETAIL.DETAILS_TAB.ESTIMATION_POINTS' | translate }}
                        <span class="mandatory"></span>
                      </label>
                      <div *ngIf="isReadOnly" class="disable-text pre-text">{{ estimatedPoints }}</div>
                      <input *ngIf="!isReadOnly" id="txt-estimationPoints" type="number" class="form-control" (keypress)="numberInputHandler($event)" min="0"
                        formControlName="estimatedPoints" [(ngModel)]="workTaskDetails.estimatedPoints"
                        [ngClass]="{ 'is-invalid': workTaskfrm.estimatedPoints.errors && (workTaskfrm.estimatedPoints.dirty || workTaskfrm.estimatedPoints.touched) }">
                      <div *ngFor='let validation of workTask_validation_messages.estimatedPoints' class='invalid-feedback'>
                        <div id="errorestimatedPoints"
                          *ngIf='workTaskfrm.estimatedPoints.hasError(validation.type) && workTaskfrm.estimatedPoints.errors && (workTaskfrm.estimatedPoints.dirty || workTaskfrm.estimatedPoints.touched)'>
                          {{ validation.message | translate }}
                        </div>
                      </div>
                    </div>
                    <div *ngIf="isEntityWorkflow && !(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeId : sectionCodes.DetailSection : fieldNames?.AssignedTo)" class='col-sm-6 form-group'>
                      <label>{{ 'WORKTASK.DETAIL.DETAILS_TAB.ASSIGNED_TO' | translate }}</label>
                      <ng-container *ngIf="((isReadOnly || currentStage?.isCompleted || currentStage?.isClosed) || !isWorkflowPermission || !isAssignWorkTask); else TemplateDrpAssignedTo">
                        <div class="disable-text pre-text">{{ workTaskDetails.assignedToName != null && workTaskDetails.assignedToName != '' ?
                          workTaskDetails.assignedToName : '' }}</div>
                      </ng-container>

                      <ng-template #TemplateDrpAssignedTo>

                        <!-- Assigned To Loading Bar -->
                        <ngx-control-level-loading-bar *ngIf="showAssignedToLoader"></ngx-control-level-loading-bar>

                        <p-dropdown id="drp-assignedToIDs"
                          [placeholder]="('WORKTASK.DETAIL.DETAILS_TAB.FILTER_PLACEHOLDER_ASSIGNED_TO' | translate)" class="form-control"
                          [options]="assignedToUsers" formControlName="assignedTo" [(ngModel)]="workTaskDetails.assignedTo"
                          (onFilter)="assignedToOnFilter($event)" (onChange)="assignedToOnChange($event)" [filter]="true"
                          [resetFilterOnHide]="false">
                        </p-dropdown>
                      </ng-template>
                    </div>
                    <div *ngIf="isEntityWorkflow && !(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeId : sectionCodes.DetailSection : fieldNames?.VerifiedBy)" class='col-sm-6 form-group'>
                      <label>{{ 'WORKTASK.DETAIL.DETAILS_TAB.VERIFIED_BY' | translate }}</label>
                      <ng-container *ngIf="isReadOnly || !isWorkflowPermission || !isAssignWorkTask;else TemplateDrpVerifiedBy">
                        <div class="disable-text pre-text">{{
                          workTaskDetails.verifiedByName != null &&
                          workTaskDetails.verifiedByName != '' ? workTaskDetails.verifiedByName : '' }}</div>
                      </ng-container>
                      <ng-template #TemplateDrpVerifiedBy>
                        <!-- Verified By Loading Bar -->
                        <ngx-control-level-loading-bar *ngIf="showVerifiedByLoader"></ngx-control-level-loading-bar>
                      
                        <p-dropdown  id="drp-verifiedByIDs"
                          [placeholder]="('WORKTASK.DETAIL.DETAILS_TAB.FILTER_PLACEHOLDER_VERIFIED_BY' | translate)" class="form-control"
                          [options]="verifiedByUsers" formControlName="verifiedBy" [(ngModel)]="workTaskDetails.verifiedBy"
                          (onFilter)="verifiedByOnFilter($event)" (onChange)="verifiedByOnChange($event)" [filter]="true"
                          [resetFilterOnHide]="false">
                        </p-dropdown>
                      </ng-template>
                    </div>
                      <div class='col-sm-6 form-group'>
                        <label>{{ 'WORKTASK.DETAIL.DETAILS_TAB.DUE_DATE' | translate }}</label>
                        <div *ngIf="isReadOnly" class="disable-text">
                          {{
                          workTaskDetails.dueDate != null && workTaskDetails.dueDate != '' ?
                          (workTaskDetails.dueDate | dateFormatPipe: _commonHelper.globalDateFormate) : ''
                          }}
                        </div>
                        <p-calendar *ngIf="!isReadOnly" id="dp-dueDates"
                          [dateFormat]="_commonHelper.globalDatePickerFormate" [dateMask]="_commonHelper.globalDateMask"
                          [readonlyInput]="false" icon="fas fa-calendar-alt dark-grey" [showIcon]="true"
                          [monthNavigator]="true"  [yearNavigator]="true" [yearRange]="currentYearRange" [minDate]="getCurrentDate()" [maxDate]="_commonHelper.globalMaxDate"
                          formControlName="dueDate" [selectOtherMonths]="true" [readonlyInput]="false" [(ngModel)]="workTaskDetails.dueDate"
                          [showTime]="false" [placeholder]="_commonHelper.globalDatePlaceholder" class="time-calendar"></p-calendar>
                      </div>
                      <div class='col-md-6 col-sm-6 form-group'>
                        <label>{{ 'WORKTASK.DETAIL.DETAILS_TAB.PRIORITY' | translate }}</label>
                        <div *ngIf="isReadOnly" class="disable-text">
                          {{
                          workTaskDetails.priorityName != null && workTaskDetails.priorityName != '' ?
                          workTaskDetails.priorityName : ''
                          }}
                        </div>

                        <!-- Priority Loading Bar -->
                        <ngx-control-level-loading-bar *ngIf="showPriorityLoader"></ngx-control-level-loading-bar>

                        <p-dropdown *ngIf="!isReadOnly" id="drp-priorityIDs" [placeholder]="('WORKTASK.DETAIL.DETAILS_TAB.FILTER_PLACEHOLDER_PRIORITY' | translate)" class="form-control"
                          [options]="priorityList" formControlName="priority" [(ngModel)]="workTaskDetails.priority">
                        </p-dropdown>
                      </div>
                      <div class='col-md-6 col-sm-6 form-group'>
                        <label>{{ 'WORKTASK.DETAIL.DETAILS_TAB.SEVERITY' | translate }}</label>
                        <div *ngIf="isReadOnly" class="disable-text">
                          {{
                          workTaskDetails.severityName != null && workTaskDetails.severityName != '' ?
                          workTaskDetails.severityName : ''
                          }}
                        </div>

                        <!-- Severity Loading Bar -->
                        <ngx-control-level-loading-bar *ngIf="showSeverityLoader"></ngx-control-level-loading-bar>

                        <p-dropdown *ngIf="!isReadOnly" id="drp-severityIDs" [placeholder]="('WORKTASK.DETAIL.DETAILS_TAB.FILTER_PLACEHOLDER_SEVERITY' | translate)" class="form-control"
                          [options]="severityList" formControlName="severity" [(ngModel)]="workTaskDetails.severity">
                        </p-dropdown>
                      </div>
                      <div class='col-md-12 col-sm-12 form-group'>
                        <label>{{ 'WORKTASK.DETAIL.DETAILS_TAB.DESCRIPTION' | translate }}</label>
                        <div *ngIf="isReadOnly" class="disable-text h-100-box" style="align-items: normal;">
                          <iframe width="100%" height="100%" [srcdoc]="workTaskDetails.description | safehtml" title="workTaskDetailsDescription"></iframe>
                        </div>
                        
                        <editor apiKey="{{tinyMceApiKey}}" *ngIf="!isReadOnly" [(ngModel)]="workTaskDetails.description" formControlName="description" id="txt-description" class="editor-description-iframe"
                          [ngClass]="{ 'is-invalid': workTaskfrm.description.errors && (workTaskfrm.description.dirty || workTaskfrm.description.touched) }"
                          [ngModelOptions]="{standalone: true}" [init]="{ height: 500 }">
                        </editor>
                        <div *ngFor='let validation of workTask_validation_messages.description' class='invalid-feedback'>
                          <div id="errorNameIsRequired"
                            *ngIf='workTaskfrm.description.hasError(validation.type) && workTaskfrm.description.errors && (workTaskfrm.description.dirty || workTaskfrm.description.touched)'>
                            {{ validation.message | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Details End-->
              
              <!-- Custom Start-->
              <div class="tab-pane fade px-0 pt-0" [ngClass]="selectedTab == ('nav' + tab.tabName | removeWhiteSpace) ? 'show active' : ''"
                *ngFor="let tab of formDataJSON; let i = index" id="{{ 'nav' + tab.tabName | removeWhiteSpace }}" name="navCustom"
                role="tabpanel" aria-labelledby="navCustom-tab">
                <!-- Section Start-->
                <div class='card border-0 m-0 pt-md-0 pt-3' *ngFor="let section of tab.sections; let j = index">
                  <div class="card-header btn-card-edit py-0">
                    <span *ngIf="section.sectionName" class="vertical-center py-md-3 pt-0 pb-3 line-height-1">{{section.sectionName}}</span>
                  </div>
                  <div class='card-body'>
                    <div class='row'>
                      <ngx-custom-field [formGroup]="workTaskDetailForm" [section]="section" [controls]="section.controls"
                        [customFieldJSONData]="workTaskDetails.customFieldJSONData" [isReadOnly]="isReadOnly" [submitted]="submitted"
                        [currencySymbol]="currencySymbol" [refreshTabularDataSource]="refreshCustomFieldDatasource"
                        [entityID]="entityId" [entityTypeID]="entityTypeId" [entityRecordTypeID]="entityRecordTypeId"></ngx-custom-field>
                    </div>
                  </div>
                </div>
                <!-- Section End-->
              </div>
              <!-- Custom End-->

              <!-- Stage/Pause history Start-->
              <div class="tab-pane fade" id="navHistory" role="tabpanel" [ngClass]="selectedTab == 'navHistory' ? 'show active' : ''"
               aria-labelledby="navHistory-tab" name="navHistory">
                <ng-container *ngIf="onceStageHistoryClicked">
                  <ngx-history-tab 
                    [privacyLevel]="workTask?.privacyLevel" 
                    [entityWorkflowId]="entityWorkflowId" 
                    [entityTypeId]="entityTypeId" 
                    [entityId]="workTaskId" 
                    [hoursInDay]="hoursInDay"  
                    [refreshStageHistory]="refreshStageHistory" 
                    [refreshActivityHistory]="refreshActivityHistory" 
                    [isListViewLayout]="isListViewLayout"
                    [entityHiddenFieldSettings]="entityHiddenFieldSettings">
                  </ngx-history-tab>
                </ng-container>
              </div>
              <!-- Stage/Pause history End-->
              
              <!-- Linked Work Task list Start-->
              <div class="tab-pane fade p-3 search-wrapper" id="navLinkedWorkTasks" role="tabpanel" [ngClass]="selectedTab == 'navLinkedWorkTasks' ? 'show active' : ''"
                aria-labelledby="navLinkedWorkTasks-tab" name="navLinkedWorkTasks">
                <div class="mb-3 vertical-center justify-content-end dropdown-with-add">                  
                    <button type="button" id="btn-link-worktask"
                        class="btn btn-primary ml-3" (click)="linkWorktask()">
                        <i class="fas fa-link mr-1" aria-hidden="true"></i> 
                        {{ 'WORKTASK.DETAIL.LINKED_WORK_TASKS_TAB.BUTTON_LINK' | translate | configuredEntityName }}
                    </button>
                </div>
                <div class="table-responsive">
                    <ng-container *ngIf="onceLinkedWorkTaskClicked">
                        <app-dynamic-table 
                          [privacyLevel]="workTask?.privacyLevel"
                          *ngIf="!refreshLinkedWorkTasks; else refreshChildComponent('LinkedWorkTasks')"
                          [code]="'LINKED_WORK_TASKS'" 
                          [parameters]="tblLinkedWorkTaskParameters"
                          (onEditClick)="editLinkWorkTask($event)"
                          (onDeleteClick)="deleteWorkTaskLink($event)"
                          [parentEntityTypeId]="entityTypeId"
                          [entityHiddenFieldSettings]="entityHiddenFieldSettings"
                          [sectionCodes]="sectionCodes.LinkedWorkTasksColumn">
                        </app-dynamic-table>
                    </ng-container>
                </div>
              </div>
              <!-- Linked Work Task list End-->

              <!-- Sub Work Task list Start-->
              <div class="tab-pane fade p-3 search-wrapper" id="navSubWorkTasks" role="tabpanel" [ngClass]="selectedTab == 'navSubWorkTasks' ? 'show active' : ''"
                aria-labelledby="navSubWorkTasks-tab" name="navSubWorkTasks">
                <div class="mb-3 vertical-center justify-content-end dropdown-with-add" *ngIf="!workTaskDetails.isPaused && !isCompleted && !isClosed && workTaskDetails?.entityWorkflowID">
                  <ng-container *ngIf="availableSubWorkTaskTypeDetails?.length > 0">
                    <ng-container *ngFor="let subTaskType of availableSubWorkTaskTypeDetails">
                      <button
                        *ngIf="subTaskType?.addPermissionID == null || (subTaskType?.addPermissionHash | hasPermission) && !(selectedRelatedToEntityID == null && entityRecordTypeId == null)"
                        type="button" [id]="'btn-add-' + subTaskType.name" class="btn btn-primary ml-3"
                        (click)="addSubTask(subTaskType.id, subTaskType.name)">
                        <i [class]="subTaskType.iconClass + ' ' + 'mr-1'" aria-hidden="true"></i>
                        {{('WORKTASK.DETAIL.SUB_WORK_TASKS_TAB.ADD_SUBTASK_PREFIX' | translate) + " " + subTaskType.name}}
                      </button>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="expandable-card">
                    <ng-container *ngIf="onceSubWorkTaskClicked">
                        <ngx-work-task-expandable-table [entityID]="workTaskId" [entityTypeID]="entityTypeId" [isSubWorkTask]="true"
                          [refresh]="refreshSubWorkTasks"
                          [isEntityActive]="!workTaskDetails.isPaused && !isCompleted && !isClosed"></ngx-work-task-expandable-table>
                    </ng-container>
                </div>
              </div>
              <!-- Sub Work Task list End-->

               <!-- Timeline Start-->
              <div class="tab-pane fade p-3 search-wrapper" id="navTimeline" role="tabpanel"
                [ngClass]="selectedTab == 'navTimeline' ? 'show active' : ''" aria-labelledby="navTimeline-tab" name="navTimeline">
              
                <ngx-tab-level-loader *ngIf="timelineLoader"></ngx-tab-level-loader>
              
                <ng-container *ngIf="onceTimeLineClicked">
                  <ngx-timeline [entityID]="workTaskId" [entityTypeID]="entityTypeId" [entitySubTypeID]="workTaskDetails.typeID"
                    [timeLineData]="timelineResponse" [redirectUrl]="'worktasks'"
                    [isShowAddPanel]="!workTaskDetails.isPaused && !isCompleted && !isClosed && workTaskDetails?.entityWorkflowID"
                    [subTypesButtonList]="availableSubWorkTaskTypeDetails"
                    [isEntityActive]="!workTaskDetails.isPaused && !isCompleted && !isClosed" [entitySubTypes]="entitySubTypes" [entityRecordTypeId]="entityRecordTypeId"  [entityRelatedToId]="selectedRelatedToEntityID"
                    (addEntity)="addSubTaskTimeLine($event)" (deleteEntity)="deleteSubWorkTask($event)"></ngx-timeline>
                </ng-container>
              </div>
             <!-- Timeline list End-->
           
            <!-- Document Start-->
            <div class="tab-pane fade p-3 search-wrapper" id="navDocuments" role="tabpanel"
              [ngClass]="selectedTab == 'navDocuments' ? 'show active' : ''" aria-labelledby="navDocuments-tab" name="navDocuments">
              <ng-container *ngIf="onceDocumentClicked">
                <ngx-entity-documents [entityID]="workTaskId" class="entity-documents" [entityTypeID]="entityTypeId"
                  [isDocumentDownloadPermission]="isDocumentDownloadPermission && !workTaskDetails.isPaused && !isCompleted && !isClosed"
                  [isEditPermission]="isEditWorkTask && !workTaskDetails.isPaused && !isCompleted && !isClosed"
                  [refreshFromParent]="refreshActivityHistory" [privacyLevel]="workTask?.privacyLevel"
                  (refreshDocuments)="setRefreshDocument()">
                </ngx-entity-documents>
              </ng-container>
            </div>
            <!-- Document End-->
            </div>
          </form>
          <!-- Tab Content END -->
          <div *ngIf="isAdditionalTab">
            <!-- Tab Additional here -->
            <ng-container>
                <ngx-globle-nav-tab [isNativeTab]="isNativeTab" [isAdditionalTab]="isAdditionalTab" [navTabs]="navTabsMore" (setTab)="checkTabCall($event,0)"
                    class="col-12 p-0" (closeTab)="closeNavTab($event)"
                    [ngClass]="{'edit-icon-section': isReadOnly && !(['navWorkTasks', 'navContacts', 'navAttachment', 'navProducts', 'navHistory', 'additionalTabs'] | showHidePencilButton: activeTab)}"></ngx-globle-nav-tab>
            </ng-container>
          </div>
          <!-- Tab Other Tabs Link -->
        </div>
        </div>
        <activity-section
          [createdBy]="workTask?.createdBy"
          [privacyLevel]="workTask?.privacyLevel" 
          [entityTypeId]="entityTypeId" 
          [entityId]="entityId" 
          [isTagRequired]="true" 
          [isEditPermission]="isEditWorkTask"
          [isPaused]="workTaskDetails.isPaused"
          [isClosedStage]="isClosed"
          [isCompletedStage]="isCompleted"
          [isDocumentRequired]="true" 
          [refreshDocument]="refreshDocument"
          [refreshActivity]="refreshActivity" 
          [entityRecordTypeId]="entityRecordTypeId" 
          [isDocumentDownloadPermission]="isDocumentDownloadPermission && !workTaskDetails.isPaused && !isCompleted && !isClosed"
          (isTagListUpdated)="setRefreshEntityTag()" 
          (isActivityListUpdated)="setRefreshActivityHistory()" class="col-xl-4 col-md-12 common-box pr-0">
        </activity-section>
      </div>
    </div>
    <!-- Body End-->
  
  <!-- end Json Grid -->