<div class="flexlayout" *ngIf="!isViewRole">
  <div class="form_wrapper">
    <div id="no-access-form">
      <div class="top">
        <div class="subtitle m-0">{{'URAM.ROLE.LIST.MESSAGE_ROLES_NOT_ACCESS' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- If id is not exists then display message -->
<div class="flexlayout" *ngIf="!roleForm && !isInitialLoading && isViewRole">
  <div class="form_wrapper">
      <div id="no-access-form">
          <div class="top">
            <img src="assets/images/default/NoAccessImage.png" class="mb-3" alt="">
              <div class="subtitle mt-0">{{'URAM.ROLE.MESSAGE_ROLE_NOT_EXISTS' | translate}}
              </div>
          </div>
      </div>
  </div>
</div>
<div *ngIf="roleForm && isViewRole" class="entity-page entity-main">
<!-- Page Header Start -->
<div class="container-fluid lineheight35">
  <div class="row">
    <div class="col-sm-9 col-7">
      <span class="fw-600 fs-4" id="headingAddEntity" *ngIf="formMode == 'ADD'">{{ 'URAM.ROLE.DETAIL.ADD_TITLE' | translate }}</span>
      <span class="fw-600 fs-4" id="headingEditEntity" *ngIf="formMode == 'EDIT'">{{ 'URAM.ROLE.DETAIL.EDIT_TITLE' | translate }}</span>
    </div>
    <div class="col-sm-3 col-5">
      <button type="button" id="btn-back" class="btn btn-secondary float-end mb-10px" (click)="onBack()">
        {{ 'URAM.ROLE.DETAIL.BACK' | translate }}
      </button>
    </div>
  </div>
</div>
<!-- Page Content Start -->
<div class='container-fluid pb-5 pb-xl-0'>
  <div class="row">
    <div class='col-lg-12'>
      <!-- Basic Information -->
      <div class="mb-3">
        <p-card styleClass="customCard" class="role-main">
          <div *ngIf="roleForm">
            <form [formGroup]='roleForm'>
              <div class='row'>
                <div class='col-xl-6'>
                  <div class="mb-3">
                    <label class="mb-1 fs13px">{{ 'URAM.ROLE.DETAIL.ROLE' | translate }}<span
                        class="mandatory"></span></label>
                    <input type='text' id="txt-name" formControlName='name' class='form-control' pInputText
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" trimValue/>
                    <div *ngFor='let validation of role_validation_messages.name' class='invalid-feedback'>
                      <div *ngIf='f.name.hasError(validation.type) && submitted && f.name.errors' id="errorNameIsRequired">
                        {{ validation.message | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row max-h-row">
                <div class='col-xl-6 first-col'>
                  <div class="mb-2">
                    <label class="mb-1 fs13px">{{ 'URAM.ROLE.DETAIL.PERMISSIONSET' | translate }}<span
                        class="mandatory"></span></label>
                        <div *ngIf="submitted && selectedPermissionSet.length == 0" class="invalid-feedback d-block mb-2" id="errorPleaseSelectAtLeastOnePermissionSet">
                          {{ 'URAM.ROLE.DETAIL.MESSAGE_PERMISSIONSET_SELECT' | translate }}</div>
                    <div class="role-form permission-data">
                      <div class="row">
                        <div *ngFor="let pset of f.permissionSetFormArray.controls; let i = index"
                          class="col-md-6">
                          <label class="custom-control custom-checkbox mb-1" formArrayName="permissionSetFormArray">
                            <input class="custom-control-input" type="checkbox" value="" id="{{createPermissionSetId(permissionSets[i].id)}}" [formControlName]="i">
                            <div class="custom-control-label" for="{{createPermissionSetId(permissionSets[i].id)}}">
                              {{ permissionSets[i].name }}
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="roleFilters && roleFilters.length > 0">
                  <div class="col-xl-3 second-col">

                    <div class="form-group">
                      <label>{{'URAM.ROLE.DETAIL.RECORD_FILTER' | translate }}</label>
                      <p-dropdown #drpRoleFilter id="drp-role-filter" class="form-control" [filter]="true" [resetFilterOnHide]="false"
                        [showClear]="true" [options]="roleFilters" formControlName="filterId" appendTo="body" panelStyleClass="maxWidthOverride-xxl"
                        placeholder="{{'URAM.ROLE.DETAIL.PLACEHOLDER_RECORD_FILTER' | translate }}">
                        <ng-template let-filter pTemplate="item">
                          <div class="flex">
                            <span class="mr-1" ngbPopover="Angular ng bootstrap">{{ filter.label }}</span>
                              <i class="fa-solid fa-circle-info" (mouseover)="showTooltipData(filter.value)" [ngbTooltip]="tooltipDataString ? tooltipData : null" placement="top auto" tooltipClass="long-tooltip"
                              container="body"></i>
                          </div>
                      </ng-template>
                      </p-dropdown>
                    </div>
                  
                    <ng-container *ngIf="filterDescription">
                      <div [innerHtml]="filterDescription | safehtml" class="description-section">
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
              <div class="row position-buttons">
                <div class='col-xl-12'>
                  <div class="mb-2">
                    <div class='mb-2 float-end'>
                      <button id="btn-cancel" class='btn btn-secondary mr-2' type='button' (click)='closeForm()'>{{
                        'URAM.ROLE.DETAIL.CANCEL' | translate }}</button>
                      <button id="btn-save" class='btn btn-primary' type='button' (click)='saveForm(roleForm.value)'>
                        <span *ngIf="formMode == 'ADD' && isAddRole">{{ 'URAM.ROLE.DETAIL.ADD' | translate }}</span>
                        <span *ngIf="formMode == 'EDIT' && isEditRole">{{ 'URAM.ROLE.DETAIL.SAVE' | translate }}</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
</div>

<ng-template #tooltipData>
  <ng-container *ngIf="tooltipDataString">
    <div [innerHtml]="tooltipDataString | safehtml">
    </div>
  </ng-container>
</ng-template>