@import '../../../../../scss/entity_view.scss';



.doller-amount {
    padding-left: 20px;
}

::ng-deep .static-dropdown-width {
    width: 360px;
    @media (max-width: 575px) { width: auto; max-width: 250px; min-width: 250px; }

    .h-14px {
        height: 14px;
        display: flex;
        align-items: center;
    }

    .p-dropdown .p-dropdown-panel {
        max-width: 360px;
    }
}

.email-dropdown-width {
    flex: 0 0 calc(100% - 125px);
    max-width: calc(100% - 125px);

    .w-email-label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
    }
}

.phone-dropdown-width {
    width: 116px;
    min-width: 116px;
}

.dropzone-visuals.dropzone-wrapper {
    color: $dark-grey;
    border: dashed 2px var(--surface-300);
    border-radius: 4px;
    position: relative;
    height: 150px;
    max-width: 820px;
    width: 100%;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 100%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
    left: 0;
}

.dropzone-wrapper:hover,
.dragover {
    background: var(--surface-100);
}

.progress.file-upload-process {
    height: 5px;
    background-color: transparent;
}


.carousel.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev {
    order: 1;
}

.carousel-inner {
    order: 2;
}

.carousel-control-next {
    order: 3;
}

.carousel-control-prev,
.carousel-control-next {
    position: static;
    width: 40px;
    height: 40px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #707070;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 20px;
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
    opacity: .5;
}

.carousel-control-next:focus:hover,
.carousel-control-prev:focus:hover {
    opacity: .9;
}

.visuals-carousel{ max-width: 1067px; margin: 0 auto;
    .carousel-item{
        > img { max-width: 987px; width: 100%; height: 500px; object-fit: cover;
            @media only screen and (max-width: 1440px) { height: 400px; }
            @media only screen and (max-width: 920px) { height: 300px; }
            @media only screen and (max-width: 575px) { height: 200px; }
        }
    }
} 

::ng-deep nb-sidebar.expanded + .content .col-xl-8.details-box .visuals-carousel{
    .carousel-item{
        > img { 
            @media only screen and (max-width: 1440px) { height: 300px; }
            @media only screen and (max-width: 920px) { height: 300px; }
            @media only screen and (max-width: 575px) { height: 200px; }
        }
    }
}

.visuals-upload{ text-align: center; display: flex; justify-content: center; flex-wrap: wrap; }

.details-section{ 
    @media (max-width: 1199px) and (min-width: 992px) { flex: 0 0 calc(100% - 41.66666667% - 115px); max-width: calc(100% - 41.66666667% - 115px); } 
}