<ng-container *ngIf="skuAssemblyForm">
    <!-- Model Header Start -->
    <div class="modal-header border-bottom-0 padding-32 pb-0">
        <h4 class="modal-title font-weight-bold" id="headingPopupEntity">
            {{title | translate | configuredEntityName}}</h4>
        <button type="button" id="btn-close" class="close" (click)="onCloseForm(false)">
            <span class="font-24 fonts-close"><i class="fas fa-times" aria-hidden="true"></i></span>
        </button>
    </div>
    <!-- Model Header End -->

    <!-- Add SKU Start -->
    <div class="modal-body padding-32 pt-3">
        <form [formGroup]='skuAssemblyForm'>
            <div class=" form-group">
                <label>{{'PRODUCTSKU.DETAIL.ADD_ASSEMBLIES_DIALOG.SKU' | translate | configuredEntityName}} <span class="mandatory"></span></label>
                <p-dropdown #drpskus id="drp-skus" formControlName="skuId" [options]="productSKU" class="form-control"
                    placeholder="{{'PRODUCTSKU.DETAIL.ADD_ASSEMBLIES_DIALOG.SKU'| translate | configuredEntityName}}"
                    [group]="true" [filter]="true" [resetFilterOnHide]="false" [showClear]="true" [showHeader]="true"
                    filterBy="label,productName"
                    [ngClass]="{ 'is-invalid': skuAssemblyForm['controls'].skuId.errors && (skuAssemblyForm['controls'].skuId.dirty || skuAssemblyForm['controls'].skuId.touched)}"> 
                    <ng-template let-sku pTemplate="item">
                        <div class="entity-pad">
                            {{sku.label}}
                        </div>
                    </ng-template>
                </p-dropdown>
                <div *ngFor='let validation of validation_messages.skuId' class='invalid-feedback'>
                    <div *ngIf="skuAssemblyForm['controls'].skuId.hasError(validation.type) && skuAssemblyForm['controls'].skuId.errors && (skuAssemblyForm['controls'].skuId.dirty || skuAssemblyForm['controls'].skuId.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <label>{{'PRODUCTSKU.DETAIL.ADD_ASSEMBLIES_DIALOG.QUANTITY' | translate}}</label>
                <input id="txt-qunatity" formControlName="quantity" class="form-control"
                mask="separator.3" thousandSeparator="," maxlength="18"
                    [ngClass]="{ 'is-invalid': skuAssemblyForm['controls'].quantity.errors && (skuAssemblyForm['controls'].quantity.dirty || skuAssemblyForm['controls'].quantity.touched)}">
                <div *ngFor='let validation of validation_messages.quantity' class='invalid-feedback'>
                    <div *ngIf="skuAssemblyForm['controls'].quantity.hasError(validation.type) && skuAssemblyForm['controls'].quantity.errors && (skuAssemblyForm['controls'].quantity.dirty || skuAssemblyForm['controls'].quantity.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <label>{{'PRODUCTSKU.DETAIL.ADD_ASSEMBLIES_DIALOG.DESCRIPTION' | translate}}</label>
                <textarea id="txt-description" formControlName="description" class="form-control ht--40"
                    name="description" trimValue
                    [ngClass]="{ 'is-invalid': skuAssemblyForm['controls'].description.errors && (skuAssemblyForm['controls'].description.dirty || skuAssemblyForm['controls'].description.touched)}">
                </textarea>
                <div *ngFor='let validation of validation_messages.description' class='invalid-feedback'>
                    <div *ngIf="skuAssemblyForm['controls'].description.hasError(validation.type) && skuAssemblyForm['controls'].description.errors && (skuAssemblyForm['controls'].description.dirty || skuAssemblyForm['controls'].description.touched)">
                        {{ validation.message | translate}}
                    </div>
                </div>
            </div>

            <div class="modal-footer border-top-0 px-0 pb-0">
                <button type="button" class='btn btn-outline-secondary me-2' id="btn-cancel"
                    (click)="onCloseForm(false)">{{'PRODUCTSKU.DETAIL.ADD_ASSEMBLIES_DIALOG.BUTTON_CANCEL' | translate}}</button>
                <button type="button" (click)="saveSkuAssembly()" id="btn-save"
                    class='btn btn-primary'>{{'PRODUCTSKU.DETAIL.ADD_ASSEMBLIES_DIALOG.BUTTON_ADD' | translate}}</button>
            </div>
        </form>
    </div>
    <!-- Add SKU End -->
</ng-container>