@import '../../../../scss/variables';

.side_Img {
    max-width: 100%;
    max-height: calc(100vh - 24px);
    border-radius: 15px;

    @media (max-width: 1199px){ max-height: 100%; }
  }
  #login{
    @media (max-width: 991px){ padding: 55px 0 12px; }
    @media (max-height: 991px){ padding: 55px 0 12px; }
  
    .form-control{ background: $clr-white; border-color: #ced4da; }
    .form-control:enabled:hover {
      border-color: #86b7fe;
    }
    .form-control:enabled:focus {
      outline: 0 none;
      outline-offset: 0;
      border-color: #86b7fe;
    }
    .form-control.is-invalid, .form-control.is-invalid:enabled:hover, .form-control.is-invalid:enabled:focus{ border-color: #dc3545; }
    a.dark-blue{ color: #0793c9; }
    a.dark-blue:hover{ color: #212529; }
    .btn.dark-blue:focus{ box-shadow: none; }
  }
  #login #login-form-wrapper {
    width: 450px;
    position: relative;
    margin: 0 auto;

    @media (max-width: 470px){
        width: 90%; 
    }
  }
  #login #login-form-wrapper .logo {
    max-width: 89px;
    border: 2px solid #ced4da;
    border-radius: 50%;
    border-style: solid;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    right: 177px;
    top: -45px;
    z-index: 1;
 
    @media (max-width: 470px){
        right: 35%;
    }
  }
  @media screen and (max-width: 991px) {
    #login #login-form-wrapper .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #login #login-form-wrapper .social-login .btn-social {
    position: relative;
    text-align: left;
    height: 34px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
  }
  #login #login-form-wrapper .social-login .btn-social .text {
    line-height: 30px;
    vertical-align: top;
    font-size: 12px;
    color: #000;
  }
  #login #login-form-wrapper .social-login .btn-social .icon {
    width: 30px;
    height: 30px;
    margin: 0 12px 0 16px;
  }
  #login #login-form-wrapper .or-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #login #login-form-wrapper .or-div .bordr--or {
    position: absolute;
    top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    left: 0;
    width: 100%;
  }
  #login #login-form-wrapper .or-div .or--span {
    position: absolute;
    width: 40px;
    background: #fff;
  }
  #login #login-form-wrapper #login-form {
    max-width: 100%;
    padding: 32px;
    border: 2px solid #ced4da;
    border-radius: 15px;
  }
  @media screen and (max-width: 480px) {
    #login #login-form-wrapper #login-form {
      width: 100%;
      padding: 32px 16px;
    }
  }
  
  @media screen and (max-height: 575px) {
    #login #login-form-wrapper #login-form {
      padding: 32px 16px;
    }
  }

  #login #login-form-wrapper #login-form .title {
    font-size: 20px;
    font-weight: 600;
    margin: 32px 0;
    color: #0e4595;
    text-transform: uppercase;

    @media (max-width: 575px) { margin: 42px 0 32px; }
  }
  #login #login-form-wrapper .register {
    font-weight: 600;
    font-size: 24px;
  }
  #login #login-form-wrapper .btn-link {
    color: #1d2d44;
    text-decoration: none;
  }
  #login #login-form-wrapper .btn-link:hover {
    color: #116fbf;
  }
  .h100 {
    min-height: 100vh; max-height: 100vh; overflow: auto;
  }
  .form-control {
    font-weight: 300 !important;
  }
  .loginLabel {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 5px;
    color: #212529;
  }
  .loginBtn {
    width: 100%;
  }


  .login-user-card.scrumboard-board-card {
    background-color: #f6faff; cursor: pointer; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); border: 1px solid #e8e8e8; border-radius: 5px; margin-bottom: 15px; touch-action: auto !important; user-select: inherit !important;
    
    .btn.btn-outline-secondary:disabled{ color: #23282c !important; opacity: 1; }

    .list-card-sort-handle {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
        background: rgba(255, 255, 255, 0.8);
    }

    .list-card-icons {
        padding: 8px 16px;
        border-top: 1px solid #E8E8E8;
        display: flex; justify-content: flex-end; align-items: center;
        width: 100%;

        .fa{ text-align: left; }
    }

    .list-card-content {
        padding: 16px;
        // background: $bg-white;
        border-radius: 5px;
        position:relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .list-card-labels {
            margin-bottom: 6px;

            .list-card-label {
                width: 32px;
                height: 6px;
                border-radius: 6px;
                margin: 0 6px 6px 0;
            }
        }

        .list-card-name {
            font-size: 12px; font-weight: 600; display: flex; align-items: center; justify-content: space-between; height: 30px;

            a { color: #000; }
        }

        .list-card-title { font-size: 12px; font-weight: 600; display: flex; align-items: flex-end; justify-content: space-between;
            .link-title { color: #1d2d44; font: 700 14px "Open Sans", sans-serif; max-width: 190px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
        }

        .list-card-name, .list-card-phone, .list-card-email, .list-card-text{ margin-bottom: 0 !important; }
        
        .list-card-phone, .list-card-email, .list-card-text{
            font: 400 14px "Open Sans", sans-serif;
        }
        .list-card-email { max-width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

        .list-card-name ~ .list-card-email, .list-card-phone ~ .list-card-email{ max-width: 100%; }

        .list-card-badges {
            margin-bottom: 12px;

            .badge {
                margin-right: 8px;
                padding: 4px 8px;
                border-radius: 2px;
            }
        }

        .list-card-members {
            margin-bottom: 12px;

            .list-card-member {
                margin-right: 8px;

                .list-card-member-avatar {
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    .list-card-footer {
        border-top: 1px solid;
        padding: 0 16px;

        .list-card-footer-item {
            height: 48px;
            margin-right: 12px;

            .value {
                padding-left: 8px;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .ngx-dnd-content {
        user-select: none;
    }

    &.gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }

    &.gu-hide {
        display: none !important;
    }

    &.gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    &.gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}

.scrumboard-board-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

.logoSmall{ width: 30px; max-height: 30px; object-fit: contain; }

.nb-theme-dark #login input:-webkit-autofill,
.nb-theme-dark #login input:-webkit-autofill:hover, 
.nb-theme-dark #login input:-webkit-autofill:focus, 
.nb-theme-dark #login input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #fff inset !important; -webkit-text-fill-color: #000 !important; box-shadow: 0 0 0 30px #fff inset !important; caret-color: #000;
}

.login-tenant-selection{ padding-top: 60px !important;
  @media (min-width: 768px) and (min-height: 768px) { max-height: calc(100vh - 100px); overflow: auto; }
  @media (min-width: 1140px) { max-height: calc(100vh - 100px); overflow: auto; }
}