$clr-grey: #cbcdcc;
$clr-orange: #e68f0e;
$clr-blue: #00a4e3;
$clr-white: #fff;
$clr-black: #000;
$dark-green:#4CAF50; 
$light-green: #b7e0b8;
$success-green: #2aad4a;
$green-prog: #65bc89;
$red-prog: #DC3844;
$danger-red: #dc3545;
$light-red: #f36f73;
$yellow-prog: #FCDB50;
$light-yellow: #ffe69c;
$dark-yellow: #fcb913;
$scroll-color: #d5d5d5;
$dark-blue: #1875bb;
$light-blue: #add8e6;
$dark-grey: var(--surface-600);
$light-grey: #AFAFAF;

$brdr-grey: var(--surface-300);
$scroll-color: #d5d5d5;