@import "variables";

.rounded-circle {
  width: 24px;
  height: 24px;
}

.disabledDiv {
    pointer-events: none;   
}

.btn-card-edit {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.customhide .bg-timeline .ht-card.ht--activity.investorlog {
  padding: 0 16px !important;
}
.card-img {
  border-radius: 50%; max-width: 88px; height: 62px; width: auto; object-fit: cover;
}

.tag-pad{
  padding-left: 10px;
}

.img-max{ max-width: 100%; max-height: 245px; }

.btn-back-button {
    background-color: #3698da !important;
    color: #fff !important;
    line-height: 27px;
    margin-right: 20px;
}

.bg-stage-color {
    background-color: #f5f8fa;
}

.nav-border a i {
    margin-right: 2px; 
    // font-size: 12px;
}

::ng-deep .editor-description-iframe .tox-tinymce { border-radius: 5px; }

.btn-stage-completed {
    float: right;
    background-color: #2b9bc3 !important;
    border-color: #2b9bc3 !important;
}

.head-user-name {
    font-size: 18px;
    font-weight: bold;
    vertical-align: top;
}
.arrow-steps {
    overflow: auto;
    width: 100%;
    float: left;
    white-space: nowrap; border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}



.flex--center{ display: flex; align-items: center; justify-content: space-between; }

.edit-form-icon { display: flex; justify-content: flex-end; padding-top: 14px;

  .form-update-icons{
    display: flex; justify-content: flex-end;

    i { cursor: pointer; }
  }
  .pencil-icon, .form-update-icons { margin: 0 18px; }
}
.edit-form-icon.edit-icon-only {
   flex: 0 0 45px; max-width: 45px;
}
// stages

.btn.btn-secondary.btn--arrow.active.menu-btn-done:after {
    border-left: 17px solid #2b9bc3 !important;	
}

.btn.btn-secondary.btn--arrow.active.menu-btn-error:after {
  border-left: 17px solid #af5050 !important;	
}

.btn.btn-secondary.btn--arrow.active.menu-btn-white:after {
  border-left: 17px solid $clr-white !important;	
}

.btn.btn-secondary.btn--arrow.active.menu-btn-orange:after {
  border-left: 17px solid $clr-blue !important;	
}

.arrow-steps .btn--arrow.btn-secondary.menu-btn-done{
    background-color: #2b9bc3 !important;
    color: $clr-white !important;
}

.arrow-steps .btn--arrow.btn-secondary.menu-btn-error{
  background-color: #af5050 !important;
  color: $clr-white !important;
}

.arrow-steps .btn--arrow.btn-secondary.menu-btn-white{
  background-color: $clr-white !important;
}

.arrow-steps .btn--arrow.btn-secondary.menu-btn-orange{
  background-color: $clr-blue !important;  color: #fff !important;
}

.arrow-steps .btn--arrow {
    cursor:pointer !important;
	font-size: 12px;
	text-align: center;
  background-color: $brdr-grey;
  border-color: $clr-white;
	color: var(--surface-900);
	margin: 0;
	padding: 7px 10px 7px 25px;
    min-width: 9rem;
    flex: 1;
	float: left;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
  font-weight: 600;
  height: 34px;
}

.arrow-steps .btn--arrow:active {
  border-radius: 0;
}

.arrow-steps .btn--arrow:after,
.arrow-steps .btn--arrow:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -16px;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 17px solid $brdr-grey;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .btn--arrow.menu-btn-done:after, .arrow-steps .btn--arrow.menu-btn-done:before, .arrow-steps .btn--arrow.menu-btn-error:after, .arrow-steps .btn--arrow.menu-btn-error:before, .arrow-steps .btn--arrow.menu-btn-white:after, .arrow-steps .btn--arrow.menu-btn-white:before, .arrow-steps .btn--arrow.menu-btn-orange:after, .arrow-steps .btn--arrow.menu-btn-orange:before{ 
    content: " ";
	position: absolute;
	top: 0;
	right: -16px;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;	
    border-left-color: #2b9bc3;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .btn--arrow:last-child:after {
  content: none;
}

.arrow-steps .btn--arrow.menu-btn-white:after, .arrow-steps .btn--arrow.menu-btn-white:before { border-left-color: $clr-white; }

.arrow-steps .btn--arrow.menu-btn-error:after,
.arrow-steps .btn--arrow.menu-btn-error:before{ border-left-color: #af5050; }

.arrow-steps .btn--arrow.menu-btn-orange:after, .arrow-steps .btn--arrow.menu-btn-orange:before{ border-left-color: $clr-blue; }

.arrow-steps .btn--arrow.menu-btn-done:before, .arrow-steps .btn--arrow.menu-btn-error:before, .arrow-steps .btn--arrow.menu-btn-white:before, .arrow-steps .btn--arrow.menu-btn-orange:before {
    right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.btn.btn--arrow.disabled, .btn.btn--arrow:disabled { opacity: 1; }
.arrow-steps .btn.btn-secondary.btn--arrow:disabled { border-color: #fff !important; border: 1px solid; pointer-events: none; }
.arrow-steps .btn--arrow.btn-secondary.menu-btn-done:disabled, .arrow-steps .btn--arrow.btn-secondary.menu-btn-error:disabled, .arrow-steps .btn--arrow.btn-secondary.menu-btn-white:disabled, .arrow-steps .btn--arrow.btn-secondary.menu-btn-orange:disabled { background-color: #2b9bc3 !important; color: #fff !important; }
.arrow-steps .btn--arrow.menu-btn-done:disabled:after, .arrow-steps .btn--arrow.menu-btn-error:disabled:after, .arrow-steps .btn--arrow.menu-btn-white:disabled:after, .arrow-steps .btn--arrow.menu-btn-orange:disabled:after { border-left-color: #2b9bc3; }

.arrow-steps .btn--arrow.btn-secondary.menu-btn-error:disabled { background-color: #b16868 !important; color: #fff !important; }
.arrow-steps .btn--arrow.menu-btn-error:disabled:after { border-left-color: #b16868; }

.arrow-steps .btn--arrow.btn-secondary.menu-btn-white:disabled { background-color: #f5f5f5 !important; color: $clr-black !important; }
.arrow-steps .btn--arrow.menu-btn-white:disabled:after { border-left-color: #f5f5f5; }

.arrow-steps .btn--arrow.btn-secondary.menu-btn-orange:disabled { background-color: #d89a3e !important; color: #fff !important; }
.arrow-steps .btn--arrow.menu-btn-orange:disabled:after { border-left-color: #d89a3e; }

.arrow-steps .btn--arrow:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .btn--arrow:first-child:before {
	border: none;
}

.arrow-steps .btn--arrow:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps.btn-group > .btn:not(:first-child).btn--arrow:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.arrow-steps.btn-group > .btn:not(:first-child).btn--arrow:last-child:hover{ border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.arrow-steps .btn--arrow.menu-btn-done:last-child:after{ border-left-color: transparent; }

.arrow-steps .btn--arrow span {
	position: relative;
}

.arrow-steps .btn--arrow span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .btn--arrow.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .btn--arrow.current {
	color: #fff;
	background-color: #2b9bc3;
}

.arrow-steps .btn--arrow.current:after {
	border-left: 17px solid #2b9bc3;	
}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
    z-index: unset;
}
.arrow-steps .btn.btn-secondary span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 100%;
  display: block;
}

.arrow-steps .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    z-index: unset !important;
}
  
@media screen and (max-width: 1600px) {
    .arrow-steps {
        width: 100%;
        margin-bottom: 10px;
    }
  }

  .gray-text{
    color:$dark-grey
  } 

  .content-section {
    padding-top: 216px !important;
}

.btn-group-toggle.arrow-steps>.btn input[type=checkbox], .btn-group-toggle.arrow-steps>.btn input[type=radio], .btn-group-toggle.arrow-steps>.btn-group>.btn input[type=checkbox], .btn-group-toggle.arrow-steps>.btn-group>.btn input[type=radio]{
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

.no-scroll-content.height--small {
  height: 100vh;

  @media screen and (max-height: 799px) and (max-width: 1024px) { height: 100vh; display: flex; }

  @media screen and (max-width: 1280px) and (min-width: 600px) and (max-height: 991px) and (min-height: 801px) { height: calc(100vh - 55px); display: flex; }

  @media screen and (min-width: 1280px) and (max-height: 991px) { height: 100vh; display: flex; }

  @media (min-width: 768px) and (max-width: 800px) and (min-height: 1024px) and (max-height: 1280px){ height: calc(100vh - 55px); display: flex; }

  @media (height: 768px) and (width: 1024px){ height: 100vh; display: flex; }

  @media screen and (max-width: 575px) { height: auto; }

  @media screen and (max-height: 600px) { height: auto; }
}

::ng-deep .navTabs {
  min-height: 100%;

  .nav-tabs {
    background: transparent;
    border-bottom: 1px solid $brdr-grey;

    .nav-link {
      color: var(--surface-900);
      font-weight: 400;
      font-size: 12px;
      padding: .5rem 1rem;
      line-height: 24px;
      border: none;
      width: 100%;
    }
  }

  .nav-tabs .nav-item {
    margin-bottom: 0;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-link.tab-active {
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--blue-400);
    font-weight: bold;
    color: inherit;
  }

  .nav-link {
    margin-bottom: 0;

    @media (max-width: 575px) {
      padding: 0.5rem 0.5rem;
    }

    @media (max-width: 374px) {
      padding: 0.5rem 0.25rem;
    }
  }

  .card {
    background-color: transparent;
    padding: 15px 15px 0;
    margin-bottom: 15px;

    .card-header {
      padding: 0.75rem 0;
      background-color: transparent;
      font-weight: bold;
    }

    .card-body {
      padding: 1.25rem 0 0;
    }
  }

  .navTabs .nav-item .nav-link {
    padding: 0.5rem 0.85rem;

    @media (max-width: 1280px) { padding: 0.5rem; }
  }
}

.bg-timeline {
  height: 100%;

  .navTabs{ border: 1px solid $brdr-grey; }

  .ht-card{ overflow-y: auto; margin-bottom: 0; font-size: 12px; padding: 0; position: relative; top: inherit; left: 0; right: 0; min-height: 145px; max-height: 400px;
    .text--inline { display: flex; align-items: baseline; width: calc(100% - 60px); flex: 1;
      .text--full { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    }

    > .card { border: 1px solid $brdr-grey; padding: 0; margin-bottom: 15px; border-radius: 5px; }

    .border--top--light{border-top: 1px solid $brdr-grey;}

    .active-log-detail{display: flex; justify-content:space-between; }
    .active-log-detail img{
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    .fas.fa-lock, .fas.fa-unlock { color: #a7a7a7; margin-bottom: 4px; }
  }

  .mb-card-documents { 
    @media (min-width: 1200px){ margin-bottom: 37px; }
  }

  .border--tab .tab-pane.active { border: 1px solid $brdr-grey; border-width: 0 1px 1px; padding: 15px 15px 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
}

::ng-deep .stage-process + .page-content.container-fluid .bg-timeline .ht-card { max-height: 420px; }

.navs-boreder {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.navTabs .nav-tabs.nav-border {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.navTabs .nav-tabs.nav-brdr-grey{ border: 1px solid $brdr-grey; margin-top: 15px; border-top-left-radius: 5px; border-top-right-radius: 5px; }

:host ::ng-deep .page-containted {
  height: calc(100vh - 23px);
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
  
  .p-datatable-wrapper{ height: 478px !important; min-height: auto;
    @media (max-width: 1400px) and (min-width: 1200px) { height: 378px !important; }
    @media (max-height: 800px) and (min-width: 1200px) { height: auto !important; max-height: 335px !important; }
    @media (max-width: 1199px){ height: auto !important; max-height: 400px !important; }

    tr{ 
      @media (max-width: 640px) { max-width: calc(100vw - 80px); }
    }
    td .description-box { 
      @media (max-width: 640px) { max-width: calc(100vw - 260px); }
    }
    th, td { width: auto !important; }
    th.w-25px, td.w-25px { width: 25px !important; }
    th.w-0px, td.w-0px { width: 0px !important; min-width: 0 !important; padding: 0 !important; }
    #drp-action { float: right !important; }
  }
  .stage-process + .page-content.container-fluid .p-datatable-wrapper{ height: 421px !important;
    @media (max-width: 1400px) and (min-width: 1200px) { height: 298px !important; }
    @media (max-height: 800px) and (min-width: 1200px) { height: auto !important; max-height: 335px !important; }
    @media (max-width: 1199px){ height: auto !important; max-height: 400px !important; }
  }
  .tbl-height-zero .p-datatable-wrapper, .page-content.container-fluid ~ .page-content.container-fluid .tbl-height-zero .p-datatable-wrapper { height: 478px !important; margin-bottom: 15px !important;
    @media (max-width: 1400px) and (min-width: 1200px) { height: 378px !important; }
    @media (max-height: 800px) and (min-width: 1200px) { height: auto !important; max-height: 335px !important; }
    @media (max-width: 1199px){ height: 100px !important; }
    
    th{ white-space: nowrap; }
  }
  .table-custom-doc .p-datatable-wrapper, .stage-process + .page-content.container-fluid .table-custom-doc .p-datatable-wrapper{ height: 350px !important; min-height: auto;
    @media (max-width: 1400px) and (min-width: 1200px) { height: 350px !important; }
    @media (max-height: 800px) and (min-width: 1200px) { height: auto !important; max-height: 335px !important; }
    @media (max-width: 1199px){ height: auto !important; max-height: 350px !important; }
  }
  .table-custom-doc .tbl-height-zero .p-datatable-wrapper, .page-content.container-fluid ~ .page-content.container-fluid .table-custom-doc .tbl-height-zero .p-datatable-wrapper{ height: auto !important; max-height: 350px !important; }
  .tbl-expandable .p-datatable-wrapper, .stage-process + .page-content.container-fluid .tbl-expandable .p-datatable-wrapper { height: auto !important;
    .p-datatable-wrapper { max-height: 100% !important; }
  }
}
  
  @media only screen and (max-width: 1199px) { 
    .page-containted {
      height: 100%; padding-bottom: 60px;
      overflow-y: scroll; overflow-x: hidden;
    }
  }
  @media only screen and (max-width: 991px) { 
    .page-containted {
      height: 100%;
      overflow-y: scroll; overflow-x: hidden;
    }
  }
  @media only screen and (max-width: 575px) { 
    .page-containted {
      overflow-y: scroll; overflow-x: hidden;
    }
  }
  @media only screen and (max-height: 600px) { 
    .page-containted {
      overflow-y: scroll; overflow-x: hidden; height: 100%;
    }
  }
  .detail-header>.page-content {
    padding: 0!important;

    .card-body{ padding: 12px;
      a.dark-blue { font-size: 12px; }
    }
  }

::ng-deep .tabs-mobile, ::ng-deep .first-tabs .tabs-mobile, .tabs-mobile{ display: flex;

  .nav.nav-tabs{ width: 100%; flex-wrap: nowrap; float: left; white-space: nowrap; border-top-left-radius: 4px; overflow-x: auto; }
}

.first-tabs{ flex-wrap: nowrap; justify-content: space-between; 
  .tabs-mobile:only-child{ flex: 0 0 100%; max-width: 100%; }
}

.bg-timeline .tabs-mobile{ flex: 0 0 100%; width: 100%; max-width: 100%; }

.empty-records-placeholder{
  // background: url('assets/img/backgrounds/missing_wp.png') center center;
  width: 100%; height: 210px; background-repeat: no-repeat;
}

.min-height-38px{ min-height: 34px; display: flex; align-items: center; }

.min-h-dropdown-with-button { min-height: 34px; }

.stage-details{
  @media (max-width: 991px) and (min-width: 576px){ width: calc(100% - 180px); }
  @media (max-width: 575px) { max-width: calc(100vw - 165px); }
  
  .card-title{ display: inline-block; }
  .card-title strong, p{ word-break: break-word; }
  > p:first-child:last-child .card-title{ margin-bottom: 0 !important; }
}

.header-value{ 
  @media (min-width: 576px){
    min-height: 43px; 
  }
}

.entity-right-panel .navTabs {
  .nav-tabs{ background: transparent; }
  .card{padding: 0;}
}

.cal-icon{ position: absolute; right: 15px; }

.align-tags{
  .form-group{ margin-bottom: 0 !important;
    .img-thumbnail{ margin: 15px 10px 0 0 !important; height: 20px; width: auto !important; }
  }
} 

.tag-icon-pad{ display: flex !important; }

.detail-header{ position: relative; min-height: 96px; }

.back-arrow { 
  @media (min-width: 1200px){ flex-basis: 0; flex-grow: 1; max-width: 104px; padding-right: 15px; align-self: flex-start; } 
  @media (max-width: 1199px){ position: absolute; right: 5px; top: 20px; width: 110px; } 
  @media (max-width: 575px){ position: static; flex-basis: 0; flex-grow: 1; max-width: 100%; padding-right: 10px; width: 100%; text-align: right; margin-top: 12px; display: flex; justify-content: flex-end;
    .btn{ max-width: 90px; } 
  } 

  .btn{ min-width: 55px; font-size: 12px; width: 100%; padding: .25rem .5rem; height: auto !important; line-height: inherit; }
  .mb-12px { margin-bottom: 12px; }
}

.details-section{ 
  @media (max-width: 1199px) and (min-width: 992px) { flex: 0 0 calc(100% - 33.33333333% - 115px); max-width: calc(100% - 33.33333333% - 115px); } 
}

.details-box:not(.col-xl-8){ 
  @media (min-width: 1200px){ width: 99% !important; flex: 1 0 0% !important; }
  
  .pt-sm-download-invoice{ 
    @media (min-width: 1200px){ padding-top: 21px; }
  }
}
::ng-deep .details-box:not(.col-xl-8) + .common-box .closebtn.btn-activity { 
  @media (min-width: 1200px) { display: none; }
}
.details-box {
  .tabs-mobile, .first-tabs .tabs-mobile{ flex: 1; overflow-x: auto; max-height: 51px; }
}
.details-box.col-xl-8{
  @media (min-width: 1200px){ max-width: 66.6667%; }
}
::ng-deep .common-box:not(.col-xl-4){ 
  @media (min-width: 1200px){ width: 1px !important; flex: 0 0 1px !important; max-width: 1px !important; padding-left: 0; 
    .sideActivity { display: none; }
  }
}

.h---100vh.row{ 
  @media (min-width: 1200px){ flex-wrap: nowrap; }
}

.details-box, .common-box{
  @media (max-width: 1199px){ flex: 0 0 100% !important; width: 100% !important; max-width: 100% !important; min-height: 1px !important; }
}

.details-box {
  @media (min-width: 1200px) and (min-height: 576px) { min-height: calc(100vh - 268px); }
}

.page-containted .stage-process + .page-content.container-fluid .details-box {
  @media (min-width: 1200px) and (min-height: 576px) { min-height: calc(100vh - 316px); }
}

::ng-deep .details-box .btn.btn-primary, ::ng-deep .details-box .btn.btn-secondary, ::ng-deep .common-box .btn.btn-primary, ::ng-deep .common-box .btn.btn-secondary { padding: 0.25rem 0.5rem; height: auto !important; line-height: inherit; }

.arrow-steps .btn--arrow.btn-secondary:focus{ box-shadow: none; }

.btn-action{ min-width: 70px;}
.btn-action + .dropdown-menu .dropdown-item{ font-size: 12px; }

.badge--status.bg-primary { background-color: #34a6cf !important; }

::ng-deep .tooltip.tooltip-xs-spacing{ 
	@media (max-width: 575px){ left: 18px !important; }
}

.col-header-label{
  @media (max-width: 575px){ max-width: 152px; padding-right: 0; }
}

.col-header:first-child:last-child .col-header-label.col-created-label{
  @media (max-width: 575px){ max-width: 78px; padding-right: 0; }
}

.page-containted label { font-weight: 600; }
.page-containted label.custom-control, .page-containted label.custom-control-label { font-weight: 400; }

.overflow-box.text-justify, .overflow-box { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-align: left !important; }
.details-box .tab-pane { position: relative !important; min-height: calc(100vh - 339px) !important;
  @media (max-width: 1199px){ min-height: 100px !important; }
  @media (max-height: 575px){ min-height: 100px !important; }
  
  .tab-pane { 
    @media (min-width: 1200px) and (min-height: 576px) { min-height: calc(100vh - 373px) !important; }
  }
}
.page-containted .stage-process + .page-content.container-fluid .details-box .tab-pane {
  @media (min-width: 1200px) and (min-height: 576px) { min-height: calc(100vh - 358px) !important; }

  .tab-pane { 
    @media (min-width: 1200px) and (min-height: 576px) { min-height: calc(100vh - 400px) !important; }
  }
}

::ng-deep .details-box {
  @media (min-width: 1200px){ 
    .p-dropdown-panel, .p-overlay, .p-multiselect-panel.p-component { max-width: 793px; min-width: 100% !important; }
  }
}
::ng-deep .details-box.col-xl-8 {
  .p-dropdown-panel, .p-overlay, .p-multiselect-panel.p-component { max-width: 500px; }
}

.privacy-icon { color: #1e3050; font-size: 100px; }
::ng-deep .nb-theme-dark .privacy-icon { color: var(--blue-100); }

.col-time-section.col-xl {
  @media (min-width: 1200px) { min-width: 153px; }
}
.common-box .btn-close-quickView { display: none; }

.font-26 { font-size: 26px; }

.order-top-mobile {
  @media (max-width: 575px) { order: -1; }
}

::ng-deep .page-containted {
  .p-card .p-paginator { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
  .p-card .p-datatable-wrapper { border-radius: 5px; }
}

.pr-46px { padding-right: 46px !important; }
.clr-raise-hand { color: $dark-green; }
.clr-remove-raise-hand { color: $clr-blue; }