@import '../../../../../scss/entity_kanban.scss';


//Table
.tbl-worktask-list{
    th.user-img, td.user-img { width:50px; min-width: 50px; text-align: center; }
    th.name, td.name,  th.description, td.description {width: 176px; min-width: 176px; word-break: break-word; }
    th.email, td.email, th.createdByName, td.createdByName{ width: 200px; min-width: 200px; }
    th.name, td.name{ word-break: break-word; }
    th.phone, td.phone, th.tag, td.tag{width: 170px; min-width: 170px;}
    th.created, td.created{ width: 135px; min-width: 135px; }
    th.icon-dropdown, td.icon-dropdown { width:60px; min-width: 60px; }
    // th.action, td.action{width: 50px;}
}



.btn-mg{ margin: 0;
}

.btn-reset-filter.btn-mg{ margin: 0 20px 0 0; 
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 21px; padding-top: 0;
    @media (max-width: 575px) { margin-top: 0px; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 991px) { margin-top: 0; padding-top: 0; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width).col-sm-4, .form-group:not(.filter-width) + .filter-width + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width).col-sm-2 {
    @media (max-width: 767px) and (min-width: 576px) { flex: 0 0 50%; max-width: 50%; }
}

.form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width), .form-group:not(.filter-width) + .filter-width + .filter-width + .form-group:not(.filter-width) + .form-group:not(.filter-width) { margin-top: 0; 
    @media (max-width: 1024px) and (min-width: 992px) { margin-top: 0; padding-top: 0; }
    @media (max-width: 575px) { margin-top: 0; padding-top: 0; }
}

.height-full{
    @media (max-width: 1279px) and (min-width: 1200px) { height: calc(100vh - 135px); }
}

td .link--drag{ margin-right: 6px; display: flex; padding: 0; }

.scrumboard-board-list { position: relative;
    .list {
        @media screen and (max-width: 575px){ height: 700px !important; }
        @media screen and (max-width: 1139px) and (max-height: 600px){ height: 700px !important; }
    }
}

.entity-multiSelect{ width: 100%; height: 40px; }

::ng-deep .entity-main{ 
    .entity-dropdown.entity-stage-dropdown{
      p-multiselect .p-multiselect{ height: auto;
        .p-multiselect-label.p-placeholder { font-size: 12px; padding: 0.25rem 0.5rem; color: var(--surface-900); }
      } 
      .p-multiselect-panel .p-multiselect-header,
      .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
        font-size: 12px;
      }
      .entity-multiSelect{line-height: 1; height: auto;}
      .ui-multiselect .ui-multiselect-label-container{ background-color: transparent; } // background-color: $clr-white;
      
      .ui-multiselect, .ui-multiselect:hover, .ui-multiselect:not(.ui-state-disabled):hover {
        .ui-multiselect-label, .ui-multiselect-label:hover { display: flex; align-items: center; }
        .ui-multiselect-label:before{ content: "\f058"; color: $dark-grey; font-family: "Font Awesome\ 5 Free", sans-serif; font-size: 18px; line-height: 18px; height: 18px; width: 18px; margin: -2px 8px 0 0; }
      }
    }
}

// .text-username.font-11{ white-space: normal; word-break: break-word; line-height: 1.2; min-width: 75px; }

.resume-card{ position: absolute; top: 50%; left: 50%; right: auto; bottom: auto; border-radius: 50%; transform: translate(-50%, -50%);
    .resume-icon { z-index: 2; pointer-events: all; border-radius: 50%;
        &:before { content: "\f144"; font-size: 50px; font-family: 'Font Awesome 5 Free'; font-weight: 400; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-feature-settings: normal; font-variant: normal; text-rendering: auto; line-height: 1; --bs-text-opacity: 1; color: var(--surface-700); border-radius: 50%; }
    }
}

::ng-deep .nb-theme-default .resume-card{ 
    .resume-icon { 
        &:before { background-color: rgba(230, 230, 230, 0.5); }
    }
}

::ng-deep .nb-theme-dark .resume-card{ 
    .resume-icon { 
        &:before { color: var(--surface-900) !important; }
    }
}

.clr-yellow{ color: #ffaa00; }

.stage-count { font-weight: 600; font-size: 12px; }

.scrumboard-board-edit-list-name { max-width: calc(100% - 50px); display: flex; margin-bottom: 10px; }

::ng-deep .stage-task-cd .p-multiselect-items-wrapper {
    max-height: 150px !important;
}
::ng-deep .stage-task-cd .p-multiselect-panel.p-componen {
    position: absolute !important;
    top: -150px !important;
    z-index: 999 !important;
}

.text-common, .text-common:hover { color: #212121; }
::ng-deep .nb-theme-dark .text-common, ::ng-deep .nb-theme-dark .text-common:hover { color: #fff; }

/** Stages Widget Spinner **/
::ng-deep {
    .scrumboard-board-list .widget-loader {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color:  rgba(0, 0, 0, 0.15) !important;
    z-index: 1000;
    border-radius: 5px;
    }
    .nb-theme-dark .scrumboard-board-list .widget-loader {
    background-color: rgba(105,105,105, 0.4) !important;
    }
    .scrumboard-board-list .widget-loader .bounce-spinner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    }
    .scrumboard-board-list .widget-loader .bounce-spinner > div {
    width: 15px;
    height: 15px;
    background-color: #00a4e3 !important;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .nb-theme-dark .scrumboard-board-list .bounce-spinner > div {
    background-color: #9ed5ff !important;
    }
    .scrumboard-board-list .widget-loader .bounce-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    }
    .scrumboard-board-list .widget-loader .bounce-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    }

    .scrumboard-board-list .show-widget-loader {
    display: block !important;
    }

    .scrumboard-board-list .hide-widget-loader {
    display: none !important;
    }
}

.max-w-100 { max-width: 100%; }

::ng-deep .nb-theme-default .cdk-drop-list-dragging.elements .p-card, ::ng-deep .nb-theme-default .cdk-drop-list-dragging.elements .sticky-header::after { background-color: #dcf0f7 !important; }
::ng-deep .nb-theme-dark .cdk-drop-list-dragging.elements .p-card, ::ng-deep .nb-theme-dark .cdk-drop-list-dragging.elements .sticky-header::after { background-color: var(--blue-900) !important; }