::ng-deep .progress-red .p-progressbar .p-progressbar-value {
    background: #f00;
}

::ng-deep .progress-yellow .p-progressbar .p-progressbar-value {
    background: #edad10;
}

::ng-deep .progress-green .p-progressbar .p-progressbar-value {
    background: #2aad4a;
}

::ng-deep .password-progress .p-progressbar { height: 6px; }