<div class="d-flex position-relative">
   
    <p-dropdown
        [options]="parentEntityList" 
        class="form-control w-related w-icon" 
        [filter]="true" 
        appendTo="body"
        optionValue="id"
        [(ngModel)]="SelectedEntityTypeId"
        panelStyleClass="maxWidthOverride-md" 
        filterBy="displayName"
        placeholder="{{'ACTIVITY.APPOINTMENTS_DIALOG.RELATEDTO_SELECT' | translate | configuredEntityName}}"
        (onChange)="onRelatedToChange($event)" 
        (onClear)="onRelatedToClear($event)"
        [readonly]="isReadOnly"
        [showClear]="isReadOnly ? false : true"
        [ngClass]="{ 'selected-entity' : isReadOnly }">
        <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="d-flex align-items-center gap-2 text-truncate h-100">
                <i [class]="_commonHelper.getEntityIconClass(selectedOption.id)" [ngbTooltip]="selectedOption.displayName"
                class="font-13 mr-2 fa-fw" aria-hidden="true" container="body" placement="top auto"></i>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
            <i [class]="_commonHelper.getEntityIconClass(item.id)" 
                class="font-13 mr-2 fa-fw" aria-hidden="true" container="body" placement="top auto"></i>
            <span>{{item.displayName}}</span>
        </ng-template>
    </p-dropdown>
    
    <ngx-control-level-loading-bar *ngIf="showRelatedToLoader" class="related-input-loader"></ngx-control-level-loading-bar>
    <p-dropdown 
        class="form-control related-input" 
        id="drp-entity" [@.disabled]="true"
        placeholder="{{relatedToPlaceholder}}"  
        appendTo="body" 
        panelStyleClass="maxWidthOverride-xxl"
         [options]="relatedToList" 
         [(ngModel)]="SelectedEntityId" 
         [filter]="true"
         [resetFilterOnHide]="false"
         name="label"
         (onFilter)="relatedToOnFilter($event, SelectedEntityTypeId)" 
         (onChange)="relatedToOnChange()" 
         #relatedTo="ngModel"
         [showClear]="true"
         >
    </p-dropdown>
   
</div>