.tbl-owners{
    @media (min-width: 641px){
        th.ownerName, td.ownerName, th.teammemberRolename, td.teammemberRolename { min-width: 230px !important; width: 230px !important;}
        th.actionhide, th.action, td.action{ width: 0; min-width: 0; justify-content: flex-end; padding: 0 !important; 
            .dropdown { margin-right: 12px; }
        }
    }
}

.tbl-team-members{
    @media (min-width: 641px){
        th.memberName, td.memberName, th.teammemberRolename , td.teammemberRolename { min-width: 230px !important; width: 230px !important;}
        th.actionhide, th.action, td.action{ width: 0; min-width: 0; justify-content: flex-end; padding: 0 !important; 
            .dropdown { margin-right: 12px; }
        }
    }
}

::ng-deep .tbl-owners, ::ng-deep .tbl-team-members { 
    @media (min-width: 641px){
        th.memberIsActive, td.memberIsActive { min-width: 130px; width: 130px; max-width: 130px; }
    }
    @media (max-width: 640px) {
        .p-datatable.p-datatable-scrollable .p-datatable-tbody > tr > td:not(:last-child) { padding: 0 12px; }
    }
}

::ng-deep .tbl-teams-form{ position: relative;
    .p-datatable .p-datatable-header { position: absolute; top: -34px; right: 0; height: 34px; background: transparent; border: none; padding: 0; color: var(--surface-900);
        @media (max-width: 575px) { position: static; padding: 8px; background-color: var(--layout-background-color); }
    }
}

.pt-xl-18px{
    @media (min-width: 1200px) { padding-top: 18px; }
}