<div class="entity-page entity-main filters-five">
    <!-- Header Start -->
    <div class="page-header">
        <div class="container-fluid lineheight35 heading-page mb-2">
            <div class="row">
                <div class="col-md-6 lh-sm">
                    <h4 class="m-0">
                        <span id="headingEntity" class="header-text">{{ EntityTitle | translate |
                            configuredEntityName }}</span>
                    </h4>
                </div>
                <div class="col">
                    <div class="btn-view">
                        <a *ngIf="isImportCases" id="btn-import-entity" class="btn btn-link p-0 text-nowrap"
                            (click)="openCaseImport()">
                            <i class="far fa-file-excel mr-1" aria-hidden="true"></i>
                            {{ 'CASES.LIST.IMPORT_CASES' | translate | configuredEntityName}}
                        </a>
                        <button *ngIf="isAddCase" type="button" id="btn-add-entity" class="btn btn-primary ml-3"(click)="addCase()">
                            <i class="fa fa-plus-circle me-1" aria-hidden="true"></i>
                            {{'CASES.LISTING.BUTTON_ADD' | translate | configuredEntityName }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Page Content Start -->
    <div class="page-content">
        <div class="entity-search-area pt-2 mb-xl-2">
            <div class="container-fluid">
                <div class="row case-listing-filters flex-xl-nowrap">
                    <div class="col-auto pe-md-2 pe-sm-0 pe-xxl-2 pe-xl-0" *ngIf="isEditCase && isAssignWorkflow">
                        <button type="button" id="btn-assign-workflow" triggers="hover" tooltipClass="tooltip-backward-small"
                            ngbTooltip="{{ 'CASES.LISTING.TOOLTIP_ASSIGN' | translate }}" container="body"
                            class="btn btn-small btn-secondary mt-sm-4 mt-2 mb-xl-0 mb-3 btn-assign-bulk-workflow" (click)="assignWorkflow()">
                            <i class="assign-bulk-workflow" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-xl col-lg col-md col-sm mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width">
                        <div class="mb-1 fs13px">{{ 'CASES.LISTING.SEARCH' | translate }}</div>
                        <div class="p-input-icon-right w-100">
                            <i class="pi pi-search" aria-hidden="true"></i>
                            <input #searchTextInput pInputText type="text" id="txt-search-text"
                                class="w-100 customInputText form-control" size="50"
                                [(ngModel)]="pagingParams.searchString" />
                        </div>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width" *ngIf="hideRecordTypeFilter && hideRecordTypeFilter.length > 0">
                        <div class="mb-1 fs13px">{{ 'CASES.LISTING.FILTER_LABEL_RECORDTYPE' | translate }}</div>
                        <p-multiSelect #recordType class="entity-multiSelect" id="drp-workflow" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            [filter]="true" [resetFilterOnHide]="false" [showHeader]="true"
                            [displaySelectedLabel]='true' [showToggleAll]="true"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="recordTypes" [placeholder]="'CASES.LISTING.FILTER_PLACEHOLDER_RECORDTYPE' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="selectedRecordTypes"
                            (onChange)="onFilterRecordType($event)" (onFilter)="trimFilterValue($event,recordType)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width" *ngIf="entityHasWorkflow">
                        <div class="mb-1 fs13px">{{ 'CASES.LISTING.FILTER_LABEL_WORKFLOW' | translate }}</div>
                        <p-multiSelect #workflow class="entity-multiSelect" id="drp-workflow" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            [filter]="true" [resetFilterOnHide]="false" [showHeader]="true"
                            [displaySelectedLabel]='true' [showToggleAll]="true"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="workflows" [placeholder]="'CASES.LISTING.FILTER_PLACEHOLDER_WORKFLOW' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="selectedWorkflows"
                            (onChange)="onFilterWorkflow($event)" (onFilter)="trimFilterValue($event,workflow)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width" *ngIf="entityHasWorkflow">
                        <div class="mb-1 fs13px">{{ 'CASES.LISTING.FILTER_LABEL_STAGES' | translate }}</div>
                        <p-multiSelect #workflowStages styleClass="dropDownOverride" class="entity-multiSelect filter-multiselect" id="drp-workflowStages"
                            [filter]="true" [resetFilterOnHide]="false" [showHeader]="true"
                            [displaySelectedLabel]='true' [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            filterBy="label,groupLabel"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="stagesForFilter" [placeholder]="'CASES.LISTING.FILTER_PLACEHOLDER_STAGE' | translate"
                            [(ngModel)]="selectedstages" [group]="true" (onChange)="onFilterStage($event)" (onFilter)="trimFilterValue($event,workflowStages)">
                            <ng-template let-group pTemplate="group">
                                {{group.label}}
                            </ng-template>
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width" 
                    *ngIf="!(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeId : sectionCodeName.AllListFilter : fieldNames.AssignedTo) && entityHasWorkflow">
                        <div class="mb-1 fs13px">{{ 'CASES.LISTING.FILTER_LABEL_ASSIGNTO' | translate }}</div>
                        <p-multiSelect class="entity-multiSelect" id="drp-assignedToIDs"
                            [filter]="true" [resetFilterOnHide]="false" [showHeader]="true"
                            [displaySelectedLabel]='true' [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="userList" [placeholder]="'CASES.LISTING.FILTER_PLACEHOLDER_ASSIGNTO' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="selectedUser"
                            (onChange)="onFilterAssignTo($event)" (onFilter)="assignedToOnFilter($event,  selectedUser)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width"
                    *ngIf="!(entityHiddenFieldSettings | isEntityFieldHidden: entityTypeId : sectionCodeName.AllListFilter : fieldNames.VerifiedBy) && entityHasWorkflow">
                        <div class="mb-1 fs13px">{{ 'CASES.LISTING.FILTER_LABEL_VERIFIEDBY' | translate }}</div>
                        <p-multiSelect class="entity-multiSelect" id="drp-verifiedByIDs"
                            [filter]="true" [resetFilterOnHide]="false" [showHeader]="true"
                            [displaySelectedLabel]='true' [showToggleAll]="true" appendTo="body" panelStyleClass="maxWidthOverride-sm"
                            [maxSelectedLabels]="_commonHelper.globalMultiselectMaxSelectedLabels"
                            [options]="verifiedByList" [placeholder]="'CASES.LISTING.FILTER_PLACEHOLDER_VERIFIEDBY' | translate"
                            optionLabel="label" optionValue="value" [(ngModel)]="verifiedByUser"
                            (onChange)="onFilterVerifiedBy($event)" (onFilter)="verifiedByOnFilter($event, verifiedByUser)">
                        </p-multiSelect>
                    </div>
                    <div class="col-xl col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 pe-xxl-2 pe-xl-0 filter-width" *ngIf="ratingOptions && ratingOptions.length > 0">
                        <div class="mb-1 fs13px">{{ 'CASES.LISTING.FILTER_LABEL_RATING' | translate }}</div>
                        <p-dropdown [options]="ratingOptions" [showClear]="true" [placeholder]="'CASES.LISTING.FILTER_PLACEHOLDER_RATING' | translate"
                        [(ngModel)]="pagingParams.rating" [filter]="false" [resetFilterOnHide]="false"
                        (onChange)="onFilterRating($event)"></p-dropdown>
                    </div>
                    <div class="col-xl-auto col-lg-3 col-md-4 col-6 mb-xl-0 mb-3 filter-width checkbox-column d-flex flex-wrap align-items-end pe-xxl-2 pe-xl-0 two-checkboxes">
                        <div class="custom-control custom-checkbox d-flex align-items-center w-100">
                            <input class="custom-control-input mt-0 w-20-size" type="checkbox" id="chk-showMyEntities"
                            [checked]="showMyCases" [(ngModel)]="showMyCases" (change)="onFilterShowMyCase()">
                            <label for="chk-showMyEntities" class="custom-control-label pl-2">{{ 'CASES.LISTING.FILTER_MY_CASES' | translate | configuredEntityName }}</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center mt-2 w-100">
                            <input class="custom-control-input mt-0 w-20-size" type="checkbox" id="chk-showStarred" [checked]="showStarred"
                                [(ngModel)]="showStarred" (change)="onFilterShowStarred()">
                            <label for="chk-showStarred" class="custom-control-label pl-2 text-nowrap">{{ 'CASES.LISTING.FILTER_STARRED' | translate }}</label>
                        </div>
                    </div>
                    <div class="col-xl col-auto mb-xl-0 mb-3 d-flex align-items-end pe-xxl-1 pe-xl-0 ps-xl-1 ps-xxl-2">
                        <button id="btn-reset" class="btn btn-outline-secondary" type="button"
                            (click)="onResetAllFilters()"
                            [disabled]="(casesSearchFilter.searchText == '' && 
                                        (casesSearchFilter.recordTypeIds == null || casesSearchFilter.recordTypeIds == '') && 
                                        (casesSearchFilter.workflowIds == null || casesSearchFilter.workflowIds == '') && 
                                        (casesSearchFilter.stageIds == null || casesSearchFilter.stageIds == '') &&
                                        (casesSearchFilter.assignToIDs == null || casesSearchFilter.assignToIDs == '') && 
                                        (casesSearchFilter.verifiedByIDs == null || casesSearchFilter.verifiedByIDs == '') &&
                                        !casesSearchFilter.showMyCases && !casesSearchFilter.rating && !casesSearchFilter.showStarred)">
                            {{'CASES.LISTING.BUTTON_RESET' | translate}}
                        </button>
                    </div>
                    <div class="col-auto mb-xl-0 mb-3 d-flex align-items-end ps-xl-2">
                        <div class="height-38px d-flex align-items-center">
                            <button *ngIf="isExportCases" type="button" id="btn-export-to-excel" class="btn btn-exp btn-mg p-0 btn-small"
                                (click)="exportExcel()" placement="top auto" container="body" ngbTooltip="Export To Excel" triggers="hover" tooltipClass="tooltip-backward-small">
                                <i class="fas fa-2x fa-file-excel" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content End -->

    <!-- Table Start -->
    <div class="container-fluid pb-5 pb-xl-0" [ngClass]="isShowActivityCenter ? 'list-move-scroll-activity' : ''">
        <div class="row mb-2">
            <div class="mt-1 col-12">
                <div class="tbl-case-listing tbl-entity p-card">
                    <p-table #pTable [responsive]="true" responsiveLayout="stack" [rows]="_commonHelper.DefaultPageSize"
                        [rowsPerPageOptions]='_commonHelper.globalRowsPerPageOptions' [columns]="cols"
                        [value]="cases" sortField="created" class="tbl-case-listing" [sortOrder]="-1" [lazy]="true"
                        [totalRecords]="totalRecords" [autoLayout]="true" [scrollable]="true" paginatorDropdownAppendTo="body"
                        [paginator]="totalRecords > 0" [ngClass]="totalRecords == 0 ? 'tbl-height-zero' : ''"
                        [scrollHeight]="'calc(100vh - 248px)'" (onPage)="paginate($event)">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th id="tblColumnHeaderCheckbox" scope="col" class="checkbox-col">
                                    <div class="custom-control custom-checkbox mb-0">
                                        <input class="custom-control-input" type="checkbox" [(ngModel)]="isAllCheckBoxSelected" id="chkBulkAssignEntity"
                                            (change)="checkUncheckAll()">
                                        <label class="custom-control-label"> </label>
                                    </div>
                                </th>
                                <th id="tblColumnHeader" *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="[!isShowActionColumn ? 'action-null' : '', col.header == '' ? 'hide-when-no-records' : '']"
                                    [pSortableColumnDisabled]="!col.sort" class="{{col.field}} {{col.class}}"
                                    scope="col" (click)="changeOrder(col)" [hidden]="!col.visible">
                                    {{ col.header | translate | configuredEntityName }}
                                    <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [ngClass]="[rowData.isPaused ? 'lightGreyBg' : '', (rowData.cardColorClass != null &&  rowData.cardColorClass != '') ? rowData.cardColorClass : '',  selectedRowId == rowData.id ? 'selected-row' : '']"
                            (click)="onRowClick(rowData, true)">
                                <td class="checkbox-col">
                                    <ng-container>
                                        <div class="custom-control custom-checkbox mb-0">
                                            <input class="custom-control-input" type="checkbox" [(ngModel)]="rowData.isSelected" id="chkAssignEntity"
                                                 (change)="isAllSelected()" (click)="stopPropagation($event)">
                                            <label class="custom-control-label"> </label>
                                        </div>
                                    </ng-container>
                                </td>
                                <td class="bookmark">
                                    <ngx-bookmark [entityTypeId]="entityTypeId" [entityId]="rowData.id" [isStarred]="rowData?.isStarred"
                                        [isEditPermission]="isEditCase && !rowData?.isPaused" [isFromKanbanOrListView]="true">
                                    </ngx-bookmark>
                                </td>
                                <td class="caseNumber">
                                    <span class="p-column-title">
                                        {{columns[1].header | translate | configuredEntityName }}
                                    </span>
                                    <span class="w-100 vertical-center">
                                        <a [routerLink]="'/cases/details/' + ( rowData.entityWorkFlowID ? rowData.entityWorkFlowID + '/' : '')  + rowData.id"
                                            id="link-headingRecord" (click)="stopPropagation($event)" class="float-left me-2"
                                            [ngClass]="isViewCase ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.caseNumber}}
                                        </a>
                                        <span *ngIf="rowData.priority != 0" class="float-left me-2">
                                            <button pButton tooltipClass="tooltip-backward-small"
                                                ngbTooltip="{{'CASES.LISTING.TOOLTIP_PRIORITY' | translate }}: {{rowData.priorityName!= null && rowData.priorityName != '' ? rowData.priorityName : 'NA'}}"
                                                container="body" class="p-button-rounded p-button-sm"
                                                [ngClass]="[(!this.isEditCase || rowData.isPaused || rowData.isCompletedStage || rowData.isClosedStage) ? 'cursor-default' : 'cursor-pointer',(priorityDetails | displayValueFinder: { intValue1: rowData.priority}).length > 0 ? ((priorityDetails | displayValueFinder: { intValue1: rowData.priority})[0]?.strValue1?.colorClass ?? '') : '']"
                                                type="button" triggers="hover" id="btn-priority" (click)="onPriorityClick(rowData);stopPropagation($event)">
                                                {{
                                                (priorityDetails | displayValueFinder: { intValue1: rowData.priority}).length > 0
                                                ? ((priorityDetails | displayValueFinder: { intValue1: rowData.priority})[0]?.strValue1?.initials ?? '')
                                                : null
                                                }}
                                            </button>
                                        </span>
                                        <span *ngIf="rowData.severity != 0" class="float-left me-2">
                                            <button pButton tooltipClass="tooltip-backward-small"
                                                ngbTooltip="{{'CASES.LISTING.TOOLTIP_SEVERITY' | translate }}: {{rowData.severityName!= null && rowData.severityName != '' ? rowData.severityName : 'NA'}}"
                                                container="body" class="p-button-rounded p-button-sm"
                                                [ngClass]="[(!this.isEditCase || rowData.isPaused || rowData.isCompletedStage || rowData.isClosedStage) ? 'cursor-default' : 'cursor-pointer', (severityDetails | displayValueFinder: { intValue1: rowData.severity}).length > 0 ? ((severityDetails | displayValueFinder: { intValue1: rowData.severity})[0]?.strValue1?.colorClass ?? '') : '']"
                                                type="button" id="btn-severity" (click)="onSeverityClick(rowData);stopPropagation($event)" triggers="hover">
                                                {{
                                                (severityDetails | displayValueFinder: { intValue1: rowData.severity}).length > 0
                                                ? ((severityDetails | displayValueFinder: { intValue1: rowData.severity})[0]?.strValue1?.initials ?? '')
                                                : null
                                                }}
                                            </button>
                                        </span>
                                        <span *ngIf="rowData.rating != 0" class="float-left">
                                            <entity-review-display [entityTypeId]="entityTypeId" [entityId]="rowData.id" [rating]="rowData.rating" id="btn-rating"
                                                [review]="rowData.totalReviews" [entityReviewID]="rowData.entityReviewID" [isFromKanbanOrListView]="true"
                                                [isEditPermission]="isEditCase && !(rowData?.isPaused ?? false)">
                                            </entity-review-display>
                                        </span>
                                    </span>
                                </td>
                                <td class="name">
                                    <span class="p-column-title">
                                        {{columns[2].header | translate | configuredEntityName }}
                                    </span>
                                    <div class="w-100">
                                        <div class="w-100 mb-2px pre-text">{{rowData.name}}</div>
                                    </div>
                                </td>
                               
                                <td class="entityName">
                                    <span class="p-column-title">
                                        {{columns[3].header | translate | configuredEntityName }}
                                    </span>
                                    <span class="w-100 d-block">
                                        <i *ngIf="rowData.entityName != null && isShowEntityTypeNameIcon" [class]="_commonHelper.getEntityIconClass(rowData?.entityTypeId)" class="font-15 dark-grey fa-fw float-left me-1" aria-hidden="true" container="body" placement="top auto" [ngbTooltip]="rowData.relatedToIconToolTip"></i>
                                        <a [routerLink]="'/' + _commonHelper.getRouteNameByEntityTypeId(rowData?.entityTypeId).toLowerCase() + '/details/' + (rowData?.entityId ?? '')" id="link-relatedTo" (click)="stopPropagation($event)"
                                            [ngClass]="_commonHelper.isUserHaveViewPermissionOfRelatedEntity(rowData?.entityTypeId) ? 'dark-blue font-weight-bold no-underline cursor-pointer pre-text' : 'no-link'">{{rowData.entityName}}</a>
                                    </span>
                                </td>
                                <td class="entityWorkFlowName" [hidden]="!columns[4].visible">
                                    <span class="p-column-title">
                                        {{columns[4].header | translate | configuredEntityName }}
                                    </span>
                                    <span class="w-100 d-flex">
                                        <div class="vertical-center flex-nowrap">
                                            <p class="m-0 height-16px">
                                                <i class="icon-workflow mr-6px" id="btn-assignWorkflow" (click)="stopPropagation($event)"
                                                    [ngClass]="isEditCase && isAssignWorkflow ? 'cursor-pointer' : 'cursor-default'"
                                                    placement="top bottom" container="body"
                                                    (click)="onAssignWorkflow(rowData);"
                                                    aria-hidden="true"></i>
                                            </p>
                                            <span *ngIf="rowData.entityWorkFlowName" class="pre-text">{{rowData.entityWorkFlowName}}</span>
                                            <span *ngIf="!rowData.entityWorkFlowName" class="pre-text">{{'CASES.LISTING.TABLE_PLACEHOLDER_ASSIGN_WORKFLOW' | translate}}</span>
                                        </div>
                                    </span>
                                </td>
                                <td class="stageName" [hidden]="!columns[5].visible">
                                    <span class="p-column-title">
                                        {{columns[5].header | translate | configuredEntityName }}
                                    </span>
                                    <span class="w-100 d-flex">
                                        {{rowData.stageName}}
                                    </span>
                                </td>
                                <td class="assignedToName" *ngIf="!isAssignedToFieldKanbanListColumn" [hidden]="!columns[6].visible">
                                    <span class="p-column-title">
                                        {{columns[6].header | translate | configuredEntityName }}
                                    </span>
                                    <span class="w-100 d-flex">
                                                <ngx-common-user-profile
                                                    [userId]="rowData?.assignedTo"
                                                    [userTypeId]="userTypeID.AssignedTo"
                                                    [privacyLevel]="rowData?.privacyLevel"
                                                    [isShowName]="false"
                                                    [isItemDisable]="rowData?.isPaused || !rowData?.isActive || !isAssignCase || rowData?.isCompletedStage || rowData?.isClosedStage"
                                                    (clickEvent)="onAssignedToClick(rowData)"
                                                    userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_ASSIGNEDTO' | translate | configuredEntityName}}">
                                                </ngx-common-user-profile>
                                    </span>
                                </td>
                                <td class="verifiedByName" *ngIf="!isVerifiedByFieldKanbanListColumn" [hidden]="!columns[7].visible">
                                    <span class="p-column-title">
                                        {{columns[7].header | translate | configuredEntityName }}
                                    </span>
                                    <span class="w-100 d-flex">
                                        <ngx-common-user-profile
                                                [userId]="rowData?.verifiedBy"
                                                [userTypeId]="userTypeID.VerifiedBy"
                                                [privacyLevel]="rowData?.privacyLevel"
                                                [isShowName]="false"
                                                [isItemDisable]="rowData?.isPaused || !rowData?.isActive || !isAssignCase || rowData?.isCompletedStage || rowData?.isClosedStage"
                                                (clickEvent)="onVerifiedByClick(rowData)"
                                                userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_VERIFIEDBY' | translate | configuredEntityName}}">
                                            </ngx-common-user-profile>
                                    </span>
                                </td>
                                <td class="createdByName">
                                    <span class="p-column-title">
                                      {{columns[8].header | translate}}
                                    </span>
                                    <ngx-common-user-profile 
                                      [userId]="rowData?.createdBy"
                                      [userTypeId]="userTypeID.CreatedBy"
                                      [privacyLevel]="rowData?.privacyLevel" 
                                      [isShowName]="false" 
                                      [isItemDisable]="true"
                                      userLabel="{{'COMMON.COMMON_USER_PROFILE.LABEL_CREATEDBY' | translate | configuredEntityName}}">
                                    </ngx-common-user-profile>
                                  </td>
                                <td class="created">
                                    <span class="p-column-title">
                                        {{columns[9].header | translate | configuredEntityName }}
                                    </span>
                                    <div class="w-100">
                                        <div class="w-100 mb-2px pre-text">{{ rowData.created | timeAgoPipe : rowData.utcCreated }}</div>
                                    </div>
                                </td>
                                <td class="id action">
                                    <div *ngIf="((isDeleteCase && !rowData.isCompletedStage && !rowData.isClosedStage) || (isAllowToReopen && (rowData.isCompletedStage || rowData.isClosedStage))) && !rowData.isPaused" class="dropdown text-right">
                                        <button pButton icon="fas fa-wrench" class="p-button-rounded p-button-sm" (mouseenter)="onRowActionButtonMouseEnter()" (mouseleave)="onRowActionButtonMouseLeave()"
                                            type="button" id="drp-action" data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="drp-action">
                                            <li *ngIf="isDeleteCase && !rowData.isCompletedStage && !rowData.isClosedStage">
                                                <a id="link-Delete" class="dropdown-item" (click)="deleteCase(rowData.id);stopPropagation($event);">
                                                    <i class="far fa-trash-alt me-1" aria-hidden="true"></i>
                                                    {{ 'CASES.LISTING.BUTTON_REMOVE' | translate }}
                                                </a>
                                            </li>
                                            <li *ngIf="isAllowToReopen && (rowData.isCompletedStage || rowData.isClosedStage)">
                                                <a id="link-stage-reopen" (click)="onReopenStage(rowData);stopPropagation($event);" class="dropdown-item">
                                                    <i class="fa-regular fa-folder-open me-1"></i>
                                                    {{ 'CASES.LISTING.ACTION_TITLE_STAGE_REOPEN' | translate }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <span id="startToEndOfTotalRecords">{{start}} - {{end}} of {{totalRecords}} records</span>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <p-button type="button" icon="pi pi-chevron-left" styleClass="p-button-text"
                                id="paginatorLeftPage" (click)="prev()" [disabled]="end == pagingParams.pageSize">
                            </p-button>
                            <input type="number" min="1" [max]="totalPages" [(ngModel)]="pagingParams.pageNo"
                                id="paginatorInputPage" (change)="changePage()" class="pageNoInput"> /
                            <span id="paginatorTotalPages" class="ml-1">{{totalPages}}</span>
                            <p-button type="button" icon="pi pi-chevron-right" styleClass="p-button-text"
                                id="paginatorRightPage" (click)="next()" [disabled]="end == totalRecords"></p-button>
                            <p-button type="button" icon="pi pi-undo" styleClass="p-button-text"
                                id="paginatorResetButton" (click)="resetPaginator()"
                                [disabled]="end == pagingParams.pageSize"></p-button>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" id="lbl-NoRecordsFound" class="table-no-record text-center">
                                    {{ 'CASES.LISTING.MESSAGE_NO_RECORDS_FOUND' | translate}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->
     <!-- Right side activity menu start -->
     <div class="p-0" [ngClass]="isAdvanceFilterVisible ? 'advanced-filters-panel' : ''">
        <activity-section 
            #activitySection 
            *ngIf="isShowActivityCenter" 
            [entityTypeId]="entityTypeId"
            [entityId]="selectedCaseIdForActivityCenter" 
            [entityRecordTypeId]="entityDetails?.entityRecordTypeId"
            [isEditPermission]="isEditCase"
            [isPaused]="selectedCaseIsPausedForActivityCenter"
            [isClosedStage]="selectedCaseIsClosedForActivityCenter"
            [isCompletedStage]="selectedCaseIsCompletedForActivityCenter" 
            [hideExpandButton]="true"
            [isTagRequired]="true" 
            [isDocumentRequired]="true" 
            [refreshActivity]="refreshActivityCenter"
            [entityDetailsData]="entityDetails" 
            [isHideDetailsTab]="false" 
            [currencySymbol]="currencySymbol" 
            [hoursInDay]="hoursInDay"
            [isDocumentDownloadPermission]="isDocumentDownloadPermission && !selectedCaseIsPausedForActivityCenter && !selectedCaseIsClosedForActivityCenter && !selectedCaseIsCompletedForActivityCenter "
            class="entity-right-panel" 
            (saveKeyFieldEvent)="onSaveKeyFieldEvent($event)" 
            (onCloseActivitySection)="onMoreDetailsClick(false)"
            [keyfieldResponseData]="keyfieldResponseData"
            [addWorkTaskCreateOption]="true" 
            [isAddWorkTask]="isAddWorkTask" 
            (onAddWorkTask)="addWorkTask()"
            [createdBy]="caseCreatedBy"
            [privacyLevel]="casePrivacyLevel">
        </activity-section>
    </div>
    <!-- Right side activity menu end -->
</div>