<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold" id="headingImportEntity">
        <i class="fas fa-file-excel mr-1" aria-hidden="true"></i>
        {{ 'CRM.CONTACT.IMPORT_DIALOG.TITLE' | translate | configuredEntityName}}
    </h4>
    <button type="button" id="btn-close" class="close" (click)="onClose(false)">
        <span class="font-24 fonts-close">
            <i class="fas fa-times" aria-hidden="true"></i>
        </span>
    </button>
</div>
<!-- Model Header End -->

<!-- File import Start -->
<div class="modal-body padding-32 pt-3">
    <div class="row">
        <div class="col-md-12 form-group">
            <div class="input-group">
                <label class="fw-600">{{ 'CRM.CONTACT.IMPORT_DIALOG.PLACEHOLDER' | translate }}</label>
                <div class="custom-file w-100">
                    <input type="file" class="custom-file-input" id="input-file-entity" #fileInput
                        (change)="onFileUpload($event.target.files)" accept=".xlsx, .xls">
                    <label class="custom-file-label" #labelImport for="input-file-entity">
                        {{ 'CRM.CONTACT.IMPORT_DIALOG.NOFILE_ERROR' | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- File import End -->

<!-- File import Footer Start -->
<div class="modal-footer justify-content-between border-top-0 padding-32 pt-0">
    <a class="btn btn-link px-0" (click)="getTemplateFile()" target="_blank" id="btn-download-template">
        <i class="fas fa-download" aria-hidden="true"></i>
        {{ 'CRM.CONTACT.IMPORT_DIALOG.DOWNLOAD_TEMPLATE' | translate }}
    </a>
    <div>
        <button type="button" class="btn btn-secondary me-2" (click)="onClose(false)" data-dismiss="modal" id="btn-cancel">
            {{ 'CRM.CONTACT.IMPORT_DIALOG.BUTTON_CANCEL' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="importBulkContacts()" [disabled]="!hasFilePosted" id="btn-save">
            {{ 'CRM.CONTACT.IMPORT_DIALOG.BUTTON_IMPORT' | translate }}
        </button>
    </div>
    
    <!-- Import Output -->
    <p *ngIf="importErrorMessage && importErrorMessage.length > 0" class="mb-0 mt-4 width--100 entity-card-details font-11" style="max-height: 400px;overflow-y: scroll;" id="errorImportFile"
        [innerHTML]="importErrorMessage">
    </p>
    <!-- Import Output -->
</div>
<!-- File import Footer End -->