@import '../../../../../scss/entity_view.scss';

.sticky-header {
    height: 150px;

    @media only screen and (max-width: 1199px) {
        height: 180px;
    }

    @media only screen and (max-width: 991px) {
        height: 195px;
    }

    @media only screen and (max-width: 767px) {
        height: 215px;
    }

    @media only screen and (max-width: 575px) {
        height: auto;
        position: relative;
    }

    >div {
        height: 131px;

        @media only screen and (max-width: 1199px) {
            height: 161px;
        }

        @media only screen and (max-width: 991px) {
            height: 170px;
        }

        @media only screen and (max-width: 767px) {
            height: 190px;
        }

        @media only screen and (max-width: 575px) {
            height: auto;
        }
    }
}

.sticky-header::before {
    top: 125px;

    @media only screen and (max-width: 1199px) {
        top: 155px;
    }

    @media only screen and (max-width: 991px) {
        top: 165px;
    }

    @media only screen and (max-width: 767px) {
        top: 185px;
    }

    @media only screen and (max-width: 575px) {
        box-shadow: none;
    }
}

.margin-first-child .margin-first:first-child {
    margin-bottom: 15px;
}

.switch-slider.switch--status {
    width: 68px;
    height: 22px;
}

.switch-label .switch-input:checked~.switch-slider.switch--status::before,
.switch-label .switch-input:not(:checked)~.switch-slider.switch--status::before {
    width: 14px;
    height: 14px;
}

.height-22 {
    height: 22px;
}

.flex-header {
    @media (max-width: 575px) {
        flex-wrap: wrap;

        .checkbox-link {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: right;
        }

        .con-orange-link {
            text-align: right;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.pageNoInput {
    width: 52px;
    border: 1px solid #c1c8cc;
    border-radius: 5px;
    margin-left: 5px;
}

:host ::ng-deep .ui-paginator .ui-paginator-prev,
:host ::ng-deep .ui-paginator .ui-paginator-next {
    display: none !important;
}

:host ::ng-deep {
    @media (max-width: 575px) { 
        .tbl-dynamic .p-paginator, &.nb-theme-default .tbl-dynamic .p-paginator, &.nb-theme-dark .tbl-dynamic .p-paginator { padding: 0.5rem 1rem; }
    }
}

.avatar {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.cursor-pointer-link{
    cursor: pointer !important;
}

.justify-right-lg{
    @media (min-width: 641px) { justify-content: flex-end; text-align: right !important; }
}

::ng-deep .tbl-dynamic .p-datatable .p-datatable-thead > tr > th { white-space: nowrap; }

::ng-deep .entity-relation-wrapper .tbl-dynamic tbody {
    tr:first-child:nth-last-child(1) {
        #drp-action + .dropdown-menu {
            @media (max-height: 800px) and (min-width: 1200px) { bottom: -22px !important; right: 20px !important; }
        }
    }
    tr:first-child:nth-last-child(2){
        #drp-action + .dropdown-menu { 
            @media (max-height: 800px) and (min-width: 1200px) { top: -22px !important; right: 20px !important; }
        }
    }
}